<div class="list-group-item list-group-item-flush p-4" {% if binding %} hx-target="this" hx-swap="outerHTML" id="{{binding.id}}-binding-row" {% endif %}>
  <div class="d-flex align-items-start justify-content-between">
    <div class="col-md-11 px-0">
      <div class="d-flex align-items-center rounded {% if binding %}binding-title{% endif %}">
        <p class="mb-0 font-weight-bold" style="font-size: 1.25rem;"><span {% if binding %} class="rounded bg-lightblue px-2 py-1" {% endif %}>{{udf.name}}</span></p>
        {% if udf.deprecated %}
          <span class="badge ml-2 p-1 text-danger border border-danger">
            Deprecated</span>
        {% endif %}
        <p class="my-0 ml-1" style="font-size: 1.25rem;">
          {% if binding_type and binding_type == tag_binding_type %} bound to <span class="refTag my-0 mx-1 px-1 py-0">{{binding.tag_name}}</span> tag{% endif %}
          {% if binding_type and binding_type == model_binding_type %} bound to <b>{{binding.content_type}}</b> {% endif %}
        </p>
      </div>
      <i class="text-muted my-0 d-block" title="{{udf.description}}" style="text-overflow:ellipsis; overflow:hidden; white-space: nowrap;">{{udf.description}}</i>
    </div>
    {% if binding %}
      {% if permissions.edit_assessment or obj_perms.edit_assessment %}
        <button class="btn outline-btn px-3" type="button" hx-indicator="#spinner-{{binding_type}}-{{binding.pk}}" hx-get="{{ binding.get_update_url }}">Update</button>
      {% endif %}
    {% elif udf.can_edit %}
      <a class="btn outline-btn px-3" href="{{udf.get_update_url}}">
        Update
      </a>
    {% endif %}
  </div>
  <div class="d-flex align-items-start flex-wrap udf-info-row">
    <div class="card mt-2 mr-2 flex-shrink-0">
      <a class="px-3 py-2 clickable box-shadow-minor" data-toggle="collapse" href="#udf-{{binding_type}}-{{udf.id}}-{{binding.id}}-preview" aria-expanded="false" aria-controls="udf-{{udf.id}}-{{binding.id}}-preview">Preview Form &nbsp;<i class="fa fa-angle-down" aria-hidden="true"></i> </a>
    </div>

    {% if not binding %}
      <div class="card mt-2 mr-2 flex-shrink-0" style="width: 11rem;">
        {% if udf.assessments.exists %}
          <a class="p-2 mb-0 text-center clickable box-shadow-minor clickable" data-toggle="collapse" href="#udf-{{udf.id}}-{{binding.id}}-assessments" aria-expanded="false" aria-controls="#udf-{{udf.id}}-{{binding.id}}-assessments" style="position:relative; z-index: 1; scrollbar-gutter: stable;"> {{udf.assessments.count}} assessment{{udf.assessments.count|pluralize}} &nbsp; <i class="fa fa-angle-down" aria-hidden="true"></i></a>
          <div id="udf-{{udf.id}}-{{binding.id}}-assessments" class="collapse list-group list-group-flush rounded" style="position:relative; z-index: 0; max-height: 10rem; overflow-y: scroll;">
            {% for assessment in udf.assessments.all %}
              <a class="list-group-item list-group-item-action py-1 px-3 small" href="{{assessment.get_absolute_url}}">{{assessment.name}}</a>
            {% endfor %}
          </div>
        {% else %}
          <p class="p-2 mb-0 text-center text-muted">No assessments</p>
        {% endif %}
      </div>
    {% endif %}
    <div class="card mt-2 mr-2 flex-shrink-0" style="width: 10rem;">
      {% if udf.editors.exists %}
        <a class="p-2 mb-0 text-center box-shadow-minor  {% if udf.editors.exists %} clickable {% endif %}" data-toggle="collapse" href="#udf-{{binding_type}}-{{udf.id}}-{{binding.id}}-editors" aria-expanded="false" aria-controls="#udf-{{binding_type}}-{{udf.id}}-{{binding.id}}-editors" style="position:relative; z-index: 1; scrollbar-gutter: stable; height:2.6rem;"> {{udf.editors.count}} {% if binding %} form {% endif %} editor{{udf.editors.count|pluralize}} &nbsp; <i class="fa fa-angle-down" aria-hidden="true"></i></a>
        <div id="udf-{{binding_type}}-{{udf.id}}-{{binding.id}}-editors" class="collapse list-group list-group-flush rounded" style="position:relative; z-index: 0; max-height: 10rem; overflow-y: scroll;">
          {% for editor in udf.editors.all %}
            <div class="list-group-item py-1 px-3 small">{{editor}}</div>
          {% endfor %}
        </div>
      {% else %}
        <p class="p-2 mb-0 text-center text-muted">No {% if binding%}form {% endif %}editors</p>
      {% endif %}
    </div>
    {% if not binding %}
      <div class="card mt-2 mr-2 p-2 {{ udf.published|yesno:'border-success text-success,text-muted' }}" title="{{ udf.published|yesno:'Published,Unpublished' }}">
        <p class="m-0"><i class="fa fa-{{ udf.published|yesno:'eye,eye-slash' }} px-1" style="font-size: large;"></i></p>
      </div>
    {% endif %}

    <div class="card mt-2 mr-2 p-2">
      <p class="text-muted small m-0">
        {% if binding %}
          Binding by {{binding.creator}}
        {% else %}
          Created by {{udf.creator}}
        {% endif %}
      </p>
    </div>
    {% if binding %}
      <div class="card mt-2 mr-2 p-2">
        <p class="text-muted small m-0">
          Form by {{udf.creator}}
        </p>
      </div>
    {% endif %}

    <div class="card mt-2 mr-2 p-2">
      <p class="m-0 small text-muted">
        Updated
        {% if binding %}
          {{binding.last_updated|date:"DATE_FORMAT"}}
        {% else %}
          {{udf.last_updated|date:"DATE_FORMAT"}}
        {% endif %}
      </p>
    </div>
  </div>
  <div id="udf-{{binding_type}}-{{udf.id}}-{{binding.id}}-preview" class="collapse mt-3 rounded box-shadow">
    <form id="udf-{{binding_type}}-{{udf.id}}-{{binding.id}}" class="bg-lightblue p-4 rounded">
      {% if binding %}
        {% crispy binding.form_instance %}
      {% else %}
        {% crispy udf.form %}
      {% endif %}
    </form>
  </div>
</div>