<h3>User defined fields</h3>
<table class="table table-sm m-0 noborder">
    <colgroup>
        <col width="30%" />
        <col width="70%" />
    </colgroup>
    <thead>
        <tr class="tr-light list-border">
            <th>Field</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        {% for key, value in object.get_content_as_list %}
        <tr class="tr-light">
            <td>{{key}}</td>
            <td>{{value}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
