.nbsp {
    padding-left: 1em;
}

.node {
    margin: 0 0 3px;
}
.node:hover {
    background-color: #efefef;
    cursor: pointer;
}

.editNodeForm {
    padding: 1em;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #f3f3d2;
}

.draggable {
    cursor: pointer;
}
.draggable-ghost {
    outline: 0.5rem solid orange;
    z-index: 999;
    background-color: #c8ebfb;
}
