interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hero.epa.gov/hero/ws/index.cfm/api/1.0/search/criteria/51001/recordsperpage/100.json
  response:
    body:
      string: '{"results":[{"bookTitle":"Molecular Basis of Thyroid Hormone Action","REFERENCE_ID":51001,"ABSTRACT":"","url":"https://hero.epa.gov/hero/index.cfm/reference/details/reference_id/51001","hasPDF":false,"YEAR":1983,"allAuthors":["Schwartz,
        HL","Oppenheimer, J. H.; Samuels, H. H."],"HEROID":51001,"id":51001,"referencetype":["book/book
        chapter"],"type":"reference","sortYear":1983,"tag_path_text":["IRIS|Perchlorate"],"PROJECTS":[{"PROJECT":"Perchlorate","PROJECT_ID":33,"USAGES":[]}],"tag_path_key":["2|33"],"firstAuthor":"Schwartz","AUTHORS":"Schwartz,
        HL","noPDFAvailable":false,"tag_path_type":["category|project"],"isPeerReviewed":false,"code":"bk","isDeleted":false,"REDIRECT_DATA":{},"isPublic":false,"hasPublicDoc":false,"SOURCE":"","TITLE":"Effect
        of thyroid hormone on growth and development","modified":"2018-04-18T18:27:01Z","PMID":"","_version_":1598109539563995139}],"isValid":true,"message":"Success","error":""} '
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
version: 1
