interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hero.epa.gov/hero/ws/index.cfm/api/1.0/search/criteria/9961932/recordsperpage/100.json
  response:
    body:
      string: "{\"results\":[{\"REFERENCE_ID\":9961932,\"ABSTRACT\":\"Per- and polyfluorinated
        alkyl substances (PFASs) are considered emerging persistent organic pollutants,
        which are chemically, thermally, and biologically stable, or degrade to persistent
        end products. Dietary intake is considered as one of the main human exposure
        pathways of these chemicals and, having entered the human body, PFASs are
        not metabolised and accumulate in tissues, while their toxicological properties
        may cause various health proble[...]
- request:
    body: retmax=1000&db=pubmed&retmode=xml&api_key=<omitted>&id=34592212
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi
  response:
    body:
      string: '<?xml version="1.0" ?>

        <!DOCTYPE PubmedArticleSet PUBLIC "-//NLM//DTD PubMedArticle, 1st January
        2024//EN" "https://dtd.nlm.nih.gov/ncbi/pubmed/out/pubmed_240101.dtd">

        <PubmedArticleSet>

        <PubmedArticle><MedlineCitation Status="MEDLINE" Owner="NLM" IndexingMethod="Automated"><PMID
        Version="1">34592212</PMID><DateCompleted><Year>2021</Year><Month>11</Month><Day>30</Day></DateCompleted><DateRevised><Year>2021</Year><Month>11</Month><Day>30</Day></DateRevised><Article
        PubModel="Print-Electronic"><Journal><ISSN IssnType="Electronic">1879-1298</ISSN><JournalIssue
        CitedMedium="Internet"><Volume>287</Volume><Issue>Pt 4</Issue><PubDate><Year>2022</Year><Month>Jan</Month></PubDate></JournalIssue><Title>Chemosphere</Title><ISOAbbreviation>Chemosphere</ISOAbbreviation></Journal><ArticleTitle>Occurrence
        of selected per- and polyfluorinated alkyl substances (PFASs) in food available
        on the European market - A review on levels and human exposure assessment.</ArticleTitle><Pagination><StartPage>132378</StartPage><MedlinePgn>132378</MedlinePgn></Pagination><ELocationID
        EIdType="doi" ValidYN="Y">10.1016/j.chemosphere.2021.132378</ELocationID><ELocationID
        EIdType="pii" ValidYN="Y">S0045-6535(21)02850-2</ELocationID><Abstract><AbstractText>Per-
        and polyfluorinated alkyl substances (PFASs) are considered emerging persistent
        organic pollutants, which are chemically, thermally, and biologically stable,
        or degrade to persistent end products. Dietary intake is considered as one
        of the main human exposure pathways of these chemicals and, having entered
        the human body, PFASs are not metabolised and accumulate in tissues, while
        their toxicological properties may cause various health problems[...]
