interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hero.epa.gov/hero/ws/index.cfm/api/1.0/search/criteria/9999999/recordsperpage/100.json
  response:
    body:
      string: '{"results":[{"REFERENCE_ID":9999999,"ABSTRACT":"","url":"https://hero.epa.gov/hero/index.cfm/reference/details/reference_id/9999999","hasPDF":false,"YEAR":1955,"allAuthors":["Todd,
        WA; Green, RE"],"HEROID":9999999,"id":9999999,"project_key":[2721],"referencetype":["journal
        article"],"type":"reference","sortYear":1955,"tag_path_text":["OSCP|EDSP Thyroid
        Complete Pathway SR"],"category_key":[40],"PROJECTS":[{"PROJECT":"EDSP Thyroid
        Complete Pathway SR","PROJECT_ID":2721,"USAGES":[]}],"tag_path_key":["40|2721"],"firstAuthor":"Todd","AUTHORS":"Todd,
        WA; Green, RE","noPDFAvailable":false,"tag_path_type":["category|project"],"isPeerReviewed":false,"code":"pd","isDeleted":false,"REDIRECT_DATA":{},"isPublic":true,"hasPublicDoc":false,"SOURCE":"","TITLE":"Primary
        lymphosarcoma of the thyroid; report of a probable case","modified":"2021-12-16T02:58:20Z","PMID":14369189,"_version_":1719269851851128832}],"isValid":true,"message":"Success","error":""} '
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
version: 1
