{% extends 'portal.html' %}

{% block content %}

  <h1>
    Welcome, {{ user.get_full_name }}.

      <div class="btn-group pull-right">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li class="disabled"><a tabindex="-1" href="#">Assessment Editing</a></li>
          <li><a href="{% url 'assessment:new' %}">Create a new assessment</a></li>
          {% if user.is_superuser %}
            <li class="divider"></li>
            <li class="disabled"><a tabindex="-1" href="#">Staff settings</a></li>
            <li><a href="{% url 'assessment:full_list' %}">View all assessments</a></li>
          {% endif %}
        </ul>
      </div>
  </h1>

  {% if show_v2_license %}
    <div class="alert">
      <b>HAWC license</b>
      <p>The HAWC license has changed. Please <a href="#license_modal" data-toggle="modal">review the license</a> and accept:</p>
      <form action="{% url 'user:accept-new-license' %}" method="post">
        {% csrf_token %}
        <div class="controls">
          <label for="license_v2_accepted" class="checkbox">
            <input type="checkbox" name="license_v2_accepted" class="checkboxinput"
                id="license_v2_accepted">I accept this license
          </label>
        </div>
        <div class="controls">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>
    </div>
    {% include "hawc_license.html" %}
  {% endif %}

  <p>
    Welcome to the HAWC portal. Here you're able to create new assessments,
    or work on existing assessments. Each assessment is a single human-health
    risk assessment. You can view assessments by the role you've been assigned.
  </p>

  {% with assessments=user.assessment_pms.all %}
    {% if assessments %}
      <h2>Assessments you're managing:</h2>
      {% include "assessment/_assessment_list_tbl.html" with object_list=assessments %}
    {% endif %}
  {% endwith %}

  {% with assessments=user.assessment_teams.all %}
    {% if assessments %}
      <h2>Assessments you're a team-member on:</h2>
      {% include "assessment/_assessment_list_tbl.html" with object_list=assessments %}
    {% endif %}
  {% endwith %}

  {% with assessments=user.assessment_reviewers.all %}
    {% if assessments %}
      <h2>Assessments you can review:</h2>
      {% include "assessment/_assessment_list_tbl.html" with object_list=assessments %}
    {% endif %}
  {% endwith %}

{% endblock content %}
