{% extends 'portal.html' %}


{% block title %}{{assessment}} | Studies | HAWC {% endblock title %}

{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' pk=assessment.id %}">{{ assessment }}</a><span class="divider">/</span></li>
  <li class="active">Clean {{assessment.get_rob_name_display|lower}} metrics<span class="divider">/</span></li>
{% endblock %}

{% block content %}
    <h2>Clean {{assessment}} metrics</h2>
    <p class='help-block'>Clean and standardize the {{assessment.get_rob_name_display|lower}} metric reviews across studies assessment-wide. Both <b>score</b> and <b>text</b> are editable.</p>
    <div id="root"></div>
{% endblock %}

{% block extrajs %}
<script id="config" type="text/json" charset="utf-8">
    {
        "assessment_id": "{{ assessment.id }}",
        "assessment": "{% url 'assessment:api:endpoint_type-list' %}",
        "items": {
            "url": "{% url 'riskofbias:api:metric_scores-list' %}",
            "patchUrl": "{% url 'riskofbias:api:scores-list' %}",
            "title": "Metric Scores"
        },
        "metrics": {
            "url": "{% url 'riskofbias:api:metrics-list' %}",
            "title": "Metric Choices"
        },
        "scores": {
            "url": "{% url 'riskofbias:api:scores-choices' %}",
            "title": "Score Choices"
        },
        "studyTypes": {
            "url": "{% url 'study:api:study-types' %}",
            "title": "Study Types"
        },
        "csrf": "{{ csrf_token }}",
        "host": "//{{request.get_host}}"
    }
</script>
<script type="text/javascript">
$(document).ready(function(){
    window.app.riskofbiasStartup(function(riskofbias){
        riskofbias.ScoreCleanupStartup(document.getElementById('root'));
    });
});
</script>
{% endblock extrajs %}
