<a class="toggle_sidebar pull-right" title="Compress sidebar" href="#">x</a>
<ul class="nav nav-list">
  {% if assessment %}
    <li class="nav-header">Selected assessment</li>
    <li class="active"><a href="{% url 'assessment:detail' assessment.pk %}"> {{ assessment }}</a></li>

    <li class="nav-header">Available modules</li>

    {% if assessment.enable_literature_review %}
        <li><a href="{% url 'lit:overview' assessment.pk %}">Literature review</a></li>
    {% endif %}

    {% if assessment.enable_project_management %}
        <li><a href="{% url 'mgmt:assessment_dashboard' assessment.pk %}">Management dashboard</a></li>
    {% endif %}

    {% if assessment.enable_data_extraction %}
        <li><a href="{% url 'study:list' assessment.pk %}">Study list</a></li>

        {% if assessment.enable_risk_of_bias %}
            <li><a href="{% url 'riskofbias:arob_detail' assessment.pk %}">Risk of bias</a></li>
        {% endif %}

        <li><a href="{% url 'assessment:endpoint_list' assessment.pk %}">Endpoint list</a></li>
        <li><a href="{% url 'summary:visualization_list' assessment.pk %}">Visualizations</a></li>
    {% endif %}

    {% if assessment.enable_summary_text %}
        <li><a href="{% url 'summary:list' assessment.pk %}">Executive summary</a></li>
    {% endif %}

    <li class="nav-header">Downloads</li>
    <li><a href="{% url 'assessment:downloads' assessment.pk %}">Download datasets</a></li>

  {% else %}
    <li class="active">{% block assessment %}<a href="{% url 'portal' %}">Select an assessment</a>{% endblock %}</li>
  {% endif %}
</ul>
