{% load server_role %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="NONE,NOARCHIVE" />
    <title>{% block title %}Health Assessment Workspace Collaborative (HAWC){% endblock %}</title>
    <link id="favicon" href="{{STATIC_URL}}img/favicon-256.png" rel="shortcut icon" sizes="256x256" />
    <link id="favicon" href="{{STATIC_URL}}img/favicon-128.png" rel="shortcut icon" sizes="128x128" />
    <link id="favicon" href="{{STATIC_URL}}img/favicon-64.png" rel="shortcut icon" sizes="64x64" />
    <link id="favicon" href="{{STATIC_URL}}img/favicon-32.png" rel="shortcut icon" sizes="32x32" />

      <meta name="HandheldFriendly" content="true" />
      <link rel="shortcut icon" href="https://www.epa.gov/sites/all/themes/epa/favicon.ico" type="image/vnd.microsoft.icon" />
      <meta name="MobileOptimized" content="width" />
      <meta http-equiv="cleartype" content="on" />
      <meta http-equiv="ImageToolbar" content="false" />
      <meta name="version" content="20170905" />
      <meta name="dc.description" content="" />
      <meta name="keywords" content="" />
      <meta name="DC.Subject" content="" />
      <meta name="DC.Type" content="WEB SITE" />
      <meta name="DC.Date.modified" content="2009-03-15" />
      <meta name="DC.Date" content="2009-03-15" />
      <meta name="DC.Language" content="en" />
      <meta name="DC.Creator" content="US EPA National Center for Environmental Assessment" />
      <meta http-equiv="Content-Style-Type" content="text/css" />
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta http-equiv="Pragma" content="no-cache">
      <meta http-equiv="Expires" content="-1">

      <!--[if lt IE 9]><link type="text/css" rel="stylesheet" href="https://www.epa.gov/sites/all/themes/epa/css/ie.css" media="all" /><![endif]-->
      <link rel="alternate" type="application/atom+xml" title="EPA.gov All Press Releases" href="https://www.epa.gov/newsreleases/search/rss" />
      <link rel="alternate" type="application/atom+xml" title="EPA.gov Headquarters Press Releases" href="/https://www.epa.gov/newsreleases/search/rss/field_press_office/headquarters" />
      <link rel="alternate" type="application/atom+xml" title="Greenversations, EPA's Blog" href="https://blog.epa.gov/blog/feed/" />

    {% block extrahead %}{% endblock %}
    {% if debug %}
      <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}debug/font-awesome/css/font-awesome.css" />
      <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}debug/twitter-bootstrap/2.2.2/css/bootstrap.css" />
      <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}debug/twitter-bootstrap/2.2.2/css/bootstrap-responsive.css" />
      <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}debug/jqueryui/1.10.3/css/jquery-ui.css">
    {% else %}
      <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" />
      <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap.min.css" />
      <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap-responsive.min.css" />
      <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/css/base/minified/jquery-ui.min.css" />
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/hawc.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/d3.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/flex.css" />

      <!-- test HERO template -->
    <link type="text/css" rel="stylesheet" href="https://www.epa.gov/sites/all/libraries/template2/s.css" media="all" />
      <script type="text/javascript" src="https://www.epa.gov/sites/all/modules/custom/epa_core/js/foresee-trigger.js"></script>
      <script type="text/javascript" src="https://www.epa.gov/sites/all/libraries/template2/jquery.js"></script>
      <script type="text/javascript" src="https://www.epa.gov/sites/all/libraries/template2/js.js"></script>
      <script type="text/javascript" src="https://www.epa.gov/sites/all/modules/custom/epa_core/js/alert.js"></script>
      <script type="text/javascript" src="{{STATIC_URL}}javascript/jquery/jquery-ui-1.8.min.js"></script>
      <script type="text/javascript" src="{{STATIC_URL}}javascript/jsfunctions.js"></script>
      <script type="text/javascript" src="{{STATIC_URL}}javascript/hero.compatibility.js"></script>
      <script type="text/javascript" src="{{STATIC_URL}}javascript/jquery/jquery.validate.min.js"></script>
      <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/thirdparty/font-awesome.min.css" />
      <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/hero/hero.css" />
       <!--  /* If present, loop through layout.myStyles and add the individual CSS files to the collection */
        if (IsDefined("prc.myStyles")) {
          for (i=1; i<=ListLen(prc.myStyles); i++) {
  <link rel="stylesheet" type="text/css" href="resources/css/thirdparty/" & ListGetAt(prc.myStyles, i), media:"screen,print");
          }
        } -->

      <!-- test HERO template -->
      <style type="text/css">
        /*<cfif structKeyExists(prc, 'layoutWidth') and isNumeric(prc.layoutWidth) and prc.layoutWidth gt 0>
        #content {width: 800ppx;}
        footer.main-footer { max-width: #prc.layoutWidth#px;}
        header.masthead { max-width: #prc.layoutWidth#px;}
        nav.nav { max-width: #prc.layoutWidth#px;}
        </cfif>
        <cfif structKeyExists(prc, 'wideLayout') and isNumeric(prc.wideLayout) and prc.wideLayout eq 1>*/
          .main-content {max-width: auto; margin:0;}
        /*</cfif>
        <cfif structKeyExists(prc, 'hideMenu') and isNumeric(prc.hideMenu) and prc.hideMenu eq 1>
          .one-sidebar .main-column {width: 100%;}
          .main-content .region-sidebar {display: none;}
          .main-column {float: none; width: 100%;}
        </cfif>*/
      </style>

    {% block extrastyle %}{% endblock %}
  </head>


  <body {% block bodyattrs %}class="fill html one-sidebar sidebar-first block-og-menu microsite" style="padding-top:0px"{% endblock %}>


<header class="masthead clearfix" role="banner">
    <!--  <cfif application.oConfig.getEnvironmentID() neq "production">
          <span class="#iif(application.oConfig.getIsDev(),DE('devmode'),DE('red') )#"><strong>#uCase(application.oConfig.getEnvironmentID())#</strong>(#application.applicationname#)</span>
    </cfif> -->
    <img class="site-logo" src="https://www.epa.gov/sites/all/themes/epa/logo.png" alt="" />
    <hgroup class="site-name-and-slogan">
      <h1 class="site-name"><a href="https://www.epa.gov/" title="Go to the home page" rel="home"><span>US EPA</span></a></h1>
      <div class="site-slogan">United States Environmental Protection Agency</div>
    </hgroup>
    <form class="epa-search" method="get" action="https://search.epa.gov/epasearch/epasearch">
      <label class="element-hidden" for="search-box">Search</label>
      <input class="form-text" placeholder="Search EPA.gov" name="querytext" id="search-box" value="">
      <button class="epa-search-button" id="search-button" type="submit" title="Search">Search</button>
      <input type="hidden" name="fld" value="">
      <input type="hidden" name="areaname" value="">
      <input type="hidden" name="areacontacts" value="">
      <input type="hidden" name="areasearchurl" value="">
      <input type="hidden" name="typeofsearch" value="epa">
      <input type="hidden" name="result_template" value="epafiles_default.xsl">
      <input type="hidden" name="filter" value="sample4filt.hts">
    </form>

  </header>
 <nav class="nav main-nav clearfix" role="navigation">
    <div class="nav__inner">
      <h2 class="element-invisible">Main menu</h2>
      <ul class="menu" role="menu">
        <li class="menu-item" id="menu-learn" role="presentation"><a href="https://www.epa.gov/environmental-topics" title="Learn about EPA's environmental topics to help protect the environment in your home, workplace, and community and EPA&##039;s research mission is to conduct leading-edge research and foster the sound use of science and technology." class="menu-link" role="menuitem">Environmental Topics</a></li>
        <li class="menu-item" id="menu-lawsregs" role="presentation"><a href="https://www.epa.gov/laws-regulations" title="Laws written by Congress provide the authority for EPA to write regulations. Regulations explain the technical, operational, and legal details necessary to implement laws." class="menu-link" role="menuitem">Laws &amp; Regulations</a></li>
        <li class="menu-item" id="menu-about" role="presentation"><a href="https://www.epa.gov/aboutepa" title="Learn more about: our mission and what we do, how we are organized, and our history." class="menu-link" role="menuitem">About EPA</a></li>
      </ul>
    </div>
  </nav>   
    <!-- Navigation bar -->
    {% block navbar_outer %}
     <!---<div class="navbar navbar-fixed-top">
      <div class="navbar-inner  {% server_role %}">
        <div class="container-fluid">

          {% block branding %}
          <a href="{% if user.is_authenticated %}{% url 'portal' %}{% else %}{% url 'home' %}{% endif %}">
            <img class="pull-left" src="{{STATIC_URL}}img/HAWC-40.png">
            <span class="brand">{% server_role_text %}</span>
          </a>
          {% endblock %}

          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          {% block topnavbar %}
           
            <div class="nav-collapse collapse">
              <ul class="nav pull-right">
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'assessment:public_list' %}">Public Assessments</a></li>

                {% if user.is_authenticated %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Your HAWC <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'portal' %}">Portal</a></li>
                    <li><a href="{% url 'user:settings' %}">Profile</a></li>
                    <li><a href="{% url 'mgmt:user_assignments' %}">My assigned tasks</a></li>
                    {% if user.is_staff %}
                      <li class="divider"></li>
                      <li><a href="{%url 'admin:index' %}">Admin</a></li>
                    {% endif %}
                    <li class="divider"></li>
                    <li><a href="{% url 'user:logout' %}">Logout</a></li>
                  </ul>
                </li>
                {% else %}
                  <li><a href="{% url 'portal' %}">Login</a></li>
                {% endif %}
              </ul>
            </div>


 
          {% endblock %}

        </div>
      </div>
    </div>--->


  <div class="skip-links"><a href="#main-content" class="skip-link element-invisible element-focusable">Jump to main content</a></div>
  
    {% endblock navbar_outer %}

    <!-- Main Container -->
    {% block content_outer %}
    <div id="container" class="container-fluid ">


<section id="main-content" class="main-content clearfix" role="main">
    <h2 class="microsite-name">Health & Environmental Research Online (HERO)</h2>
    <div class="region-preface clearfix">
      <div id="block-pane-epa-web-area-connect" class="block block-pane  block-pane-epa-web-area-connect">
        <ul class="menu utility-menu">
          <li class="menu-item"><a href="#event.buildLink('content.contactus')#" class="menu-link">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div class="main-column clearfix" id="content">
        <!--googleon: all-->
      <div class="panel-pane pane-node-content" >
        <div class="pane-content">
          <div class="node node-page clearfix view-mode-full">
              <!--- BREADCRUMBS --->
            <div id="cs_control_1518" class="cs_control CS_Element_LinkBar">
              <b>You are here:</b> <a href="https://www.epa.gov/">EPA Home</a>
              &raquo;
              <a href="https://www.epa.gov/research/">Research</a>
              &raquo;
              <a href="https://www.epa.gov/ncea/">NCEA</a>
              &raquo;
            <!-- <cfif event.isSES()> -->
              <a href="#getSetting("HTMLBaseURL")#">HERO</a>
            <!-- <cfelse> -->
              <a href="index.cfm">HERO</a>
            <!-- </cfif>
            <cfif prc.title neq "">
              &raquo;
              #displayTitle#
            </cfif> -->
            </div>
              <!--- END BREADCRUMBS --->
            <br/>


      {% block messages_base %}
        {% include "messages.html" %}
      {% endblock messages_base %}

      {% block main_content %}

    

<!--           <cfif (StructKeyExists(prc, "messageBox")) and (prc.messageBox neq "")>
            #prc.messageBox#
          </cfif>
            #renderView()#
          
 -->        
      {% endblock %}
          </div>
        </div>
      </div>
        <!--googleoff: all-->
    </div>


<div class="region-sidebar-first region-sidebar">
  <div id="block-og-menu-og-single-menu-block" class="block block-og-menu  block-og-menu-og-single-menu-block">
    <!-- BEGIN AREA MAIN NAVIGATION -->
      <h4 class="skip">HERO Navigation</h4>
      <ul class="menu">
          <li class="menu-item">
            <!-- <cfif application.oConfig.getIsHERONet()> -->
              <a class="menu-node-unpublished menu-link" href="#event.buildLink('content.home')#">HERONet Home</a>
            <!-- <cfelse>
              <a class="menu-node-unpublished menu-link" href="#event.buildLink('content.home')#">HERO Home</a>
            </cfif> -->
          </li>
          <li class="menu-item"><a class="menu-node-unpublished menu-link" href="#event.buildLink("search.main")#">Search HERO</a></li>
          <li class="menu-item"><a class="menu-node-unpublished menu-link" href="#event.buildLink('content.basic')#">Basic Information</a></li>
          <li class="menu-item"><a class="menu-node-unpublished menu-link" href="#event.buildLink('content.frequentquestions')#">Frequent Questions</a></li>
          <li class="menu-item"><a class="menu-node-unpublished menu-link" href="#event.buildLink('content.howto')#">How to Use HERO</a></li>
          <!-- <cfif application.oConfig.getIsHERONet()> -->
            <li class="menu-item"><a class="menu-node-unpublished menu-link" href="#event.buildLink('content.tips')#">HERO User Tips</a></li>
          <!-- </cfif> -->
          <li class="menu-item"><a class="menu-node-unpublished menu-link" href="#event.buildLink('content.assessment')#">Risk Assessment Process</a></li>
          <li class="menu-item"><a class="menu-node-unpublished menu-link" href="#event.buildLink('content.transparency')#">Transparency &amp; Integrity</a></li>
          <li class="menu-item"><a class="menu-node-unpublished menu-link" href="#event.buildLink('content.glossary')#">Glossary</a></li>
          <!--- Wrap these links in permissions --->
          <!-- <cfif application.objPermission.hasPermission(session, "hero")> -->
            <hr />

    <li class="menu-item"><a class="menu-node-unpublished menu-link" href="{% url 'portal' %}">HAWC Portal</a></li>
    <li class="menu-item"><a class="menu-node-unpublished menu-link" href="{% url 'user:settings' %}">HAWC Profile</a></li>
    <li class="menu-item"><a class="menu-node-unpublished menu-link" href="{% url 'mgmt:user_assignments' %}">My HAWC assigned tasks</a></li>
    {% if user.is_staff %}
      <li class="menu-item"><a class="menu-node-unpublished menu-link" href="{%url 'admin:index' %}">HAWC Admin</a></li>
    {% endif %}
    <li><a class="menu-node-unpublished menu-link" href="{% url 'user:logout' %}">Logout of HAWC</a></li>
      <hr />

            <li class="menu-item"><a class="menu-node-unpublished menu-link" href="litbrowser">LitBrowser</a></li>
      <!-- <cfif not application.objPermission.hasPermission(session, "ally")> -->
        <li class="menu-item"><a class="menu-node-unpublished menu-link" href="litsearch">Literature Request</a></li>
      <!-- </cfif> -->

      <li class="menu-item"><a class="menu-node-unpublished menu-link" href="litciter">LitCiter</a></li>

    <!--- This LitExtractor link is commented out until the client is ready to use LitExtractor --->
      <!--- <li class="menu-item"><a class="menu-node-unpublished menu-link" href="#event.buildLink("litextractor.home")#">LitExtractor</a></li>--->

          <!-- </cfif> -->

            <!-- <cfif application.objPermission.hasPermission(session, "admin,specialist_2,specialist_1,manager")> -->
              <li class="menu-item"><a class="menu-node-unpublished menu-link" href="reports">Reports</a></li>
            <!-- </cfif>
            <cfif application.objPermission.hasPermission(session, "hero,ally")> -->
              <li class="menu-item"><a class="menu-node-unpublished menu-link" href="#event.buildLink(linkTo="import.addReference")#">Ask To Add References</a></li>
            <!-- </cfif>
            <cfif application.objPermission.hasPermission(session, "hero")> -->
              <li class="menu-item"><a class="menu-node-unpublished menu-link" href="#event.buildLink(linkTo="project.requestassessment")#">Project Setup</a></li>
            <!-- </cfif>
            <cfif application.objPermission.hasPermission(session,"hero")> -->
              <li class="menu-item"><a class="menu-node-unpublished menu-link" href="#event.buildLink(linkTo="content.myrequests")#">My Requests</a></li>
            <!-- </cfif>
            <cfif application.objPermission.hasPermission(session,"admin,pi,pi_lead,specialist_1,specialist_2")> -->
              <li class="menu-item"><a class="menu-node-unpublished menu-link" href="tools">Tools</a></li>
            <!-- </cfif>

          <cfif application.oConfig.getEnvironmentID() neq "production"> -->
            <li class="menu-item">
              <hr />
              <span class="navigationElement">THESE LINKS ONLY VISIBLE ON DEV AND STAGING MODES</span>
            </li>
            <!-- <cfif application.oConfig.getMode() eq "development"> -->
              <li class="menu-item"><a class="menu-node-unpublished menu-link" href="#event.buildLink(linkTo="developer.main")#">Developer Menu</a></li>
            <!-- </cfif> -->
            <li class="menu-item"><a class="menu-node-unpublished menu-link" href="https://ssostage.rtpnc.epa.gov/pls/orasso/orasso.wwsso_app_admin.ls_logout?p_done_url=https://cfpstage.rtpnc.epa.gov/hero/index.cfm">Log Out of Portal</a></li>
            <!-- <li class="menu-item">
              <cfparam name="session.full_name" default="">
              <cfparam name="session.oidGroups" default="">
              <cfparam name="session.isncea" default="">
              <a class="menu-node-unpublished menu-link" href="#event.buildLink('developer.spoof')#">Spoof Login</a><br />
              <a>Logged in as:<br />
              <cfif session.full_name eq "">Anonymous<cfelse>#session.full_name# (#session.person_id#)</cfif><br /><br />
              oidGroups:<br /> #replace(session.oidGroups,",",", ","ALL")#<br />
              isncea = #session.isncea#</a>
            </li>
          </cfif> -->

        </ul>
        <!-- END AREA MAIN NAVIGATION -->
      </div>
      </div>

  </section>

      <div id="footer">{% block footer %}

<footer class="main-footer clearfix" role="contentinfo">
    <div class="main-footer__inner">
      <div class="region-footer">
        <div class="block block-pane block-pane-epa-global-footer">
          <div class="row cols-3">
            <div class="col size-1of3">
              <div class="col__title">Discover.</div>
              <ul class="menu">
                <li><a href="https://www.epa.gov/accessibility">Accessibility</a></li>
                <li><a href="https://www.epa.gov/aboutepa/administrator-gina-mccarthy">EPA Administrator</a></li>
                <li><a href="https://www.epa.gov/planandbudget">Budget &amp; Performance</a></li>
                <li><a href="https://www.epa.gov/contracts">Contracting</a></li>
                <li><a href="https://www.epa.gov/home/grants-and-other-funding-opportunities">Grants</a></li>
                <li><a href="https://www.epa.gov/ocr/whistleblower-protections-epa-and-how-they-relate-non-disclosure-agreements-signed-epa-employees">No FEAR Act Data</a></li>
                <li><a href="https://www.epa.gov/home/privacy-and-security-notice">Privacy and Security</a></li>
              </ul>
            </div>
            <div class="col size-1of3">
              <div class="col__title">Connect.</div>
              <ul class="menu">
                <li><a href="https://www.data.gov/">Data.gov</a></li>
                <li><a href="https://www.epa.gov/office-inspector-general/about-epas-office-inspector-general">Inspector General</a></li>
                <li><a href="https://www.epa.gov/careers">Jobs</a></li>
                <li><a href="https://www.epa.gov/newsroom">Newsroom</a></li>
                <li><a href="https://www.whitehouse.gov/open">Open Government</a></li>
                <li><a href="http://www.regulations.gov/">Regulations.gov</a></li>
                <li><a href="https://www.epa.gov/newsroom/email-subscriptions">Subscribe</a></li>
                <li><a href="https://www.usa.gov/">USA.gov</a></li>
                <li><a href="https://www.whitehouse.gov/">White House</a></li>
              </ul>
            </div>
            <div class="col size-1of3">
              <div class="col__title">Ask.</div>
              <ul class="menu">
                <li><a href="https://www.epa.gov/home/forms/contact-us">Contact Us</a></li>
                <li><a href="https://www.epa.gov/home/epa-hotlines">Hotlines</a></li>
                <li><a href="https://www.epa.gov/foia">FOIA Requests</a></li>
                <li><a href="https://www.epa.gov/home/frequent-questions-specific-epa-programstopics">Frequent Questions</a></li>
              </ul>
              <div class="col__title">Follow.</div>
              <ul class="social-menu">
                <li><a class="menu-link social-facebook" href="https://www.facebook.com/EPA">Facebook</a></li>
                <li><a class="menu-link social-twitter" href="https://twitter.com/epa">Twitter</a></li>
                <li><a class="menu-link social-youtube" href="https://www.youtube.com/user/USEPAgov">YouTube</a></li>
                <li><a class="menu-link social-flickr" href="https://www.flickr.com/photos/usepagov">Flickr</a></li>
                <li><a class="menu-link social-instagram" href="https://instagram.com/epagov">Instagram</a></li>
              </ul>
              <p class="last-updated">Last Updated on #DateFormat(Now(),'MMMM DD, YYYY')#</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

      {% endblock %}</div>
      <div id='hidden' style="display:none">{% block hidden_content %}{% endblock %}</div>
    </div>
    {% endblock content_outer %}
    <!-- END Container -->

    <!-- JS at bottom for quicker pageloads -->
    <script type="text/javascript" src="{{STATIC_URL}}admin/js/urlify.js" ></script>
    {% if debug %}
      <script type="text/javascript" src="{{STATIC_URL}}debug/underscore/underscore.js"></script>
      <script type="text/javascript" src="{{STATIC_URL}}debug/jquery/1.9.1/jquery.js" ></script>
      <script type="text/javascript" src="{{STATIC_URL}}debug/twitter-bootstrap/2.2.2/bootstrap.js" ></script>
      <script type="text/javascript" src="{{STATIC_URL}}debug/jqueryui/1.10.3/jquery-ui.js"></script>
    {% else %}
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js" ></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
      {% block google_analytics %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-45455759-1', 'hawcproject.org');
          ga('send', 'pageview');
        </script>
      {% endblock google_analytics %}
    {% endif %}
    {% render_bundle 'manifest' %}
    {% render_bundle 'vendor' %}
    {% render_bundle 'main' %}
    {% block extrajs %}{% endblock %}
    {% block portaljs %}{% endblock %}
  </body>
</html>
