{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="NONE,NOARCHIVE" />
    <title>{% block title %}Health Assessment Workspace Collaborative (HAWC){% endblock %}</title>
    <link id="favicon" href="{{STATIC_URL}}img/favicon-256.png" rel="shortcut icon" sizes="256x256" />
    <link id="favicon" href="{{STATIC_URL}}img/favicon-128.png" rel="shortcut icon" sizes="128x128" />
    <link id="favicon" href="{{STATIC_URL}}img/favicon-64.png" rel="shortcut icon" sizes="64x64" />
    <link id="favicon" href="{{STATIC_URL}}img/favicon-32.png" rel="shortcut icon" sizes="32x32" />
    {% block extrahead %}{% endblock %}
    {% if debug %}
      <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}debug/font-awesome/css/font-awesome.css" />
      <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}debug/twitter-bootstrap/2.2.2/css/bootstrap.css" />
      <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}debug/twitter-bootstrap/2.2.2/css/bootstrap-responsive.css" />
      <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}debug/jqueryui/1.10.3/css/jquery-ui.css">
    {% else %}
      <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" />
      <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap.min.css" />
      <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap-responsive.min.css" />
      <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/css/base/minified/jquery-ui.min.css" />
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/hawc.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/d3.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/flex.css" />
    {% block extrastyle %}{% endblock %}
    {% if SERVER_ROLE != 'production' %}
        {% include 'includes/environment_banner.html' %}
    {% endif %}
  </head>


  <body {% block bodyattrs %}class="fill"{% endblock %}>

    <!-- Navigation bar -->
    {% block navbar_outer %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">

          {% block branding %}
          <a href="{% if user.is_authenticated %}{% url 'portal' %}{% else %}{% url 'home' %}{% endif %}">
            <img class="pull-left" src="{{STATIC_URL}}img/HAWC-40.png">
          </a>
          {% endblock %}

          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          {% block topnavbar %}
            <div class="nav-collapse collapse">
              <ul class="nav pull-right">
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'assessment:public_list' %}">Public Assessments</a></li>

                {% if user.is_authenticated %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Your HAWC <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'portal' %}">Portal</a></li>
                    <li><a href="{% url 'user:settings' %}">Profile</a></li>
                    <li><a href="{% url 'mgmt:user_assignments' %}">My assigned tasks</a></li>
                    {% if user.is_staff %}
                      <li class="divider"></li>
                      <li><a href="{%url 'admin:index' %}">Admin</a></li>
                    {% endif %}
                    <li class="divider"></li>
                    <li><a href="{% url 'user:logout' %}">Logout</a></li>
                  </ul>
                </li>
                {% else %}
                  <li><a href="{% url 'portal' %}">Login</a></li>
                {% endif %}
              </ul>
            </div>
          {% endblock %}

        </div>
      </div>
    </div>
    {% endblock navbar_outer %}

    <!-- Main Container -->
    {% block content_outer %}
    <div id="container" class="container-fluid ">

      {% block messages_base %}
        {% include "messages.html" %}
      {% endblock messages_base %}

      {% block main_content %}{% endblock %}

      <div id="footer">{% block footer %}{% endblock %}</div>
      <div id='hidden' style="display:none">{% block hidden_content %}{% endblock %}</div>
    </div>
    {% endblock content_outer %}
    <!-- END Container -->

    <!-- JS at bottom for quicker pageloads -->
    <script type="text/javascript" src="{{STATIC_URL}}admin/js/urlify.js" ></script>
    {% if debug %}
      <script type="text/javascript" src="{{STATIC_URL}}debug/underscore/underscore.js"></script>
      <script type="text/javascript" src="{{STATIC_URL}}debug/jquery/1.9.1/jquery.js" ></script>
      <script type="text/javascript" src="{{STATIC_URL}}debug/twitter-bootstrap/2.2.2/bootstrap.js" ></script>
      <script type="text/javascript" src="{{STATIC_URL}}debug/jqueryui/1.10.3/jquery-ui.js"></script>
    {% else %}
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js" ></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
      {% block google_analytics %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-45455759-1', 'hawcproject.org');
          ga('send', 'pageview');
        </script>
      {% endblock google_analytics %}
    {% endif %}
    {% render_bundle 'manifest' %}
    {% render_bundle 'vendor' %}
    {% render_bundle 'main' %}
    {% block extrajs %}{% endblock %}
    {% block portaljs %}{% endblock %}
  </body>
</html>
