{% if messages %}
  {% for message in messages %}
    <div {% if message.tags %} class="{{ message.tags }} {% endif %}">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message|safe }}
    </div>
  {% endfor %}
{% endif %}
<!--[if lte IE 8]>
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    HAWC requires a modern browser; Internet Explorer 8 or older was detected. Please visit using a different browser such as <a href="https://www.google.com/intl/en/chrome/browser/">Google Chrome</a> (preferred), <a href="http://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a>, <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">Internet Explorer 9+</a>, or <a href="http://www.apple.com/safari/">Apple Safari</a>.
  </div>
<![endif]-->
