{% extends 'base.html' %}

{% block title %}
  Portal | HAWC
{% endblock %}

{% block messages_base %}{% endblock messages_base %}

{% block main_content %}

  <div class="row-fluid">
    <ul class="breadcrumb">
      {% if user.is_authenticated %}
        <li class="active"><a href="{% url 'portal' %}">Home</a><span class="divider">/</span></li>
      {% else %}
        <li class="active"><a href="{% url 'assessment:public_list' %}">Public Assessments</a><span class="divider">/</span></li>
      {% endif %}
      {% block breadcrumbs %}
      {% endblock %}
    </ul>
  </div>

  {% block messages %}
    {% include "messages.html" %}
  {% endblock messages %}

  <div class="row-fluid">
    <div id='sidebar'
         class="well span3 no-print"
         style="max-width: 300px; {% if request.session.hideSidebar %}display:none;{% endif %}">
      {% include "assessment/sidebar.html" %}
    </div>

    <div id="sidebar_mini"
         style="margin-left: 0%; max-width: 10px; {% if not request.session.hideSidebar %}display:none;{% endif %}">
      <a href="#" class="toggle_sidebar no-print" title="Expand sidebar"><i class="icon-chevron-right"></i></i></a>
    </div>

    <div id="content"
         class="{% if request.session.hideSidebar %}span11{%else%}span9{% endif %}">
      <div class="{% block content_type %}{% endblock %}">
        {% block content %}{% endblock %}
        <br class="clear" />
      </div>
    </div>
  </div>

{% endblock %}

{% block portaljs %}
  <script type="text/javascript">
    $(document).ready(function(){
      var hideSidebar = {{request.session.hideSidebar|default:"false"|lower}},
          hideBrowserWarning = {{request.session.hideBrowserWarning|default:"false"|lower}},
          trigger_resize = function(){
            $(window).trigger("resize");
          };

      $('.toggle_sidebar').click(function(e){
        e.preventDefault();
        hideSidebar = !hideSidebar;
        if(hideSidebar){
          $("#sidebar").fadeOut(function(){
            $("#content").addClass("span11").removeClass("span9");
            $('#sidebar_mini').fadeIn(trigger_resize);
          });
        } else {
          $('#sidebar_mini').fadeOut(function(){
            $("#content").addClass("span9").removeClass("span11");
            $('#sidebar').fadeIn(trigger_resize);
          });
        }
        $.post("{% url 'update_session' %}", {"hideSidebar": hideSidebar});
      });

      if(!hideBrowserWarning){
        window.app.utils.HAWCUtils.browserCheck();
      }
      $('#hideBrowserWarning').click(function(e){
        $.post("{% url 'update_session' %}", {"hideBrowserWarning": true});
      });

    });
  </script>
{% endblock portaljs %}
