interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hero.epa.gov/hero/ws/index.cfm/api/1.0/search/criteria/1037739/recordsperpage/100.json
  response:
    body:
      string: '{"results":[{"REFERENCE_ID":1037739,"ABSTRACT":"The chemical conversion
        of methanol in direct methanol fuel cells was followed in situ by NMR spectroscopy.
        Comparing data of the methanol oxidation on Pt and PtRu anode catalysts allowed
        the role of Ru in both Faradaic and non-Faradaic reactions to be investigated.
        The spatial distributions of chemicals could also be determined. (Picture:
        T1-T4=inlet and outlet tubes.).","url":"https://hero.epa.gov/hero/index.cfm/reference/details/reference_id/1037739","hasPDF":true,"YEAR":"","allAuthors":["Han,
        OH; Han, KS; Shin, CW; Lee, J; Kim, SS; Um, MS; Joh, HI; Kim, SK; Ha, HY"],"HEROID":1037739,"id":1037739,"referencetype":["journal
        article"],"type":"reference","doi":"10.1002/anie.201108330","sortYear":9999,"tag_path_text":["IRIS|Methanol
        (Non-Cancer)|Search 2012|WOS","IRIS|Methanol (Non-Cancer)|Search Jan 30 2013|WOS"],"PROJECTS":[{"PROJECT":"Methanol
        (Non-Cancer)","PROJECT_ID":18,"USAGES":[{"USAGE_ID":2445,"USAGE":"Search Jan
        30 2013","USAGES":[{"USAGE_ID":2447,"USAGE":"WOS","USAGES":[]}]},{"USAGE_ID":1591,"USAGE":"Search
        2012","USAGES":[{"USAGE_ID":1593,"USAGE":"WOS","USAGES":[]}]}]}],"tag_path_key":["2|18|1591|1593","2|18|2445|2447"],"firstAuthor":"Han","AUTHORS":"Han,
        OH; Han, KS; Shin, CW; Lee, J; Kim, SS; Um, MS; Joh, HI; Kim, SK; Ha, HY","noPDFAvailable":false,"tag_path_type":["category|project|usage|usage","category|project|usage|usage"],"isPeerReviewed":true,"code":"pd","isDeleted":false,"isPublic":true,"hasPublicDoc":false,"SOURCE":"Angewandte
        Chemie (International Edition).","TITLE":"Observation of Methanol Behavior
        in Fuel Cells In Situ by NMR Spectroscopy","modified":"2018-04-19T13:14:44Z","PMID":22411696,"keywords":["fuel
        cells; in situ detection; methanol; NMR spectroscopy; oxidation"],"journalTitle":"Angewandte
        Chemie (International Edition)","_version_":1598180496732323842}],"isValid":true,"message":"Success","error":""} '
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
