interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hero.epa.gov/hero/ws/index.cfm/api/1.0/search/criteria/1037739/recordsperpage/100.json
  response:
    body:
      string: '{"results":[{"REFERENCE_ID":1037739,"ABSTRACT":"The chemical conversion
        of methanol in direct methanol fuel cells was followed in situ by NMR spectroscopy.
        Comparing data of the methanol oxidation on Pt and PtRu anode catalysts allowed
        the role of Ru in both Faradaic and non-Faradaic reactions to be investigated.
        The spatial distributions of chemicals could also be determined. (Picture:
        T1-T4=inlet and outlet tubes.).","url":"https://hero.epa.gov/hero/index.cfm/reference/details/reference_id/1037739","hasPDF":true,"YEAR":2012,"allAuthors":["Han,
        OH; Han, KS; Shin, CW; Lee, J; Kim, SS; Um, MS; Joh, HI; Kim, SK; Ha, HY"],"HEROID":1037739,"id":"1037739","project_key":[18],"referencetype":["journal
        article"],"type":"reference","doi":"10.1002/anie.201108330","sortYear":2012,"tag_path_text":["IRIS|Methanol
        (Non-Cancer)|Search 2012|WOS","IRIS|Methanol (Non-Cancer)|Search Jan 30 2013|WOS"],"category_key":[2],"PROJECTS":[{"PROJECT":"Methanol
        (Non-Cancer)","PROJECT_ID":18,"USAGES":[{"USAGE_ID":"2445","USAGE":"Search
        Jan 30 2013","USAGES":[{"USAGE_ID":"2447","USAGE":"WOS","USAGES":[]}]},{"USAGE_ID":"1591","USAGE":"Search
        2012","USAGES":[{"USAGE_ID":"1593","USAGE":"WOS","USAGES":[]}]}]}],"tag_path_key":["2|18|1591|1593","2|18|2445|2447"],"firstAuthor":"Han","AUTHORS":"Han,
        OH; Han, KS; Shin, CW; Lee, J; Kim, SS; Um, MS; Joh, HI; Kim, SK; Ha, HY","noPDFAvailable":false,"tag_path_type":["category|project|usage|usage","category|project|usage|usage"],"isPeerReviewed":true,"code":"pd","isDeleted":false,"REDIRECT_DATA":{},"isPublic":true,"hasPublicDoc":false,"SOURCE":"Angewandte
        Chemie (International Edition).","wosid":"WOS:000302607500013","TITLE":"Observation
        of Methanol Behavior in Fuel Cells In Situ by NMR Spectroscopy","modified":"2022-06-07T08:23:29Z","PMID":22411696,"keywords":["fuel
        cells; in situ detection; methanol; NMR spectroscopy; oxidation"],"journalTitle":"Angewandte
        Chemie (International Edition)","_version_":1734963584327221248}],"isValid":true,"message":"Success","error":""} '
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: retmax=1000&db=pubmed&retmode=xml&api_key=<omitted>&id=22411696
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi
  response:
    body:
      string: '<?xml version="1.0" ?>

        <!DOCTYPE PubmedArticleSet PUBLIC "-//NLM//DTD PubMedArticle, 1st January
        2024//EN" "https://dtd.nlm.nih.gov/ncbi/pubmed/out/pubmed_240101.dtd">

        <PubmedArticleSet>

        <PubmedArticle><MedlineCitation Status="PubMed-not-MEDLINE" Owner="NLM"><PMID
        Version="1">22411696</PMID><DateCompleted><Year>2012</Year><Month>08</Month><Day>01</Day></DateCompleted><DateRevised><Year>2012</Year><Month>04</Month><Day>11</Day></DateRevised><Article
        PubModel="Print-Electronic"><Journal><ISSN IssnType="Electronic">1521-3773</ISSN><JournalIssue
        CitedMedium="Internet"><Volume>51</Volume><Issue>16</Issue><PubDate><Year>2012</Year><Month>Apr</Month><Day>16</Day></PubDate></JournalIssue><Title>Angewandte
        Chemie (International ed. in English)</Title><ISOAbbreviation>Angew Chem Int
        Ed Engl</ISOAbbreviation></Journal><ArticleTitle>Observation of methanol behavior
        in fuel cells in situ by NMR spectroscopy.</ArticleTitle><Pagination><StartPage>3842</StartPage><EndPage>3845</EndPage><MedlinePgn>3842-5</MedlinePgn></Pagination><ELocationID
        EIdType="doi" ValidYN="Y">10.1002/anie.201108330</ELocationID><Abstract><AbstractText>The
        chemical conversion of methanol in direct methanol fuel cells was followed
        in situ by NMR spectroscopy. Comparing data of the methanol oxidation on Pt
        and PtRu anode catalysts allowed the role of Ru in both Faradaic and non-Faradaic
        reactions to be investigated. The spatial distributions of chemicals could
        also be determined. (Picture: T1-T4=inlet and outlet tubes.).</AbstractText><CopyrightInformation>Copyright
        &#xa9; 2012 WILEY-VCH Verlag GmbH &amp; Co. KGaA, Weinheim.</CopyrightInformation></Abstract><AuthorList
        CompleteYN="Y"><Author ValidYN="Y"><LastName>Han</LastName><ForeName>Oc Hee</ForeName><Initials>OH</Initials><AffiliationInfo><Affiliation>Analysis
        Research Division, Daegu Center, Korea Basic Science Institute, Korea. ohhan@kbsi.re.kr</Affiliation></AffiliationInfo></Author><Author
        ValidYN="Y"><LastName>Han</LastName><ForeName>Kee Sung</ForeName><Initials>KS</Initials></Author><Author
        ValidYN="Y"><LastName>Shin</LastName><ForeName>Chang Woo</ForeName><Initials>CW</Initials></Author><Author
        ValidYN="Y"><LastName>Lee</LastName><ForeName>Juhee</ForeName><Initials>J</Initials></Author><Author
        ValidYN="Y"><LastName>Kim</LastName><ForeName>Seong-Soo</ForeName><Initials>SS</Initials></Author><Author
        ValidYN="Y"><LastName>Um</LastName><ForeName>Myung Sup</ForeName><Initials>MS</Initials></Author><Author
        ValidYN="Y"><LastName>Joh</LastName><ForeName>Han-Ik</ForeName><Initials>HI</Initials></Author><Author
        ValidYN="Y"><LastName>Kim</LastName><ForeName>Soo-Kil</ForeName><Initials>SK</Initials></Author><Author
        ValidYN="Y"><LastName>Ha</LastName><ForeName>Heung Yong</ForeName><Initials>HY</Initials></Author></AuthorList><Language>eng</Language><PublicationTypeList><PublicationType
        UI="D016428">Journal Article</PublicationType></PublicationTypeList><ArticleDate
        DateType="Electronic"><Year>2012</Year><Month>03</Month><Day>12</Day></ArticleDate></Article><MedlineJournalInfo><Country>Germany</Country><MedlineTA>Angew
        Chem Int Ed Engl</MedlineTA><NlmUniqueID>0370543</NlmUniqueID><ISSNLinking>1433-7851</ISSNLinking></MedlineJournalInfo></MedlineCitation><PubmedData><History><PubMedPubDate
        PubStatus="received"><Year>2011</Year><Month>11</Month><Day>26</Day></PubMedPubDate><PubMedPubDate
        PubStatus="entrez"><Year>2012</Year><Month>3</Month><Day>14</Day><Hour>6</Hour><Minute>0</Minute></PubMedPubDate><PubMedPubDate
        PubStatus="pubmed"><Year>2012</Year><Month>3</Month><Day>14</Day><Hour>6</Hour><Minute>0</Minute></PubMedPubDate><PubMedPubDate
        PubStatus="medline"><Year>2012</Year><Month>3</Month><Day>14</Day><Hour>6</Hour><Minute>1</Minute></PubMedPubDate></History><PublicationStatus>ppublish</PublicationStatus><ArticleIdList><ArticleId
        IdType="pubmed">22411696</ArticleId><ArticleId IdType="doi">10.1002/anie.201108330</ArticleId></ArticleIdList></PubmedData></PubmedArticle></PubmedArticleSet>'
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      NCBI-PHID:
      - 322C45D975EA9B45000045E0449578F2.1.1.m_3
      NCBI-SID:
      - C342345EFD315BA5_C06FSID
      X-RateLimit-Limit:
      - '10'
      X-RateLimit-Remaining:
      - '9'
    status:
      code: 200
      message: OK
version: 1
