interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hero.epa.gov/hero/ws/index.cfm/api/1.0/search/criteria/5353200,2199697,5920377,5176411,595055/recordsperpage/100.json
  response:
    body:
      string: "{\"results\":[{\"REFERENCE_ID\":5176411,\"ABSTRACT\":\"\",\"url\":\"https://hero.epa.gov/hero/index.cfm/reference/details/reference_id/5176411\",\"hasPDF\":true,\"YEAR\":2018,\"allAuthors\":[\"Akin
        Gump Strauss Hauer & Feld LLP\"],\"HEROID\":5176411,\"id\":\"5176411\",\"referencetype\":[\"technical
        report\"],\"type\":\"reference\",\"pdfURL\":\"https://www.regulations.gov/document?d=epa-hq-oppt-2016-0743-0102\",\"sortYear\":2018,\"PROJECTS\":[],\"firstAuthor\":\"Akin
        Gump Strauss Hauer & Feld LLP\",\"AUTHORS\":\"Akin Gump Strauss Hauer & Feld
        LLP\",\"noPDFAvailable\":false,\"isPeerReviewed\":false,\"code\":\"re\",\"isDeleted\":false,\"REDIRECT_DATA\":{},\"isPublic\":true,\"hasPublicDoc\":false,\"SOURCE\":\"(EPA-HQ-OPPT-2016-0743-0102).\",\"TITLE\":\"Re:
        EPA docket EPA-HQ-OPPT-2016-0743: N-Methyl-2-pyrrolidone (\\\"NMP\\\"), CAS#
        872-50-4 comments regarding the NMP problem formulation document\",\"modified\":\"2022-06-07T04:07:11Z\",\"PMID\":\"\",\"_version_\":1734947458623995904},{\"bookTitle\":\"The
        Merck Index: An Encyclopedia of Chemicals, Drugs, and Biologicals\",\"REFERENCE_ID\":595055,\"ABSTRACT\":\"\",\"url\":\"https://hero.epa.gov/hero/index.cfm/reference/details/reference_id/595055\",\"hasPDF\":true,\"isbn\":\"0911910131\",\"YEAR\":2001,\"allAuthors\":[\"Merck
        & Co., Inc.\",\"O'Neil, MJ; Smith, A; Heckelman, PE; Obenchain, JR, Jr; Gallipeau,
        JAR; D'Arecca, MA; Budavari, S\"],\"HEROID\":595055,\"id\":\"595055\",\"project_key\":[61,299,413,438,1435,1503,1535,1647,1651,1677,1826,1835,1836,1871,1909,2203,2329,2357,2497,2542,2543,2545,2546,2556,2558,2559,2566,2567,2946,2952],\"referencetype\":[\"book/book
        chapter\"],\"type\":\"reference\",\"sortYear\":2001,\"tag_path_text\":[\"IRIS|1,4-Dioxane
        - with inhalation update|Final (2013)\",\"IRIS|1,4-Dioxane - with inhalation
        update|External Review Draft (2011)\",\"IRIS|Benzo(a)pyrene (BaP)|Considered|2011
        IASC draft cited references\",\"IRIS|Benzo(a)pyrene (BaP)|Cited\",\"IRIS|Biphenyl|Considered
        \",\"IRIS|Biphenyl|Excluded References\",\"IRIS|Bromobenzene\",\"IRIS|Chromium
        VI - Archive|Considered References - Box 5|Supporting Studies\",\"IRIS|Cyanobacterial
        Toxins|Cylindro[...]
