interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hero.epa.gov/hero/ws/index.cfm/api/1.0/search/criteria/2/recordsperpage/100.json
  response:
    body:
      string: "{\"results\":[{\"REFERENCE_ID\":2,\"usage_path_key\":[\"13982|10333|13983|10825|13984|10541|13964|10250|10251|10252\",\"10060|10059|13980|7593|7596\"],\"ABSTRACT\":\"HEEP
        \ COPYRIGHT: BIOL ABS.  ABSTRACT SHEEP CANADIAN CHRYSOTILE FIBERS\",\"url\":\"https://hero.epa.gov/hero/index.cfm/reference/details/reference_id/2\",\"hasPDF\":false,\"YEAR\":1981,\"allAuthors\":[\"Begin,
        R; Rola-Pleszczynski, M; Sirois, P; Lemaire, I; Nadeau, D; Bureau, MA; Masse,
        S\"],\"HEROID\":2,\"id\":2,\"project_key\":[42,2539,2540,2541,2533,2488],\"referencetype\":[\"journal
        article\"],\"type\":\"reference\",\"sortYear\":1981,\"tag_path_text\":[\"IRIS|Asbestos\",\"OPPT
        REs|OPPT_Asbestos_C. Engineering|Total \u2013 title/abstract screening|Off
        topic\",\"OPPT REs|OPPT_Asbestos_D. Exposure|Total \u2013 title/abstract screening|Off
        topic\",\"OPPT REs|OPPT_Asbestos_E. Fate|Total \u2013 title/abstract screening|Off
        topic\",\"OPPT REs|OPPT_Asbestos_F. Human Health|Total \u2013 title/abstract
        screening|On topic|Peer review|Primary source\",\"OPPT REs|OPPT_Asbestos_F.
        Human Health|On topic - additional tags for titles/abstracts|Animal hazard
        ID|Asbestosis\",\"Other|Applicability of Libby Amphibole Asbestos Tox Values|Sources
        (Feb 2016)|Toxline\"],\"category_key\":[2,32,18],\"PROJECTS\":[{\"PROJECT\":\"OPPT_Asbestos_F.
        Human Health\",\"PROJECT_ID\":2533,\"USAGES\":[{\"USAGE_ID\":10060,\"USAGE\":\"On
        topic - additional tags for titles/abstracts\",\"USAGES\":[{\"USAGE_ID\":10059,\"USAGE\":\"Animal
        hazard ID\",\"USAGES\":[{\"USAGE_ID\":13980,\"USAGE\":\"Asbestosis\",\"USAGES\":[]}]}]},{\"USAGE_ID\":13964,\"USAGE\":\"Total
        \u2013 title/abstract screening\",\"USAGES\":[{\"USAGE_ID\":10250,\"USAGE\":\"On
        topic\",\"USAGES\":[{\"USAGE_ID\":10251,\"USAGE\":\"Peer review\",\"USAGES\":[{\"USAGE_ID\":10252,\"USAGE\":\"Primary
        source\",\"USAGES\":[]}]}]}]}]},[...]
