interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hero.epa.gov/hero/ws/index.cfm/api/1.0/search/criteria/2199697/recordsperpage/100.json
  response:
    body:
      string: '{"results":[{"REFERENCE_ID":2199697,"ABSTRACT":"HAPAB  Zooplankton
        lipid samples from various stations in the Atlantic Ocean consistently contained
        polychlorinated biphenyls in greater amounts than total DDT.  PCB ratios ranged
        from 4.8 to GT 45,000.  Concentrations of PCBs in zooplankton from the northwest
        Atlantic shelf were similar to those found in fish obtained near Great Gull
        Island in Long Island Sound.  The median concentration was 40 ppm, higher
        concentrations being found in the northern areas of New York and New Jersey
        and in waters less than 1000 fathoms deep.  In the south Atlantic there was
        a pronounced west-east gradient.  The chlorine content of the PCBs detected
        was about 54%, an unexplained finding since the majority of the PCBs produced
        in the U.S.  contains less chlorine.","url":"https://hero.epa.gov/hero/index.cfm/reference/details/reference_id/2199697","hasPDF":false,"YEAR":1972,"allAuthors":["Carmignani
        GM $; Harvey, GR; Miklas, H; Risebrough, RW; Vreeland"],"HEROID":2199697,"id":"2199697","project_key":[384,2932],"referencetype":["technical
        report"],"type":"reference","sortYear":1972,"tag_path_text":["IRIS|PCBs|Excluded","IRIS|PCBs|Litsearches|Remaining","IRIS|PCBs|Litsearches|LitSearch
        August 2015|Toxline","IRIS|PCBs|Considered","Other|PCB Support Projects|PCB
        Commercial Mixture Congener Profiles|Screened (TIAB in SWIFT)|Excluded studies
        (TIAB)"],"category_key":[2,18],"PROJECTS":[{"PROJECT":"PCB Support Projects","PROJECT_ID":2932,"USAGES":[{"USAGE_ID":"29718","USAGE":"PCB
        Commercial Mixture Congener Profiles","USAGES":[{"USAGE_ID":"29950","USAGE":"Screened
        (TIAB in SWIFT)","USAGES":[{"USAGE_ID":"29952","USAGE":"Excluded studies (TIAB)","USAGES":[]}]}]}]},{"PROJECT":"PCBs","PROJECT_ID":384,"USAGES":[{"USAGE_ID":"14699","USAGE":"Excluded","USAGES":[]},{"USAGE_ID":"7109","USAGE":"Litsearches","USAGES":[{"USAGE_ID":"7110","USAGE":"LitSearch
        August 2015","USAGES":[{"USAGE_ID":"7113","USAGE":"Toxline","USAGES":[]}]},{"USAGE_ID":"7127","USAGE":"Remaining","USAGES":[]}]},{"USAGE_ID":"4737","USAGE":"Considered","USAGES":[]}]}],"tag_path_key":["2|384|14699","2|384|7109|7127","2|384|7109|7110|7113","2|384|4737","18|2932|29718|29950|29952"],"firstAuthor":"Carmignani
        GM $","AUTHORS":"Carmignani GM $; Harvey, GR; Miklas, H; Risebrough, RW; Vreeland","noPDFAvailable":false,"tag_path_type":["category|project|usage","category|project|usage|usage","category|project|usage|usage|usage","category|project|usage","category|project|usage|usage|usage"],"isPeerReviewed":false,"code":"re","isDeleted":false,"REDIRECT_DATA":{},"isPublic":true,"hasPublicDoc":false,"SOURCE":"(HAPAB/73/01317).","TITLE":"PCB
        residues in Atlantic zooplankton","modified":"2022-08-10T20:53:52Z","PMID":"","_version_":1740808999740112896}],"isValid":true,"message":"Success","error":""} '
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: retmax=1000&db=pubmed&retmode=xml&api_key=<omitted>&id=10357793
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi
  response:
    body:
      string: '<?xml version="1.0" ?>

        <!DOCTYPE PubmedArticleSet PUBLIC "-//NLM//DTD PubMedArticle, 1st January
        2024//EN" "https://dtd.nlm.nih.gov/ncbi/pubmed/out/pubmed_240101.dtd">

        <PubmedArticleSet>

        <PubmedArticle><MedlineCitation Status="MEDLINE" Owner="NLM"><PMID Version="1">10357793</PMID><DateCompleted><Year>1999</Year><Month>07</Month><Day>22</Day></DateCompleted><DateRevised><Year>2019</Year><Month>05</Month><Day>13</Day></DateRevised><Article
        PubModel="Print"><Journal><ISSN IssnType="Print">0143-3334</ISSN><JournalIssue
        CitedMedium="Print"><Volume>20</Volume><Issue>6</Issue><PubDate><Year>1999</Year><Month>Jun</Month></PubDate></JournalIssue><Title>Carcinogenesis</Title><ISOAbbreviation>Carcinogenesis</ISOAbbreviation></Journal><ArticleTitle>Hepatic
        hyperplasia and cancer in rats: alterations in copper metabolism.</ArticleTitle><Pagination><StartPage>1091</StartPage><EndPage>1096</EndPage><MedlinePgn>1091-6</MedlinePgn></Pagination><Abstract><AbstractText>We
        previously demonstrated that rats exposed to the peroxisome proliferator (PP)
        diethylhexylphthalate (DEHP) had reduced serum ceruloplasmin (CP) oxidase
        activity, which suggests tissue copper deposition. Copper is highly toxic
        in excess, and results in cellular damage and hepatocellular carcinomas (HCC).
        This study addresses changes in expression of copper-related genes and metal
        accumulation in hyperplastic liver and tumors induced by PP. Male r[...]
