{% extends 'epi2/groupcollection_detail.html' %}

{% block title %}
  {{ block.super }} | Delete
{% endblock title %}

{% block breadcrumbs_self %}
  <li><a href="{{object.get_absolute_url}}">{{object}}</a><span class="divider">/</span></li>
  <li class="active">Delete<span class="divider">/</span></li>
{% endblock breadcrumbs_self %}

{% block content %}
  {{ block.super }}
  {% include "hawc/_delete_block.html" with name="group" notes="This will remove all groups, and any results associated with an outcome and these groups." %}
{% endblock content %}
