{% extends 'portal.html' %}

{% load selectable_tags %}
{% load crispy_forms_tags %}

{% block title %}
  {{assessment}} |
  {% if crud == "Create" %}
    {{study_population.study}} | {{study_population}} | Create Outcome
  {% elif crud == "Update" %}
    {{object.study_population.study}} | {{object.study_population}} | Update {{object}}
  {% endif %}
{% endblock title %}

{% block extrastyle %}
  {% include_ui_theme %}
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' pk=assessment.pk %}">
      {{assessment}}</a><span class="divider">/</span></li>
  {% if crud == "Create" %}
    <li><a href="{{study_population.study.get_absolute_url}}">
        {{study_population.study}}</a><span class="divider">/</span></li>
    <li><a href="{{study_population.get_absolute_url}}">
        {{study_population|truncatechars:40}}</a><span class="divider">/</span></li>
    <li class="active">Create Outcome</li>
  {% elif crud == "Update" %}
    <li><a href="{{object.collection.study_population.study.get_absolute_url}}">
        {{object.collection.study_population.study}}</a><span class="divider">/</span></li>
    <li><a href="{{object.collection.study_population.get_absolute_url}}">
        {{object.collection.study_population|truncatechars:40}}</a><span class="divider">/</span></li>
    <li><a href="{{object.collection.get_absolute_url}}">
        {{object.collection}}</a><span class="divider">/</span></li>
    <li><a href="{{object.get_absolute_url}}">
        {{object}}</a><span class="divider">/</span></li>
    <li class="active">Update</li>
  {% endif %}
{% endblock %}

{% block content %}
  <div id="gForm">
    {% crispy form %}
  </div>

  <div id="gnFormset">
    <legend>Groups
        <button class="pull-right btn btn-primary"
                title="Add new group"
                type="button"
                id="addFormToFormset">+</button>
    </legend>
    {% if crud == "Create" %}
      <p class="help-block">
        Groups are associated with each group-collection. The total number of individuals in all groups should equal the total number of individuals in the group-collection.
      </p>
      <p class="help-block">

        For cohort-base studies groups, may be exposure measurements. For example, exposure-group descriptions may be "quartile 1 (≤1.0)", "quartile 2 (1.0-2.5)", etc.
      </p>
      <p class="help-block">
        For case-controls studies, groups may be based on "cases" and "controls", or similar descriptions of different comparable sample populations.
      </p>
    {% endif %}
    {% include "hawc/_formset_table_template.html" with showDeleteRow=True %}
  </div>
{% endblock %}


{% block extrajs %}
  <script type="text/javascript">
    $(document).on('ready', function(){
      new DynamicFormset($('#gnFormset'), 'form', {oneFormRequired: true});
      $('#gnFormset').insertBefore($('#gForm .form-actions'));
    });
  </script>
{% endblock extrajs %}
