{% extends 'portal.html' %}

{% load selectable_tags %}
{% load crispy_forms_tags %}


{% block title %}
  {% include "hawc/siteTitle.html" with crumbs=form.instance.get_crumbs crud=crud %}
{% endblock title %}

{% block extrastyle %}
  {% include_ui_theme %}
{% endblock %}

{% block breadcrumbs %}
  {% include "hawc/breadcrumbs.html" with crumbs=form.instance.get_crumbs crud=crud %}
{% endblock %}

{% block content %}
  {% crispy form %}
{% endblock %}

{% block extrajs %}
  {{ form.media }}
  <script type="text/javascript">
    $(document).ready(function(){
      $('.addIncCriteria').insertAfter($('#id_inclusion_criteria_0'));
      $('.addExcCriteria').insertAfter($('#id_exclusion_criteria_0'));
      $('.addConCriteria').insertAfter($('#id_confounding_criteria_0'));
    });
  </script>
{% endblock extrajs %}
