{% extends 'base.html' %}
{% load percentage %}
{% load humanize %}

{% block main_content %}
  <div class="row">
    <div class="span12">
      <h1>About us</h1>
      <p>
      HAWC is a collaboration of several individuals and organizations who
      create, maintain, and enhance the functionalities of this tool. The lead
      developer of the project is Andy Shapiro, who created the prototype in
      partial fulfillment of the requirements for the degree of Masters of
      Science in Public Health in the Department of Environmental Sciences and
      Engineering at the University of North Carolina at Chapel Hill under
      direction of Dr. Ivan Rusyn.

      Overall guidance on HAWC development is provided by a
      steering committee with representation from the National Toxicology
      Program at the National Institute of Environmental Health Sciences
      (NIEHS/NTP), Texas A&amp;M University, and the National Center for
      Computational Toxicology of the Environmental Protection Agency (EPA/NCCT).
      </p>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <h2>Data in HAWC</h2>
      <p>
        The HAWC database is changing daily as users add more data to assessments.
        Below is a list of the current counts for different types of data captured
        in the database. Note that in most cases, these data are available in
        assessments which may not be publicly accessible (yet):
      </p>
      <ul>
        <li>Registered HAWC users: {{counts.users|intcomma}}</li>
        <li>Assessments (public and private): {{counts.assessments|intcomma}}</li>
        <li>References imported or found from searches: {{counts.references|intcomma}}</li>
        <li>Number of tags applied to references: {{counts.tags|intcomma}}</li>
        <li>Tagged references: {{counts.references_tagged|intcomma}} ({{counts.references_tagged_percent|percentage}})</li>
        <li>Studies with data extracted: {{counts.studies|intcomma}}</li>
        <li>Assessments with studies: {{counts.assessments_with_studies|intcomma}} ({{counts.assessments_with_studies_percent|percentage}})</li>
        <li>Risk of bias scores: {{counts.rob_scores|intcomma}}</li>
        <li>Studies with risk of bias: {{counts.studies_with_rob|intcomma}} ({{counts.studies_with_rob_percent|percentage}})</li>
        <li>Animal bioassay endpoints: {{counts.endpoints|intcomma}}</li>
        <li>Animal bioassay endpoints with data extracted: {{counts.endpoints_with_data|intcomma}} ({{counts.endpoints_with_data_percent|percentage}})</li>
        <li>Epidemiology outcomes: {{counts.outcomes|intcomma}}</li>
        <li>Epidemiology results with data: {{counts.results_with_data|intcomma}} ({{counts.results_with_data_percent|percentage}})</li>
        <li>In vitro endpoints: {{counts.iv_endpoints|intcomma}}</li>
        <li>In vitro endpoints with data: {{counts.iv_endpoints_with_data|intcomma}} ({{counts.iv_endpoints_with_data_percent|percentage}})</li>
        <li>Visualizations: {{counts.visuals|intcomma}}</li>
        <li>Assessments with visuals: {{counts.assessments_with_visuals|intcomma}} ({{counts.assessments_with_visuals_percent|percentage}})</li>
      </ul>
      <p><i>Last updated: </i>{{counts.updated}}</p>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <h2>How to use HAWC</h2>
      <h3>Full length tutorial</h3>
      <div class="videoTab">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/hhQh-mNTmqY" frameborder="0" allowfullscreen></iframe>
      </div>
      <hr>
      <h3>Individual component guides</h3>
      <div>
          <div class="row-fluid">
              <ul class="nav nav-tabs" id="tabs">
                  <li class='active'><a href="#started" data-toggle="tab">Getting Started</a></li>
                  <li><a href="#importing" data-toggle="tab">Importing literature</a></li>
                  <li><a href="#mgmt" data-toggle="tab">Management dashboard</a></li>
                  <li><a href="#epiExtraction" data-toggle="tab">Epidemiology data extraction</a></li>
                  <li><a href="#aniExtraction" data-toggle="tab">Animal bioassay data extraction</a></li>
                  <li><a href="#epiMetaExtraction" data-toggle="tab">Epidemiology meta analysis</a></li>
                  <li><a href="#invitroExtraction" data-toggle="tab">In vitro data extraction</a></li>
                  <li><a href="#dataCleanup" data-toggle="tab">Data cleanup</a></li>
                  <li><a href="#rob" data-toggle="tab">Risk of bias assessment</a></li>
                  <li><a href="#viz" data-toggle="tab">Creating visualizations</a></li>
              </ul>
          </div>

          <div class="tab-content">
              <div id="started" class="videoTab tab-pane active">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/DSXFTtylrQU" frameborder="0" allowfullscreen></iframe>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/-XsmG38lvps" frameborder="0" allowfullscreen></iframe>
              </div>
              <div id="importing" class="videoTab tab-pane">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/VIgstH82cL0" frameborder="0" allowfullscreen></iframe>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/8Nsz7SbFzKY" frameborder="0" allowfullscreen></iframe>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/XaK4K_U6zHs" frameborder="0" allowfullscreen></iframe>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/FRbzuP4ap3Y" frameborder="0" allowfullscreen></iframe>
              </div>
              <div id="mgmt" class="videoTab tab-pane">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/NUbO1Omk7lY" frameborder="0" allowfullscreen></iframe>
              </div>
              <div id="epiExtraction" class="videoTab tab-pane">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/wLhNNJSTbrc" frameborder="0" allowfullscreen></iframe>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/nlJwlQC1m90" frameborder="0" allowfullscreen></iframe>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/JsCZvQNj_f8" frameborder="0" allowfullscreen></iframe>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/RWFRwZlJ6dE" frameborder="0" allowfullscreen></iframe>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/E4otdcz0vig" frameborder="0" allowfullscreen></iframe>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/nFg7U7dnW7k" frameborder="0" allowfullscreen></iframe>
              </div>
              <div id="aniExtraction" class="videoTab tab-pane">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/-KGvknhYOF0" frameborder="0" allowfullscreen></iframe>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/ghmJyW30t9g" frameborder="0" allowfullscreen></iframe>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/4I4PAR0_DYU" frameborder="0" allowfullscreen></iframe>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/zYXtronkqLs" frameborder="0" allowfullscreen></iframe>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/ipvn8yvwQaI" frameborder="0" allowfullscreen></iframe>
              </div>
              <div id="epiMetaExtraction" class="videoTab tab-pane">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/Gq9ma8g5SZw" frameborder="0" allowfullscreen></iframe>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/xtknRt_A0D0" frameborder="0" allowfullscreen></iframe>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/oe8G2C1GkRQ" frameborder="0" allowfullscreen></iframe>
              </div>
              <div id="invitroExtraction" class="videoTab tab-pane">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/UrdL1eQpEfM" frameborder="0" allowfullscreen></iframe>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/MH0OwTuFVBE" frameborder="0" allowfullscreen></iframe>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/AjkYq2TI8nU" frameborder="0" allowfullscreen></iframe>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/8ZyHAfD6ZKc" frameborder="0" allowfullscreen></iframe>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/ZTTMjVEcauc" frameborder="0" allowfullscreen></iframe>
              </div>
              <div id="dataCleanup" class="videoTab tab-pane">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/KCw8BN95oE8" frameborder="0" allowfullscreen></iframe>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/KLQGKnvsTbk" frameborder="0" allowfullscreen></iframe>
              </div>
              <div id="rob" class="videoTab tab-pane">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/ER8kV_aBuHg" frameborder="0" allowfullscreen></iframe>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/5zowthB0410" frameborder="0" allowfullscreen></iframe>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/jf10UXmz9lA" frameborder="0" allowfullscreen></iframe>
              </div>
              <div id="viz" class="videoTab tab-pane">
                  <h4>Data pivots</h4>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/IgoR-V2OIUQ" frameborder="0" allowfullscreen></iframe>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/ScYZ7uFX03Y" frameborder="0" allowfullscreen></iframe>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/FtZqIpL1e7I" frameborder="0" allowfullscreen></iframe>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/cQDDfPQNbds" frameborder="0" allowfullscreen></iframe>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/8DYKepT_vRQ" frameborder="0" allowfullscreen></iframe>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/UGvliF403wc" frameborder="0" allowfullscreen></iframe>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/1HcKniPlu7o" frameborder="0" allowfullscreen></iframe>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/F9T2Nwdq7eU" frameborder="0" allowfullscreen></iframe>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/HkwRAP4yNBs" frameborder="0" allowfullscreen></iframe>

                  <h4>Risk of bias</h4>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/m_7n8Da3wbo" frameborder="0" allowfullscreen></iframe>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/_GSO6MMTMC0" frameborder="0" allowfullscreen></iframe>

                  <h4>Animal bioassay crossviews</h4>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/rE35k69KJT8" frameborder="0" allowfullscreen></iframe>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/gcK3FURyim4" frameborder="0" allowfullscreen></iframe>
              </div>
          </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <h2>Posters and presentations</h2>
      <table class="table table-compressed table-striped">
        <colgroup>
          <col style="width:50%">
          <col style="width:25%">
          <col style="width:25%">
        </colgroup>
        <thead>
          <tr>
            <th>Presentation title</th>
            <th>Audience</th>
            <th>Link (and format)</th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <td>
            HAWC: current capabilities and uses at the US National
            Toxicology Program (NIH/NIEHS/NTP)
            </td>
            <td>2015 National Toxicology Program (NTP) Board of Scientific Counselors</td>
            <td><a href="{{STATIC_URL}}docs/posters/2015_HAWC_BSC.pdf">Slides
              <img class="ff" src="{{STATIC_URL}}/img/pdf_icon.png"
                 alt="PDF file-format"></a></td>
          </tr>

          <tr>
            <td>
            HAWC: A Modular Web-based Interface to Facilitate Development of
            Human Health Assessments of Chemicals
            </td>
            <td>2014 Society of Toxicology (SOT)</td>
            <td><a href="{{STATIC_URL}}docs/posters/2014_HAWC_SOT_final.pdf">Poster
              <img class="ff" src="{{STATIC_URL}}/img/pdf_icon.png"
                 alt="PDF file-format"></a></td>
          </tr>

          <tr>
            <td>
            HAWC presentation overview and tutorial of key functionality
            including literature search, animal bioassay data extraction,
            and BMD modeling.
            </td>
            <td>2014 Webinar</td>
            <td>
              <a href="{{STATIC_URL}}docs/posters/2014_HAWC_Webinar.pdf">Slides
                <img class="ff" src="{{STATIC_URL}}/img/pdf_icon.png"
                   alt="PDF file-format"></a><br>
              <a href="https://www.youtube.com/watch?v=hhQh-mNTmqY"
                 title="YouTube hyperlink">Video
                <img class="ff ytb" src="{{STATIC_URL}}/img/youtube_icon.png"
                 alt="YouTube hyperlink"></a>
            </td>
          </tr>

          <tr>
            <td>
            HAWC: A Modular Web-based Interface to Facilitate Development of
            Human Health Assessments of Chemicals
            </td>
            <td>2013 OpenTox USA</td>
            <td><a href="{{STATIC_URL}}docs/posters/2013_HAWC_OpenTox_final.pdf">Poster
              <img class="ff" src="{{STATIC_URL}}/img/pdf_icon.png"
                   alt="PDF file-format"></a></td>
          </tr>

          <tr>
            <td>
            Web-based Benchmark Dose Modeling Module as a Prototype
            Component of an Informatics-based System for Human Health
            Assessments of Chemicals
            </td>
            <td>2013 Society of Toxicology (SOT)</td>
            <td><a href="{{STATIC_URL}}docs/posters/2013_HAWC_SOT_final.pdf">Poster
              <img class="ff" src="{{STATIC_URL}}/img/pdf_icon.png"
                   alt="PDF file-format"></a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="span12">
      <h2>Latest updates</h2>

      <p>
        <strong>Current version: </strong><a href="{{COMMIT_URL}}">{{GIT_COMMIT}}</a>
      </p>
    </div>
    <div class="span12">
        <h2>License</h2>
        <ul>
          <li>HAWC is <a href="https://github.com/shapiromatron/hawc">open-source</a> software.</li>
          <li>It is free to create an account to use the software.</li>
          <li>It is free to download, edit, and modify the source code, so long
              as the resulting project is not sold for profit.</li>
          <li>The <a href="#license_modal" data-toggle="modal">full license</a>
              is available.</li>
        </ul>
        {% include "hawc_license.html" %}
    </div>
    <div class="span12">
      <h2>Citation</h2>

      If you find HAWC useful in your work, a citation is always appreciated. To cite HAWC in publications, use:

      <pre><i>HAWC: Health Assessment Workplace Collaborative</i> [Computer software]. (2013).<br>URL: https://hawcproject.org. [Month, year of date use].</pre>
    </div>
    <div class="span12">
        <h2>Acknowledgments</h2>
        <p>
          This project is supported, in part, by funding
          from the following sources:
        </p>
        <ul>
          <li>National Toxicology Program (NIEHS/NTP)</li>
          <li>Texas A&amp;M University</li>
          <li>EPA grants STAR RD83574701 and STAR RD83516601</li>
          <li>NIH grant P42 ES005948</li>
          <li>The International Agency for Research on Cancer (WHO/IARC)</li>
        </ul>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <ul class="sponsors">
        <li><a href="http://ntp.niehs.nih.gov">
          <img src="{{STATIC_URL}}img/ntplogo.jpg"></a></li>

        <li><a href="http://vetmed.tamu.edu">
            <img src="{{STATIC_URL}}img/am-150.png"
                 style="margin-top: 15px; max-width: 240px;"></a></li>

        <li><a href="http://cfpub.epa.gov/ncer_abstracts/index.cfm/fuseaction/recipients.welcome/displayOption/grants">
          <img src="{{STATIC_URL}}img/epa-star-75.png"></a></li>

        <li><a href="http://monographs.iarc.fr/">
          <img src="{{STATIC_URL}}img/logoiarc.gif"
               style="margin-top: 5px; max-width: 250px;"></a></li>
      </ul>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="span12">
      <p><i>
        The contents of HAWC are solely the responsibility of the users and
        developers, and do not necessarily represent the official views of
        EPA, NIH, NTP, or WHO. Further, EPA, NIH, NTP, and WHO do not endorse the
        purchase or use of any commercial or open-source products or services
        that were used in the development of HAWC.
      </i></p>
    </div>
  </div>
{% endblock %}
