{% extends 'hawc/home.html' %}

{% load add_class %}

{% block main_content %}
  <div class="row-fluid">
    <form class="span8 offset2 form-horizontal" action="." method="post">

      {% csrf_token %}

      <fieldset>
        <legend>Contact HAWC developers</legend>
        <span class="help-block">Got a question? Use this form to contact the
          HAWC providers and developers.</span><br>

        {{ form.non_field_errors|add_class:"alert alert-error" }}

        {% for field in form %}
          <div class="control-group form-row">
            {{field.label_tag|add_class:"control-label"}}
            <div class="controls">
              {{field}}
              <span class='help-inline'>{{field.help_text}}</span>
            </div>
            {{field.errors|add_class:"alert alert-error"}}
          </div>
        {% endfor %}
      </fieldset>

      <div class="row-fluid">
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>

    </form>
  </div>

{% endblock %}

