{% extends 'hawc/home.html' %}

{% block main_content %}

  <div class="row-fluid">
    <div class="span10 offset1">
      <h2>Posters and presentations</h2>
      <table class="table table-compressed table-hover">
        <colgroup>
          <col style="width:15%"></col>
          <col style="width:15%"></col>
          <col style="width:60%"></col>
          <col style="width:10%"></col>
        </colgroup>
        <thead>
          <tr>
            <th>Date</th>
            <th>Conference</th>
            <th>Title</th>
            <th>Download</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>March 2013</td>
            <td>Society of Toxicology (SOT)</td>
            <td>Web-based Benchmark Dose Modeling Module as a Prototype Component of an Informatics-based System for Human Health Assessments of Chemicals</td>
            <td><a href="{{STATIC_URL}}docs/posters/2013_HAWC_SOT_final.pdf">Link</a></td>
          </tr>
          <tr>
            <td>October 2013</td>
            <td>OpenTox USA</td>
            <td>HAWC (Health Assessment Workspace Collaborative): A Modular Web-based Interface to Facilitate Development of Human Health Assessments of Chemicals</td>
            <td><a href="{{STATIC_URL}}docs/posters/2013_HAWC_OpenTox_final.pdf">Link</a></td>
          </tr>
          <tr>
            <td>January 2014</td>
            <td>Webinar</td>
            <td>HAWC presentation overview and tutorial of key functionality including literature search, animal bioassay data extraction, and BMD modeling.</td>
            <td>
              <a href="{{STATIC_URL}}docs/posters/2014_HAWC_Webinar.pdf">Slides</a><br>
              <a href="http://www.youtube.com/watch?v=taqB_DlWdq8">Video</a>
            </td>
          </tr>
          <tr>
            <td>March 2014</td>
            <td>Society of Toxicology (SOT)</td>
            <td>HAWC (Health Assessment Workspace Collaborative): A Modular Web-based Interface to Facilitate Development of Human Health Assessments of Chemicals</td>
            <td><a href="{{STATIC_URL}}docs/posters/2014_HAWC_SOT_final.pdf">Link</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span10 offset1">
      <h2>HAWC Updates</h2>
      <a href="{% url 'change_log' %}">View list of changes</a>
    </div>
  </div>

  <div class="row-fluid">
     <div class="span10 offset1">
        <h2>License</h2>
        <a href="#license_modal" data-toggle="modal">Click to View</a>
        {% include "hawc_license.html" %}
    </div>
  </div>

{% endblock %}

