{% extends 'portal.html' %}
{% load static %}

{% block title %}
  {{assessment}} | Visualizations  | {{object}} | HAWC
{% endblock title %}

{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' pk=assessment.pk %}">{{ assessment }}</a><span class="divider">/</span></li>
  <li><a href="{% url 'summary:visualization_list' assessment.pk %}">Visualizations</a><span class="divider">/</span></li>
  {% if crud == "Read" %}
    <li class="active">{{object}}<span class="divider">/</span></li>
  {% else %}
    <!-- Update or delete -->
    <li><a href="{{object.get_absolute_url}}">{{object}}</a><span class="divider">/</span></li>
    <li class="active">{{crud}}<span class="divider">/</span></li>
  {% endif %}
{% endblock %}

{% block content %}

  <h1>{{object}}

    <div class="btn-group pull-right">
      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
          <li><a href="{% if object.datapivotquery %}{{object.get_download_url|safe}}
                       {% else %}{{MEDIA_URL}}{{object.datapivotupload.file}}{% endif %}">Download data file</a></li>
        {% if obj_perms.edit %}
          <li class="divider"></li>
          <li><a href="{% url 'summary:dp_update' assessment.pk object.slug %}">Edit display settings</a></li>
          <li><a href="{% if object.datapivotquery %}{% url 'summary:dp_query-update' assessment.pk object.slug %}
                       {% else %}{% url 'summary:dp_file-update' assessment.pk object.slug %}{% endif %}">Edit other settings</a></li>
          <li><a href="{% url 'summary:dp_delete' assessment.pk object.slug %}">Delete Pivot</a></li>
        {% endif %}
      </ul>
    </div>
  </h1>

  {% block dp_content %}

    <div id="dp_display"></div>

    <div id="loading_div">
      <p>Fetching the latest data from {{assessment}}... <img src="{% static 'img/loading.gif' %}"></p>
    </div>

    <div id="caption">{{object.caption|safe}}</div>


  {% endblock dp_content %}

{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
    window.app.dataPivotStartup(function(dataPivot){
      dataPivot.DataPivot.get_object({{object.id}}, function(dp){
        $('#loading_div').fadeOut(function(){
          dp.build_data_pivot_vis($('#dp_display'));
        });
      });
      window.app.smartTagsStartup(function(smartTags){
          new smartTags.SmartTagContainer($('#caption'), {showOnStartup: true});
      })
    });
  </script>
{% endblock %}
