{% extends 'portal.html' %}

{% load selectable_tags %}

{% block extrastyle %}
  {% include_ui_theme %}
{% endblock %}


{% block title %}{{assessment}} | Visualizations | {{crud}} {% endblock title %}


{% block breadcrumbs %}
  <li><a href="{{assessment.get_absolute_url}}">{{assessment}}</a><span class="divider">/</span></li>
  <li><a href="{% url 'summary:visualization_list' assessment.pk %}">Visualizations</a><span class="divider">/</span></li>
  {% if crud == "Update" %}
    <li><a href="{{object.get_absolute_url}}">{{object}}</a><span class="divider">/</span></li>
  {% endif %}
  <li class="active">{{crud}}<span class="divider">/</span></li>
{% endblock %}


{% block content %}

    <div id="formMount"></div>
{% include "summary/_smartTagEditModal.html" with form=smart_tag_form only %}

{% endblock %}


{% block extrajs %}
  {{ smart_tag_form.media }}
  <script id="config" type="text/json" charset="utf-8">
      {
          "csrf": "{{csrf_token}}",
          "url": "{% url 'summary:visualization_create_tester' assessment.id visual_type %}",
          "instance": {{object.get_json|safe}},
          "dose_units": {{object.get_dose_units|safe}},
          "endpointUrl": "{% url 'selectable-lookup' 'animal-endpointidbyassessmentlookup' %}"
      }
  </script>  <script type="text/javascript">
    window.app.summaryFormsStartup(function(summaryForms){

      {% if crud == "Create" %}
        $('#id_title').on('keyup', function(){
          $('#id_slug').val(URLify($(this).val(), 50));
        });
      {% endif %}

      window.rob_metrics = {{rob_metrics|safe}};
      summaryForms.VisualForm.create({{visual_type}}, document.getElementById('formMount'));

      window.app.smartTagsStartup(function(smartTags){
          new smartTags.SmartTagEditor($('#id_caption'), {submitEl: '#visualForm'});
      })
    });
  </script>
{% endblock %}
