version: 2

updates:

  - package-ecosystem: pip
    directory: /
    schedule:
      interval: monthly
    cooldown:
      default-days: 7
    groups:
      actions-deps:
        patterns:
          - "*"

  - package-ecosystem: npm
    directory: frontend
    schedule:
      interval: monthly
    cooldown:
      default-days: 7
    groups:
      js-deps:
        patterns:
          - "*"

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    cooldown:
      default-days: 7
    groups:
      py-deps:
        patterns:
          - "*"
