version: 2

updates:

  - package-ecosystem: pip
    directory: /
    schedule:
      interval: monthly
    cooldown:
      default-days: 7
    groups:
      py-deps:
        patterns:
          - "*"

  - package-ecosystem: npm
    directory: frontend
    schedule:
      interval: monthly
    cooldown:
      default-days: 7
    groups:
      js-deps:
        patterns:
          - "*"
    ignore:
      - dependency-name: "mobx-react"
        update-types: ["version-update:semver-major"]
      - dependency-name: "react"
        update-types: ["version-update:semver-major"]
      - dependency-name: "@types/react"
        update-types: ["version-update:semver-major"]
      - dependency-name: "react-dom"
        update-types: ["version-update:semver-major"]

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    cooldown:
      default-days: 7
    groups:
      actions-deps:
        patterns:
          - "*"
