{
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-transform-class-properties",
      {
        "loose": true
      }
    ]
  ],
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env"
  ]
}
