{
    "rules": {
        "linebreak-style": 0,
        "no-await-in-loop": 1,
        "no-console": [
            2,
            {
                "allow": [
                    "warn",
                    "error"
                ]
            }
        ],
        "no-unused-vars": [
            2,
            {
                "args": "none"
            }
        ],
        "prettier/prettier": "error",
        "simple-import-sort/imports": "error",
        "simple-import-sort/exports": "error"
    },
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "ecmaVersion": 2021,
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "es2021": true,
        "jest": true,
        "jquery": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:prettier/recommended"
    ],
    "plugins": [
        "react",
        "prettier",
        "simple-import-sort"
    ],
    "settings": {
        "react": {
            "version": "16.14"
        }
    }
}
