{
    "rules": {
        "generator-star-spacing": 1,
        "linebreak-style": 0,
        "no-await-in-loop": 1,
        "no-console": [
            2,
            {
                "allow": [
                    "warn",
                    "error"
                ]
            }
        ],
        "no-sparse-arrays": 2,
        "no-unused-vars": [
            2,
            {
                "args": "none"
            }
        ],
        "object-shorthand": 1,
        "prettier/prettier": "error",
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "react/no-deprecated": 2,
        "react/no-string-refs": 2,
        "react/prop-types": 2,
        "react/react-in-jsx-scope": 2,
        "space-before-function-paren": [
            2,
            "never"
        ],
        "simple-import-sort/imports": "error",
        "simple-import-sort/exports": "error"
    },
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "ecmaVersion": 9,
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "es6": true,
        "jest": true,
        "jquery": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "prettier"
    ],
    "plugins": [
        "react",
        "prettier",
        "simple-import-sort"
    ],
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}
