{% csrf_token %}
<div class="d-flex ml-auto align-self-start align-items-center alert alert-danger mb-0 flex-shrink-0">
  <i class="fa fa-fw fa-exclamation-triangle"></i>&nbsp;Are you sure you want to delete?
  <div class="d-flex pl-2">
    <button
      class="btn btn-sm btn-danger ml-auto flex-shrink-0 align-self-start" id="type-delete"
      hx-post="{{ object.get_delete_url }}"> <i class="fa fa-fw fa-trash"></i>&nbsp;Delete</button>
    <button class="btn btn-sm btn-light ml-2" hx-get="{{ object.get_edit_url }}">Cancel</button>
  </div>
</div>
