<tr class="task-row" hx-target="this" hx-swap="outerHTML">
  <td>
    <span>{{ object.name }}</span>
  </td>
  <td>
    {{object.order|default:"---"}}
  </td>
  <td>
    <i class="fa fa-circle" style="color: {{object.color}};"></i>
  </td>
  <td>
    {{object.terminal_status}}
  </td>
  <td>
    {{object.description|default:"---"}}
  </td>
  <td>
    <div class="d-flex">
      <button class="btn btn-primary ml-auto" hx-post="{% url 'mgmt:task-status-htmx' object.pk 'down' %}" hx-target="#status-rows" hx-swap="outerHTML">
        <i title="Switch order up" class="fa fa-arrow-down" aria-hidden="true"></i>
      </button>
      <button class="btn btn-primary ml-2" hx-post="{% url 'mgmt:task-status-htmx' object.pk 'up' %}" hx-target="#status-rows" hx-swap="outerHTML">
        <i title="Switch order up" class="fa fa-arrow-up" aria-hidden="true"></i>
      </button>
      <button class="btn btn-light ml-auto" hx-get="{% url 'mgmt:task-status-htmx' object.pk 'update' %}">
        <i title="Edit this task" class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </button>
    </div>
  </td>
</tr>

