{% if fmt == "td" %}
  <td id="task-{{object.id}}" hx-target="this" hx-swap="outerHTML">
    {% include "mgmt/fragments/_task_form.html" with fmt=fmt %}
  </td>
{% elif fmt == "tr" %}
  <tr hx-target="this" hx-swap="outerHTML">
    <td>
      <a href="{{ object.study.get_absolute_url }}">{{ object.study }}</a>
      <br>
      <b>Date created: </b>
      <span>{{ object.study.created|date:"SHORT_DATE_FORMAT" }}</span>
    </td>
    <td>
      <span>{{ object.get_type_display|capfirst }}</span>
    </td>
    <td colspan="3">
      {% include "mgmt/fragments/_task_form.html" with fmt=fmt %}
    </td>
  </tr>
{% else %}
  {% alert danger %}Unknown format: "{{fmt}}"{% endalert %}
{% endif %}
