<td id="task-{{ object.id }}" hx-target="this" hx-swap="outerHTML">
  <div class="row">
    <div class="col-auto">
      <div>
        <b>Status: </b>
        <i class="fa fa-circle mgmt-circle s{{ object.status }}"></i>{{ object.get_status_display|capfirst }}
      </div>
      <div>
        <b>Owner: </b>
        <span>{{ object.owner }}</span>
      </div>
      <div>
        <b>Task: </b>
        <span>{{ object.get_type_display|capfirst }}</span>
      </div>

      {% if object.due_date %}
        <div>
          <b>Due date: </b>
          <span>{{ object.due_date|date:"SHORT_DATE_FORMAT" }}</span>
        </div>
      {% endif %}

    </div>
    <div class="col-md">
      <a class="btn btn-light"
         href="#"
         hx-get="{% url 'mgmt:task-update' object.pk %}"><i title="Edit this task"
                                                         class="fa fa-pencil-square-o"
                                                         aria-hidden="true"></i></a>
    </div>
  </div>
</td>
