{% extends 'base.html' %}

{% load i18n %}
{% load url from future %}
{% load add_class %}

{% block title %}
  Login | HAWC
{% endblock %}

{% block main_content %}

  <div class='row-fluid'>
    <div class="span8 offset2">
      <form class="loginForm" method="post">
        {% csrf_token %}
        <fieldset>
          <legend>HAWC login</legend>

            {% for field in form %}
              <div class="control-group form-row">
                {{field.label_tag|add_class:"control-label"}}
                <div class="controls">
                  {{field}}<br>
                  {% if field.errors %}
                    <div class="alert alert-error">
                    {% for err in field.errors %}{{err}}{% endfor %}
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endfor %}

            {% if form.non_field_errors %}
              <div class="alert alert-error">
              {% for err in form.non_field_errors %}{{err}}{% endfor %}
              </div>
            {% endif %}

          <div class="form-actions control-group submit-row">
            <button type="submit" class="btn btn-primary">Sign in</button>
            <a class="btn" href="{% url 'home' %}">Cancel</a>
            <br><br>
            <a href="{% url 'user:reset_password' %}">Forgot your password?</a><br>
            <a href="{% url 'user:new' %}">Create an account</a>
          </div>

        </fieldset>
      </form>
    </div>


  </div>
{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
    document.getElementById('id_username').focus();
  </script>
{% endblock %}
