{% extends "base.html" %}

{% block title %}Password reset{% endblock %}

{% block main_content %}


<div class='row-fluid'>
    <div class="span8 offset2">

        {% if validlink %}

              <form class="loginForm" method="post">
                {% csrf_token %}

                <legend>Password reset</legend>
                <p class='help-block'>Please enter a new password for your account.</p><br>

                <p><label for="id_new_password1">New password:</label>{{ form.new_password1 }}</p>
                {% if form.new_password1.errors %}
                    <div class="alert alert-error">{{form.new_password1.errors}}</div>
                {% endif %}

                <p><label for="id_new_password2">Confirm password:</label>{{ form.new_password2 }}</p>
                {% if form.new_password2.errors %}
                    <div class="alert alert-error">{{form.new_password2.errors}}</div>
                {% endif %}

                <div class="form-actions">
                    <button class='btn btn-primary'>Change password</button>
                    <a href='{% url 'user:login' %}' class='btn'>Cancel</a>
                </div>

            </form>

        {% else %}

            <h1>Password reset unsuccessful</h1>

            <p>
            The password reset link was invalid. There link may be invalid for
            one of the following reasons:
            <ul>
                <li>The link may already have been used</li>
                <li>The link may be expired (expires after 72 hours)</li>
            </ul>

            Please <a href="{% url 'user:reset_password' %}">request</a> a new
            link, or <a href="{% url 'contact' %}">contact-us</a> for
            help.
            </p>

        {% endif %}

    </div>
</div>

{% endblock %}
