{% extends "base.html" %}

{% block title %}Password reset{% endblock %}

{% block main_content %}

    <form action="" method="post">
        {% csrf_token %}

        <legend>Password reset</legend>

        <p class='help-block'>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p><br>

        <p><label for="id_email">Email address:</label> {{ form.email }}</p>

        {% if form.email.errors %}
            <div class="alert alert-error">{{form.email.errors}}</div>
        {% endif %}

        <input class='btn btn-primary' type="submit" value="Reset my password" />

    </form>

{% endblock %}
