{% extends "base.html" %}

{% block title %}Password reset{% endblock %}

{% block main_content %}

<div class='row-fluid'>
    <div class="span8 offset2">

        <h1>Password reset email sent</h1>

        <p>
        We've emailed you instructions for setting your password to the email
        address you submitted. You should be receiving it shortly.
        </p>

        <p>
        While you're waiting, take a look at the latest
        <ul>
            <li><a href="{% url 'assessment:public_list' %}">public assessments</a>,</li>
            <li>or <a href="{% url 'about' %}">general information</a> about HAWC.</li>
        </ul>
        </p>

        <p>
        Thank you for your patience!
        </p>

    </div>
</div>
{% endblock %}
