{% extends "base.html" %}

{% load add_class %}


{% block title %}Password reset{% endblock %}

{% block main_content %}

  <div class='row-fluid'>
    <div class="span8 offset2">
      <form class="loginForm" method="post">
        <fieldset>
            <legend>Password reset</legend>
            <p class='help-block'>
            Enter your email address below, and we'll email instructions for
            setting a new password.
            </p>

            {{ form.non_field_errors|add_class:"alert alert-error" }}

            {% for field in form %}
                <div class="control-group form-row">
                    {{field.label_tag|add_class:"control-label"}}
                    <div class="controls">
                        {{field}}<br>
                        <span class='help-inline'>{{field.help_text}}</span>
                    </div>
                    {{field.errors|add_class:"alert alert-error"}}
                </div>
            {% endfor %}

            <div class="form-actions">
                <button class='btn btn-primary'>Send email-confirmation</button>
                <a href='{% url 'user:login' %}' class='btn'>Cancel</a>
            </div>

            {% csrf_token %}

        </fieldset>
    </form>
    </div>
    </div>

{% endblock %}
