{% extends "base.html" %}

{% block title %}Password reset{% endblock %}

{% block main_content %}

    {% if validlink %}

        <form action="" method="post">
            {% csrf_token %}

            <legend>Password reset</legend>

            <p class='help-block'>Please enter a new password for your account.</p><br>

            <p><label for="id_new_password1">New password:</label>{{ form.new_password1 }}</p>
            {% if form.new_password1.errors %}
                <div class="alert alert-error">{{form.new_password1.errors}}</div>
            {% endif %}

            <p><label for="id_new_password2">Confirm password:</label>{{ form.new_password2 }}</p>
            {% if form.new_password2.errors %}
                <div class="alert alert-error">{{form.new_password2.errors}}</div>
            {% endif %}

            <input class='btn btn-primary' type="submit" value="Change and reset my password" />

        </form>

    {% else %}

        <h1>Password reset unsuccessful</h1>

        <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset <a href="{% url 'user:reset_password' %}">here</a>.</p>

    {% endif %}

{% endblock %}
