
# files
*.db
*~
*.log
*.py[cod]
*.pid
*.sh
*.sql
.env
.gitcommit
bin/*local.sh
project/hawc/settings/local.py
project/static/css/hawc_d3_aggregated.css
project/celerybeat*

# folders
__pycache__
.idea/*
.ipynb_checkpoints
data
docs/_build
env
public/static
public/media
venv
.vagrant
hawc-venv/*

# javascript
node_modules
webpack-stats.json
.happypack/

project/static/bundles/*
!project/static/bundles/.gitkeep

compose/nginx/ssl/*
!compose/nginx/ssl/.gitkeep

compose/nginx/conf/*
!compose/nginx/conf/.gitkeep

compose/django/fonts/*
!compose/django/fonts/.gitkeep

notebooks/*.ipynb
!notebooks/example.ipynb

.DS_Store

project/hawc/settings/base.py
requirements/base.txt
project/extract/models.py
project/extract/urls.py
project/extract/views.py
