# file extensions
*.db
*.log
*.pid
*.py[cod]
*~

# files
.env
.eslintcache
.gitcommit
.pytest_cache
bin/dev.local.sh
package-lock.json
celerybeat*
compose/nginx/conf/nginx.conf
hawc/main/settings/local.py
webpack-stats.json

# folders
*.egg-info/
__pycache__/
.idea/
.ipynb_checkpoints/
.mypy_cache/
.vscode/
_build/
build/
/data/
dist/
node_modules/
public/
venv/

# javascript
webpack-stats.json
package-lock.json

# keep folders; not contents
hawc/static/bundles/
!hawc/static/bundles/.gitkeep

compose/django/fonts/*
!compose/django/fonts/.gitkeep
