# file extensions
*.db
*.log
*.pid
*.py[cod]
*~

# files
.Rhistory
.Rproj.user
.coverage
.env
.eslintcache
.pytest_cache
bin/dev.local.sh
celerybeat*
hawc/gitcommit.json
hawc/main/settings/local.py
package-lock.json
uv.lock

# folders
*.egg-info/
.cache/
.idea/
.ipynb_checkpoints/
.mypy_cache/
.ruff_cache/
.venv/
.vscode/
/data/
docs/site
__pycache__/
_build/
build/
coverage_html/
dist/
node_modules/
private/
public/
scripts/private
venv/

# keep folders; not contents
hawc/static/bundles/*
!hawc/static/bundles/.gitkeep
summary-migration-*.csv
