{% extends 'base.html' %}

{% block title %}
    {% include "includes/title.html" %}
{% endblock title %}

{% block sidebar_outer %}
<div id="sidebar-container" class="sidebar {{request.session.hideSidebar|yesno:'sidebar-collapsed, '}}"
    data-collapsed="{{request.session.hideSidebar|yesno:"true,false"}}" data-url="{% url 'update_session' %}">

    <a class="nav-link text-center text-light" href="#" id="toggle-sidebar" title="expand/collapse the sidebar">
        <i class="fa fa-2x {{request.session.hideSidebar|yesno:'fa-angle-double-right,fa-angle-double-left'}}"></i>
    </a>

    <div class="sidebar-link-holder dropdown {{request.session.hideSidebar|yesno:' ,hidden'}}">
        <button class="btn text-white" type="button" id="assessmentToggleMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-bars" title="View assessment"></i>
        </button>
        <div class="dropdown-menu bg-dark" aria-labelledby="assessmentToggleMenu">
            {% include "includes/_sidebar_links.html" %}
        </div>
    </div>

    <nav class="sidebar-link-holder nav flex-column pt-3 {{request.session.hideSidebar|yesno:'hidden, '}}">
        {% include "includes/_sidebar_links.html" %}
    </nav>
</div>
{% endblock sidebar_outer %}

{% block breadcrumbs_outer %}
    {% include "includes/breadcrumbs.html" %}
{% endblock breadcrumbs_outer %}
