{% load cache %}
{% load static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="NONE,NOARCHIVE" />
    <title>{% block title %}Health Assessment Workspace Collaborative (HAWC){% endblock %}</title>

    {% if extra_branding and flavor == "EPA" %}
      <link rel="shortcut icon" href="https://www.epa.gov/sites/all/themes/epa/favicon.ico" type="image/vnd.microsoft.icon" />
    {% else %}
      <link id="favicon" href="{% static 'img/favicon-256.png' %}" rel="shortcut icon" sizes="256x256" />
      <link id="favicon" href="{% static 'img/favicon-128.png' %}" rel="shortcut icon" sizes="128x128" />
      <link id="favicon" href="{% static 'img/favicon-64.png' %}" rel="shortcut icon" sizes="64x64" />
      <link id="favicon" href="{% static 'img/favicon-32.png' %}" rel="shortcut icon" sizes="32x32" />
    {% endif %}

    {% block extrahead %}{% endblock %}
    {% include 'includes/css.html' %}
  </head>
  <body>

    {% if user.is_superuser or SERVER_ROLE != 'production' %}
      {% include 'includes/environment_banner.html' %}
    {% endif %}

    {% cache 3600 header %}
    {% if extra_branding and flavor == "EPA" %}
      {% include 'includes/epa/header.html' %}
    {% endif %}
    {% endcache %}

    {% include 'includes/navigation.html' %}

    {% block content_row_outer %}
      <div class="row no-gutters" style="min-height: 100vh;">
        {% block sidebar_outer %}{% endblock sidebar_outer %}
        <div id="main-content" class="col overflow-auto">
          <div id="main-content-container" class="container-fluid">
            {% block breadcrumbs_outer %}{% endblock breadcrumbs_outer %}

            {% include "includes/messages.html" %}
            {% if UA_SUPPORTED is False %}
              {% include "includes/unsupported_browser.html" %}
            {% endif %}

            {% block content_header %}{% endblock content_header %}
            {% block content_outer %}
              <div class="row  overflow-auto"  style="min-height: 50vh;">
                <div class="col overflow-auto">
                {% block content %}{% endblock content %}
                </div>
              </div>
            {% endblock content_outer %}
          </div>
        </div>
      </div>
    {% endblock content_row_outer %}

    {% cache 3600 footer %}
    {% if extra_branding and flavor == "EPA" %}
      {% include "./includes/epa/footer.html" %}
    {% else %}
      {% include "./includes/base/footer.html" %}
    {% endif %}
    {% endcache %}

    {% if debug %}
    <script type="text/javascript" src="{% static 'debug/jquery/3.5.1/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'debug/jquery-migrate/3.3.1/jquery-migrate.js' %}"></script>
    <script type="text/javascript" src="{% static 'debug/popper.js/1.16.1/umd/popper.js' %}"></script>
    <script type="text/javascript" src="{% static 'debug/twitter-bootstrap/4.5.2/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'debug/jqueryui/1.10.3/jquery-ui.js' %}"></script>
    {% else %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.3.1/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
      {% block google_analytics %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-45455759-1', 'hawcproject.org');
          ga('send', 'pageview');
        </script>
      {% endblock google_analytics %}
    {% endif %}
    {% render_bundle 'main' %}
    {% block extrajs %}{% endblock %}
  </body>
</html>
