{% load cache %}
{% load static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html class="js" lang="en-us">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="NONE,NOARCHIVE" />
    <title>{% block title %}Health Assessment Workspace Collaborative (HAWC){% endblock %}</title>

    {% if GTM_ID %}
      <!-- Google Tag Manager -->
      <script>(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != "dataLayer" ? "&l=" + l : ""; j.async = true; j.src = "//www.googletagmanager.com/gtm.js?id=" + i + dl; f.parentNode.insertBefore(j, f); })(window, document, "script", "dataLayer", "{{GTM_ID}}");</script>
      <!-- End Google Tag Manager -->
    {% endif %}

    {% if flavor == "EPA" %}
      <link rel="shortcut icon" href="https://www.epa.gov/sites/all/themes/epa/favicon.ico" type="image/vnd.microsoft.icon" />
    {% else %}
      <link id="favicon" href="{% static 'img/favicon-256.png' %}" rel="shortcut icon" sizes="256x256" />
      <link id="favicon" href="{% static 'img/favicon-128.png' %}" rel="shortcut icon" sizes="128x128" />
      <link id="favicon" href="{% static 'img/favicon-64.png' %}" rel="shortcut icon" sizes="64x64" />
      <link id="favicon" href="{% static 'img/favicon-32.png' %}" rel="shortcut icon" sizes="32x32" />
    {% endif %}

    {% block extrahead %}{% endblock %}

    <link rel="stylesheet" type="text/css" href="{% static 'vendor/font-awesome/4.7.0/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/4.5.3/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/jqueryui/1.10.3/css/jquery-ui.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/hawc.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/d3.css' %}" />
    {% if flavor == "EPA" %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/epa/core/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/epa/accordions.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/epa/boxes.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/epa/tables.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/epa/tabs.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/epa-bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/epa-hawc.css' %}" />
    {% endif %}
    {% block extrastyle %}{% endblock %}

  </head>

  <body class="html">
    {% if GTM_ID %}
      <!-- Google Tag Manager -->
      <noscript><iframe src="//www.googletagmanager.com/ns.html?id={{GTM_ID}}" height="0" width="0"
          style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager -->
    {% endif %}

    {% if user.is_superuser or SERVER_ROLE != 'production' %}
      {% include 'includes/environment_banner.html' %}
    {% endif %}

    {% cache 3600 header %}
    {% if flavor == "EPA" %}
      {% include 'includes/epa/header.html' %}
    {% endif %}
    {% endcache %}

    {% block content_row_outer %}
      <section class="main-content clearfix" id="main-content">
        {% include 'includes/navigation.html' %}
        <div class="row no-gutters" style="min-height: 100vh;">
          {% block sidebar_outer %}{% endblock sidebar_outer %}
          <div class="col overflow-auto">
            <div id="main-content-container" class="container-fluid">
              {% block breadcrumbs_outer %}{% endblock breadcrumbs_outer %}

              {% include "includes/messages.html" %}
              {% if UA_SUPPORTED is False %}
                {% include "includes/unsupported_browser.html" %}
              {% endif %}

              {% block content_header %}{% endblock content_header %}
              {% block content_outer %}
                <div class="row  overflow-auto"  style="min-height: 50vh;">
                  <div class="col overflow-auto">
                  {% block content %}{% endblock content %}
                  </div>
                </div>
              {% endblock content_outer %}
            </div>
          </div>
        </div>
      </section>
    {% endblock content_row_outer %}

    {% cache 3600 footer %}
    {% if flavor == "EPA" %}
      {% include "./includes/epa/footer.html" %}
    {% else %}
      {% include "./includes/base/footer.html" %}
    {% endif %}
    {% endcache %}
    <script>console.log("{{session_expire_time}}")</script>
    <script type="text/javascript" src="{% static 'vendor/jquery/3.5.1/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/jquery-migrate/3.3.1/jquery-migrate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/popper.js/1.16.1/umd/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/bootstrap/4.5.3/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/jqueryui/1.10.3/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/htmx/1.6.1/htmx.min.js' %}"></script>
    {% render_bundle 'main' %}
    {% block extrajs %}{% endblock %}
  </body>
</html>
