{% extends 'base.html' %}
{% load get %}

{% block sidebar_outer %}
<div class="sidebar">
    {% if flavor == "EPA" %}
    <div class="dropdown d-block d-md-none px-1 pt-3">
        <button class="btn text-white" type="button" id="assessmentToggleMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-bars" title="Mobile navigation panel"></i>
        </button>
        <div class="dropdown-menu bg-dark py-0" aria-labelledby="assessmentToggleMenu">
            {% include "includes/_sidebar_links.html" %}
        </div>
    </div>
    <nav class="nav flex-column pt-3 d-none d-md-block">
        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">HAWC Home</a></li>
        <li class="nav-item">
            {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'portal' %}">Portal</a>
            {% else %}
            <a class="nav-link" href="{% url 'assessment:public_list' %}">Public Assessments</a>
            {% endif %}
        </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About HAWC</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'resources' %}">HAWC Resources</a></li>
    </nav>
    {% endif %}
</div>
{% endblock sidebar_outer %}


{% block content_outer %}
<div class="col-xl-10 col-lg-12" >
    {% block content %}
    {% endblock content %}
</div>
{% endblock content_outer %}
