{% extends 'base.html' %}

{% block title %} Portal | HAWC {% endblock %}

{% block main_content %}
<ul class="breadcrumb">
  {% if user.is_authenticated %}
  <li class="active">
    <a href="{% url 'portal' %}">Home</a><span class="divider">/</span>
  </li>
  {% else %}
  <li class="active">
    <a href="{% url 'assessment:public_list' %}">Public Assessments</a><span class="divider">/</span>
  </li>
  {% endif %} {% block breadcrumbs %} {% endblock %}
</ul>
{% block content %}{% endblock %}
{% endblock %}

{% block portaljs %}
<script>
  // Hide submenus
  $("#body-row .collapse").collapse("hide");

  // Collapse/Expand icon
  $("#collapse-icon").addClass("fa-angle-double-left");

  // Collapse click
  $("[data-toggle=sidebar-colapse]").click(function () {
    SidebarCollapse();
  });

  function SidebarCollapse() {
    $(".menu-collapsed").toggleClass("d-none");
    $(".sidebar-submenu").toggleClass("d-none");
    $(".submenu-icon").toggleClass("d-none");
    $("#sidebar-container").toggleClass("sidebar-expanded sidebar-collapsed");

    // Treating d-flex/d-none on separators with title
    var SeparatorTitle = $(".sidebar-separator-title");
    if (SeparatorTitle.hasClass("d-flex")) {
      SeparatorTitle.removeClass("d-flex");
    } else {
      SeparatorTitle.addClass("d-flex");
    }

    // Collapse/Expand icon
    $("#collapse-icon").toggleClass(
      "fa-angle-double-left fa-angle-double-right"
    );
  }
</script>
{% endblock portaljs %}
