{% extends 'base.html' %}

{% block extrastyle %}
<style type="text/css">
body {

    /* should be same as .d3 in d3.css */
    font-family: "Liberation Sans", Arial, Helvetica, sans-serif !important;

    /* remove extra padding */
    padding: 0 !important;

}
</style>
{{css|safe}}
{% endblock %}

{% block content_outer %}
{{svg|safe}}
{% endblock extrastyle %}

{% comment "Don't load content in the following blocks" %}{% endcomment %}
{% block external_css %}{% endblock external_css %}
{% block navbar_outer %}{% endblock navbar_outer %}
{% block browser_check %}{% endblock browser_check %}
