{% block content %}
  <small>HAWC uses this decision-logic to help users determine overall BMD model fit. These rules are used for model estimation and evaluation for each BMD model in an assessment.</small>
  <table class="table table-condensed table-striped table-hover">
    <thead>
      <th>Name</th>
      <th>Continuous test</th>
      <th>Dichotomous test</th>
      <th>Cancer Dichotomous test</th>
      <th>Threshold<br>(if applicable)</th>
      <th>Test-failure bin</th>
      {% if obj_perms.edit_assessment %}
        <th>Edit</th>
      {% endif %}
      <th>Last updated</th>
    </thead>
    <tbody>
      {% for logic in object_list %}
      <tr>
        <td>
        <a href="#" class="popovers" data-placement="bottom" data-trigger="hover" data-toggle="popover" data-content="{{logic.description}}" data-original-title="{{logic.name}}">{{logic.name}}</a>
        </td>
        <td>{{logic.continuous_on}}</td>
        <td>{{logic.dichotomous_on}}</td>
        <td>{{logic.cancer_dichotomous_on}}</td>
        <td>{{logic.threshold}}</td>
        <td>{{logic.get_failure_bin_display }}</td>
        {% if obj_perms.edit_assessment %}
          <td><a href="{% url 'bmd:assess_logic_update' logic.pk %}" class="btn btn-primary btn-small">Edit</a> </td>
        {% endif %}
        <td>{{logic.last_updated}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% comment %}
  $(".popovers").popover(); // Make sure to turn on popovers in JS
{% endcomment %}
