{% extends 'portal.html' %}


{% block title %}
  {{assessment}} | {{endpoint.study}} | {{endpoint}} | Edit BMD Modeling | HAWC
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' pk=assessment.pk %}">{{ assessment }}</a><span class="divider">/</span></li>
  <li><a href="{% url 'study:detail' endpoint.animal_group.experiment.study.pk %}">{{endpoint.animal_group.experiment.study}}</a><span class="divider">/</span></li>
  <li><a href="{% url 'animal:experiment_detail' endpoint.animal_group.experiment.pk %}">{{endpoint.animal_group.experiment}}</a><span class="divider">/</span></li>
  <li><a href="{% url 'animal:animal_group_detail' endpoint.animal_group.pk %}">{{endpoint.animal_group}}</a><span class="divider">/</span></li>
  <li><a href="{% url 'animal:endpoint_detail' endpoint.pk %}">{{endpoint}}</a><span class="divider">/</span></li>
    {% if endpoint.bmds_session_exists %}
    <li><a href="{% url 'bmd:read' endpoint.pk %}">BMD Modeling</a><span class="divider">/</span></li>
    <li class="active">Edit<span class="divider">/</span></li>
  {% else %}
    <li class="active">BMD Modeling Create<span class="divider">/</span></li>
  {% endif %}
{% endblock %}

{% block content %}

  {% if crud == 'Edit' %}
    <div id="warnings">
      {% if endpoint.changed >= object.updated %}
        <div class="alert alert-danger ">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <h4>Warning!</h4>
          Endpoint content has been changed since the BMD session was last completed. Please review BMD model selections and re-save to remove this message.
        </div>
      {% endif %}
    <div>
  {% endif %}

  <!-- Tabs at the top -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#bmd_setup">BMD Setup</a></li>
    <li><a id="bmd_results_tab" href="#bmd_results">Modeling Results</a></li>
    <li><a id="bmd_logic_tab" href="#bmd_logic">Recommendations</a></li>
  </ul>

  <!-- Tabbed content-area -->
  <div class="tab-content">

    <!-- BMD setup -->
    <div id="bmd_setup" class="tab-pane active">

      <h3>Dose-Response Details</h3>
      <div class="row-fluid">

        <div id="bmd_ds" class="span7">
          <table id="bmd_dr_tbl" class="table table-condensed table-striped">
          </table>
        </div>

        <div id='bmd_ds_plot' class="d3_container span4">
        </div>
      </div>

      <h3>BMDS Modeling Setup</h3>
      <p><i>HAWC BMDS version {{bmds_version}}</i></p>
      <div id="bmd_setup_div" class="row-fluid">

        <div id="bmd_setup_div_opt" class="span6">
          <h4>Model Options</h4>

          <table id="bmd_setup_tbl" class="table table-condensed table-striped">
            <thead>
              <tr>
                <th width="30%">Model Name</th>
                <th width="60%">Non-Default Settings</th>
                <th width="10%">Modify</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>

          <form class="form-horizontal">
            <fieldset>
              <div class="control-group form-row">
                <label class="control-label" for="bmr_select">New Option File</label>
                <div class="controls">
                  <select id="bmds_options_select"></select>
                  <a class="btn" href="#" id="bmds_options_new"><i class="icon-plus"></i></a>
                </div>
              </div>
            </fieldset>
          </form>
          {% if endpoint.data_type = "C"%}<a id='variance_toggle' class='btn btn-small' title='Change the variance model for all continuous models' href='#'>Toggle all Variance Models</a>{% endif %}
        </div>

        <div id="bmd_setup_div_bmr" class="span6">
          <h4>BMRs to Model</h4>
          <table id="bmr_setup_tbl" class="table table-condensed table-striped">
            <thead>
              <tr>
                <th>Type</th>
                <th>Value</th>
                <th>Confidence Level</th>
                <th width="10%">Modify</th>
              </tr>
            <thead>
            <tfoot>
              <tr>
                <td colspan=5>All models will be run using the selected BMRs if appropriate for that particular model type.</td>
              </tr>
            </tfoot>
            <tbody>
            </tbody>
          </table>

          <form class="form-horizontal">
            <fieldset>
              <div class="control-group form-row">
                <label class="control-label" for="bmr_select">New BMR</label>
                <div class="controls">
                  <select id="bmr_select"></select>
                  <a class="btn" href="#" id="bmr_new"><i class="icon-plus"></i></a>
                </div>
              </div>
            </fieldset>
          </form>

        </div>
      </div>

      <!-- RUN BMDS -->
      <div id="BMDS" class="form-actions">
        <h3>Run BMDS</h3>
        <button id="BMDS_run" class="btn btn-large btn-primary">Run BMDS</button>
        <button id="BMDS_reset" class="btn btn-info" >Reset to default settings</button>
        <br><br>
      </div>
      <br><br><br>

      <!-- BMDS Options form (hidden popup) -->
      <div id="bmd_settings_form" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="bmd_settings_label" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="bmd_settings_label"></h3>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class='row-fluid'>
              <fieldset class='span6'>
                <legend>Model Assignments</legend>
                <div id='bmd_settings_other'>
                </div>
              </fieldset>
              <fieldset class='span6'>
                <legend>Optimizer Assignments</legend>
                <div id='bmd_settings_optimizer'>
                </div>
              </fieldset>
            </div>
            <div class='row-fluid'>
              <fieldset>
                <legend>Parameter Assignments</legend>
                <div id='bmd_settings_parameters'>
                </div>
              </fieldset>
            </div>
          </form>
        </div>
        <div class="modal-footer">
            <div class="btn-group">
              <button id='bmd_settings_default' class='btn'>Restore Defaults</button>
              <button id='bmd_settings_delete' type='button' class='btn'  data-dismiss="modal">Delete</button>
            </div>
            <button id='bmd_settings_save' type='button' class='btn btn-primary'>Save and Close</button>
        </div>
      </div>

      <!-- BMR settings form (hidden popup) -->
      <div id="bmr_settings_form" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="bmr_settings_label" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="bmr_settings_label">BMDS {{bmds_version}}: BMR</h3>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <fieldset>
              <div class="control-group form-row">
                <label class="control-label" for="bmr_type">BMR Type</label>
                <div class="controls">
                  <select id="bmr_type">
                    <option>Extra</option>
                    <option>Added</option>
                  </select>
                </div>
              </div>

              <div class="control-group form-row">
                <label class="control-label" for="bmr_value">BMR Value</label>
                <div class="controls">
                  <input id="bmr_value"></input>
                </div>
              </div>

              <div class="control-group form-row">
                <label class="control-label" for="bmr_confidence_level">BMR Confidence Level</label>
                <div class="controls">
                  <input id="bmr_confidence_level"></input>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="modal-footer">
            <button id='bmr_settings_delete' class='btn' data-dismiss="modal">Delete</button>
            <button id='bmr_settings_save' class='btn btn-primary'>Save and Close</button>
        </div>
      </div>

    </div>

    <!-- BMD results -->
    <div id="bmd_results" class="tab-pane">

      <!-- Summary-table and plot -->
      <div class="row-fluid">

        <div class='span7'>
          <table id="bmd_output_tbl" class="table table-condensed">
            <thead>
            </thead>
            <tfoot>
              <tr>
                <td colspan=10>Selected model highlighted in yellow</td>
              </tr>
            </tfoot>
            <tbody>
            </tbody>
          </table>
        </div>

        <div id='bmd_output_plot' class='d3_container span4'>
        </div>
      </div>

      <!-- BMDS Output form -->
      <div id="bmd_raw_output" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="bmd_raw_output_label" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="bmd_raw_output_label">Multistage Output</h3>
        </div>
        <div class="modal-body">
          <div id="raw_output_img" class="d3_container"></div>
          <pre id="raw_output_text" ></pre>
        </div>
        <div class="modal-footer">
        </div>
      </div>

    </div>

    <div class="tab-pane" id="bmd_logic">

      <div id='recommendation_tbl_div'></div>

      <div id='override_div' class='row-fluid' style='display:none;'>
        <form id="endpoint" class="form-horizontal" action="#">
          <fieldset >
            <div class="control-group form-row">
              <label for="override_model_description" class="control-label">Selected model</label>
              <div class="controls">
                <p id="override_model_description"></p>
              </div>
            </div>

            <div class="control-group form-row">
              <label for="override_status" class="control-label">Override-bin</label>
              <div class="controls">
                <select id="override_status">
                  <option value="99">N/A (do not override)</option>
                  <option value="0">Viable</option>
                  <option value="1">Questionable</option>
                  <option value="2">Unusable</option>
                </select>
              </div>
            </div>

            <div class="control-group form-row">
              <label for="override_notes" class="control-label">Notes</label>
              <div class="controls">
                <textarea id="override_notes" rows="5" cols="40" name="citation"></textarea>
              </div>
            </div>

          </fieldset>
        </form>
      </div>

    </div>

{% endblock %}

{% block extrajs %}
  <script src="{{STATIC_URL}}animal/js/endpoint.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}bmd/js/modeling_orm.js" type="text/javascript"></script>
  <script type="text/javascript">
    var bmds_version = '{{bmds_version}}';
    var endpoint = new Endpoint({{endpoint.d_response|safe}});
    var bmd_ds_plot = new DRPlot(endpoint, '#bmd_ds_plot');
    var bmd_output_plot = new DRPlot(endpoint, '#bmd_output_plot');
    var raw_output_img = new DRPlot(endpoint, '#raw_output_img');
    var crud = '{{ crud }}';
    var bmds_version = '{{bmds_version}}';
    var csrf_token = "{% csrf_token %}"
    var url_run_model = "{% url 'bmd:edit' endpoint.pk %}",
        url_options = "{% url 'bmd:options' bmds_version endpoint.data_type %}",
        url_template = "{% url 'bmd:template' endpoint.pk %}";
    var logics = {{logics|safe}};
    {% if crud == 'Edit' %}
      var session = new Session({{session|safe}}, endpoint, logics, crud, bmds_version);
    {% else %}
      var session = new Session({{template|safe}}, endpoint, logics, crud, bmds_version);
    {% endif %}

    $('a[href="#bmd_results"]').on('shown', function(e){
      // hack to get this to wait tab is loaded
      setTimeout(function(){
        bmd_output_plot = new DRPlot(endpoint, '#bmd_output_plot');
        session.selection.rebuild_plot();
      }, 100)
    });
  </script>
  <script src="{{STATIC_URL}}bmd/js/modeling.js" type="text/javascript"></script>
{% endblock %}
