{% extends 'portal.html' %}

{% load selectable_tags %}
{% load crispy_forms_tags %}


{% block title %}
  {% include "hawc/siteTitle.html" with crumbs=form.instance.get_crumbs crud=crud %}
{% endblock title %}

{% block extrastyle %}
  {% include_ui_theme %}
{% endblock %}

{% block breadcrumbs %}
  {% include "hawc/breadcrumbs.html" with crumbs=form.instance.get_crumbs crud=crud %}
{% endblock %}

{% block content %}
    <h1>{{object}}
        <a class="btn btn-primary pull-right"
           href="{{object.get_absolute_url}}">Cancel</a>
    </h1>

    <div id="bmd"></div>

{% endblock %}


{% block extrajs %}
<script id="config" type="text/json" charset="utf-8">
    {
        "editMode": true,
        "assessment_id": {{ assessment.id }},
        "bmds_version": "{{assessment.BMD_Settings.version}}",
        "endpoint_id": {{ object.endpoint_id }},
        "session_url": "{{ object.get_api_url }}",
        "execute_url": "{{ object.get_execute_url }}",
        "execute_status_url": "{{ object.get_execute_status_url }}",
        "selected_model_url": "{{ object.get_selected_model_url }}",
        "csrf": "{{ csrf_token }}",
        "host": "//{{request.get_host}}"
    }
</script>
<script type="text/javascript">
    $(document).ready(function(){
        window.app.bmdStartup();
    });
</script>
{% endblock %}
