{% if object_list %}
  <table class="table table-condensed table-striped">
    <tr>
      {%if with_animal_group %}
        <th>Study</th>
        <th>Experiment</th>
        <th>Animal Group</th>
      {% endif %}
      <th>Endpoint</th>
      <th>NOAEL</th>
      <th>LOAEL</th>
      <th>FEL</th>
    </tr>
    {% for object in object_list %}
      <tr>
        {%if with_animal_group %}
          <td><a href="{% url 'study:detail' object.animal_group.experiment.study.pk %}">{{object.animal_group.experiment.study}}</a></td>
          <td><a href="{% url 'animal:experiment_detail' object.animal_group.experiment.pk %}">{{object.animal_group.experiment}}<a/></td>
          <td><a href="{% url 'animal:animal_group_detail' object.animal_group.pk %}">{{object.animal_group}}</a></td>
        {% endif %}
        <td><a href="{% url 'animal:endpoint_detail' object.pk %}">{{object.name}}</a></td>
        <td>{{object.get_NOAEL}}</td>
        <td>{{object.get_LOAEL}}</td>
        <td>{{object.get_FEL}}</td>
      </tr>
    {% endfor %}
  </table>
{% else %}
  <p>No endpoints available.</p>
{% endif %}
