{% extends 'portal.html' %}


{% block title %}
  {{assessment}} | {{object}} | Uncertainty Factors | HAWC
{% endblock title %}

{% block breadcrumbs %}
  <li class=""><a href="{% url 'assessment:detail' assessment.pk %}">{{assessment}}</a><span class="divider">/</span></li>
  <li class=""><a href="{% url 'animal:aggregation_list' assessment.pk %}">Aggregations</a><span class="divider">/</span></li>
  <li class=""><a href="{% url 'animal:aggregation_detail' object.pk %}">{{object}}</a><span class="divider">/</span></li>
  <li class="active">Uncertainty Factors<span class="divider">/</span></li>
{% endblock %}

{% block content %}
  <h1>Uncertainty Factors: {{object.name}}</h1>
  <div class="row">
    <div id='uf_plot' class="d3_container"></div>

    <div id='uf_values'>
      <h2>Uncertainty Factor Values<button type="button" class="pull-right btn btn-info btn-small" data-toggle="collapse" data-target="#summary_text_div"><i class="icon-chevron-down icon-white"></i></button></h2>
      <div id='summary_text_div' class='in'>
        <table id="uf_table" class='table table-condensed table-striped'>
          <thead></thead>
          <tbody></tbody>
        </table>
      </div>
    </div>

    <div id='summary_text'>
      <h2>Summary Text<button type="button" class="pull-right btn btn-info btn-small" data-toggle="collapse" data-target="#summary_text_div"><i class="icon-chevron-down icon-white"></i></button></h2>
      <div id='summary_text_div' class='in'>
        <p>{{ object.summary_text|safe }}</p>
      </div>
    </div>

    {% if obj_perms.edit %}
      <div class='well'>
        <a class='btn btn-primary' href="{% url 'animal:ufs_agg_edit' object.pk %}">Update Uncertainty Factors</a>
      </div>
    {% endif %}

  </div>
{% endblock %}

{% block extrajs %}
  <script src="{{STATIC_URL}}animal/js/endpoint.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}animal/js/aggregation.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}animal/js/ufs.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      var endpoints = [];
      {{object.get_endpoints_json|safe}}.forEach(function(v, i){
        endpoints.push(new UFEndpoint(v, {uf_form_div: '#individual_ufs'}));
      });

      var options = {"id_plot": '#uf_plot',
                     "id_uf_table": '#uf_table',
                     "edit_mode": false}
      var ufs_container = new UFsContainer(endpoints, "{{object.name}}", options);
      $(".popovers").popover();
    });
  </script>
{% endblock %}
