{% extends 'portal.html' %}


{% block title %}
  {{assessment}} | {{object}} | Edit Uncertainty Factors | HAWC
{% endblock title %}

{% block breadcrumbs %}
  <li class=""><a href="{% url 'assessment:detail' assessment.pk %}">{{assessment}}</a><span class="divider">/</span></li>
  <li class=""><a href="{% url 'animal:aggregation_list' assessment.pk %}">Aggregations</a><span class="divider">/</span></li>
  <li class=""><a href="{% url 'animal:aggregation_detail' object.pk %}">{{object}}</a><span class="divider">/</span></li>
  <li class=""><a href="{% url 'animal:ufs_agg_read' object.pk %}">Uncertainty factors</a><span class="divider">/</span></li>
  <li class="active">Edit<span class="divider">/</span></li>
{% endblock %}

{% block content %}
  <h1>Uncertainty Factors: {{object.name}}</h1>
  <div class="row">
    <div id='uf_plot' class="d3_container">
    </div>
    <div id='individual_ufs'>
    </div>
    <div id='global_uf_fields'>
      <form>
        <fieldset class='form-inline'>
          <legend>Globally applied uncertainty factors</legend>
          <p>These uncertainty-factors are applied to all endpoints in this aggregation.</p>
          <label>UF<sub>A</sub> <input data-name="UFA" type="text" value="-" class="input-mini"></label>
          <label>UF<sub>H</sub> <input data-name="UFH" type="text" value="-" class="input-mini"></label>
          <label>UF<sub>S</sub> <input data-name="UFS" type="text" value="-" class="input-mini"></label>
          <label>UF<sub>L</sub> <input data-name="UFL" type="text" value="-" class="input-mini"></label>
          <label>UF<sub>D</sub> <input data-name="UFD" type="text" value="-" class="input-mini"></label>
          <label>UF<sub>O</sub> <input data-name="UFO" type="text" value="-" class="input-mini"></label>
        </fieldset>
      </form>
    </div>
    <form id="ufs" action="." method="post">
      {% csrf_token %}
      <input id='json' name='json' type="hidden"></input>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Update Uncertainty Factor</button>
        <a href="{% url 'animal:ufs_agg_read' object.pk %}" class="btn">Cancel</a>
      </div>
    </form>
  </div>
{% endblock %}

{% block extrajs %}
  <script src="{{STATIC_URL}}animal/js/endpoint.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}animal/js/aggregation.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}animal/js/ufs.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      var endpoints = [];
      {{object.get_endpoints_ufs_json|safe}}.forEach(function(v, i){
        endpoints.push(new UFEndpoint(v, {uf_form_div: '#individual_ufs'}));
      });

      var options = {"id_plot": '#uf_plot',
                     "id_global_fields": '#global_uf_fields',
                     "id_individual_ufs": '#individual_ufs',
                     "edit_mode": true}
      var ufs_container = new UFsContainer(endpoints, "{{object.name}}", options);
      $('#ufs').submit(function(){
          $('#json').val(ufs_container.submit_data());
          return true;
      });
    });
  </script>
{% endblock %}
