{% extends 'portal.html' %}

{% block title %}
  {{assessment}} | Aggregations | HAWC
{% endblock title %}

{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' pk=assessment.pk %}">{{ assessment }}</a><span class="divider">/</span></li>
  <li class="active">Aggregations<span class="divider">/</span></li>
{% endblock %}

{% block content %}

  <h1>Endpoint aggregations
    {% if obj_perms.edit %}
      <div class="btn-group pull-right">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'animal:aggregation_new' assessment.pk %}">Create new</a></li>
        </ul>
      </div>
    {% endif %}
  </h1>

  {% if object_list %}
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Description</th>
          <th>Aggregation Type</th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
        <tr>
          <td><a href="{{object.get_absolute_url}}">{{ object }}</a></td>
          <td>{{object.get_aggregation_type_display}}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No endpoint aggregations are available for this assessment.</p>
  {% endif %}

{% endblock %}
