{% extends 'portal.html' %}


{% block title %}
  {{assessment}} | {{object.experiment.study}} | {{object.experiment}} | {{object}} | HAWC
{% endblock title %}

{% block breadcrumbs %}
  <li class=""><a href="{{ assessment.get_absolute_url }}">{{assessment}}</a><span class="divider">/</span></li>
  <li class=""><a href="{{ object.experiment.study.get_absolute_url }}">{{object.experiment.study}}</a><span class="divider">/</span></li>
  <li class=""><a href="{{ object.experiment.get_absolute_url }}">{{object.experiment}}</a><span class="divider">/</span></li>
  {% block breadcrumbs_self %}
    <li class="active">{{ object }}<span class="divider">/</span></li>
  {% endblock %}
{% endblock %}


{% block content %}

    <h1>{{object}}
      {% if obj_perms.edit %}
        <div class="btn-group pull-right">
          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">

              <li class="disabled"><a tabindex="-1" href="#">Animal Group Editing</a></li>
              <li><a href="{% url 'animal:animal_group_update' object.pk %}">Update</a></li>
              <li><a href="{% url 'animal:animal_group_delete' object.pk %}">Delete</a></li>

              {% if object.dosing_regime and object == object.dosing_regime.dosed_animals %}
                <li class="divider"></li>
                <li class="disabled"><a tabindex="-1" href="#">Dose Regime Editing</a></li>
                <li><a href="{% url 'animal:dosing_regime_update' object.dosing_regime.pk %}">Update</a></li>
              {% endif %}

              <li class="divider"></li>
              <li class="disabled"><a tabindex="-1" href="#">Endpoint Editing</a></li>
              <li><a href="{% url 'animal:endpoint_new' object.pk %}">Create new with summary data</a></li>
              <li><a href="{% url 'animal:endpoint_individual_animal_new' object.pk %}">Create new with individual animal data</a></li>
              <li><a href="{% url 'animal:endpoint_copy_selector' object.pk %}">Copy from existing</a></li>

          </ul>
        </div>
      {% endif %}
    </h1>

  {% if crud == "Read" %}
    <h2>Available endpoints</h2>
    <div id="endpointsDiv"></div>
    <div id="comments_block"></div>
  {% endif %}

{% endblock %}


{% block extrajs %}
  <script src="{{STATIC_URL}}animal/js/endpoint.js" type="text/javascript"></script>
  {% if crud == "Read" %}
    {% include "comments/_comments_extrajs.html" %}
  {% endif %}

  <script type="text/javascript">
    $(document).ready(function(){

      AnimalGroup.get_object({{object.id}}, function(d){
          $('h1')
            .after(
                d.build_details_table(),
                $("<h2>Dosing regime</h2>"),
                d.build_dr_details_table()
            );
      });

      var endpoints = [];
      {% for obj in object.endpoints.all %}
        endpoints.push(new Endpoint({{obj.d_response|safe}}));
      {% endfor %}

      var tbl =  new AnimalGroupTable(endpoints);

      $('#endpointsDiv').append(tbl.build_table());

      if (tbl.endpoints_no_dr.length>0){
        $('#endpointsDiv')
            .append("<h3>Additional endpoints (not extracted)</h3>")
            .append(tbl.build_no_dr_ul());
      }

    });
  </script>
{% endblock %}

