{% extends 'portal.html' %}


{% block title %}
  {{assessment}} | {{object.dosed_animals.experiment.study}} | {{object.dosed_animals.experiment}} | {{object.dosed_animals}} | {{object}} | HAWC
{% endblock title %}

{% block breadcrumbs %}
  <li class=""><a href="{% url 'assessment:detail' assessment.pk %}">{{assessment}}</a><span class="divider">/</span></li>
  <li class=""><a href="{% url 'study:detail' object.dosed_animals.experiment.study.pk %}">{{object.dosed_animals.experiment.study}}</a><span class="divider">/</span></li>
  <li class=""><a href="{% url 'animal:experiment_detail' object.dosed_animals.experiment.pk %}">{{object.dosed_animals.experiment}}</a><span class="divider">/</span></li>
  <li class=""><a href="{% url 'animal:animal_group_detail' object.dosed_animals.pk %}">{{object.dosed_animals}}</a><span class="divider">/</span></li>
  {% block breadcrumbs_self %}
    <li class="active">{{object}}</li>
  {% endblock breadcrumbs_self %}
{% endblock %}


{% block content %}

    <h1>{{object}}
      {% if obj_perms.edit and crud == "Read" %}
        <div class="btn-group pull-right">
          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
              <li class="disabled"><a tabindex="-1" href="#">Dose Regime Editing</a></li>
              <li><a href="{% url 'animal:dosing_regime_update' object.pk %}">Update</a></li>
              <li><a href="{% url 'animal:dosing_regime_delete' object.pk %}">Delete</a></li>
              {% comment %}<!-- <li><a href="{% url 'animal:experiment_versions' object.pk %}">View prior versions</a></li> --> {% endcomment %}
          </ul>
        </div>
      {% endif %}
    </h1>

    {% include "animal/_dosing_regime.html" %}

{% endblock %}
