{% extends 'portal.html' %}

{% load add_class %}
{% load selectable_tags %}

{% block title %}{{assessment}} | Endpoint Search | HAWC {% endblock title %}

{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' pk=assessment.pk %}">{{ assessment }}</a><span class="divider">/</span></li>
  <li class="active">Endpoint Search<span class="divider">/</span></li>
{% endblock %}

{% block content %}

{% if endpoints %}

  <div id="results_table" class="row-fluid">
    {{search_terms_div|safe}}

    <h3>Query results</h3>
    <p id="query_results"></p>

    <div id="aggregation_div" style="display:none;">

      <div id='plot_agg'>
        <h4>Search Results Visualization</h4>
        <div id="plot_div" class="d3_container"></div>
      </div>

      <h4>Summary Table</h4>
      <div id='tbl_agg'></div>
    </div>

  </div>

  {# Submission area #}
  <div class="row-fluid">
    <div class="form-actions">
      <a href="." class="btn btn-primary">Search again</a>
    </div>
  </div>
{% else %}
<form class="form-horizontal" action="." method="post">

    {% csrf_token %}

    <div class='row-fluid'>
      <fieldset>

        {# Assessed Outcome Form #}
        <legend>Endpoint search</legend>
        <span class="help-block">Search for animal endpoint.</span><br>

        {{ form.non_field_errors|add_class:"alert alert-error" }}

        {% for field in form %}
          <div class="control-group form-row">
            {{field.label_tag|add_class:"control-label"}}
            <div class="controls">
              {{field}}
              <span class='help-inline'>{{field.help_text}}</span>
            </div>
            {{field.errors|add_class:"alert alert-error"}}
          </div>
        {% endfor %}

      </fieldset>
    </div>

    {# Submission area #}
    <div class="row-fluid">
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </div>
</form>
{% endif %}

{% endblock %}

{% block extrajs %}
{% if endpoints %}
  <script type="text/javascript">
    $(document).ready(function(){
      var results = {{endpoints|safe}},
          tbl = $('#results_table');

      if (results.endpoints.length == 0){
        $('#query_results').text('No endpoints were found which matched the specified criteria.')
      } else {
        if (results.endpoints.length == 1){
          $('#query_results').text(results.endpoints.length + ' endpoint was found which matched the specified criteria.')
        } else {
          $('#query_results').text(results.endpoints.length + ' endpoints were found which matched the specified criteria.')
        }

        $('#aggregation_div').fadeIn('fast');
        var endpoints = [];
        results.endpoints.forEach(function(v, i){endpoints.push(new Endpoint(v));});

        var options = {"build_table_startup": true,
                       "$tbl_div" : $('#tbl_agg'),
                       "build_plot_startup": true,
                       "$plot_div" : $('#plot_div')};

        new Aggregation(endpoints, "Search Results", options);
      }

    });
  </script>

{% else %}

  {{ form.media }}
{% endif %}

{% endblock %}
