{% extends 'portal.html' %}

{% load add_class %}
{% load get_range %}
{% load selectable_tags %}
{% load crispy_forms_tags %}

{% block title %}
  {% if crud == "Create" %}
    {{assessment}} | {{animal_group.experiment.study}} | {{animal_group.experiment}} | {{animal_group}} | Create Endpoint | HAWC
  {% elif crud == "Update" %}
    {{assessment}} | {{object.animal_group.experiment.study}} | {{object.animal_group.experiment}} | {{object.animal_group}} | Update {{object}} | HAWC
  {% endif %}
{% endblock title %}

{% block extrastyle %}
  {% include_ui_theme %}
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' pk=assessment.pk %}">{{ assessment }}</a><span class="divider">/</span></li>
  {% if crud == "Create" %}
    <li><a href="{% url 'study:detail' animal_group.experiment.study.pk %}">{{animal_group.experiment.study}}</a><span class="divider">/</span></li>
    <li><a href="{% url 'animal:experiment_detail' animal_group.experiment.pk %}">{{animal_group.experiment}}</a><span class="divider">/</span></li>
    <li><a href="{% url 'animal:animal_group_detail' animal_group.pk %}">{{animal_group}}</a><span class="divider">/</span></li>
    <li class="active"> Create Endpoint <span class="divider">/</span></li>
  {% elif crud == "Update" %}
    <li><a href="{% url 'study:detail' object.animal_group.experiment.study.pk %}">{{object.animal_group.experiment.study}}</a><span class="divider">/</span></li>
    <li><a href="{% url 'animal:experiment_detail' object.animal_group.experiment.pk %}">{{object.animal_group.experiment}}</a><span class="divider">/</span></li>
    <li><a href="{% url 'animal:animal_group_detail' object.animal_group.pk %}">{{object.animal_group}}</a><span class="divider">/</span></li>
    <li><a href="{% url 'animal:endpoint_detail' object.pk %}">{{object}}</a><span class="divider">/</span></li>
    <li class="active">Update<span class="divider">/</span></li>
  {% endif %}
{% endblock %}

{% block content %}

  {% crispy form %}

  <div id='endpointGroups' class="row-fluid">

    <input id="egs_json" name="egs_json" type="hidden"></input>
    <input id="endpoint_json" name="endpoint_json" type="hidden"></input>

    <h3 id="eg_header">Dose-response data</h3>

    <div class="span7">
      {% if egs_errors %}<div class="alert alert-error">{{egs_errors|safe}}</div>{% endif %}
      <table id="eg" class="table table-condensed table-striped">
        <thead>
          <tr>
            <th id="doses_title">Dose</th>
            <th>N</th>
            <th class="d_only">Incidence</th>
            <th class="c_only">Response</th>
            <th id="varianceHeader" class="c_only">Variance (SD or SE)</th>
            <th>Significance<br>Level<br>(if significant)</th>
          </tr>
        </thead>
        <tbody>
          {% if crud == "Create" %}
            {% for i in animal_group.dosing_regime.num_dose_groups|get_range %}
              <tr>
                <td class="doses" id="dose_{{i}}"></td>
                <td><input tabindex="2" class="span12" type="text" id="n_{{i}}"></td>
                <td class="d_only"><input tabindex="3" class="span12" type="text" id="inc_{{i}}"></td>
                <td class="c_only"><input tabindex="4" class="span12" type="text" id="resp_{{i}}"></td>
                <td class="c_only"><input tabindex="5" class="span12" type="text" id="variance_{{i}}"></td>
                <td>{% if i > 0 %}<input tabindex="6" class="span12" type="text" id="significance_level_{{i}}" value="-">{% endif %}</td>
              </tr>
            {% endfor %}
          {% endif %}

          {% if crud == "Update" %}
            {% for eg in object.get_endpoint_groups %}
              <tr>
                <td class="doses" id="dose_{{eg.dose_group_id}}"></td>
                <td><input tabindex="2" class="span12" type="text" id="n_{{eg.dose_group_id}}" value="{{eg.n}}"></td>
                <td class="d_only"><input tabindex="3" class="span12" type="text" id="inc_{{eg.dose_group_id}}" value="{{eg.incidence}}"></td>
                <td class="c_only"><input tabindex="4" class="span12" type="text" id="resp_{{eg.dose_group_id}}" value="{{eg.response}}"></td>
                <td class="c_only"><input tabindex="5" class="span12" type="text" id="variance_{{eg.dose_group_id}}" value="{{eg.variance}}"></td>
                <td>{% if forloop.counter0 > 0 %}<input tabindex="6" class="span12" type="text" id="significance_level_{{eg.dose_group_id}}" value="{% if eg.significance_level > 0 %}{{eg.significance_level}}{% else %}-{% endif %}">{% endif %}</td>
              </tr>
            {% empty %}
              {% for i in animal_group.dosing_regime.num_dose_groups|get_range %}
                <tr>
                  <td class="doses" id="dose_{{i}}"></td>
                  <td><input tabindex="2" class="span12" type="text" id="n_{{i}}"></td>
                  <td class="d_only"><input tabindex="3" class="span12" type="text" id="inc_{{i}}"></td>
                  <td class="c_only"><input tabindex="4" class="span12" type="text" id="resp_{{i}}"></td>
                  <td class="c_only"><input tabindex="5" class="span12" type="text" id="variance_{{i}}"></td>
                  <td>{% if i > 0 %}<input tabindex="6" class="span12" type="text" id="significance_level_{{i}}" value="-">{% endif %}</td>
                </tr>
              {% endfor %}
            {% endfor %}
          {% endif %}

        </tbody>
      </table>
    </div>

    <div class="span4">
      <div id='endpoint_plot' class='d3_container'>
      </div>
    </div>

  </div>

{% endblock %}

{% block extrajs %}
  {% include_jquery_libs %}
  {{ form.media }}
  <script src="{{STATIC_URL}}animal/js/endpoint.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}animal/js/edit_endpoint.js" type="text/javascript"></script>
  <script type="text/javascript">

    $(document).ready(function () {

      // reorganize forms
      $('.addEffectTag').insertAfter($('#id_effects_0').addClass("span10"));
      $('#endpointGroups').insertBefore($('div.form-actions'));

      // get doses for use in doses-data table
      window.doses = {{animal_group.get_doses_json|safe}};

      //update values in doses table
      $('#doses_title').html('Dose<br>(' + doses[0].units + ')');
      $('.doses').each(function(i, v){
        $(v).html(doses[0].values[i]);
      });

      {% if endpoint_json %} // post with errors
        window.endpoint_data = {{endpoint_json|safe}};
        window.endpoint = new EditEndpoint(endpoint_data, '#eg');
        window.endpoint.inject_doses(window.doses);
        window.endpoint.load_values_into_form();
      {% elif crud = "Update" %} // edit
        window.endpoint = new EditEndpoint({{object.d_response|safe}}, '#eg');
        window.endpoint.load_values_into_form();
      {% else %} // new
        window.endpoint = new EditEndpoint({doses: doses}, '#eg');
        window.endpoint.inject_doses(window.doses);
        window.endpoint.update_endpoint_from_form();
      {% endif %}
      window.endpoint.build_form_representation();

      // package for submission
      $('#endpoint').submit(function(){
          endpoint.update_endpoint_from_form();
          $('#egs_json').val(endpoint.build_eg_submission());
          $('#endpoint_json').val(JSON.stringify(endpoint.data));
          return true;
      });

      // whenever input changes, update data form
      $('body').on('change', 'input, select', function(i, v){
          endpoint.update_endpoint_from_form();
      });

      // show/hide variance-type based on dataset-type
      var toggleVarianceType = function(){
        var varTypeDiv = $('#id_variance_type').parent().parent(),
            dataType = $('#id_data_type').val();
        if (dataType==="C"){
          varTypeDiv.fadeIn();
        } else {
          varTypeDiv.fadeOut();
          $('#id_variance_type').val(0);
        };
      };
      $('body').on('change', '#id_data_type', toggleVarianceType);
      toggleVarianceType();

      // toggle the name of the variance column header as the value changes
      var toggleVarianceColumnHeader = function(){
        var varHeader = $('#varianceHeader'),
            varType = parseInt($('#id_variance_type').val(), 0);
        varHeader.html(EditEndpoint.getVarianceType(varType));
      }
      $('body').on('change', '#id_variance_type', toggleVarianceColumnHeader);
      toggleVarianceColumnHeader();

    });
  </script>

{% endblock %}
