{% extends 'portal.html' %}

{% block title %}
  {% include "hawc/siteTitle.html" with crumbs=object.get_crumbs crud=crud %}
{% endblock title %}

{% block breadcrumbs %}
  {% include "hawc/breadcrumbs.html" with crumbs=object.get_crumbs crud=crud %}
{% endblock %}

{% block content %}

  <h1>{{object}}
    {% if crud == "Read" %}
      <div class="btn-group pull-right">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions <span class="caret"></span></a>
        <ul class="dropdown-menu">
            {% if obj_perms.edit %}
            <li class="disabled"><a tabindex="-1" href="#">Endpoint Editing</a></li>
            <li><a href="{{ object.get_update_url }}">Update endpoint</a></li>
            <li><a href="{% url 'animal:endpoint_delete' object.pk %}">Delete endpoint</a></li>
            <li class="divider"></li>
            {% endif %}

            {% if assessment.enable_bmd and object.bmd_modeling_possible %}
              {% if bmd_session %}
                <li class="disabled"><a tabindex="-1" href="#">BMD Modeling</a></li>
                <li><a href="{{bmd_session.get_absolute_url}}">View session</a></li>
                <li><a href="{% url 'bmd:session_list' object.pk %}">Other options</a></li>
              {% else %}
                {% if obj_perms.edit %}
                  <li class="disabled"><a tabindex="-1" href="#">BMD Modeling</a></li>
                  <li><a href="{% url 'bmd:session_create' object.pk %}">Create</a></li>
                {% endif %}
              {% endif %}
            {% endif %}
        </ul>
      </div>
    {% endif %}
  </h1>

  <!-- Endpoint details -->
  <div class="row-fluid">
    <div id="dr-details" class="span7">
      <h2>Endpoint Details</h2>
      <div id="endpoint-details-table"></div>

      <h2>Dataset</h2>
      <table id="dr-tbl" class="table table-condensed table-striped"></table>
    </div>

    <div id='dr-plot-container' class="span5">
      <h2>Plot</h2>
      <div id='bmd_ds_plot' class="d3_container"></div>
      <br/>
      <div id="endpoint-general-notes"></div>
    </div>
  </div>

{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
      window.app.animalStartup(function(animal){
          var endpoint = new animal.Endpoint({{object.get_json|safe}});

          endpoint.build_details_table($('#endpoint-details-table'));
          endpoint.build_endpoint_table($('#dr-tbl'));
          endpoint.renderPlot($('#bmd_ds_plot'));
          endpoint.build_general_notes($('#endpoint-general-notes'));
      })
  </script>
{% endblock %}
