{% extends 'portal.html' %}

{% load add_class %}
{% load get_range %}
{% load selectable_tags %}
{% load crispy_forms_tags %}

{% block title %}
  {% if crud == "Create" %}
    {{assessment}} | {{animal_group.experiment.study}} | {{animal_group.experiment}} | {{animal_group}} | Create Endpoint | HAWC
  {% elif crud == "Update" %}
    {{assessment}} | {{object.animal_group.experiment.study}} | {{object.animal_group.experiment}} | {{object.animal_group}} | Update {{object}} | HAWC
  {% endif %}
{% endblock title %}

{% block extrastyle %}
  {% include_ui_theme %}
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' pk=assessment.pk %}">{{ assessment }}</a><span class="divider">/</span></li>
  {% if crud == "Create" %}
    <li><a href="{% url 'study:detail' animal_group.experiment.study.pk %}">{{animal_group.experiment.study}}</a><span class="divider">/</span></li>
    <li><a href="{% url 'animal:experiment_detail' animal_group.experiment.pk %}">{{animal_group.experiment}}</a><span class="divider">/</span></li>
    <li><a href="{% url 'animal:animal_group_detail' animal_group.pk %}">{{animal_group}}</a><span class="divider">/</span></li>
    <li class="active"> Create Endpoint <span class="divider">/</span></li>
  {% elif crud == "Update" %}
    <li><a href="{% url 'study:detail' object.animal_group.experiment.study.pk %}">{{object.animal_group.experiment.study}}</a><span class="divider">/</span></li>
    <li><a href="{% url 'animal:experiment_detail' object.animal_group.experiment.pk %}">{{object.animal_group.experiment}}</a><span class="divider">/</span></li>
    <li><a href="{% url 'animal:animal_group_detail' object.animal_group.pk %}">{{object.animal_group}}</a><span class="divider">/</span></li>
    <li><a href="{% url 'animal:endpoint_detail' object.pk %}">{{object}}</a><span class="divider">/</span></li>
    <li class="active">Update<span class="divider">/</span></li>
  {% endif %}
{% endblock %}

{% block content %}

  {% crispy form %}

  <div id='endpointGroups' class="row-fluid">

    <input id="egs_json" name="egs_json" type="hidden"></input>
    <input id="endpoint_json" name="endpoint_json" type="hidden"></input>

    <h3 id="eg_header">Dose-response data</h3>

    <div class="span7">
      {% if egs_errors %}<div class="alert alert-error">{{egs_errors|safe}}</div>{% endif %}
      <table id="eg" class="table table-condensed table-striped">
        <thead>
          <tr>
            <th id="doses_title">Dose</th>
            <th>N</th>
            <th class="d_only">Incidence</th>
            <th class="pc_only">Response</th>
            <th id="varianceHeader" class="c_only">Variance (SD or SE)</th>
            <th class="p_only">Low CI (%)</th>
            <th class="p_only">High CI (%)</th>
            <th>Significance<br>Level<br>(if significant)</th>
          </tr>
        </thead>
        <tbody>
          {% if crud == "Create" %}
            {% for i in animal_group.dosing_regime.num_dose_groups|get_range %}
              <tr>
                <td class="doses" id="dose_{{i}}"></td>
                <td><input tabindex="2" class="span12" type="text" id="n_{{i}}"></td>
                <td class="d_only"><input tabindex="3" class="span12" type="text" id="inc_{{i}}"></td>
                <td class="pc_only"><input tabindex="4" class="span12" type="text" id="resp_{{i}}"></td>
                <td class="c_only"><input tabindex="5" class="span12" type="text" id="variance_{{i}}"></td>
                <th class="p_only"><input tabindex="6" class="span12" type="text" id="lower_ci_{{i}}"></th>
                <th class="p_only"><input tabindex="7" class="span12" type="text" id="upper_ci_{{i}}"></th>
                <td>{% if i > 0 %}<input tabindex="8" class="span12" type="text" id="significance_level_{{i}}" value="-">{% endif %}</td>
              </tr>
            {% endfor %}
          {% endif %}

          {% if crud == "Update" %}
            {% for eg in object.get_endpoint_groups %}
              <tr>
                <td class="doses" id="dose_{{eg.dose_group_id}}"></td>
                <td><input tabindex="2" class="span12" type="text" id="n_{{eg.dose_group_id}}" value="{{eg.n}}"></td>
                <td class="d_only"><input tabindex="3" class="span12" type="text" id="inc_{{eg.dose_group_id}}" value="{{eg.incidence}}"></td>
                <td class="pc_only"><input tabindex="4" class="span12" type="text" id="resp_{{eg.dose_group_id}}" value="{{eg.response}}"></td>
                <td class="c_only"><input tabindex="5" class="span12" type="text" id="variance_{{eg.dose_group_id}}" value="{{eg.variance}}"></td>
                <th class="p_only"><input tabindex="6" class="span12" type="text" id="lower_ci_{{eg.dose_group_id}}" value="{{eg.lower_ci}}"></th>
                <th class="p_only"><input tabindex="7" class="span12" type="text" id="upper_ci_{{eg.dose_group_id}}" value="{{eg.upper_ci}}"></th>
                <td>{% if forloop.counter0 > 0 %}<input tabindex="8" class="span12" type="text" id="significance_level_{{eg.dose_group_id}}" value="{% if eg.significance_level > 0 %}{{eg.significance_level}}{% else %}-{% endif %}">{% endif %}</td>
              </tr>
            {% empty %}
              {% for i in animal_group.dosing_regime.num_dose_groups|get_range %}
                <tr>
                  <td class="doses" id="dose_{{i}}"></td>
                  <td><input tabindex="2" class="span12" type="text" id="n_{{i}}"></td>
                  <td class="d_only"><input tabindex="3" class="span12" type="text" id="inc_{{i}}"></td>
                  <td class="pc_only"><input tabindex="4" class="span12" type="text" id="resp_{{i}}"></td>
                  <td class="c_only"><input tabindex="5" class="span12" type="text" id="variance_{{i}}"></td>
                  <th class="p_only"><input tabindex="6" class="span12" type="text" id="lower_ci_{{i}}"></th>
                  <th class="p_only"><input tabindex="7" class="span12" type="text" id="upper_ci_{{i}}"></th>
                  <td>{% if i > 0 %}<input tabindex="8" class="span12" type="text" id="significance_level_{{i}}" value="-">{% endif %}</td>
                </tr>
              {% endfor %}
            {% endfor %}
          {% endif %}

        </tbody>
      </table>
    </div>

    <div class="span4">
      <div id='endpoint_plot' class='d3_container'>
      </div>
    </div>

  </div>

  <button id="ssBtn" class="btn btn-mini" style="margin-left: 10px" type="button" data-toggle="modal" data-target="#ssModal">Calculate</button>
  <div id="ssModal" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Power calculation</h3>
    </div>
    <div class="modal-body">
      <form id="ssForm">
        <p class="help-block">Calculate the sample-size required to detect an effect with 80% power.</p>
        <label class="control-label">Control mean</label>
        <input type="number" name="mean" step="any">
        <label class="control-label">Control standard-deviation</label>
        <input type="number" name="sd" step="any">
        <label class="control-label">Number of animals</label>
        <input type="number" name="n">
        <label class="control-label">Difference to detect (%)</label>
        <input type="number" name="percentToDetect" value="10">
        <label class="control-label">Result:</label>
        <p id="ssResult" class="alert alert-info">-</p>
      </form>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" class="close" data-dismiss="modal" aria-hidden="true">Close</a>
      <a id="ssSavePower" href="#" class="btn btn-primary" title='Paste results into "power-notes" field' class="close" data-dismiss="modal" aria-hidden="true">Save output</a>
    </div>
  </div>

{% endblock %}

{% block extrajs %}
  {% include_jquery_libs %}
  {{ form.media }}
  <script src="{{STATIC_URL}}animal/js/endpoint.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}animal/js/edit_endpoint.js" type="text/javascript"></script>
  <script type="text/javascript">

    $(document).ready(function () {

      // reorganize forms
      $('.addEffectTag').insertAfter($('#id_effects_0').addClass("span10"));
      $('#endpointGroups').insertBefore($('div.form-actions'));

      // get doses for use in doses-data table
      window.doses = {{animal_group.get_doses_json|safe}};

      //update values in doses table
      $('#doses_title').html('Dose<br>(' + doses[0].units + ')');
      $('.doses').each(function(i, v){
        $(v).html(doses[0].values[i]);
      });

      {% if endpoint_json %} // post with errors
        window.endpoint_data = {{endpoint_json|safe}};
        window.endpoint = new EditEndpoint(endpoint_data, '#eg');
        window.endpoint.inject_doses(window.doses);
        window.endpoint.load_values_into_form();
      {% elif crud = "Update" %} // edit
        window.endpoint = new EditEndpoint({{object.d_response|safe}}, '#eg');
        window.endpoint.load_values_into_form();
      {% else %} // new
        window.endpoint = new EditEndpoint({doses: doses}, '#eg');
        window.endpoint.inject_doses(window.doses);
        window.endpoint.update_endpoint_from_form();
      {% endif %}
      window.endpoint.build_form_representation();

      // package for submission
      $('#endpoint').submit(function(){
          endpoint.update_endpoint_from_form();
          $('#egs_json').val(endpoint.build_eg_submission());
          $('#endpoint_json').val(JSON.stringify(endpoint.data));
          return true;
      });

      // whenever input changes, update data form
      $('body').on('change', 'input, select', function(i, v){
          endpoint.update_endpoint_from_form();
      });

      // show/hide dataset-type specific inputs
      var toggleDatasetType = function(){
        var varTypeDiv = $('#id_variance_type').parent().parent(),
            CI = $('#id_confidence_interval').parent().parent(),
            dataType = $('#id_data_type').val();

        if(dataType==="C"){
          varTypeDiv.fadeIn();
          $('#ssBtn').fadeIn();
        } else {
          varTypeDiv.fadeOut();
          $('#id_variance_type').val(0);
          $('#ssBtn').fadeOut();
        }

        if(dataType==="P"){
          CI.fadeIn();
        } else {
          CI.fadeOut();
          $('#id_confidence_interval').val("");
        }
      };
      $('body').on('change', '#id_data_type', toggleDatasetType);
      toggleDatasetType();

      // toggle the name of the variance column header as the value changes
      var toggleVarianceColumnHeader = function(){
        var varHeader = $('#varianceHeader'),
            varType = parseInt($('#id_variance_type').val(), 0);
        varHeader.html(EditEndpoint.getVarianceType(varType));
      }
      $('body').on('change', '#id_variance_type', toggleVarianceColumnHeader);
      toggleVarianceColumnHeader();

      // initialize sample-size power widget
      new SampleSizeWidget();

    });
  </script>

{% endblock %}
