{% extends 'portal.html' %}

{% load add_class %}
{% load get_range %}
{% load selectable_tags %}

{% block title %}
  {% if crud == "Create" %}
    {{assessment}} | {{animal_group.experiment.study}} | {{animal_group.experiment}} | {{animal_group}} | Create Endpoint | HAWC
  {% elif crud == "Update" %}
    {{assessment}} | {{object.animal_group.experiment.study}} | {{object.animal_group.experiment}} | {{object.animal_group}} | Update {{object}} | HAWC
  {% endif %}
{% endblock title %}

{% block extrastyle %}
  {% include_ui_theme %}
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' pk=assessment.pk %}">{{ assessment }}</a><span class="divider">/</span></li>
  {% if crud == "Create" %}
    <li><a href="{% url 'study:detail' animal_group.experiment.study.pk %}">{{animal_group.experiment.study}}</a><span class="divider">/</span></li>
    <li><a href="{% url 'animal:experiment_detail' animal_group.experiment.pk %}">{{animal_group.experiment}}</a><span class="divider">/</span></li>
    <li><a href="{% url 'animal:animal_group_detail' animal_group.pk %}">{{animal_group}}</a><span class="divider">/</span></li>
    <li class="active"> Create Endpoint <span class="divider">/</span></li>
  {% elif crud == "Update" %}
    <li><a href="{% url 'study:detail' object.animal_group.experiment.study.pk %}">{{object.animal_group.experiment.study}}</a><span class="divider">/</span></li>
    <li><a href="{% url 'animal:experiment_detail' object.animal_group.experiment.pk %}">{{object.animal_group.experiment}}</a><span class="divider">/</span></li>
    <li><a href="{% url 'animal:animal_group_detail' object.animal_group.pk %}">{{object.animal_group}}</a><span class="divider">/</span></li>
    <li><a href="{% url 'animal:endpoint_detail' object.pk %}">{{object}}</a><span class="divider">/</span></li>
    <li class="active">Update<span class="divider">/</span></li>
  {% endif %}
{% endblock %}

{% block content %}

  <form id="endpoint" class="form-horizontal" action="." method="post">

    {% csrf_token %}
    <fieldset>
      {% if crud == "Create" %}
        <legend>Create new endpoint</legend>
        <span class="help-block">Create a new endpoint with individual animal data. Each endpoint is associated with one animal-group.</span><br>
      {% elif crud == "Update" %}
        <legend>Update individual data </legend>
        <span class="help-block">Update an existing endpoint with individual animal data.</span><br>
      {% endif %}
      <div class="row-fluid">
        <div class="span7">
          {{ form.non_field_errors|add_class:"alert alert-error" }}

          {% for field in form %}
            <div class="control-group form-row">
              {{field.label_tag|add_class:"control-label"}}
              <div class="controls">
                {% if field.label == "Effects" %}
                  <div class="row-fluid">
                    <div class="span11">
                      {{field}}
                    </div>
                    <div class="span1">
                      <a class ='btn btn-primary'href="{% url 'assessment:effect_tag_create' assessment.pk %}"onclick="return HAWCUtils.newWindowPopupLink(this);" title="Add new effect tag">+</a>
                    </div>
                  </div>
                {% else %}
                  {{field}}
                {% endif %}
                <span class='help-block'>{{field.help_text}}</span>
              </div>
              {{field.errors|add_class:"alert alert-error"}}
            </div>
          {% endfor %}

          <input id="egs_json" name="egs_json" type="hidden"></input>
          <input id="iad_json" name="iad_json" type="hidden"></input>
          <input id="endpoint_json" name="endpoint_json" type="hidden"></input>
        </div>
        <div id='bmd_ds_plot' class="d3_container span5" style="max-width:550px"></div>
      </div>
    </fieldset>

    <h3 id="eg_header">Dose-response data</h3>

    {% if egs_errors %}<div class="alert alert-error">{{egs_errors|safe}}</div>{% endif %}
    {% if iad_errors %}<div class="alert alert-error">{{iad_errors|safe}}</div>{% endif %}

    <table id="eg" class="table table-condensed table-striped">
      <thead>
        {% if crud == "Create" %}
          <tr>
            <th id="doses_title">Dose</th>
            {% for i in animal_group.dose_groups|get_range %}
              <td class="doses" id="dose_{{i}}"></td>
            {% endfor %}
          </tr>
          <tr>
            <th>N</th>
            {% for i in animal_group.dose_groups|get_range %}
              <td><input tabindex="1" class="span12 n_fields" type="text" id="n_{{i}}"></td>
            {% endfor %}
          </tr>
          <tr>
            <th>Average<br>Response</th>
            {% for i in animal_group.dose_groups|get_range %}
              <td><input disabled class="span12" type="text" id="resp_{{i}}"></td>
            {% endfor %}
          </tr>
          <tr>
            <th>Variance (SD)</th>
            {% for i in animal_group.dose_groups|get_range %}
              <td><input disabled class="span12" type="text" id="variance_{{i}}"></td>
            {% endfor %}
          </tr>
          <tr>
            <th>Significance<br>Level</th>
            {% for i in animal_group.dose_groups|get_range %}
              <td>{% if i > 0 %}<input class="span12" type="text" id="significance_level_{{i}}" value="-">{% endif %}</td>
            {% endfor %}
          </tr>
        {% elif crud == "Update" %}
          {% with egs=object.get_endpoint_groups %}
            <tr>
              <th id="doses_title">Dose</th>
              {% for eg in egs %}
                <td class="doses" id="dose_{{eg.dose_group_id}}"></td>
              {% endfor %}
            </tr>
            <tr>
              <th>N</th>
              {% for eg in egs %}
                <td><input tabindex="1" class="span12 n_fields" type="text" id="n_{{eg.dose_group_id}}" value="{{eg.n}}"></td>
              {% endfor %}
            </tr>
            <tr>
              <th>Average<br>Response</th>
              {% for eg in egs %}
                <td><input disabled class="span12" type="text" id="resp_{{eg.dose_group_id}}" value="{{eg.response}}"></td>
              {% endfor %}
            </tr>
            <tr>
              <th>Variance (SD)</th>
              {% for eg in egs %}
                <td><input disabled class="span12" type="text" id="variance_{{eg.dose_group_id}}"  value="{{eg.variance}}"></td>
              {% endfor %}
            </tr>
            <tr>
              <th>Significance<br>Level</th>
              {% for eg in egs %}
                <td>{% if eg.dose_group_id > 0 %}<input class="span12" type="text" id="significance_level_{{eg.dose_group_id}}" value="{% if eg.significance_level > 0 %}{{eg.significance_level}}{% else %}-{% endif %}">{% endif %}</td>
              {% endfor %}
            </tr>
          {% endwith %}
        {% endif %}
      </thead>
      <tbody></tbody>
    </table>

    <div class="row-fluid">
      <div class="span12 form-actions">
        <button id='submit_form' type="submit" class="btn btn-primary">{{ crud }} endpoint</button>
        {% if crud == "Create" %}
          <a href='{% url 'animal:animal_group_detail' animal_group.pk %}' class="btn">Cancel</a>
        {% elif crud = "Update" %}
          <a href="{% url 'animal:endpoint_detail' object.pk %}" class="btn">Cancel</a>
        {% endif %}
      </div>
    </div>
  </form>

{% endblock %}

{% block extrajs %}
  {% include_jquery_libs %}
  {{ form.media }}
  <script src="{{STATIC_URL}}animal/js/endpoint.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}animal/js/edit_endpoint.js" type="text/javascript"></script>
  <script type="text/javascript">
    $('#id_data_type').html('<option value="C">Continuous</option>').prop('disabled', true);

    {% if crud == "Create" %}
      var doses = {{animal_group.get_doses_json|safe}};
    {% elif crud == "Update" %}
      var doses = {{object.animal_group.get_doses_json|safe}};
    {% endif %}

    //update values in doses field
    $('#doses_title').html('Dose<br>(' + doses[0].units + ')');
    $('.doses').each(function(i, v){$(v).html(doses[0].values[i]);});

    {% if endpoint_json %} // post with errors
      var endpoint_data = {{endpoint_json|safe}};
      var endpoint = new EditEndpointIAD(endpoint_data, '#eg', doses);
      endpoint.load_values_into_form();
    {% elif crud = "Update" %}
      var endpoint = new EditEndpointIAD({{object.d_response|safe}}, '#eg', doses);
      endpoint.load_values_into_form();
    {% else %} // new
      var endpoint = new EditEndpointIAD({}, '#eg', doses);
      endpoint.update_endpoint_from_form();
    {% endif %}
    endpoint.build_form_representation();

    $('#endpoint').submit(function(){
        endpoint.update_endpoint_from_form();
        var results = endpoint.build_submission();
        $('#egs_json').val(results.endpoint_group);
        $('#iad_json').val(results.iad);
        $('#endpoint_json').val(JSON.stringify(endpoint.data));
        $('#id_data_type').prop('disabled', false);
        return true;
    });

    $('body').on('change', 'input, select', function(i, v){
        endpoint.update_endpoint_from_form();
    });
  </script>

{% endblock %}
