{% extends 'base_d3_only.html' %}


{% block title %}
  {{assessment}} | {{object.animal_group.experiment.study}} | {{object.animal_group.experiment}} | {{object.animal_group}} | {{object}} | Plot | HAWC
{% endblock title %}

{% block content %}
  <div class="row" style="padding:10px">
    <div class="span12" style="max-width:550px">
      <div id='bmd_ds_plot' class='d3_container'>
      </div>
    </div>
  </div>
{% endblock %}

{% block extrajs %}
  <script src="{{STATIC_URL}}animal/js/endpoint.js" type="text/javascript"></script>
  <script type="text/javascript">
    var endpoint = new Endpoint({{object.d_response|safe}});
    var plot = new EndpointPlotContainer(endpoint, '#bmd_ds_plot');
  </script>
{% endblock %}
