{% extends 'portal.html' %}


{% block title %}
  {{assessment}} | Reference Value | {{object}} | HAWC
{% endblock title %}

{% block breadcrumbs %}
  <li class=""><a href="{% url 'assessment:detail' assessment.pk %}">{{assessment}}</a><span class="divider">/</span></li>
  <li><a href="{% url 'animal:ref_val_list' pk=assessment.pk %}">Reference Values</a><span class="divider">/</span></li>
  {% block breadcrumbs_self %}
    <li class="active">{{object}}<span class="divider">/</span></li>
  {% endblock breadcrumbs_self %}
{% endblock %}

{% block content %}
  <h1>{{object}}
    {% if crud == "Read" and obj_perms.edit %}
      <div class="btn-group pull-right">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions <span class="caret"></span></a>
        <ul class="dropdown-menu">
          {% if obj_perms.edit %}
            <li class="disabled"><a tabindex="-1" href="#">Reference-Value Editing</a></li>
            <li><a href="{% url 'animal:ref_val_update' object.pk %}">Update reference value</a></li>
            <li><a href="{% url 'animal:ref_val_delete' object.pk %}">Delete reference value</a></li>
          {% endif %}
        </ul>
      </div>
    {% endif %}
  </h1>

  <table class="table table-condensed table-striped">
    <colgroup>
      <col style="width: 30%;">
      <col style="width: 70%;">
    </colgroup>
    <thead></thead>
    <tbody>
      <tr>
        <th>Reference-Value Type</th>
        <td>{{object.get_type_display}}</td>
      </tr>
      <tr>
        <th>Point-of-Departure</th>
        <td>{{object.point_of_departure|stringformat:"1.3E"}} ({{object.units}})</td>
      </tr>
      <tr>
        <th>Aggregate uncertainty value</th>
        <td>{{object.aggregate_uf|stringformat:"d"}}</td>
      </tr>
      <tr>
        <th>Reference-Value</th>
        <td>{{object.reference_value|stringformat:"1.4E"}} ({{object.units}})</td>
      </tr>
      <tr>
        <th>Justification</th>
        <td>{{object.justification|safe}}</td>
      </tr>
      <tr>
        <th>Aggregation</th>
        <td><a href="{{object.aggregation.get_absolute_url}}">{{object.aggregation}}</a></td>
      </tr>
      <tr>
        <th>Last Updated</th>
        <td>{{object.changed}}</td>
      </tr>
    </tbody>
  </table>

  <div class="row-fluid">
    <h3>Uncertainty values</h3>
    <div id='uf_plot' class="d3_container"></div>
    <div id='uf_table'></div>
  </div>

  {% if crud == "Read" %}
    <div id="comments_block"></div>
  {% endif %}

{% endblock content %}

{% block extrajs %}
  <script src="{{STATIC_URL}}animal/js/endpoint.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}animal/js/aggregation.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}animal/js/ufs.js" type="text/javascript"></script>
  {% if crud == "Read" %}
    {% include "comments/_comments_extrajs.html" %}
  {% endif %}
  <script type="text/javascript">
    $(document).on('ready', function(){
      window.rv = new ReferenceValue({{object.get_json|safe}});
      var options = {build_plot_startup: true,
               default_x_axis: 'log',
               show_legend: false,
               show_title: true,
               title: rv.data.name,
               show_y_labels: false,
               padding: {top:40, right:20, bottom:40, left:20},
               show_menu_bar: true};
      window.plot = new UncertaintyFactorPlot([rv], $('#uf_plot'), options);
      window.rv.build_uf_table('#uf_table');

  })
  </script>
{% endblock %}
