{% extends 'base_d3_only.html' %}


{% block title %}
Matrix Plot | HAWC
{% endblock title %}

{% block content %}
  <div class="row-fluid">
    <div class="span12" id='d3_plot' class='d3_container'></div>
  </div>
  <div class="row-fluid">
    <div class="span12" id="endpoint_details"></div>
  </div>
{% endblock %}

{% block extrajs %}
  <script src="{{STATIC_URL}}animal/js/endpoint.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}animal/js/aggregation.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}animal/js/__review_json.json" type="text/javascript"></script>
  <script src="{{STATIC_URL}}animal/js/sq_matrix.js" type="text/javascript"></script>
  <script type="text/javascript">
    $( document ).ready(function(){
        var endpoints = []
        endpoints_json.forEach(function(v, i){endpoints.push(new Endpoint(v));});
        window.aggregation = new Aggregation(endpoints, "Foo Name");
        window.plot = new StudyQualityMatrix(aggregation,'#d3_plot', {"build_plot_startup": true})
    });
  </script>
{% endblock %}
