{% extends 'portal.html' %}

{% block title %}
  {{assessment}} | {{endpoint.animal_group.experiment.study}} | {{endpoint.animal_group.experiment}} | {{endpoint.animal_group}} | {{endpoint}} | Uncertainty Factors | HAWC
{% endblock title %}

{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' assessment.pk %}">{{assessment}}</a><span class="divider">/</span></li>
  <li><a href="{% url 'study:detail' endpoint.animal_group.experiment.study.pk %}">{{endpoint.animal_group.experiment.study}}</a><span class="divider">/</span></li>
  <li><a href="{% url 'animal:experiment_detail' endpoint.animal_group.experiment.pk %}">{{endpoint.animal_group.experiment}}</a><span class="divider">/</span></li>
  <li><a href="{% url 'animal:animal_group_detail' endpoint.animal_group.pk %}">{{endpoint.animal_group}}</a><span class="divider">/</span></li>
  <li><a href="{% url 'animal:endpoint_detail' endpoint.pk %}">{{endpoint}}</a><span class="divider">/</span></li>
  <li class="active" >Uncertainty Factors<span class="divider">/</span></li>
{% endblock %}

{% block content %}
  <h1>Uncertainty Factors
    {% if obj_perms.edit %}
      <div class="btn-group pull-right">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'animal:uf_create' endpoint.pk %}">Create new</a></li>
        </ul>
      </div>
    {% endif %}
  </h1>

  {% include "animal/_uf_list_table.html" %}

{% endblock %}
