{% extends "admin/change_form.html" %}
{% load selectable_tags %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <!-- https://github.com/mlavin/django-selectable/issues/218#issuecomment-715636851 -->
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/base/jquery-ui.css" type="text/css">
    <link href="{% static 'selectable/css/dj.selectable.css' %}" type="text/css" media="all" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.js"></script>
    <script type="text/javascript" src="{% static 'selectable/js/jquery.dj.selectable.js' %}"></script>
    {% include_ui_theme %}
    {% include_jquery_libs %}
{% endblock %}
