.score-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    height: 50px;
    width: 50px;
    border: 2px solid gray;
    line-height: 3px;
    font-weight: bold;
    font-size: larger;
    color: white;
}
