.domain-cell {
    display: flex;
    flex-direction: column;
}
.header-box {
    display: flex;
    align-items: center;
    flex: 2;
    background-color: #dfdfdf;
    padding: 4px 5px;
    text-align: center;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    color: #404040;
}

.domain-header {
    flex: 1;
}

.score-row {
    display: flex;
    flex-flow: row;
}
