.score-cell {
    flex: 1;
    padding: 4px 5px;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.score-cell-scores-span {
    padding: 5px 10px;
    border-radius: 5px;
}
