{% extends 'portal.html' %}

{% block title %}
  {{assessment}} | Tasks | HAWC
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{{assessment.get_absolute_url}}">{{ assessment }}</a><span class="divider">/</span></li>
  <li><a href="{% url 'mgmt:assessment_dashboard' assessment.pk %}">Management dashboard</a><span class="divider">/</span></li>
  <li><a href="{% url 'mgmt:assessment_tasks' assessment.pk %}">Task list</a><span class="divider">/</span></li>
  <li class="active">Modify<span class="divider">/</span></li>
{% endblock %}

{% block content %}

  <h2>Task list modify table</h2>

  <pre id='response'></pre>

{% endblock %}


{% block extrajs %}
<script type="text/javascript">
$(document).ready(function(){
    $.get('{% url "mgmt:api:task-list" %}?assessment_id={{assessment.pk}}', function(d){
        $('#response').html(JSON.stringify(d, null, '  '));
    });
});
</script>
{% endblock extrajs %}

