{% extends 'portal.html' %}


{% block title %}
    Task assignments | HAWC
{% endblock %}

{% block breadcrumbs %}
  <li class="active">My assigned tasks<span class="divider">/</span></li>
{% endblock %}

{% block content %}

  <h2>My assigned tasks</h2>

  <div id='taskAssignments'></div>

{% endblock %}


{% block extrajs %}
<script id="config" type="text/json" charset="utf-8">
    {
        "csrf": "{{ csrf_token }}",
        "host": "//{{ request.get_host }}",
        "user": "{{user.id}}",
        "tasks": {
            "submit_url": "{% url 'mgmt:api:task-list' %}",
            "url": "{% url 'mgmt:api:task-assignments' %}",
            "list": {{list_json|safe}},
            "rob_tasks": {{review_tasks|safe}}
        },
        "autocomplete": {
            "url": "{% url 'selectable-lookup' 'myuser-assessmentteammemberorhigherlookup' %}"
        }
    }
</script>
<script type="text/javascript">
window.app.mgmtStartup(function(mgmt){
    mgmt.TaskAssignments(document.getElementById('taskAssignments'));
});
</script>
{% endblock extrajs %}
