.bar-chart-label-left {
    text-anchor: end;
    alignment-baseline: central;
    font-weight: bold;
}
.bar-chart-label-right {
    text-anchor: start;
    alignment-baseline: central;
    font-weight: bold;
}
