{% block content %}
  <div class="my-4">
    <h3>Literature Tagging & Screening</h3>
    <div class="card-columns">
      {% analytics_card value=n label='total searches' %}
      <div class="card box-shadow">
        <div class="card-body">
          <h4 class="card-title">Reference source types</h4>
          <h2 class="m-0 mt-1">{{ search_source.imports }}</h2>
          <p class="small">Added from Imports (PubMed/HERO/RIS)</p>
          <p><b>{{ search_source.pubmed_imports }}</b> PubMed, <b>{{ search_source.hero_imports }}</b> HERO, <b>{{ search_source.ris_imports }}</b> RIS</p>
          <h2 class="m-0 mt-1">{{ search_source.searches }}</h2>
          <p class="small">Added from PubMed Keyword Searches</p>
        </div>
      </div>
      {% analytics_card value=total_n_refs label='total references' %}
      <div class="card box-shadow">
        <div class="card-body">
          <h4 class="card-title">Reference tags breakdown</h4>
          <h2 class="m-0 mt-1">{{ ref_tags_breakdown.total_tags_applied }}</h2>
          <p class="small">total tags applied</p>
          <h2 class="m-0 mt-1">{{ ref_tags_breakdown.with_tags }}</h2>
          <p class="small">references with tags</p>
          <h2 class="m-0 mt-1">{{ ref_tags_breakdown.no_tags }}</h2>
          <p class="small">references with no tags</p>
        </div>
      </div>
    </div>
    <div class="card-columns">
      {% include 'common/analytics_plot.html' with title='Number of references per import' plot=refs_per_import_plot caption='Box plot displaying the number of references per import' %}
      {% include 'common/analytics_plot.html' with title='References by publication year' plot=refs_by_year_plot %}
      {% include 'common/analytics_plot.html' with title='References and tags plot' plot=refs_tags_plot %}
    </div>
    <hr/>
  </div>


  <div class="my-4">
    <h3>Study</h3>
    <div class="card-columns">
      {% analytics_card value=study_types.total label='total studies' %}
      <div class="card box-shadow">
        <div class="card-body">
          <h4 class="card-title">Published breakdown</h4>
          <h2 class="m-0 mt-1">{{ study_types.published }}</h2>
          <p class="small">published studies</p>
          <h2 class="m-0 mt-1">{{ study_types.unpublished }}</h2>
          <p class="small">unpublished studies</p>
        </div>
      </div>
      <div class="card box-shadow">
        <div class="card-body">
          <h4 class="card-title">Study type breakdown</h4>
          <h2 class="m-0 mt-1">{{ study_types.animal }}</h2>
          <p class="small">animal studies</p>
          <h2 class="m-0 mt-1">{{ study_types.epi }}</h2>
          <p class="small">epi studies</p>
          <h2 class="m-0 mt-1">{{ study_types.epiv2 }}</h2>
          <p class="small">epiv2 studies</p>
          <h2 class="m-0 mt-1">{{ study_types.rob }}</h2>
          <p class="small">risk of bias studies</p>
        </div>
      </div>
    </div>
    <hr/>
  </div>

  <div class="my-4">
    <h3>Animal Bioassay</h3>
    <div class="card-columns">
      {% analytics_card value=animal_counts.studies label='total studies' %}
      {% analytics_card value=animal_counts.experiments label='total experiments' %}
      {% analytics_card value=animal_counts.animal_groups label='total animal groups' %}
      {% analytics_card value=animal_counts.endpoints label='total endpoints' %}
      {% include 'common/analytics_plot.html' with title='Experiments by type' plot=experiment_type_plot %}
      {% analytics_card value=n_endpoints_extracted label='endpoints with data extracted' %}
      {% analytics_card value=n_endpoints_ehv label='endpoints using Environmental Health Vocabulary (EHV)' %}
      {% analytics_card value=n_dose_res_groups label='total dose response groups' %}
    </div>
    <hr/>
  </div>

  <div class="my-4">
    <h3>Summary Tables and Visuals</h3>
    <div class="card-columns">
      {% analytics_card value=summary_count.visual label='total visuals' %}
      {% analytics_card value=summary_count.datapivot label='total data pivots' %}
      {% analytics_card value=summary_count.table label='total tables' %}
      {% include 'common/analytics_plot.html' with title='Visuals by type' plot=summary_count.visual_barchart %}
      {% include 'common/analytics_plot.html' with title='Tables by type' plot=summary_count.table_barchart %}
    </div>
    <hr/>
  </div>

  <div class="my-4">
    <h3>Epidemiology</h3>
    <div class="card-columns">
      {% analytics_card value=epi_counts.n_epi_studies label="total studies" %}
      {% analytics_card value=epi_counts.n_epi_outcomes label="epidemiological outcomes" %}
      {% include 'common/analytics_plot.html' with title='Study Populations by Design' plot=study_pop_design_plot %}
    </div>
    <hr/>
  </div>

  <div class="my-4">
    <h3>Epidemiology V2</h3>
    <div class="card-columns">
      {% analytics_card value=epiv2_counts.n_epiv2_studies label='total studies' %}
      {% analytics_card value=epiv2_counts.n_epiv2_outcomes label='epi v2 outcomes' %}
      {% include 'common/analytics_plot.html' with title='Study Design' plot=epiv2_study_design_plot %}
    </div>
    <hr/>
  </div>

  <div class="my-4">
    <h3>Risk of Bias</h3>
    <div class="card-columns">
      {% analytics_card value=rob_counts.n_robs label='reviews' %}
      {% analytics_card value=rob_counts.n_active label='active reviews' %}
      {% analytics_card value=rob_counts.n_final label='final reviews' %}
      {% include 'common/analytics_plot.html' with title='Score Counts' plot=rob_score_plot %}
    </div>
    <hr/>
  </div>
{% endblock %}
