{% block content %}
  <div class="d-flex mb-2">
    {% actions %}
      <a class="dropdown-item" href="{% url 'mgmt:api:assessment-time-series' assessment_pk 'reference' %}?format=xlsx">Download Reference Export (xlsx)</a>
      <a class="dropdown-item" href="{% url 'mgmt:api:assessment-time-series' assessment_pk 'study' %}?format=xlsx">Download Study Export (xlsx)</a>
      <a class="dropdown-item" href="{% url 'mgmt:api:assessment-time-series' assessment_pk 'rob' %}?format=xlsx">Download Risk of Bias Export (xlsx)</a>
      <a class="dropdown-item" href="{% url 'mgmt:api:assessment-time-series' assessment_pk 'visual' %}?format=xlsx">Download Visual Export (xlsx)</a>
      <a class="dropdown-item" href="{% url 'mgmt:api:assessment-time-series' assessment_pk 'data_pivot' %}?format=xlsx">Download Data Pivot Export (xlsx)</a>
      <a class="dropdown-item" href="{% url 'mgmt:api:assessment-time-series' assessment_pk 'total_visuals' %}?format=xlsx">Download Total Visuals Export (xlsx)</a>

    {% endactions %}
  </div>
  <div class="row card-group">
    {% include 'common/analytics_plot.html' with title='References created over time' plot=refs %}
    {% include 'common/analytics_plot.html' with title='Studies created over time' plot=studies %}
    {% include 'common/analytics_plot.html' with title='Risk Of Bias created over time' plot=robs %}
  </div>
  <div class="row card-group">
    {% include 'common/analytics_plot.html' with title='Data pivots created over time' plot=datapivots %}
    {% include 'common/analytics_plot.html' with title='Visuals created over time' plot=visuals %}
    {% include 'common/analytics_plot.html' with title='Total visuals and data pivots over time' plot=total_visuals %}
  </div>
{% endblock %}
