<td hx-post="{% url 'vocab:observation-htmx' experiment status 'create' %}?endpoint={{object.endpoint.id}}"
    hx-target="this"
    hx-swap="outerHTML"
    hx-include="[name='{{object.endpoint.id}}-{{status}}']">

  <form class="form">{% csrf_token %}
    <div class="custom-control custom-switch">
      {% if user.is_authenticated %}
        <input type="hidden" class="hidden-default" name="hidden_default" value="{{object.id|yesno:'-,✔'}}">
        <input type="checkbox" class="custom-control-input" name="{{object.endpoint.id}}-{{status}}" value="True" hx-trigger="click"
               {% if status == "tested_status" and object.tested_status %} checked {% endif %}
               {% if status == "reported_status" and object.reported_status %} checked {% endif %}
        />
        <label class="custom-control-label">&nbsp;</label>
        <span class="fa fa-spin fa-spinner float-right htmx-indicator"></span>
      {% elif status == "tested_status" %}
        {{ object.tested_status|yesno:"Yes,No" }}
      {% elif status == "reported_status" %}
        {{ object.reported_status|yesno:"Yes,No" }}
      {% endif %}
    </div>
  </form>
</td>
