{% extends "crumbless.html" %}

{% block title %}Password reset | HAWC{% endblock %}

{% block content %}

  {% if validlink %}
    {% crispy form %}
  {% else %}
    <h2>Password reset unsuccessful</h2>
    <p>
      The password reset link was invalid. There link may be invalid for
      one of the following reasons:
    </p>
    <ul>
      <li>The link may already have been used</li>
      <li>The link may be expired (expires after 72 hours)</li>
    </ul>
    <p>
      Please <a href="{% url 'user:reset_password' %}">request</a> a new
      link, or <a href="{% url 'contact' %}">contact-us</a> for
      help.
    </p>
  {% endif %}

{% endblock content %}
