{% extends 'assessment-rooted.html' %}
{% block content %}

  {% include "hawc/_copy_as_new.html" with name="comparison group" notes="Select an comparison group as a template to create a new one." %}

{% endblock content %}

{% block extrajs %}
  <script type="text/javascript">
    $(document).ready(function(){

      new window.app.HAWCUtils.InitialForm({
        "form": $('form'),
        "base_url": "{% url 'epi:cs_outcome_create' object.pk %}"
      });

    });
  </script>
{% endblock extrajs %}

