{% extends 'assessment-rooted.html' %}

{% block content %}
  <div class="d-flex">
    <h2>{{ object.name }}</h2>

    {% if obj_perms.edit and crud == "Read" %}
      {% actions %}
        <span class="dropdown-header">Comparison group editing</span>
        <a class="dropdown-item" href="{% url 'epi:cs_update' object.pk %}">Update</a>
        <a class="dropdown-item" href="{% url 'epi:cs_delete' object.pk %}">Delete</a>
      {% endactions %}
    {% endif %}

  </div>
  <div id="objContainer"></div>
{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
    const id = {{object.id}};
    window.app.startup("epiStartup", function(app){
      app.ComparisonSet.displayFullPager($("#objContainer"), id);
    });
  </script>
{% endblock %}
