{% extends 'assessment-rooted.html' %}

{% block content %}
    <h1 class="d-inline-block">{{object.name}}</h1>
    {% if obj_perms.edit and crud == "Read" %}
      <div class="dropdown btn-group float-right">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions</a>
        <div class="dropdown-menu dropdown-menu-right">
            <span class="dropdown-header">Comparison group editing</span>
            <a class="dropdown-item" href="{% url 'epi:cs_update' object.pk %}">Update</a>
            <a class="dropdown-item" href="{% url 'epi:cs_delete' object.pk %}">Delete</a>
        </div>
      </div>
    {% endif %}
    <div id="objContainer"></div>
{% endblock %}


{% block extrajs %}
  <script type="text/javascript">
    const id = {{object.id}};
    window.app.startup("epiStartup", function(app){
      app.ComparisonSet.displayFullPager($("#objContainer"), id);
    });
  </script>
{% endblock %}
