{% extends 'assessment-rooted.html' %}

{% block content %}
    <h1 style="display:inline-block;">{{object.name}}</h1>
    {% if obj_perms.edit and crud == "Read" %}
      <div class="dropdown btn-group float-right">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions</a>
        <div class="dropdown-menu dropdown-menu-right">
            <span class="dropdown-header">Group editing</span>
            <a class="dropdown-item" href="{% url 'epi:g_update' object.pk %}">Update</a>
        </div>
      </div>
    {% endif %}
    <div id="objContainer"></div>
{% endblock %}


{% block extrajs %}
  <script type="text/javascript">
    window.app.epiStartup(function(epi){
      epi.Group.displayFullPager($("#objContainer"), {{object.id}});
    });
  </script>
{% endblock %}
