{% extends 'assessment-rooted.html' %}

{% load bs4 %}

{% block content %}
<h2>Outcomes ({{page_obj.paginator.count}} found)</h2>
{% include 'common/inline_filter_form.html' %}
<table id="mainTbl" class="table table-sm table-striped">
    {% bs4_colgroup '17,20,17,18,14,14' %}
    {% bs4_thead 'Study,Study population,Outcome,System,Effect,Diagnostic' %}
    <tbody>
        {% for object in object_list %}
        <tr>
            <td>
                <a href="{{object.study_population.study.get_absolute_url}}">{{object.study_population.study.short_citation}}</a>
            </td>
            <td>
                <a href="{{object.study_population.get_absolute_url}}">{{object.study_population.name}}</a>
            </td>
            <td class="previewModalParent">
                <i data-id={{object.pk}} class="float-right fa fa-external-link previewModalIcon mr-2" title="preview"></i>
                <a href="{{object.get_absolute_url}}">{{object.name}}</a>
            </td>
            <td>
                {{object.system|default:"--"}}
            </td>
            <td>
                {{object.effect|default:"--"}}
            </td>
            <td>
                {{object.get_diagnostic_display|default:"--"}}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">
                No outcomes available
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include "includes/paginator.html" with plural_object_name="outcomes" %}

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    window.app.startup("epiStartup", function (app) {
        $("i.previewModalIcon").click(e => app.Outcome.displayAsModal($(e.target).data("id")));
    });
</script>
{% endblock %}
