{% extends 'assessment-rooted.html' %}

{% load crispy_forms_tags %}

{% block content %}
  {% crispy form %}
{% endblock %}

{% block extrajs %}
  {{ form.media }}
  <script type="text/javascript">
    $(document).ready(function(){

      // show-hide N fields for cohort level fields only
      var nDiv = $("#id_eligible_n").closest('.row');
      $('#id_design').on('change', function(e){
        if (_.contains(['CC'], e.target.value)){
          nDiv.hide();
        } else {
          nDiv.show();
        }
      }).trigger('change');

    });
  </script>
{% endblock extrajs %}
