{% extends 'assessment-rooted.html' %}

{% block content %}
    <div class="d-flex">
      <h2>{{object.name}}</h2>
      {% if obj_perms.edit and crud == "Read" %}
        {% actions %}
            <span class="dropdown-header">Study population editing</span>
            <a class="dropdown-item" href="{% url 'epi:sp_update' object.pk %}">Update</a>
            <a class="dropdown-item" href="{% url 'epi:sp_delete' pk=object.pk %}">Delete</a>
            <div class="dropdown-divider"></div>
            <span class="dropdown-header">Exposure measurements</span>
            <a class="dropdown-item" href="{% url 'epi:exp_create' object.pk %}">Create</a>
            <a class="dropdown-item" href="{% url 'epi:exp_copy_selector' object.pk %}">Copy from existing</a>
            {% if object.can_create_sets %}
              <div class="dropdown-divider"></div>
              <span class="dropdown-header">Comparison sets</span>
              <a class="dropdown-item" href="{% url 'epi:cs_create' object.pk %}">Create</a>
              <a class="dropdown-item" href="{% url 'epi:cs_copy_selector' object.pk %}">Copy from existing</a>
            {% endif %}
            <div class="dropdown-divider"></div>
            <span class="dropdown-header">Outcomes</span>
            <a class="dropdown-item" href="{% url 'epi:outcome_create' object.pk %}">Create</a>
            <a class="dropdown-item" href="{% url 'epi:outcome_copy_selector' object.pk %}">Copy from existing</a>
        {% endactions %}
      {% endif %}
    </div>
    <div id="objContainer"></div>
{% endblock %}


{% block extrajs %}
  <script type="text/javascript">
    const id = {{object.id}};
    window.app.startup("epiStartup", function(app){
      app.StudyPopulation.displayFullPager($("#objContainer"), id);
    });
  </script>
{% endblock %}
