{% extends 'portal.html' %}

{% load selectable_tags %}
{% load crispy_forms_tags %}


{% block title %}
  {% include "hawc/siteTitle.html" with crumbs=form.instance.get_crumbs crud=crud %}
{% endblock title %}

{% block extrastyle %}
  {% include_ui_theme %}
{% endblock %}

{% block breadcrumbs %}
  {% include "hawc/breadcrumbs.html" with crumbs=form.instance.get_crumbs crud=crud %}
{% endblock %}

{% block content %}
  {% crispy form %}
{% endblock %}

{% block extrajs %}
  {{ form.media }}
  <script type="text/javascript">
    $(document).ready(function(){

      // show-hide N fields for cohort level fields only
      var nDiv = $("#id_eligible_n").closest('.row');
      $('#id_design').on('change', function(e){
        if (_.contains(['CC'], e.target.value)){
          nDiv.hide();
        } else {
          nDiv.show();
        }
      }).trigger('change');

    });
  </script>
{% endblock extrajs %}
