{% if object_list %}
  <table class="table table-condensed table-striped">
    <colgroup>
        <col style="width:25%"></col>
        <col style="width:25%"></col>
        <col style="width:25%"></col>
        <col style="width:25%"></col>
    </colgroup>
    <thead>
      <tr>
        <th>Protocol name</th>
        <th>Protocol type</th>
        <th>Total references in literature search</th>
        <th>Total references included in analysis</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        <tr>
          <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
          <td>{{object.get_protocol_type_display}}</td>
          <td>{{object.total_references}}</td>
          <td>{{object.total_studies_identified}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No meta-protocols are available.</p>
{% endif %}

