{% extends 'assessment-rooted.html' %}

{% block content %}
  <h2 class="d-inline-block">{{assessment.get_rob_name_display}} requirements</h1>
  {% if obj_perms.edit and crud == "Read" %}
    <div class="btn-group float-right">
      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions</a>
      <div class="dropdown-menu dropdown-menu-right">
        {% if obj_perms.edit_assessment %}
        <span class="dropdown-header">{{assessment.get_rob_name_display}} settings</span>
        <a class="dropdown-item" href="{% url 'riskofbias:arob_update' assessment.pk %}">Update requirements</a>
        <div class="dropdown-divider"></div>
        {% endif %}

        <span class="dropdown-header">Study assignment</span>
        <a class="dropdown-item" href="{% url 'riskofbias:arob_reviewers' assessment.pk %}">View assignments</a>

        {% if obj_perms.edit_assessment %}
        <div class="dropdown-divider"></div>
        <span class="dropdown-header">Data cleanup</span>
        <a class="dropdown-item" href="{% url 'assessment:clean_study_metrics' assessment.pk %}">Clean {{assessment.get_rob_name_display|lower}} responses</a>
        {% endif %}
      </div>
    </div>
  {% endif %}

  {{assessment.rob_settings.help_text|safe}}

  {% if no_data %}
  {% include 'riskofbias/_arob_none_alert.html' %}
  {% else %}
  <div id="robMain"></div>
  {% endif %}

  {% endblock %}

{% block extrajs %}
{% if not no_data %}
{{config|json_script:"config"}}
<script type="text/javascript">
$(document).ready(function(){
  window.app.riskofbiasStartup(function(riskofbias){
    riskofbias.RobSortFormStartup(document.getElementById("robMain"));
  });
});
</script>
{% endif %}
{% endblock extrajs %}
