{% extends 'portal.html' %}

{% load crispy_forms_tags %}

{% block title %}
  {{assessment}} | {{assessment.get_rob_name_display}} help text | HAWC
{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="{{assessment.get_absolute_url}}">{{ assessment }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'riskofbias:arob_detail' assessment.pk %}">{{assessment.get_rob_name_display}} requirements</a></li>
  <li class="breadcrumb-item active">Edit help text</li>
{% endblock breadcrumbs %}


{% block content %}

    {% crispy form %}

{% endblock %}


{% block extrajs %}
<script type="text/javascript">
$(document).ready(function() {
    $('.html5text').quillify();
});
</script>
{% endblock extrajs %}
