{% extends 'assessment-rooted.html' %}

{% load add_class %}
{% load crispy_forms_tags %}

{% block content %}
  {% crispy form %}
  <div id='extra_content' class="hidden">
    <div class="alert alert-warning">
      <h4>Warning!</h4>
      <p>Loading this approach will delete all {{assessment.get_rob_name_display|lower}}
        information currently saved in this assessment. This includes all domains and metrics
        which currently exist, as well as any completed evaluations for studies already assessed.</p>
    </div>
  </div>
{% endblock %}


{% block extrajs %}
<script type="text/javascript">
  // move extra-content to appropriate location then make visible
  $('#extra_content')
    .appendTo($('#extra_content_insertion'))
    .removeClass('hidden');
</script>
{% endblock extrajs %}
