{% extends 'assessment-rooted.html' %}

{% load add_class %}
{% load crispy_forms_tags %}

{% block content %}
  {% crispy form %}
  <div id='extra_content' class="hidden">
    <div class="alert alert-warning">
      <a class="close" href="#" data-dismiss="alert">×</a>
      <h4>Warning!</h4>
      <p>Copying the approach from another assessment will delete all {{assessment.get_rob_name_display|lower}} information currently saved for this assessment.</p>
    </div>
  </div>
{% endblock %}


{% block extrajs %}
<script type="text/javascript">
  // move extra-content to appropriate location then make visible
  $('#extra_content')
    .appendTo($('#extra_content_insertion'))
    .removeClass('hidden');
</script>
{% endblock extrajs %}
