{% extends 'assessment-rooted.html' %}

{% block content %}
  <h2 class="d-inline-block">{{assessment.get_rob_name_display}} requirements</h1>
  {% if obj_perms.edit and crud == "Read" %}
    <div class="btn-group float-right">
      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions</a>
      <div class="dropdown-menu dropdown-menu-right">
        {% if obj_perms.edit_assessment %}
        <span class="dropdown-header">{{assessment.get_rob_name_display}} settings</span>
        <a class="dropdown-item" href="{% url 'riskofbias:arob_update' assessment.pk %}">Update requirements</a>
        <div class="dropdown-divider"></div>
        {% endif %}

        <span class="dropdown-header">Study assignment</span>
        <a class="dropdown-item" href="{% url 'riskofbias:arob_reviewers' assessment.pk %}">View assignments</a>

        {% if obj_perms.edit_assessment %}
        <div class="dropdown-divider"></div>
        <span class="dropdown-header">Data cleanup</span>
        <a class="dropdown-item" href="{% url 'assessment:clean_study_metrics' assessment.pk %}">Clean {{assessment.get_rob_name_display|lower}} responses</a>
        {% endif %}
      </div>
    </div>
  {% endif %}

  {{assessment.rob_settings.help_text|safe}}

  {% for object in object_list %}
    <h3 class="d-inline-block">{{object}} Domain</h3>
    <p class="form-text text-muted">{{object.description|safe}}</p>
    <table class="table table-compressed">
      <colgroup>
          <col width="5%"></col>
          <col width="35%"></col>
          <col width="60%"></col>
      </colgroup>

      <thead>
        <tr>
          <th>ID</th>
          <th>Metric</th>
          <th>Description</th>
        </tr>
      </thead>

      {% for metric in object.metrics.all %}
        <tr>
          <th>{{forloop.counter}}</th>
          <td>
            {{metric}}<br><br>
            <strong>Required for animal bioassay: </strong>
              {%if metric.required_animal %}<i class='fa fa-check'></i>{% else %}<i class='fa fa-minus'></i>{% endif %}<br>
            <strong>Required for epidemiological: </strong>
              {%if metric.required_epi %}<i class='fa fa-check'></i>{% else %}<i class='fa fa-minus'></i>{% endif %}<br>
            <strong>Required for in-vitro: </strong>
              {%if metric.required_invitro %}<i class='fa fa-check'></i>{% else %}<i class='fa fa-minus'></i>{% endif %}
          </td>
          <td>
            {{metric.description|safe}}<br>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% empty %}
  {% include 'riskofbias/_arob_none_alert.html' %}
  {% endfor %}
{% endblock %}
