{% extends 'assessment-rooted.html' %}

{% block content %}
    <div class="btn-group float-right">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions</a>
        <div class="dropdown-menu dropdown-menu-right">
            <span class="dropdown-header">{{assessment.get_rob_name_display}} changes</span>
            <a class="dropdown-item" href="{% url 'riskofbias:arob_text_update' assessment.pk %}">Update instructions</a>
            <a class="dropdown-item" href="{% url 'riskofbias:arob_copy' assessment.pk %}">Copy from existing</a>
            <a class="dropdown-item" href="{% url 'riskofbias:arob_load_approach' assessment.pk %}">Load approach</a>
            <div class="dropdown-divider"></div>
            <span class="dropdown-header">Domain changes</span>
            <a class="dropdown-item" href="{% url 'riskofbias:robd_create' assessment.pk %}">New domain</a>
        </div>
    </div>
    <h2>Update {{assessment.get_rob_name_display|lower}} requirements</h2>
    {{assessment.rob_settings.help_text|safe}}

    {% if no_data %}
    {% include 'riskofbias/_arob_none_alert.html' %}
    {% else %}
    <div id="robMain"></div>
    {% endif %}
{% endblock %}

{% block extrajs %}
{% if not no_data %}
{{config|json_script:"config"}}
<script type="text/javascript">
$(document).ready(function(){
window.app.riskofbiasStartup(function(riskofbias){
    riskofbias.RobMetricsStartup(document.getElementById("robMain"));
});
});
</script>
{% endif %}
{% endblock extrajs %}
