{% extends 'assessment-rooted.html' %}

{% block content %}
    {% if obj_perms.edit_assessment %}
    <div class="dropdown btn-group float-right">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions</a>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="{% url 'riskofbias:arob_reviewers_update' assessment.pk %}">Update</a>
        </div>
    </div>
    {% endif %}

    <h2>{{assessment.get_rob_name_display}} reviewer settings and assignment</h2>

    <p>
        <b>Independent reviews: </b>{{assessment.rob_settings.number_of_reviewers}}
    </p>

    <table class="table table-sm table-striped">
        {% for study in object_list %}
        {% if forloop.first %}
        <thead>
            <th>
                Study
            </th>
            <th colspan="{{ rob_count }}">
                Reviewers
            </th>
        </thead>
        <tfoot>
            <tr>
                <td colspan="{{rob_count|add:1}}">
                    <p>
                    <i class="fa fa-check"></i> = completed review (a judgement and descriptive text are filled for all metrics).
                    <br>
                    <i class="fa fa-star"></i> = final review (judgement and descriptive text associated with study).
                    </p>
                </td>
            </tr>
        </tfoot>
        {% endif %}
        <tr>
            <td>
                <a href="{{ study.get_absolute_url }}">{{study}}</a>
            </td>
            {% if study.active_riskofbiases %}
                {% for rob in study.active_riskofbiases %}
                    {% if forloop.last and forloop.counter < rob_count %}
                        <td colspan="2">
                    {% else %}
                        <td>
                    {% endif %}
                    {{rob.author}}
                    {% if request.user == rob.author or obj_perms.edit_assessment %}
                        <a href="{{rob.get_edit_url}}">
                            <i title="Edit"
                               class="fa fa-pencil-square-o"
                               aria-hidden="true"></i></a>
                    {% endif %}
                    {% if rob.final %}
                        <i class="fa fa-star"></i>
                    {% endif %}
                    {% if rob.is_complete %}
                        <i class="fa fa-check"></i>
                    {% endif %}
                    </td>
                {% endfor %}
            {% else %}
            <td>
                No {{assessment.get_rob_name_display|lower}} assigned.
            </td>
            {% endif %}
        </tr>
        {% endfor %}

    </table>
{% endblock %}
