{% extends 'portal.html' %}

{% load add_class %}

{% block title %}
  {{assessment}} | {{assessment.get_rob_name_display}} | Metric | Delete | HAWC
{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="{{assessment.get_absolute_url}}">{{assessment}}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'riskofbias:arob_update' assessment.pk %}">{{assessment.get_rob_name_display}} requirements</a></li>
  <li class="breadcrumb-item active">Delete metric</li>
{% endblock %}

{% block content %}
  <h1>{{object}}</h1>
  <p class='help-block'>{{object.description|safe}}</p>
  {% include "hawc/_delete_block.html" with name="metric" notes="This will remove any study evaluations with this metric." %}
{% endblock %}
