{% extends 'portal.html' %}

{% load crispy_forms_tags %}

{% block title %}
  {{assessment}} | {{assessment.get_rob_name_display}} | {{object}} Domain | Edit | HAWC
{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="{{assessment.get_absolute_url}}">{{assessment}}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'riskofbias:arob_update' assessment.pk %}">{{assessment.get_rob_name_display}} requirements</a></li>
  {% if crud == "Update" %}
    <li class="breadcrumb-item active"> Edit {{object}} domain</li>
  {% elif crud == "Create" %}
    <li class="breadcrumb-item active"> Create domain </li>
  {% endif %}
{% endblock %}

{% block content %}

  {% crispy form %}

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$(document).ready(function() {
    $('.html5text').quillify();
});
</script>
{% endblock extrajs %}
