{% extends 'assessment-rooted.html' %}

{% block content %}
    <div class="dropdown btn-group float-right">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions</a>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="{% url 'riskofbias:rob_num_reviewers' assessment.pk %}"><i class="fa fa-fw fa-edit"></i>&nbsp;Update number of reviewers</a>
        </div>
    </div>
    <h2>Update {{assessment.get_rob_name_display|lower}} assignments</h2>
    <div id="main"></div>
    {% include "includes/paginator.html" %}
{% endblock %}

{% block extrajs %}
{{data|json_script:"config"}}
<script type="text/javascript">
$(document).ready(function (){
    const el = document.getElementById('main'),
        config = JSON.parse(document.getElementById('config').text);

    window.app.startup("riskofbiasStartup", function(riskofbias) {
        riskofbias.robAssignmentStartup(el, config);
    });
});
</script>
{% endblock extrajs %}
