{% extends 'assessment-rooted.html' %}

{% load add_class %}
{% load get_at_index %}
{% load crispy_forms_tags %}

{% block content %}
    <h2>{{object}}&nbsp;{% if object.final %}[final]{% else %}[individual review]{% endif %}</h2>
    {% if object.final and not object.study_reviews_complete %}
        <h4 class="alert alert-danger">All other {{assessment.get_rob_name_display|lower}} reviews for
            {{object.study}} must be complete in order to complete the final review.
        </h4>
    {% else %}
        <div id='main'></div>
    {% endif %}
{% endblock %}

{% block extrajs %}
    {{ config|json_script:"config" }}
{% endblock extrajs %}
