{% extends 'assessment-rooted.html' %}

{% block content %}
    {% if obj_perms.edit_assessment %}
    <div class="dropdown btn-group float-right">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions</a>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="{% url 'riskofbias:rob_assignments_update' assessment.pk %}"><i class="fa fa-fw fa-edit"></i>&nbsp;Update</a>
        </div>
    </div>
    {% endif %}
    <h2>{{assessment.get_rob_name_display}} assignments</h2>
    <div id="main"></div>
{% endblock %}

{% block extrajs %}
{{config|json_script:"config"}}
<script type="text/javascript">
    $(document).ready(function () {
        const el = document.getElementById('main'),
            config = JSON.parse(document.getElementById('config').text);

        window.app.startup("riskofbiasStartup", function (riskofbias) {
            riskofbias.robAssignmentStartup(el, config);
        });
    });
</script>
{% endblock extrajs %}