<h3>Results from imports</h3>
{% if queries %}
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Date last executed</th>
        <th>Total references found</th>
        <th>References added</th>
        <th>References removed</th>
      </tr>
    </thead>
    <tbody>
      {% for query in queries %}
        <tr>
          <td>{{query.query_date}}</td>
          <td>{{query.total_count}}</td>
          <td>{{query.total_added}}</td>
          <td>{{query.total_removed}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>The import has not yet been executed in HAWC.</p>
{% endif %}

{% if obj_perms.edit %}
  <div class="well">
    <a href="{% url 'lit:search_tags_edit' assessment.pk object.slug %}" class="btn btn-primary">Tag Literature</a>
  </div>
{% endif %}
