<table class="table table-condensed table-hover">
    <tbody>
        <tr>
            <th>Total references</th>
            <td title="If a reference is found in both a search and import, it is included in the search-counts only">
               {{overview.total_references}}
               ({{overview.total_searched}} from searches,
               {{overview.total_imported}} from imports)</td>
        </tr>
        <tr>
            <th>Tagged</th>
            <td>{{overview.total_tagged}}</td>
        </tr>
        <tr>
            <th>Untagged</th>
            <td>{{overview.total_untagged}}</td>
        </tr>
    </tbody>
</table>
<div class="well well-small">
    <a class="btn btn-primary" href="{% url 'lit:ref_list' assessment.pk %}">View by tag</a>
    <a class="btn btn-primary" href="{% url 'lit:ref_visual' assessment.pk %}">Visualization</a>
    <a class="btn btn-primary" href="{% url 'lit:ref_search' assessment.pk %}">Find a reference</a>
</div>
