{% if object_list %}
  <table class="table table-condensed table-striped">
    <colgroup>
      <col style="width: 50%;">
      <col style="width: 10%;">
      <col style="width: 10%;">
      <col style="width: 15%;">
      <col style="width: 15%;">
    </colgroup>
    <thead>
      <tr>
        <th>Title and Description</th>
        <th>Source</th>
        <th>Type</th>
        <th>Created</th>
        <th>Last Updated</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        <tr>
          <td>
            <a href="{{object.get_absolute_url}}">{{object.title}}</a><br>
            {{object.description}}
          </td>
          <td>{{object.get_search_type_display}}</td>
          <td>{{object.get_source_display}}</td>
          <td>{{object.created}}</td>
          <td>{{object.date_last_run}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No previous literature searches available.</p>
{% endif %}
