{% extends 'portal.html' %}

{% block title %}
  {{assessment}} | Literature Review | HAWC
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' pk=assessment.pk %}">{{ assessment }}</a><span class="divider">/</span></li>
  <li class="active">Literature Review<span class="divider">/</span></li>
{% endblock %}

{% block content %}

  <h2>References for {{assessment}}
      {% if obj_perms.edit %}
      <div class="btn-group pull-right">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li class="disabled"><a tabindex="-1" href="#">Search/import editing</a></li>
          <li><a href="{% url 'lit:search_new' assessment.pk %}">New search</a></li>
          <li><a href="{% url 'lit:import_new' assessment.pk %}">New import</a></li>
          <li><a href="{% url 'lit:import_ris_new' assessment.pk %}">New import from file</a></li>
          <li><a href="{% url 'lit:copy_search' assessment.pk %}">Copy search from existing</a></li>
          <li class="disabled"><a tabindex="-1" href="#">Reference editing</a></li>
          <li><a href="{% url 'study:new_ref' assessment.pk %}">Add new reference (manually)</a></li>
          <li><a href="{% url 'lit:search_tags_edit' assessment.pk manual_import.slug %}">Tag manually-added references</a></li>
          <li><a href="{% url 'lit:tag_untagged' assessment.pk %}">Tag untagged references</a></li>
          {% if obj_perms.edit_assessment %}
            <li class="disabled"><a tabindex="-1" href="#">Assessment-level editing</a></li>
            <li><a href="{% url 'lit:tags_update' assessment.pk %}">Update literature tags</a></li>
            <li><a href="{% url 'lit:ref_upload' assessment.pk %}">Upload full-text URLs</a></li>
          {% endif %}
          <li class="disabled"><a tabindex="-1" href="#">Exports</a></li>
          <li><a href="{% url 'lit:ref_download_excel' assessment.pk %}">Download all references</a></li>
        </ul>
      </div>
    {% endif %}
  </h2>

  <div class="row-fluid">
    <div class="span6">
      <h3>Literature summary</h3>
      {% include "lit/_overview_table.html" %}
    </div>
    <div class="span6">
      <h3>Literature tags
        {% if obj_perms.edit_assessment %}
        {% endif %}
      </h3>
      <div id="tags"></div>
    </div>
  </div>

  {% if assessment.enable_data_extraction and need_import_count > 0 %}
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <b>New references marked for inclusion.</b><br>
      <p>{{ need_import_count }} reference{{ need_import_count|pluralize }} marked for inclusion {{ need_import_count|pluralize:"is,are" }} ready for Study Evaluation and/or data-extraction. <a href="{% url 'lit:ref_list_extract' assessment.pk %}">Prepare references</a></p>
  </div>
  {% endif %}

  <h2>Literature searches & imports</h2>
  {% include "lit/_search_list.html" %}

  <h3>Manually added references</h3>
  <p>References manually added: {{manual_import.references.count}}</p>

{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
    window.app.litStartup(function(lit){
      window.tagtree = new lit.TagTree({{tags|safe}});
      $('#tags').html(window.tagtree.get_nested_list({"show_refs_count": false}))
    });
  </script>
{% endblock extrajs %}
