{% extends 'portal.html' %}

{% load crispy_forms_tags %}

{% block title %}
  {{assessment}} | Literature Review | Reference upload | HAWC
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{{assessment.get_absolute_url}}">{{assessment}}</a><span class="divider">/</span></li>
  <li><a href="{% url 'lit:overview' assessment.pk %}">Literature Review</a><span class="divider">/</span></li>
  <li class="active">Reference upload<span class="divider">/</span></li>
{% endblock %}

{% block content %}
    {% crispy form %}
{% endblock %}

{% block extrajs %}
{% endblock %}
