{% extends 'portal.html' %}

{% block title %}
  {{assessment}} | Literature Review | References | HAWC
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' pk=assessment.pk %}">{{ assessment }}</a><span class="divider">/</span></li>
  <li><a href="{% url 'lit:overview' assessment.pk %}">Literature Review</a><span class="divider">/</span></li>
  {% if object_type == 'search' %}
    <li><a href="{% url 'lit:search_list' assessment.pk %}">Searches & Imports</a><span class="divider">/</span></li>
    <li><a href="{% url 'lit:search_detail' assessment.pk object.slug %}">{{object}}</a><span class="divider">/</span></li>
  {% endif %}
  <li class="active">References<span class="divider">/</span></li>
{% endblock %}

{% block content %}
  <div class="row-fluid">
    <div class="span3">
      <h3>Taglist</h3>
      <div id="taglist">
      </div><br>
      <p class='nestedTag' id="untaggedReferences">Untagged References: ({{untagged.count}})</p>
    </div>
    <div class="span9">
      <div id="references_detail_div">
        <h3>Available References</h3>
        <p class="help-block">Click on a tag to view tagged references.</p>
      </div>
    </div>
  </div>

{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
    window.app.litStartup(function(lit){
      window.assessment_pk = {{assessment.pk}};
      window.tagtree = new lit.TagTree({{tags|safe}});
      window.canEdit = {{obj_perms.edit|lower}};
      window.search_id = parseInt("{{object.id}}", 10) || null;

      tagtree.add_references({{ref_objs|safe}});

      $('#taglist')
        .html(tagtree.get_nested_list({"show_refs_count": true}))
        .on('hawc-tagClicked', function(e){
          $('.nestedTag').removeClass("selected");
          $(e.target).addClass("selected");
          var tag = $(e.target).data('d'),
              options = {
                tag: tag,
                download_url: "{% url 'lit:ref_download_excel' assessment.pk %}"
              },
              refviewer = new lit.ReferencesViewer($('#references_detail_div'), options);
          tag.get_reference_objects_by_tag(refviewer);
        });

        $('#untaggedReferences').click(function(e){
          $('.nestedTag').removeClass("selected");
          $(e.target).addClass("selected");
          var options = {
                fixed_title: "Untagged references",
                actionLinks: [
                  {
                    url: "{% url 'lit:tag_untagged' assessment.id %}",
                    text: "Tag untagged references"
                  }
                ],
                download_url: "{% url 'lit:ref_download_excel' assessment.pk %}"
              },
              refviewer = new lit.ReferencesViewer($('#references_detail_div'), options);
          tagtree.view_untagged_references(refviewer);
        });
    });
  </script>
{% endblock extrajs %}
