{% extends 'portal.html' %}

{% load add_class %}

{% block title %}
  {{assessment}} | Literature Review | Reference Search | HAWC
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' pk=assessment.pk %}">{{ assessment }}</a><span class="divider">/</span></li>
  <li><a href="{% url 'lit:overview' assessment.pk %}">Literature Review</a><span class="divider">/</span></li>
  <li class="active">Search<span class="divider">/</span></li>
{% endblock %}

{% block content %}

  <div id="search_div">
    <form id="reference_search_form"class="form-horizontal" action="." method="post">
      <fieldset>
        <legend>Search for existing references in HAWC</legend>
        {{ form.non_field_errors|add_class:"alert alert-error" }}
        {% for field in form %}
          <div class="control-group form-row">
            {{field.label_tag|add_class:"control-label"}}
            <div class="controls">
              {{field|add_class:"input-xlarge"}}<br>
              <span class='help-inline'>{{field.help_text}}</span>
            </div>
            {{field.errors|add_class:"alert alert-error"}}
          </div>
        {% endfor %}
        <div class="form-actions">
          <button id='submit_search' type="submit" class="btn btn-primary">Search</button>
        </div>
        {% csrf_token %}
      </fieldset>
    </form>
  </div>

  <div id="results_div" class="row-fluid" style="display:none">
    <div id="search_context"></div>
    <div id="references_detail_div"></div>
    <div class="well well-small">
      <button id='search_again' class="btn btn-primary">Search again</button>
    </div>
  </div>

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$(document).ready(function(){
    window.app.lit.startupSearchReference(
        {{assessment.pk}},
        {{tags|safe}},
        {{obj_perms.edit|lower}}
    );
});
  </script>
{% endblock extrajs %}
