{% extends 'portal.html' %}

{% load crispy_forms_tags %}

{% block title %}
  {{assessment}} | Literature Review | {{crud}} {{type|lower}} | HAWC
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' pk=assessment.pk %}">{{ assessment }}</a><span class="divider">/</span></li>
  <li><a href="{% url 'lit:overview' assessment.pk %}">Literature Review</a><span class="divider">/</span></li>
  <li><a href="{% url 'lit:search_list' assessment.pk %}">{{type|title}}</a><span class="divider">/</span></li>

  {% if crud == "Update" %}
    <li><a href="{{object.get_absolute_url}}">{{object}}</a><span class="divider">/</span></li>
  {% endif %}

  <li class="active">{{crud}}<span class="divider">/</span></li>
{% endblock %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}wysihtml5/css/bootstrap-wysihtml5.css" />
{% endblock %}

{% block content %}

  {% crispy form %}

{% endblock %}

{% block extrajs %}
  <script type="text/javascript" src="{{STATIC_URL}}wysihtml5/js/wysihtml5-0.3.0.min.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}wysihtml5/js/bootstrap-wysihtml5.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){

        {% if type == "Search" or object.search_type == "s" %}
            // allow for font-colors in descriptive-text
            var ss = ["//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap.min.css",
                      "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap-responsive.min.css",
                      "{{STATIC_URL}}css/hawc.css",
                      "{{STATIC_URL}}css/d3.css"];
            $('#id_search_string').wysihtml5({stylesheets: ss,
                "color": true,
                "font-styles": false,
                "emphasis": false,
                "hawc": false,
                "lists": false,
                "html": false,
                "link": false,
                "image": false
            });
        {% endif %}

        // autogenerate slugs
        var slugify = function(txt){
          return txt.toLowerCase()
                    .replace(/[^\w ]+/g,'')
                    .replace(/ +/g,'-');
        }
        $('#id_title').on('keyup', function(){$('#id_slug').val(slugify($(this).val()));});

        // add a loading notification
        $('input[type=submit]').click(function(e){
            $(e.target).addClass('disabled').css('pointer-events', 'none');
            $(e.target).parent().append('<p><br>Please wait, loading... <img src="/static/img/loading.gif"></p>');
            return true;
        });
    });
  </script>
{% endblock extrajs %}
