<b>All references and studies which were exclusively included from this search-query/import will also be removed.</b>
<br><br>
{% with studies=object.sole_studies %}
<b>{{studies|length}} studies with extracted content and/or study evaluations will also be deleted</b>.
{% if studies|length > 0 %}
    This will delete the following studies: {% for study in studies %}<a href='{{study.get_absolute_url}}'>{{study}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}. If these studies are deleted, they will also impact tables and visualizations using them.
{% endif %}
{% endwith %}
<br><br>
<b>{{object.sole_references.count}} references ({{object.sole_references.tagged.count}} with tags) will also be deleted.</b>
<br>
