All references from this search-query/import string will be removed from the assessment.
<br><br>
{% with studies=object.studies %}
<b>{{studies|length}} studies with extracted content and/or study evaluations may be deleted</b>.
{% if studies|length > 0 %}
    This may affect the following studies: {% for study in studies %}<a href='{{study.get_absolute_url}}'>{{study}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}. If these studies are deleted, they will also impact tables and visualizations using them.
{% endif %}
{% endwith %}
<br><br>
<b>{{object.references_count}} references ({{object.references_tagged_count}} with tags) may be deleted.</b> References exclusively imported from this search/import will be deleted.
<br>
