<li class="list-group-item list-group-item-action conflict-reference-li {% if first %} pb-4 {% else %} py-4 {% endif %}"
    id="ref-form-{{ref.pk}}"
    hx-target="#ref-form-{{ref.pk}}"
    hx-swap="outerHTML">
    {% if conflict_errors %}
        <div class="alert alert-danger" role="alert">{{conflict_errors}}</div>
    {% endif %}
    <div class="ref_authors cursor-pointer ref_small mb-1">{{ref.authors}} {{ref.year}}</div>
    <div class="ref_title cursor-pointer m-0">{{ref.title}}</div>
    <div class="ref_small mb-1">
        {% for id in ref.identifiers.all %}
        <a href="{{id.get_url}}" class="ids badge badge-info">{{id.get_database_display}}</a>
        {% endfor %}
        <a href="{{ref.get_absolute_url}}" class="ids badge badge-warning">HAWC</a>
    </div>
    <p class="abstract abstract_collapsed mb-1" title="Click to expand/collapse">{{ref.abstract|safe}}</p>
    <div class="row">
        <div class="col-md-11 pt-1">
            {% if ref.tags.exists %}
                <div><i>Existing Tags</i></div>
                {% for tag in ref.tags.all %}
                <span class="refTag" style="font-size: 0.9rem;">
                    {% for ptag in tag.parents reversed %}{{ptag.name}} ➤ {% endfor %}{{tag.name}}
                </span>
                {% endfor %}
            {% endif %}
            {% for user_tag in ref.user_tags.all %}
            <div class="tag-conf-item {% if forloop.first %} mt-1 {% endif %}">
                <form>
                    <div>
                        <button class="approve btn btn-sm btn-success mr-2 align-center mb-2 mt-1"
                            hx-post="{% url 'lit:api:reference-resolve-conflict' ref.pk %}">
                            Approve <i class="fa fa-check" aria-hidden="true"></i></button>
                        <b class="mb-0">{{user_tag.user.get_full_name}}</b> <i class="m-0 small">{{user_tag.user.email}}</i>
                        <input name="user_tag_id" value={{user_tag.pk}} class="d-none">
                    </div>
                    {% with user_tag.get_tags_diff as tags%}
                    AJS TODO HERE
                        {% for tag in tags.same %}
                        <span class="refTag refUserTag" style="font-size: 0.9rem;">
                            {% for ptag in tag.parents reversed %}{{ptag.name}} ➤ {% endfor %}{{tag.name}}
                        </span>
                        {% endfor %}
                        {% for tag in tags.diff %}
                        <span class="refTag refUserTagDiff">
                            {% for ptag in tag.parents reversed %}{{ptag.name}} ➤ {% endfor %}{{tag.name}}
                        </span>
                        {% endfor %}
                    {% endwith %}
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
</li>
