<li class="list-group-item list-group-item-action conflict-reference-li {% if first %} pb-4 {% else %} py-4 {% endif %}"
    id="ref-form-{{ref.pk}}"
    hx-target="#ref-form-{{ref.pk}}"
    hx-swap="outerHTML">
    <div class="ref_authors cursor-pointer ref_small mb-1">{{ref.authors}} {{ref.year}}</div>
    <div class="ref_title cursor-pointer m-0">{{ref.title}}</div>
    <div class="ref_small mb-1">
        {% for id in ref.identifiers.all %}
        <a href="{{id.get_url}}" class="ids badge badge-info">{{id.get_database_display}}</a>
        {% endfor %}
        <a href="{{ref.get_absolute_url}}" class="ids badge badge-warning">HAWC</a>
    </div>
    <p class="abstract abstract_collapsed cursor-pointer mb-1" title="Click to expand/collapse">{{ref.abstract|safe}}</p>
    <div class="row">
        <div class="col-md-12 pt-1">
            <p class="mb-0"><i>Tags currently applied:</i></p>
            {% for tag in ref.tags.all %}
                {% include 'lit/_nested_tag.html' with tag=tag extra_classes='' %}
            {% empty %}
                <span><i>&lt;none&gt;</i></span>
            {% endfor %}
            {% for user_tag in ref.user_tags.all %}
                {% if not user_tag.is_resolved %}
                <div class="tag-conf-item {% if forloop.first %} mt-1 {% endif %}">
                    <form>
                        <div>
                            <button class="approve btn btn-sm btn-success mr-2 align-center mb-2 mt-1"
                                hx-post="{% url 'lit:api:reference-resolve-conflict' ref.pk %}">
                                <i class="fa fa-fw fa-check" aria-hidden="true"></i>&nbsp;Approve</button>
                            <b class="mb-0">{{user_tag.user.get_full_name}}</b> <i class="m-0 small">{{user_tag.user.email}}</i>
                            <input name="user_tag_id" value={{user_tag.pk}} class="hidden">
                        </div>
                        {% with user_tag.get_tags_diff as tags%}
                            {% for tag in tags.same %}
                                {% include 'lit/_nested_tag.html' with tag=tag extra_classes='refUserTag' %}
                            {% endfor %}
                            {% for tag in tags.diff %}
                                {% include 'lit/_nested_tag.html' with tag=tag extra_classes='refUserTagDiff' %}
                            {% endfor %}
                        {% endwith %}
                    </form>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <a href="{% url 'lit:tag' assessment.pk%}?id={{ref.pk}}" class="btn btn-primary" target="_blank" rel="noreferrer">Tag it yourself</a>
</li>
