{% extends 'assessment-rooted.html' %}

{% block content %}
  <div id="main"></div>
{% endblock %}

{% block extrajs %}
<script id="config" type="text/json" charset="utf-8">
{
  "csrf": "{{csrf_token}}",
  "assessment_id": {{assessment.id}}
}
</script>
<script type="text/javascript">
  window.app.startup("litStartup", function (lit) {
    const el = document.getElementById('main'),
      data = window.app.getConfig();
    lit.startupBulkTagReferences(el, data)
  });
</script>
{% endblock extrajs %}
