{% extends 'assessment-rooted.html' %}

{% load bs4 %}
{% block content %}
<div class="d-flex">
    <h2>Resolve Tag Conflicts</h2>
    {% actions %}
    <a class="dropdown-item" data-toggle="modal" data-target="#bulk-merge-modal" hx-get="{% url 'lit:bulk-merge-conflicts' assessment.pk %}" hx-target="#modal-content">Bulk Merge Conflicts</a>
    {% endactions %}
</div>
{% include "lit/_bulk_merge_modal.html" %}
{% include 'common/inline_filter_form.html' %}
<ul class="list-group list-group-flush my-3">
    {% for ref in object_list %}
    <li class="list-group-item conflict-reference-li {% if forloop.first %} pb-4 {% else %} py-4 {% endif %}"
        id="ref-form-{{ref.pk}}" hx-target="#ref-form-{{ref.pk}}" hx-swap="delete swap:1s">
        {% include 'lit/_reference_with_tags.html' with conflict_resolution=True show_actions=True show_user_tags=True %}
    </li>
    {% empty %}
    <li class="list-group-item">
        {% alert warning %}{% icon "fa-exclamation-triangle" %}No conflicts found.{% endalert %}
    </li>
    {% endfor %}
</ul>
{% include "includes/paginator.html" with plural_object_name="conflicts" %}
{% endblock content %}

{% block extrajs %}
{% include "common/helptext_popup_js.html" %}
{% endblock extrajs %}
