{% extends 'assessment-rooted.html' %}

{% block content %}
<div class="row pb-3">
    <div id="list-col" class="col-md-12">
        <h4>References with Tag Conflicts</h4>
        {% include 'common/filter_list.html' with plural_object_name='references' %}
        <ul class="list-group list-group-flush m-0">
            {% for ref in object_list %}
            {% include 'lit/_reference_tag_conflict.html' with ref=ref first=forloop.first %}
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock content %}

{% block extrajs %}
{{ config|json_script:"config" }}
<script type="text/javascript">
        $(function () {
                $(".approve").click(function(e) {
                    e.stopPropagation();
                });
                $(".list-group-item").click(function(e) {
                    $(this).children(".abstract").toggleClass("abstract_expand");
                    $(this).toggleClass("list-item-clicked")
                    $(this).children(".ref_small").children(".ids").toggleClass("hidden");
                });
            });
</script>
{% endblock extrajs %}
