{% extends 'portal.html' %}

{% load crispy_forms_tags %}

{% block title %}
{{assessment}} | Literature Review | {{crud}} {{type|lower}} | HAWC
{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'assessment:detail' pk=assessment.pk %}">{{ assessment }}</a></li>
<li class="breadcrumb-item"><a href="{% url 'lit:overview' assessment.pk %}">Literature Review</a></li>
<li class="breadcrumb-item active">{{crud}} literature assessment settings</li>
{% endblock %}

{% block content %}

{% crispy form %}

{% endblock %}
