{% extends 'assessment-rooted.html' %}

{% block content %}
  <h2 class="d-inline-block">Literature Review</h2>
  {% if obj_perms.edit %}
  <div class="dropdown btn-group float-right">
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions</a>
    <div class="dropdown-menu dropdown-menu-right">
      {% if obj_perms.edit_assessment %}
        <span class="dropdown-header">Literature Review</span>
        <a class="dropdown-item" href="{{assessment.literature_settings.get_update_url}}">Update settings</a>
        <a class="dropdown-item" href="{% url 'lit:tags_update' assessment.pk %}">Update tags</a>
        <div class="dropdown-divider"></div>
      {% endif %}
      <span class="dropdown-header">Searches and Imports</span>
      <a class="dropdown-item" href="{% url 'lit:search_new' assessment.pk %}">New search</a>
      <a class="dropdown-item" href="{% url 'lit:import_new' assessment.pk %}">New import</a>
      <a class="dropdown-item" href="{% url 'lit:import_ris_new' assessment.pk %}">New RIS import</a>
      <a class="dropdown-item" href="{% url 'lit:copy_search' assessment.pk %}">Copy search from existing</a>
      <div class="dropdown-divider"></div>
      <span class="dropdown-header">References</span>
      <a class="dropdown-item" href="{% url 'study:new_ref' assessment.pk %}">Add new reference (manually)</a>
      <a class="dropdown-item" href="{% url 'lit:search_tags_edit' assessment.pk manual_import.slug %}">Tag manually-added references</a>
      <a class="dropdown-item" href="{% url 'lit:tag_untagged' assessment.pk %}">Tag untagged references</a>
      <a class="dropdown-item" href="{% url 'lit:ref_upload' assessment.pk %}">Upload full-text URLs</a>
      <a class="dropdown-item" href="{% url 'lit:bulk_tag' assessment.pk %}">Bulk tag references</a>
      <div class="dropdown-divider"></div>
      <span class="dropdown-header">Exports</span>
      <a class="dropdown-item" href="{% url 'lit:api:assessment-references-download' assessment.pk %}?format=xlsx">Download all references</a>
    </div>
  </div>
{% endif %}

  <div class="row no-gutter">
    <div class="col-md-6">
      <h3>Summary</h3>
      <table class="table table-sm table-hover">
        <tbody>
          <tr>
            <th>Total references</th>
            <td title="If a reference is found in both a search and import, it is included in the search-counts only">
              {{overview.total_references}}
              ({{overview.total_searched}} from searches,
              {{overview.total_imported}} from imports)</td>
          </tr>
          <tr>
            <th>Tagged</th>
            <td>{{overview.total_tagged}}</td>
          </tr>
          <tr>
            <th>Untagged</th>
            <td>{{overview.total_untagged}}</td>
          </tr>
          {% if overview.total_references >= 10 %}
          <tr>
            <th colspan="2">
              References by year<br/>
            <div id="referenceYearHistogram" style="height: 200px"></div>
          </tr>
          {% endif %}
        </tbody>
      </table>

      <div class="well">
        <a class="btn btn-primary" href="{% url 'lit:ref_list' assessment.pk %}">Browse</a>
        <a class="btn btn-primary" href="{% url 'lit:ref_search' assessment.pk %}">Search</a>
        <a class="btn btn-primary" href="{% url 'lit:ref_visual' assessment.pk %}">Visualization</a>
        {% if user.is_beta_tester %}
          {% if can_topic_model %}
          <a class="betatester btn btn-dark" href="{% url 'lit:topic_model' assessment.pk %}">Topic model</a>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="col-md-6">
      <h3>Literature tags
        {% if obj_perms.edit_assessment %}
        {% endif %}
      </h3>
      <div id="tags"></div>
    </div>
  </div>

  {% if assessment.enable_data_extraction and need_import_count > 0 %}
    <div class="alert alert-warning mt-3">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <b>New references marked for inclusion.</b><br>
      <p>{{ need_import_count }} reference{{ need_import_count|pluralize }} marked for inclusion {{ need_import_count|pluralize:"is,are" }} ready for {{assessment.get_rob_name_display|lower}} and/or data-extraction. <a href="{% url 'lit:ref_list_extract' assessment.pk %}">Prepare references</a></p>
  </div>
  {% endif %}

  <h3>Literature searches & imports</h3>
  {% include "lit/_search_list.html" %}

  <h3>Manually added references</h3>
  <p>References manually added: {{manual_import.references.count}}</p>

{% endblock %}

{% block extrajs %}
{{ config|json_script:"config" }}
<script type="text/javascript">
  const config = window.app.getConfig();

  window.app.startup("litStartup", function(lit){
    let tagtree = new lit.TagTree(config.tags[0], config.assessment_id, null);
    tagtree.render(document.getElementById('tags'))
  });

  const histo = document.getElementById("referenceYearHistogram");
  if (histo){
    window.app.renderPlotlyFromApi(histo, config.referenceYearHistogramUrl);
  }
</script>
{% endblock extrajs %}
