{% extends 'portal.html' %}

{% block title %}
  {{assessment}} | Literature Review | TagList | HAWC
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{{assessment.get_absolute_url}}">{{ assessment }}</a><span class="divider">/</span></li>
  <li><a href="{% url 'lit:overview' assessment.pk %}">Literature Review</a><span class="divider">/</span></li>
  {% if object_type != 'reference' %}
    <li><a href="{{object.get_absolute_url}}">{{object}}</a><span class="divider">/</span></li>
  {% endif %}
  <li class="active">Visualization<span class="divider">/</span></li>
{% endblock %}

{% block content %}
  <div id="tagtree"></div><br><br>
  <p class='help-block'>Click a node to expand to view child-nodes. Ctrl-click or ⌘-click to view references associated with an node (except root-node).</p>
{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
    let data = {
      assessment_id: {{ assessment.pk }},
      search_id: {% if objectType == "Search" %} {{object.id}} {% else %} null {% endif %},
      tags: {{ tags | safe }},
      assessment_name: "{{assessment}}",
      references: {{ ref_objs | safe }},
      title: {% if object_type == 'reference' %}"{{assessment}}: Literature Tagtree"{% else %}'"{{object}}" Literature Tagtree'{% endif %},
      url: "{% url 'lit:ref_download_excel' assessment.pk %}"
    };
    window.canEdit = {{ obj_perms.edit | lower }};
    window.app.litStartup(function(lit){
      let tagtree = new lit.TagTree(data.tags[0], data.assessment_id, data.search_id)
      tagtree.rename_top_level_node(data.assessment_name);
      tagtree.add_references(data.references);
      treeviz = new lit.TagTreeViz(tagtree, $('#tagtree'), data.title, data.url);
    });
  </script>
{% endblock extrajs %}
