{% extends 'portal.html' %}

{% block title %}
  {{assessment}} | Literature Review | References | HAWC
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' pk=assessment.pk %}">{{ assessment }}</a><span class="divider">/</span></li>
  <li><a href="{% url 'lit:overview' assessment.pk %}">Literature Review</a><span class="divider">/</span></li>
  {% if object_type == 'search' %}
    <li><a href="{% url 'lit:search_list' assessment.pk %}">Searches & Imports</a><span class="divider">/</span></li>
    <li><a href="{% url 'lit:search_detail' assessment.pk object.slug %}">{{object}}</a><span class="divider">/</span></li>
  {% endif %}
  <li class="active">References<span class="divider">/</span></li>
{% endblock %}

{% block content %}
<div id="main">
  <p>Loading, please wait...&nbsp;<span class="fa fa-spin fa-spinner"></span></p>
</div>
{% endblock %}

{% block extrajs %}
  <script id="config" type="text/json" charset="utf-8">
    {
        "assessment_id": {{assessment.id}},
        "search_id": {{ object.id | default:"null" }},
        "tags": {{ tags | safe }},
        "references": {{ ref_objs | safe }},
        "canEdit": {{ obj_perms.edit | lower }},
        "untaggedReferenceCount": {{untagged.count}}
    }
  </script>
  <script type="text/javascript">
    window.app.litStartup(function(lit){
      const el = document.getElementById('main'),
            data = JSON.parse(document.getElementById('config').textContent);
      lit.startupReferenceList(el, data);
    });
  </script>
{% endblock extrajs %}
