{% extends 'portal.html' %}

{% load crispy_forms_tags %}

{% block title %}
  {{assessment}} | Literature Review | Reference upload | HAWC
{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="{{assessment.get_absolute_url}}">{{assessment}}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'lit:overview' assessment.pk %}">Literature Review</a></li>
  <li class="breadcrumb-item active">Reference upload</li>
{% endblock %}

{% block content %}
    {% crispy form %}
{% endblock %}

{% block extrajs %}
{% endblock %}
