{% extends 'assessment-rooted.html' %}

{% block content %}
    <h3>Included references in literature search/import</h3>
    <p class="text-muted">The following references were selected for inclusion and are therefore ready for {{assessment.get_rob_name_display|lower}} and/or data-extraction. You can individually convert each reference to a study that allows you to continue with extraction/review, or you can select multiple references via the checkbox and bulk-convert at the bottom of the form.</p>
    <p class="text-muted">Select one or more references from the list below:</p>
    {% if object_list.count > 0 %}
        <form method="post">
            <table class="table table-sm">
                {% bs4_colgroup '5,85,10' %}
                {% bs4_thead 'Select,Reference,Action' %}
                {% for object in object_list %}
                    <tr>
                        <td class="text-center"><input type="checkbox" name="references" value="{{object.id}}"></td>
                        <td>{% include 'lit/_reference_with_tags.html' with ref=object %}</td>
                        <td><a class="btn btn-sm btn-primary" href="{% url 'study:new_study' object.pk %}"><i class="fa fa-plus mr-1"></i>Convert</a></td>
                    </tr>
                {% endfor %}
            </table>
            <div>
                <h4>Create studies from selected references</h4>
                <p class="text-muted">Select one more references from the list above, and a study
                    type to apply to these references. These references will be bulk-converted to
                    studies.
                </p>
                <hr>
                <div id="study-type-select">
                    <label for="study-type-select">Study Type(s)</label>
                    {% if form.study_type.errors %}
                    <div class="alert alert-danger">{{form.study_type.errors}}</div>
                    {% endif %}
                    <div id="study-type-select">
                        {% for checkbox in form.study_type %}
                            <div class="form-check-inline">
                                <label>{{ checkbox.tag }}  {{ checkbox.choice_label }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    <p class="text-muted">Selected study types will be applied to all created studies.</p>
                </div>
                {% csrf_token %}
                {% if form.references.errors %}
                <div class="alert alert-danger">{{form.references.errors}}</div>
                {% endif %}
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary" value="Convert selected to studies">
                </div>
            </div>
        </form>
    {% else %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <b>Nothing to be done!</b><br/>
            <p>No references have been marked for inclusion which aren't studies already.</p>
        </div>
    {% endif %}
{% endblock %}
