{% extends 'portal.html' %}

{% load add_class %}
{% load crispy_forms_tags %}

{% block title %}
  {{assessment}} | Literature Review | Find a reference | HAWC
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'assessment:detail' pk=assessment.pk %}">{{ assessment }}</a><span class="divider">/</span></li>
    <li><a href="{% url 'lit:overview' assessment.pk %}">Literature Review</a><span class="divider">/</span></li>
    <li class="active">Reference search<span class="divider">/</span></li>
{% endblock %}

{% block content %}
<div id="main"></div>
{% endblock %}

{% block extrajs %}
<script id="config" type="text/json" charset="utf-8">
{
    "assessment_id": {{assessment.id}},
    "canEdit": {{obj_perms.edit|lower}},
    "tags": {{tags|safe}},
    "csrf": "{{csrf_token}}"
}
</script>
<script type="text/javascript">
window.app.litStartup(function (lit) {
    const el = document.getElementById('main'),
        data = JSON.parse(document.getElementById('config').textContent);
    lit.startupSearchReference(el, data)
});
</script>
{% endblock extrajs %}
