{% extends 'portal.html' %}

{% block title %}
  {% include "hawc/siteTitle.html" with crumbs=object.get_crumbs crud=crud %}
{% endblock title %}

{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' pk=assessment.pk %}">{{ assessment }}</a><span class="divider">/</span></li>
  <li><a href="{% url 'lit:overview' assessment.pk %}">Literature Review</a><span class="divider">/</span></li>
  <li class="active">{{object}}<span class="divider">/</span></li>
{% endblock %}

{% block content %}

  {% if obj_perms.edit %}
    <div class="btn-group pull-right">
      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="{% url 'lit:reference_tags_edit' object.pk %}">Edit tags</a></li>
        <li><a href="{% url 'lit:ref_edit' object.pk %}">Edit reference</a></li>
      </ul>
    </div>
  {% endif %}

  <div id="reference_detail_div"></div>
{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
    let data = {
      tags: {{ tags| safe}},
      reference: {{ object_json | safe }}
    };
    window.app.litStartup(function(lit){
      let tagtree = new lit.TagTree(data.tags[0]),
          ref = new lit.Reference(data.reference, tagtree);
      $('#reference_detail_div').html(ref.print_self(true)); });
  </script>
{% endblock extrajs %}
