{% extends 'assessment-rooted.html' %}

{% block content %}
    <h3>Included references in literature search/import</h3>
    <p>The following references were selected for inclusion and are therefore ready for {{assessment.get_rob_name_display|lower}} and/or data-extraction. Select one from the list below:</p>
    {% if object_list.count > 0 %}
        <form method="post">
            <table class="table table-compressed">
                <colgroup>
                    <col style='width:5%'></col>
                    <col style='width:15%'></col>
                    <col style='width:40%'></col>
                    <col style='width:10%'></col>
                    <col style='width:20%'></col>
                    <col style='width:10%'></col>
                </colgroup>
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Authors</th>
                        <th>Title</th>
                        <th>Year</th>
                        <th>Journal</th>
                        <th>Action</th>
                    </tr>
                </thead>
                {% for object in object_list %}
                    <tr>
                        <td><input type="checkbox" name="reference_ids" value="{{object.id}}"></td>
                        <td>{{object.authors_short}}</td>
                        <td>{{object.title}}</td>
                        <td>{{object.year}}</td>
                        <td>{{object.journal}}</td>
                        <td><a href="{% url 'study:new_study' object.pk %}">Create study from reference</a></td>
                    </tr>
                {% endfor %}
            </table>
            <div class="col-md-6">
                <div class="card">
                    <h6 class="card-header">Create studies from selected references</h6>
                    <div class="card-body">
                        <div class="font-weight-normal" id="study-type-select">
                            <label for="study-type-select">Study Type(s)</label>
                            <div id="study-type-select" class="align-center">
                                {% for checkbox in form.study_type %}
                                    <div class="form-check-inline">
                                        <p>{{ checkbox.tag }}  {{ checkbox.choice_label }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% csrf_token %}
                        <input type="submit" class="btn btn-primary" value="Create studies">
                    </div>
                </div>
            </div>
        </form>
    {% else %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <b>Nothing to be done!</b><br/>
            <p>No references have been marked for inclusion which aren't studies already.</p>
        </div>
    {% endif %}
{% endblock %}
