{% extends 'portal.html' %}

{% block title %}
  {% include "hawc/siteTitle.html" with crumbs=object.get_crumbs crud=crud %}
{% endblock title %}

{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="{% url 'assessment:detail' pk=assessment.pk %}">{{ assessment }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'lit:overview' assessment.pk %}">Literature Review</a></li>
  <li class="breadcrumb-item active">{{object}}</li>
{% endblock %}

{% block content %}
  <h4>Reference details:</h4>
  <div id="reference_detail_div"></div>
{% endblock %}

{% block extrajs %}{
<script id="config" type="text/json" charset="utf-8">
  {
      "tags": {{ tags| safe}},
      "reference": {{ object_json | safe }},
      "canEdit": {{ obj_perms.edit | lower }}
  }
</script>
<script type="text/javascript">
  window.app.litStartup(function(lit){
    const el = document.getElementById("reference_detail_div"),
      config = JSON.parse(document.getElementById('config').textContent)
    lit.startupReferenceDetail(el, config.tags, config.reference, config.canEdit);
  });
</script>
{% endblock extrajs %}
