{% extends 'assessment-rooted.html' %}

{% load bs4 %}
{% block content %}
  <div class="d-flex">
    <h2>Resolved duplicates</h2>
    {% if obj_perms.edit %}
      {% actions %}
        <a class="dropdown-item" href="{% url 'lit:duplicate-resolution' assessment.pk %}">Duplicate resolution</a>
      {% endactions %}
    {% endif %}
  </div>
  <ul class="list-group list-group-flush my-3">
    {% for object in object_list %}
      <div>
        Group {{object.pk}}
      </div>
      <div>
        {{object.resolution}}
      </div>
      <div>
        {{object.candidates}}
      </div>
      <div>
        {{object.primary}}
      </div>
      <div>
        {{object.notes}}
      </div>
    {% endfor %}
  </ul>
  {% include "includes/paginator.html" with plural_object_name="duplicate groups" %}
{% endblock content %}
