{% extends 'crumbless.html' %}

{% load static %}

{% block title %}RIS formatting instructions |{{block.super}}{% endblock %}

{% block content %}
  <div class="col-md-8 col-md-offset-2">

    <h2 id="preparing-endnote-exports-for-upload">Preparing EndNote exports for upload</h2>

    <p>Download these <a href="{% static 'docs/ris/Endnote_to_HAWC_11-25-15.pdf' %}">instructions (pdf).</a></p>

    <p>While HAWC can import any RIS export, additional information can be added into HAWC by structuring the RIS export in a custom format. It is recommended to do so; this will allow for hyperlinks in HAWC to be added to reference databases for access to the original reference, or the database it was found from. </p>

    {% alert warning %}
      <p><strong>Caution:</strong> Currently there is no mechanism for de-duplication of reference in HAWC. This is important in two way for RIS imports: <br>
        1. Ensure that your EndNote library has been de-duplicated prior to import into HAWC. <br>
        2. Ensure that if you are uploading multiple RIS files into HAWC under one assessment, there is no intersection of references across libraries.</p>
    {% endalert %}

    <p><strong>Help-content is divided into five different sections: </strong></p>

    <ul>
      <li><a href="#importing-data-into-endnote">Importing data from reference databases to EndNote</a></li>
      <li><a href="#removing-duplicates-in-endnote">Removing duplicates (in EndNote)</a></li>
      <li><a href="#exporting-from-endnote-for-hawc-import">Exporting data from EndNote for upload in HAWC</a></li>
      <li><a href="#endnote-tutorial-adding-filters-and-styles">(EndNote tutorial): adding filters and styles</a></li>
      <li><a href="#endnote-tutorial-changing-reference-list-display-fields">(EndNote tutorial): customizing list-display fields for library preparation and de-duplication</a></li>
    </ul>

    <hr>

    <h3 id="importing-data-into-endnote">Importing data into EndNote</h3>

    <p>Custom HAWC-specific filters (for importing references into EndNote) and styles (from exporting references from EndNote) are available for use.</p>

    <p><strong>EndNote filters:</strong></p>

    <ul>
      <li><a href="{% static 'docs/ris/HAWC_EndNote_Import.enf' %}">EndNote</a></li>
      <li><a href="{% static 'docs/ris/HAWC_PubMed.enf' %}">PubMed</a></li>
      <li><a href="{% static 'docs/ris/HAWC_Embase_TEXT.enf' %}">Embase (text)</a></li>
      <li><a href="{% static 'docs/ris/HAWC_Scopus_RIS.enf' %}">Scopus (RIS)</a></li>
    </ul>

    <p><strong>EndNote styles</strong>: </p>

    <ul>
      <li><a href="{% static 'docs/ris/HAWC_EndNote Export.ens' %}">Export (EndNote)</a></li>
      <li><a href="{% static 'docs/ris/HAWC_Export RIS.ens' %}">Export (RIS)</a></li>
    </ul>

    <p>Instructions on adding filters and styles to your EndNote library are described <a href="#endnote-tutorial-adding-filters-and-styles">below</a>.</p>



    <h4 id="pubmed">PubMed:</h4>

    <p>For PubMed import into EndNote, use the Medline format and save the text file. Import using PubMed filter customized for HAWC imports (<kbd>HAWC_PubMed</kbd>). “NLM” will appear in Database Name field.</p>



    <h5 id="copying-the-pmid-into-the-custom-8-field">Copying the PMID into the Custom 8 field</h5>

    <ul>
      <li>Select all PubMed references (<kbd>ctrl-A</kbd> selects all showing references) </li>
      <li>Select <kbd>Change Move and Copy Fields</kbd> from the <kbd>Tools</kbd> dropdown on the top menu. A pop-up window will appear: <br>
        <ul><li>Select: <kbd>Move or Copy</kbd> tab </li>
          <li>Select: <kbd>Copy</kbd></li>
          <li>From field: <kbd>Accession Number</kbd></li>
          <li>To Field: <kbd>Custom 8</kbd> (if your Custom 8 is already assigned you will need to identify a new custom field to use.)</li>
          <li>Select <kbd>Insert after field's text</kbd> (field should be empty)</li>
          <li>Click <kbd>OK</kbd></li></ul></li>
    </ul>

    <p>The PMID will now appear in both the Accession Number field and in the Custom Field identified as PMID. </p>



    <h4 id="web-of-science">Web of Science</h4>

    <p>For Web of Science import into EndNote, search the Core Collection, save to “Endnote Desktop” and select “Full Record” for the record content. Import records using ICI filter customized for HAWC imports (<kbd>HAWC_WOS</kbd>).</p>



    <h5 id="adding-the-database-name-not-included-in-the-export">Adding the “Database name” not included in the export</h5>

    <p>Select all references which were imported from Web of Science. Add the text “WOS” to the Name of Database Field as follows:</p>

    <ul>
      <li><p>Select <kbd>Change Move and Copy Fields</kbd> from the <kbd>Tools</kbd> dropdown on the top menu. In the pop-up window</p>

        <ul><li>Select: <kbd>Change Fields</kbd> tab</li>
          <li>Select <kbd>Name of Database</kbd> in the fields</li>
          <li>Check <kbd>Insert after field's text</kbd></li>
          <li>In the text-box type “WOS”</li>
          <li>Uncheck the box to <kbd>Include a space before new text</kbd></li>
          <li>Click <kbd>OK</kbd></li></ul></li>
    </ul>



    <h4 id="scopus">Scopus:</h4>

    <p>For exporting Scopus results into EndNote, use the RIS format and be sure to Specify fields to be exported including the Citation information, DOI, PMID, Abstract etc. Import into EndNote using Scopus filter customized for HAWC imports (<kbd>HAWC_Scopus_RIS</kbd>).</p>

    <p>No additional modifications are required.</p>



    <h4 id="embase">Embase:</h4>

    <p>For importing Embase into EndNote, use the export format “Plain Text” and choose “Full Record” Output.  Import into EndNote using the <kbd>HAWC_Embase_TEXT</kbd> filter.</p>



    <h5 id="adding-the-database-name-not-included-in-the-export-1">Adding the “Database name” not included in the export</h5>

    <p>Use the same process above in Web of Science instructions. However, use the following three-letter code for Embase for proper HAWC import: “EMB”.</p>



    <h5 id="copying-the-pmid-into-the-custom-8-field-1">Copying the PMID into the Custom 8 field</h5>

    <p>Use the same process as above in the PubMed instructions.</p>



    <h5 id="add-the-doi-field">Add the DOI field</h5>

    <ol>
      <li>Use the same process as described above for PubMed for copying the PMID field into the Custom 8 field, excepting using the URL field as the source and the DOI field as the destination.</li>
      <li>Run a <kbd>find and replace</kbd> on the DOI field to remove the text “<a href="http://dx.doi.org/">http://dx.doi.org/</a>.”  <br>
        <ul><li>Select <kbd>Find and Replace</kbd> from the <kbd>Edit</kbd> dropdown on the top menu. A pop-up window will appear: <br>
          <ul><li>Select <kbd>In</kbd> field: DOI</li>
            <li>In <kbd>Search For</kbd> box paste “<a href="http://dx.doi.org/">http://dx.doi.org/</a>”</li>
            <li>Keep the input-textbox <kbd>Change the text to</kbd> empty</li>
            <li>Click <kbd>Change</kbd></li></ul></li></ul></li>
    </ol>

    <hr>

    <h3 id="removing-duplicates-in-endnote">Removing Duplicates (in EndNote)</h3>

    <p>Use your preferred method of ensuring there are no duplicates within your list. <br>
      Also remove duplicates of items already in your HAWC project.</p>

    <p>If you need to merge multiple EndNote libraries to create single, unified file for upload into HAWC: </p>

    <ul>
      <li>Use the customized <kbd>HAWC_EndNote_Export</kbd> style to export your references from their library.</li>
      <li>In your Library of the references already held in your HAWC project, (or a copy of that library), create a group folder for the “old” set, and move all the references into the group folder.  Label it to differentiate it from the new import.</li>
      <li>Use the customized <kbd>HAWC_EndNote_Import</kbd> filter to import your new references into your library of existing HAWC references. <br>
        <ul><li><em>Remember to set your duplicate recognition preferences as you see fit before the import.</em></li></ul></li>
    </ul>

    <p>Your new set of references should be in the <kbd>Unfiled</kbd> grouping in your left hand <kbd>Library</kbd> pane.  You may make a new group folder for them or leave them unfiled. </p>

    <p>Use your preferred method of ensuring there are no duplicates within your list. <br>
    </p>

    <hr>

    <h3 id="exporting-from-endnote-for-hawc-import">Exporting from EndNote for HAWC import</h3>

    <p>Select references to be exported. Export using customized <kbd>HAWC_Export_RIS</kbd> style. <br>
    </p>

    <hr>

    <h3 id="endnote-tutorial-adding-filters-and-styles">(EndNote tutorial) Adding filters and styles</h3>

    <ol>
      <li>Locate your Endnote folder on your computer (probably under <kbd>My Documents</kbd>).  Inside it you will see a <kbd>Styles</kbd> folder and a <kbd>Filters</kbd> folder. </li>
      <li>Copy or drag the required filters from the source location (whether attached to an email or stored in a shared folder) to the correct folder on your computer. <br>
        <ul><li><strong>Input filters</strong>: Place the new files in your <kbd>Filters</kbd> folder</li>
          <li><strong>Output styles</strong>: Place the new files in your <kbd>Styles</kbd> folder</li></ul></li>
      <li>In EndNote, go to your library and select <kbd>Import Filters</kbd> from the <kbd>Edit</kbd> menu <br>
        <ul><li>Chose <kbd>Open Filter Manager</kbd> </li>
          <li>A new window will pop up.</li>
          <li>Scroll through the list of choices in the new menu to select the filter you saved.</li>
          <li>Click the box to the left of the filter you would like to make available in your library.  Anything with a blue check in the box will be available in your choices for the import process.</li>
          <li>Close the box when you finish, and return to your library to use the filter.</li></ul></li>
      <li>For new output styles, use the same process but choose <kbd>Output Styles</kbd> from the Edit menu instead.</li>
    </ol>

    <hr>

    <h3 id="endnote-tutorial-changing-reference-list-display-fields">(EndNote tutorial) Changing reference list-display fields</h3>

    <p>You may display 10 fields at a time in your library view window. You may change them in the library screen (one at a time) or go to the <kbd>Preferences</kbd> window to make multiple changes at once.  To change which fields are showing within the library window, right-click in the header bar where you would like to add a column. A list of fields will open showing the fields in use in black text with a check, and fields not displayed grayed out.</p>

    <p>If you don't have 10 fields showing already, you may simply check an additional field and it will be added. (You will have to add them one at a time, as the choice list closes after each selection). If you already have 10 displayed, you will need to click one of the checked fields to remove it, then re-open the choice list to add the new field.</p>

    <p>If you have several fields to add or remove it may be easier to open the utility and assign the fields there. Go to <kbd>Endnote</kbd> in the top menu and select <kbd>Preferences</kbd>. In the window that pops up, choose <kbd>Display Fields</kbd>.</p>

    <p>Select the fields by their systematic fields name in the left column. In the right column you have the option to edit the way the field is displayed in your library.  You may chose to change the heading for Custom 8 to “PMID”. You may set the order here with the top (Column 1) representing the first column on the left, proceeding to the right as you go down.  You may also drag and drop the headings in your library window to change the order.</p>

    <p><strong>Suggested display columns for library preparation and de-duplication:</strong> </p>

    <ul>
      <li>Author</li>
      <li>Year</li>
      <li>Title</li>
      <li>Volume</li>
      <li>Pages</li>
      <li>Journal</li>
      <li>Name of DB</li>
      <li>Custom 8 (PMID)</li>
      <li>DOI</li>
      <li>Accession #</li>
    </ul>
  </div>
{% endblock content %}
