{% extends 'portal.html' %}

{% block title %}
  {{assessment}} | Literature Review | {{object}} | Edit Tags | HAWC
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{{assessment.get_absolute_url}}">{{ assessment }}</a><span class="divider">/</span></li>
  <li><a href="{% url 'lit:overview' assessment.pk %}">Literature review</a><span class="divider">/</span></li>
  {% if model == "Search" %}
    <li><a href="{% url 'lit:search_list' assessment.pk %}">Searches &amp; imports</a><span class="divider">/</span></li>
    <li><a href="{{object.get_absolute_url}}">{{object}}</a><span class="divider">/</span></li>
  {% elif model == "Reference" %}
    <li><a href="{{object.get_absolute_url}}">{{object}}</a><span class="divider">/</span></li>
  {% elif model == "Assessment" %}
    <li class="active">Untagged<span class="divider">/</span></li>
  {% elif model == "ReferenceFilterTag" %}
    <li class="active">{{object}}<span class="divider">/</span></li>
  {% endif %}
  <li class="active">Edit tags<span class="divider">/</span></li>
{% endblock %}

{% block content %}
  <div id="reference_details"></div>
{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
    let data = {
          tags: {{ tags | safe }},
          refs: [],
          tag_edit_url: {% if obj_perms.edit_assessment %}"{% url 'lit: tags_update' assessment.pk %}"{% else %}null{% endif %},
        };

    {% for ref in references %}
      data.refs.push({{ ref.get_json | safe }})
    {% endfor %}

    window.isEdit = true;

    window.app.litStartup(function(lit){
      let tagtree = new lit.TagTree(data.tags[0]),
          references = data.refs.map(function(data) {
            return new lit.Reference(data, tagtree);
          });

      new lit.EditReferenceContainer(references, tagtree, {content_div: "#reference_details"});
    });
  </script>
{% endblock extrajs %}
