{% extends 'lit/search_list.html' %}


{% load add_class %}
{% load selectable_tags %}

{% block title %}
  {{block.super}} | Copy Search
{% endblock title %}

{% block extrastyle %}
  {% include_ui_theme %}
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' pk=assessment.pk %}">{{ assessment }}</a><span class="divider">/</span></li>
  <li><a href="{% url 'lit:overview' assessment.pk %}">Literature Review</a><span class="divider">/</span></li>
  <li class="active">Copy literature search or import<span class="divider">/</span></li>
{% endblock breadcrumbs %}

{% block content %}
  <form class="form-horizontal" action="." method="post">

    {% csrf_token %}

    <div class='row-fluid'>
      <fieldset>
        <legend>Copy search or import</legend>
        <span class="help-block">Select an existing search or import from this
          assessment or another assessment and copy it as a template for use in
          this assessment. You will be taken to a new view to create a new
          search, but the form will be pre-populated using values from the
          selected search or import.</span><br>

        {% for field in form %}
          <div class="control-group form-row">
            {{field.label_tag|add_class:"control-label"}}
            <div class="controls">
                {{field}}
              <span class='help-inline'>{{field.help_text}}</span>
            </div>
            {{field.errors|add_class:"alert alert-error"}}
          </div>
        {% endfor %}
      </fieldset>
    </div>

    {# Submission area #}
    <div class="row-fluid">
      <div class="form-actions">
        <a id='submit_form' href="#" class="btn btn-primary">Copy selected as new</a>
        <a href='{% url 'lit:overview' assessment.pk %}' class="btn">Cancel</a>
      </div>
    </div>

  </form>
{% endblock content %}

{% block extrajs %}
  {{ form.media }}
  <script type="text/javascript">
    $(document).ready(function(){
        var printf = window.app.utils.HAWCUtils.printf,
            isSearch = function(txt){
            return (txt.search('{Search}')>=0);
        };

        $('#submit_form').on('click', function(){
            var val = parseInt($('#id_searches').val(), 10),
                txt = $('#id_searches option:selected').text(),
                search_url = "{% url 'lit:search_new' assessment.pk %}",
                import_url = "{% url 'lit:import_new' assessment.pk %}";

            if (val){
                var url = (isSearch(txt)) ? search_url : import_url;
                $(this).attr('href', printf("{0}?initial={1}", url, val));
                return true;
            }
            return false;
        });
    });
  </script>
{% endblock extrajs %}
