{% extends 'assessment-rooted.html' %}

{% block content %}
  <div id="main"></div>
  <div id="reference_details"></div>
{% endblock %}

{% block extrajs %}
<script id="config" type="text/json" charset="utf-8">
{
  "tags": {{ tags | safe }},
  "refs": {{ refs_json | safe }},
  "csrf": "{{csrf_token}}"
}
</script>
<script type="text/javascript">
  window.app.startup("litStartup", function (lit) {
    const el = document.getElementById('main'),
      data = window.app.getConfig();
    lit.startupTagReferences(el, data)
  });
</script>
{% endblock extrajs %}
