{% extends 'portal.html' %}

{% block title %}
  {{assessment}} | Literature Review | Searches & Imports | HAWC
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' pk=assessment.pk %}">{{ assessment }}</a><span class="divider">/</span></li>
  <li><a href="{% url 'lit:overview' assessment.pk %}">Literature Review</a><span class="divider">/</span></li>
  <li class="active">Searches & Imports<span class="divider">/</span></li>
{% endblock %}

{% block content %}

  <h1>Literature Searches & Imports
    {% if obj_perms.edit %}
      <div class="btn-group float-right">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'lit:search_new' assessment.pk %}">New search</a></li>
          <li><a href="{% url 'lit:import_new' assessment.pk %}">New import</a></li>
          <li><a href="{% url 'lit:import_ris_new' assessment.pk %}">New import from file</a></li>
          <li><a href="{% url 'lit:copy_search' assessment.pk %}">Copy from existing</a></li>
        </ul>
      </div>
    {% endif %}
  </h1>

  {% include "lit/_search_list.html" %}

{% endblock %}
