{% extends 'assessment-rooted.html' %}

{% block content %}
  <div class="d-flex">
    <h2>{{object}}</h2>
    {% if crud == "Read" %}
      {% actions %}
        {% if obj_perms.edit %}
          {% if not object.is_manual_import %}
            <a class="dropdown-item" href="{% url 'lit:search_update' object.assessment.pk object.slug %}">Update {{object.get_search_type_display|lower}}</a>
            <a class="dropdown-item" href="{% url 'lit:search_delete' object.assessment.pk object.slug %}">Delete {{object.get_search_type_display|lower}}</a>
          {% endif %}
        {% endif %}
        <a class="dropdown-item" href="{% url 'lit:api:assessment-reference-export' assessment.id %}?format=xlsx&searches={{object.id}}">Download to Excel</a>
      {% endactions %}
    {% endif %}
  </div>
  <table class="table table-sm table-striped">
    <colgroup>
      <col style="width: 30%;">
      <col style="width: 70%;">
    </colgroup>
    <tbody>
      {% if object.description %}
        <tr><th>Description</th><td>{{object.description|safe}}</td></tr>
      {% endif %}
      <tr><th>Search type</th><td>{{object.get_search_type_display}}</td></tr>
      <tr><th>Search database</th><td>{{object.get_source_display}}</td></tr>
      {% if object.search_string %}
        <tr>
          <th>{{object.get_search_type_display}} text</th>
          <td style="overflow-wrap: anywhere;">{{object.search_string|safe}}</td>
        </tr>
      {% endif %}
      {% if obj_perms.edit and object.import_file %}
        <tr>
          <th>Import file</th>
          <td><a href="{{object.import_file.url}}">{{object.import_file.name}}</a></td>
        </tr>
      {% endif %}
      <tr><th>Created</th><td>{{object.created}}</td></tr>
      <tr><th>Last updated</th><td>{{object.last_updated}}</td></tr>
    </tbody>
  </table>

  <h3>Literature Tagging Statistics</h3>
  <table class="table table-sm table-hover">
    <tbody>
      <tr>
        <th>Total References</th>
        <td>{{object.references_count}}</td>
      </tr>
      <tr>
        <th>Total Tagged</th>
        <td>{{object.references_tagged_count}}</td>
      </tr>
      <tr>
        <th>Total Untagged</th>
        <td>{{object.references_untagged.count}}</td>
      </tr>
      <tr>
        <th>Reference details</th>
        <td>
          <a class="btn btn-primary" href="{% url 'lit:search_tags' assessment.pk object.slug %}">View by tag</a>
          <a class="btn btn-primary" href="{% url 'lit:search_tags_visual' assessment.pk object.slug %}">Visualize</a>
        </td>
      </tr>
    </tbody>
  </table>

  {% if crud == "Read" %}
    {% if object.get_source_display == "Manually imported" %}
      {% if obj_perms.edit %}
        <div class="well">
          <a class="btn btn-primary" href="{% url 'study:new_ref' assessment.pk %}">Create new reference</a>
        </div>
      {% endif %}
    {% elif object.search_type == "i"  %}
      {% include "lit/_import_list.html" %}
    {% elif object.get_source_display == "PubMed" %}
      {% include "lit/_pubmedqueries_list.html" %}
    {% endif %}
  {% endif %}
{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
    $(document).ready(function () {
      $('#run_search').on('click', function(e){
        $('#loading_div').show();
        return true;
      });
    });
  </script>
{% endblock %}
