{% extends 'assessment-rooted.html' %}

{% block content %}
<div id='root'></div>
<div class="well">
  <a class='btn btn-primary'
     href="{% url 'lit:tags_copy' assessment.pk %}">
      Copy tags from existing assessment</a>
  <a class='btn btn-primary float-right' href="{{ lit_assesment_update_url }}">
    Modify extraction tag</a>
</div>
{% endblock %}


{% block extrajs %}
<script type="text/json" id="config">
{
    "assessment_id": {{assessment.id}},
    "base_url": "{% url "lit:api:tags-list" %}",
    "list_url": "{% url "lit:api:tags-list" %}?assessment_id={{assessment.id}}",
    "csrf": "{{ csrf_token }}",
    "host": "//{{request.get_host}}",
    "title": "Reference tags for {{assessment}}",
    "extraHelpHtml": "Edit tags which can be applied to literature for this assessment. If extracting data, all references marked with a tag in the \"Inclusion\" category will be labeled as ready for data-extraction on the assessment literature review page (<a href=\"{% url 'lit:overview' assessment.pk %}\">here</a>).<br/><br/>",
    "btnLabel": "Add new tag"
}
</script>
<script type="text/javascript">
  $(document).ready(function () {
    const el = document.getElementById('root'),
      config = window.app.getConfig();
    window.app.nestedTagEditorStartup(el, config);
  });
</script>
{% endblock extrajs %}

