{% extends 'portal.html' %}

{% block title %}
  {{assessment}} | Literature Review | Topic Model | HAWC
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{{assessment.get_absolute_url}}">{{ assessment }}</a><span class="divider">/</span></li>
  <li><a href="{% url 'lit:overview' assessment.pk %}">Literature Review</a><span class="divider">/</span></li>
  <li class="active">Topic Model<span class="divider">/</span></li>
{% endblock %}

{% block content %}
<h1>Topic model.
{% if obj_perms.edit_assessment and object.can_request_refresh %}
<a class="pull-right btn btn-primary" href="/">
  {% if has_topic_model %}Request model refresh{% else %}Build model{% endif %}
</a>
{% endif %}
</h1>

{% if obj_perms.edit_assessment %}
  {% if object.topic_tsne_refresh_requested %}
  Model (re)build requested at {{object.topic_tsne_refresh_requested}}.
  {% endif %}
{% endif %}

{% if has_topic_model %}
<div id="viz"></div>
{% else %}
<p>No topic model available.
  {% if num_references < object.TOPIC_MODEL_MIN_REFERENCES %}
  Import at least {{object.TOPIC_MODEL_MIN_REFERENCES}} references exist before attempting to build a model.
  {% endif %}
</p>
{% endif %}
{% endblock %}

{% block extrajs %}
<script id="data" type="application/json">
  {{data|safe}}
</script>
<script type="text/javascript">
  const data = JSON.parse(document.getElementById("data").textContent),
    viz = document.getElementById("viz");

  if (viz) {
    window.app.renderPlotlyFromApi(viz, data.topicModelUrl);
  }
</script>
{% endblock extrajs %}
