{% extends 'assessment-rooted.html' %}

{% block content %}
<h1>Topic model.
{% if obj_perms.edit and object.can_request_refresh %}
<a id="refresh-topic-model" class="float-right btn btn-primary" href=".">
  {% if object.has_topic_model %}Request model refresh{% else %}Build model{% endif %}
</a>
{% endif %}
</h1>

{% if obj_perms.edit %}
  {% if object.topic_tsne_refresh_requested %}
  <p>Model (re)build requested at <i>{{object.topic_tsne_refresh_requested}}</i>. When resources are available, a new topic model will be generated.</p>
  {% endif %}
{% endif %}

{% if object.has_topic_model %}
<div id="viz" style="height:75vh"></div>
{% else %}
<p>No topic model available.
  {% if num_references < object.TOPIC_MODEL_MIN_REFERENCES %}
  Import at least {{object.TOPIC_MODEL_MIN_REFERENCES}} references exist before attempting to build a model.
  {% endif %}
</p>
{% endif %}
{% endblock %}

{% block extrajs %}
<script id="config" type="application/json">
  {{data|safe}}
</script>
<script type="text/javascript">
  const data = window.app.getConfig(),
    refreshBtn = document.getElementById("refresh-topic-model"),
    viz = document.getElementById("viz");

  // request a model refresh
  if (refreshBtn){
    refreshBtn.onclick = function (event) {
      event.preventDefault()
      fetch(
        data.topicModelRefreshUrl,
        {
          credentials: "same-origin",
          method: "POST",
          body: "",
          headers: new Headers({
            "X-CSRFToken": "{{ csrf_token }}",
            "content-type": "application/json",
          })
        }).then((resp) => {
          if (resp.ok) {
            location.reload();
          }
          return false;
        });
    };
  }

  // load visual
  if (viz) {
    window.app.renderPlotlyFromApi(viz, data.topicModelUrl);
  }

</script>
{% endblock extrajs %}
