{% extends 'assessment-rooted.html' %}

{% block content %}
  <div class="d-flex">
    <h2 class="mb-2">Workflows</h2>
    {% if obj_perms.edit_assessment %}
      <a class="btn mt-1 btn-primary flex-shrink-0 align-self-start ml-auto" hx-get="{% url 'lit:workflow-create' assessment.pk %}" hx-trigger="click" hx-target="#workflow-list" hx-swap="outerHTML" href="/">Create new workflow</a>
    {% endif %}
  </div>
  <p class="text-muted vw75 mt-0 mb-2">
    Literature workflows define groups of references in a specific state of tagging. References must match all admission criteria and none of the removal criteria to fit in a workflow. Workflows can filter references for various pages in HAWC; like the tagging, conflict resolution, and list views. Linked tiles to some of these workflow-filtered pages can be added to the Literature Review home page for quick access.
  </p>
  {% include "lit/fragments/workflow_list.html" %}
{% endblock %}

{% block extrajs %}
  {% include "common/htmx_autocomplete.html" %}
  {% include "common/helptext_popup_js.html" %}
  <script type="text/javascript">
    $(window).ready(function() {
      $("body").on("htmx:afterSwap", function(evt) {
        var targetHTML = evt.detail.target; // the HTML element that is being replaced
        var newHTML = evt.detail.elt; // the new HTML element from our HTMX response
        var workflowForm = $(newHTML).hasClass("workflow-edit-row")
          ? newHTML
          : $(newHTML)
          .children(".workflow-edit-row")
          .first();
        if ($(workflowForm).length) {
            // if the form exists..
          if ($(targetHTML).hasClass("workflow-edit-row")) {
                // if both source and target are a form (failed update/create), maintain scroll attr between elements
            $(workflowForm).attr("scrolltop", $(targetHTML).attr("scrolltop"));
          } else {
                // otherwise, set scroll attr to current scroll position so we can return later
            $(workflowForm).attr("scrolltop", $("body,html").scrollTop());
          }
          $("body,html").animate({scrollTop: $(workflowForm).offset().top - 20}, 400); // now animate a scroll to the form
        } else {
            // if the form is being replaced by a read row, then scroll back to OG position
          if (
            $(newHTML).hasClass("workflow-row") &&
            $(targetHTML).hasClass("workflow-edit-row")
          ) {
            $("body,html").animate({scrollTop: $(targetHTML).attr("scrolltop")}, 400);
          }
        }
      });
      $("body").on("htmx:afterRequest", function(evt) {
        // this handles unique case of successful row deletion; need to do it after request, not after swap
        var targetHTML = evt.detail.target;
        var newHTML = evt.detail.elt;
        if ($(newHTML).attr("id") == "workflow-conf-delete" && evt.detail.successful) {
          $("body,html").animate({scrollTop: $(targetHTML).attr("scrolltop")}, 800);
        }
      });
    });
  </script>
{% endblock %}
