interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hero.epa.gov/hero/ws/index.cfm/api/1.0/search/criteria/5353200,2199697,5920377,5176411,595055/recordsperpage/100.json
  response:
    body:
      string: "{\"results\":[{\"REFERENCE_ID\":5176411,\"ABSTRACT\":\"\",\"url\":\"https://hero.epa.gov/hero/index.cfm/reference/details/reference_id/5176411\",\"hasPDF\":true,\"YEAR\":2018,\"allAuthors\":[\"Akin
        Gump Strauss Hauer & Feld LLP\"],\"HEROID\":5176411,\"id\":5176411,\"referencetype\":[\"technical
        report\"],\"type\":\"reference\",\"pdfURL\":\"https://www.regulations.gov/document?d=epa-hq-oppt-2016-0743-0102\",\"sortYear\":2018,\"PROJECTS\":[],\"firstAuthor\":\"Akin
        Gump Strauss Hauer & Feld LLP\",\"AUTHORS\":\"Akin Gump Strauss Hauer & Feld
        LLP\",\"noPDFAvailable\":false,\"isPeerReviewed\":false,\"code\":\"re\",\"isDeleted\":false,\"isPublic\":true,\"hasPublicDoc\":false,\"SOURCE\":\"(EPA-HQ-OPPT-2016-0743-0102).\",\"TITLE\":\"Re:
        EPA docket EPA-HQ-OPPT-2016-0743: N-Methyl-2-pyrrolidone (\\\"NMP\\\"), CAS#
        872-50-4 comments regarding the NMP problem formulation document\",\"modified\":\"2019-11-29T16:11:18Z\",\"PMID\":\"\",\"_version_\":1651553210695942144},{\"bookTitle\":\"The
        Merck Index: An Encyclopedia of Chemicals, Drugs, and Biologicals\",\"REFERENCE_ID\":595055,\"usage_path_key\":[4235,\"4234|1939|514\",\"1941|1956\",\"1958|1676|1720|1576|428|2165\",\"2169|2181|2182\",\"7090|13943|10013|13944|10025|13945|10036|13886|13888|13893|13987|10259|10260|10261\",\"13987|10259|11245\",\"10081|10084|14043|10425|14044|10900|14048|10661|14028|10134|168\",\"178|8211\"],\"ABSTRACT\":\"\",\"url\":\"https://hero.epa.gov/hero/index.cfm/reference/details/reference_id/595055\",\"hasPDF\":true,\"isbn\":\"0911910131\",\"YEAR\":2001,\"allAuthors\":[\"Merck
        & Co., Inc.\",\"O'Neil, MJ; Smith, A; Heckelman, PE; Obenchain, JR, Jr; Gallipeau,
        JAR; D'Arecca, MA; Budavari, S\"],\"HEROID\":595055,\"id\":595055,\"project_key\":[61,1836,299,413,1535,1871,1647,1826,1651,438,1677,2203,1435,2542,2543,2545,2546,2556,2558,2566,2567,2559,1835,2497,1503,2329,1909],\"referencetype\":[\"book/book
        chapter\"],\"type\":\"reference\",\"sortYear\":2001,\"tag_path_text\":[\"IRIS|1,4-Dioxane
        - with inhalation update|Final (2013)\",\"IRIS|1,4-Dioxane - with inhalation
        update|External Review Draft (2011)\",\"IRIS|Benzo(a)pyrene (BaP)|Considered|2011
        IASC draft cited references\",\"IRIS|Benzo(a)pyrene (BaP)|Cited\",\"IRIS|Biphenyl|Considered
        \",\"IRIS|Biphenyl|Excluded References\",\"IRIS|Bromobenzene\",\"IRIS|Chromium
        VI - Archive|Considered References - Box 5|Supporting Studies\",\"IRIS|Cyanobacterial
        Toxins|Cylindro[...]
