{% extends 'assessment-rooted.html' %}

{% block content %}
  <div class="d-flex align-items-start">
    <h2 class="mt-0 mb-2">{{assessment.name}} UDF Bindings</h2>
    {% actions %}
      {% if obj_perms.edit %}
        <a class="dropdown-item" href="{% url 'udf:tag_create' assessment.pk %}">Create literature tag binding</a>
        <a class="dropdown-item" href="{% url 'udf:model_create' assessment.pk %}">Create data extraction binding</a>
        <a class="dropdown-item" href="{% url 'udf:udf_list' %}">View UDFs</a>
      {% endif %}
    {% endactions %}

  </div>
  {% include "udf/fragments/binding_list.html" %}
{% endblock %}

{% block extrajs %}
  <script>
    window.app.HAWCUtils.dynamicFormListeners();
  </script>
{% endblock extrajs %}