{% extends 'assessment-rooted.html' %}

{% block content %}
  {% if crud == "Read" %}
    <div class="d-flex">
      <h2>Model/Form binding</h2>
      {% if obj_perms.edit %}
        {% actions %}
          <a class="dropdown-item" href="{% url 'udf:model_update' object.pk %}">Update</a>
          <a class="dropdown-item" href="{% url 'udf:model_delete' object.pk %}">Delete</a>
        {% endactions %}
      {% endif %}
    </div>
  {% endif %}
  <table class="table table-sm table-striped">
    {% bs4_colgroup '15,85' %}
    <tbody>
      <tr>
        <th>Model</th>
        <td>{{object.content_type}}</td>
      </tr>
      <tr>
        <th>Form</th>
        <td>
          <p><a href="{% url 'udf:udf_detail' object.form.pk %}">{{object.form.name}}</a></p>
          <p class='my-3'><u>Form Preview:</u></p>
          {% crispy object.form_instance %}
        </td>
      </tr>
      <tr>
        <th>Creator</th>
        <td>{{object.creator}}</td>
      </tr>
      <tr>
        <th>Created</th>
        <td>{{object.created}}</td>
      </tr>
      <tr>
        <th>Last Updated</th>
        <td>{{object.last_updated}}</td>
      </tr>
    </tbody>
  </table>
{% endblock %}