{% extends "crumbless.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-6">
      {% crispy form %}
    </div>
    <div class="col-md-6 card">
      <div class="card-body">
        <h4 class="card-title">Form Preview</h4>
        <div id="schema-preview-frame">
          <div class="alert alert-info" role="alert">Click Preview to see what your form will look like!</div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extrajs %}
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      htmx.on("htmx:afterSwap", window.app.HAWCUtils.dynamicFormListeners);
    });
  </script>
{% endblock extrajs %}
