{% extends 'crumbless.html' %}

{% block content %}
  <div class="d-flex align-items-start">
    <h2 class="mt-0 mb-2">User Defined Fields</h2>
    <a class="ml-auto btn btn-primary mt-1" href="{% url 'udf:udf_create' %}">Create a form</a>
  </div>
  <div class="list-group mb-4">
    {% for object in object_list %}
      {% include "udf/fragments/udf_row.html" with udf=object only %}
    {% empty %}
      {% alert type="info" %}No forms found.{% endalert %}
    {% endfor %}
  </div>
  {% include "includes/paginator.html" with plural_object_name="forms" %}
{% endblock content %}

{% block extrajs %}
  <script>
    window.app.HAWCUtils.dynamicFormListeners();
  </script>
{% endblock extrajs %}
