{% extends "crumbless.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-12 pad-form">
      {% crispy form %}
    </div>
  </div>
{% endblock %}

{% block extrajs %}
  <script>
    $(window).ready(function() {
      $("#schema-preview-btn").on("click", function() {
        $("#schema-preview-fieldset").removeClass('show');
      });
      $("#submit-id-save").on("click", function() {
        // disable so that the required fields on a UDF preview aren't checked in form validation
        $("#schema-preview-fieldset").attr('disabled', true);
      });
      $("#schema-preview-btn").on("htmx:afterOnLoad", function() {
        window.app.HAWCUtils.dynamicFormListeners();
        $("#schema-preview-fieldset").collapse("show").attr('disabled', false);
      });
      $('#load-example').on("click", function(e){
        e.preventDefault();
        const demo = '{"fields": [{"type": "char","name": "name","label": "Name","help_text": "First and last name","css_class": "col-6"},{"type": "integer","name": "age","required": false,"label": "Age","min_value": 21,"css_class": "col-6"},{"type": "multiple_choice","name": "favorite_foods","required": false,"label": "Favorite foods","widget": "checkbox_select_multiple","choices": [["pizza", "Pizza"],["ice_cream", "Ice cream"],["taco", "Tacos"]]}]}';
        $('#id_schema').val(demo)
      })
    });
  </script>
{% endblock extrajs %}
