{% extends 'assessment-rooted.html' %}

{% block content %}
  <div class="d-flex align-items-start">
    <h2 class="mt-0 mb-2">User Defined Field (UDF) Bindings</h2>
    {% if obj_perms.edit_assessment %}
      {% actions %}
        <button class="dropdown-item" hx-target=".create-row" hx-swap="outerHTML" hx-get="{% url 'udf:binding_create' assessment.pk tag_binding %}">Create literature tag binding</button>
        <button class="dropdown-item" hx-target=".create-row" hx-swap="outerHTML" hx-get="{% url 'udf:binding_create' assessment.pk model_binding %}">Create data extraction binding</button>
        <a class="dropdown-item" href="{% url 'udf:udf_list' %}">View UDF list</a>
      {% endactions %}
    {% endif %}
  </div>
  <div class="list-group mt-2 mb-4 rounded border-top" id="binding-list">
    <div class="create-row hidden"></div>
    {% for object in tag_object_list %}
      {% include "udf/fragments/udf_row.html" with udf=object.form binding=object binding_type=tag_binding %}
    {% endfor %}
    {% for object in object_list %}
      {% include "udf/fragments/udf_row.html" with udf=object.form binding=object binding_type=model_binding %}
    {% endfor %}
    {% alert type="info" classes="text-center show-only-child" %}
      No tag or model bindings exist for this assessment.
    {% endalert %}
  </div>
{% endblock %}

{% block extrajs %}
  <script>
    $(document).ready(function(){
      window.app.HAWCUtils.dynamicFormListeners();
      // window.app.HAWCUtils.addScrollHtmx("binding-edit-row", "binding-row", "binding-conf-delete");
    });
    $("#binding-list").on("htmx:afterOnLoad", function() {
      window.app.HAWCUtils.dynamicFormListeners();
    });
  </script>
{% endblock %}
