<form>
  <h3>Source assessment: <a href="{{src_assessment.get_absolute_url}}" {% anchor_new_tab %}>{{src_assessment}}</a></h3>
  <p class="text-muted">Select which studies from the selected assessment to copy into this assessment.</p>
  <table id="src-studies-table" class='table table-sm table-striped'>
    {% bs4_colgroup '40,20,20,20' %}
    <thead>
      <tr>
        <th>Short Citation</th>
        <th>Bioassay</th>
        <th>Epidemiology*</th>
        <th>{{assessment.get_rob_name_display|title}}</th>
      </tr>
    </thead>
    <tbody>
      {% for study in studies %}
        <tr id="{{study.id}}">
          <td>
            <input type="checkbox" name="study" value="{{study.id}}" id="study-{{study.id}}" class="study-selector">
            <label class="ml-1" for="study-{{study.id}}">{{study}}</label>
            <a class="ml-1 btn btn-light" href="{{study.get_absolute_url}}" {% anchor_new_tab %}>View</a>
          </td>
          <td>
            <input
              name="study_bioassay"
              value="{{study.id}}"
              {% if not study.has_bioassay %}disabled{% endif %}
              type="checkbox">
          </td>
          <td>
            <input
              name="study_epi"
              value="{{study.id}}"
              {% if not study.has_epi %}disabled{% endif %}
              type="checkbox">
          </td>
          <td>
            <input
              name="study_rob"
              value="{{study.id}}"
              {% if not study.has_rob %}disabled{% endif %}
              type="checkbox">
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="100%" class="text-muted">
            No studies available.
          </td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="100%" class="text-muted">
          * Only epidemiology extractions using schema version 2 are eligible to be cloned.
        </td>
      </tr>
    </tfoot>
  </table>

  {% if src_metrics and dst_metrics %}
    <h3>{{assessment.get_rob_name_display|title}} Mapping</h3>
    <p class="text-muted">Optional; if any selected studies have been selected with {{assessment.get_rob_name_display|lower}}, you must also map metrics from the source assessment to the destination assessment. Skip this section if no evaluations were selected.</p>

    <div class="form-row">
      <div class="col-md-6">
        <div class="form-group">
          <div class="custom-control custom-checkbox">
            <input type='checkbox' name='include_rob' id="include-rob" checked></i>
          <label for="include-rob" >Include study evaluation</label>
        </div>
      </div>
    </div>
    <div class="col-md-6 hide-if-no-include-rob">
      <div class="form-group">
        <label>Where should these be copied to</label>
        <select class="custom-select" name="copy_mode">
          <option value="final-to-initial">Final Review in Source → Initial Review in Clone</option>
          <option value="final-to-final">Final Review in Source → Final Review in Clone</option>
        </select>
      </div>
    </div>
    </div>
    <table id="metric-map-table" class='table table-sm table-striped hide-if-no-include-rob'>
      {% bs4_colgroup '50,50' %}
      <thead>
        <tr>
          <th>Source<a class="ml-1 btn btn-light" href="{% url 'riskofbias:arob_detail' assessment.id %}" {% anchor_new_tab %}>View</a></th>
          <th>Destination<a class="ml-1 btn btn-light" href="{% url 'riskofbias:arob_detail' src_assessment.id %}" {% anchor_new_tab %}>View</a></th>
        </tr>
      </thead>
      <tbody>
        {% for metric in src_metrics %}
          <tr>
            <td>
              <p class="font-weight-bold">{{metric.domain.name}}: {{ metric.name }}</p>
              <div>{{metric.description|safe}}</div>
            </td>
            <td>
              <select class="custom-select" name="metric-{{metric.id}}">
                <option value="" selected >N/A (do not clone)</option>
                {% for dst_metric in dst_metrics %}
                  <option value="{{ dst_metric.id }}">{{dst_metric.domain.name}}: {{ dst_metric.name }}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  {% csrf_token %}
  <input name="src_assessment" value="{{src_assessment.id}}" class='hidden' />
  <div class="form-group form-actions">
    <button
      name='action'
      value="clone"
      type="submit"
      class="btn btn-primary"
      hx-post="."
      hx-indicator="#spinner-clone"
      hx-target="#clone-result"
      hx-on::before-request="document.getElementById('clone-result').textContent = ''"
    >Clone Selected Studies</button>
    <a class="btn btn-light" href="{% url 'study:list' assessment.pk %}">Cancel</a>
  </div>
  <div id="clone-result"></div>
  <div id="spinner-clone" class="htmx-indicator">
    {% alert type="info" %}
      <i class="fa fa-spinner fa-spin ml-3" aria-hidden="true"></i>
      Cloning, please wait ... this may take a few minutes ...
    {% endalert %}
  </div>
</form>

