<div id="src-assessment-details-fragment">
  {% if src_studies %}
    <h4>Select studies*</h4>
    <table class='table table-sm table-striped'>
      {% bs4_colgroup '40,20,20,20' %}
      {% bs4_thead 'Short citation,Bioassay,Epi,Risk of Bias' %}
      <tbody>
        {% for study in src_studies %}
          <tr>
            <td>
              <input type="checkbox" id="study_{{study.id}}" name="study" value="{{study.id}}">
              <label style="font-weight: normal;" for="study_{{study.id}}">&nbsp;{{study}}</label>
            </td>
            <td>
              {% if study.bioassay %}
                <input type="checkbox" name="bioassay" value="{{study.bioassay}}">
              {% else %}
                <input disabled type="checkbox" name="bioassay" value="{{study.bioassay}}">
              {% endif %}
            </td>
            <td>
              {% if study.epi and assessment.epi_version == 2 and study.assessment.epi_version == 2 %}
                <input type="checkbox" name="epi" value="{{study.epi}}">
              {% else %}
                <input disabled type="checkbox" name="epi" value="{{study.epi}}">
              {% endif %}
            </td>
            <td>
              {% if study.rob %}
                <input type="checkbox" name="rob" value="{{study.rob}}">
              {% else %}
                <input disabled type="checkbox" name="rob" value="{{study.rob}}">
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
    <h4>Map metrics*</h4>
    {% include 'riskofbias/_arob_none_alert.html' %}
    <br>
    <a class="btn mt-1 btn-primary flex-shrink-0 align-self-start ml-auto"
       hx-post="{% url 'study:clone_from_assessment-htmx' assessment.pk 'clone' %}"
       hx-trigger="click"
       hx-target="#src-assessment-details"
       hx-encoding="multipart/form-data"
       onclick="alert('!')">
      Clone
    </a>
  {% endif %}
</div>

