{% extends 'portal.html' %}
{% load selectable_tags %}
{% load add_class %}
{% load url_replace %}

{% block title %}{{assessment}} | In vitro endpoints | HAWC {% endblock title %}

{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' pk=assessment.pk %}">{{ assessment }}</a><span class="divider">/</span></li>
  <li><a href="{% url 'assessment:endpoint_list' assessment.pk %}">Endpoints</a><span class="divider">/</span></li>
  <li class="active"><i>In vitro</i> endpoints<span class="divider">/</span></li>
{% endblock %}

{% block content %}

    <h1><i>In vitro</i> endpoints ({{page_obj.paginator.count}} found)</h1>

    <div class="accordion" id="filterForm">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#filterForm" href="#EndpointForm" title="Filter endpoints">
            Filter endpoints
          </a>
        </div>
        <div id="EndpointForm" class="accordion-body collapse">
          <div class="accordion-inner container-fluid">

            <form action="." method="get">
              <fieldset>
                    {{ form.non_field_errors|add_class:"alert alert-error" }}

                    {% for field in form %}

                        {% if forloop.counter0|divisibleby:4 %}
                            <div class="row-fluid">
                        {% endif %}

                        <div class="span3">
                            {{field.label_tag|add_class:"control-label"}}
                            <div class="controls">
                                {{field}}<br>
                                <span class='help-inline'>{{field.help_text}}</span>
                            </div>
                            {{field.errors|add_class:"alert alert-error"}}

                            {% if field.name == "order_by" and field.value is not None %}
                            <input type="hidden" id="initial_order_by" value="{{ field.value }}" />
                            {% endif %}
                        </div>

                        {% if forloop.counter0|add:1|divisibleby:4 %}
                            </div>
                        {% endif %}

                    {% endfor %}
                </fieldset>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Apply filters</button>
                </div>
            </form>

          </div>
        </div>
      </div>
    </div>

    <div id="endpointTable"></div>

    {% if is_paginated %}
        <div class="pagination pagination-centered">
            <ul>

                {% if page_obj.has_previous %}
                    <li><a href="?page={{page_obj.previous_page_number}}">&lt;&lt;</a></li>
                {% else %}
                    <li class="disabled"><a href="#">&lt;&lt;</a></li>
                {% endif %}

                <li class="disabled"><a href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>

                {% if page_obj.has_next %}
                    <li><a href="?page={{page_obj.next_page_number}}">&gt;&gt;</a></li>
                {% else %}
                    <li class="disabled"><a href="#">&gt;&gt;</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}

{% endblock content %}

{% block extrajs %}
    {{ form.media }}
    <script type="text/javascript">
        window.app.invitroStartup(function(invitro){
            var endpoints = [];

            {{list_json|safe}}.map(function(endpoint){
                endpoints.push(new invitro.IVEndpoint(endpoint));
            })

            var tbl = new invitro.IVEndpointListTable(endpoints);
            $("#endpointTable").html(tbl.buildTable());
        });
    </script>
{% endblock %}
