{% extends 'portal.html' %}


{% block title %}
    {% include "hawc/siteTitle.html" with crumbs=object.get_crumbs crud=crud %}
{% endblock title %}

{% block breadcrumbs %}
    {% include "hawc/breadcrumbs.html" with crumbs=object.get_crumbs crud=crud %}
{% endblock %}

{% block content %}
    <div id="ivExperiment"></div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
window.app.invitroStartup(function(invitro){
    window.canEdit = {{obj_perms.edit|lower}};
    invitro.IVExperiment.displayAsPage({{object.id}}, $("#ivExperiment"));
});
</script>
{% endblock %}
