{% extends 'assessment-rooted.html' %}

{% block content %}
    <div class="d-flex">
        <h2>{{ object }}</h2>

        {% if obj_perms.edit_assessment %}
            {% actions %}
            <a class="dropdown-item"
               href="{% url 'bmd:assess_settings_update' assessment.pk %}">Update settings</a>
        {% endactions %}
    {% endif %}

</div>
<p>BMD assessment-settings can only be modified by project managers.</p>
<table class="table table-sm table-striped">
    <colgroup>
        <col style="width: 30%;">
        <col style="width: 70%;">
    </colgroup>
    <tbody>
        <tr>
            <th>
                Benchmark dose modeling
                <br />
                software (<a href="https://www.epa.gov/bmds">BMDS</a>) version
            </th>
            <td>{{ object.get_version_display }}</td>
        </tr>
        <tr>
            <th>Last updated</th>
            <td>{{ object.last_updated }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
    // turn on popovers for the bmd logic settings page
    $(".popovers").popover();
    </script>
{% endblock %}
