{% extends 'assessment-rooted.html' %}

{% block content %}
  <h1 style="display:inline-block;">{{object}}</h1>
  {% if obj_perms.edit_assessment %}
    <div class="dropdown btn-group float-right">
      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions</a>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="{% url 'bmd:assess_settings_update' assessment.pk %}">Update settings</a>
      </div>
    </div>
  {% endif %}

  <p>BMD assessment-settings can only be modified by project managers.</p>

  <table class="table table-sm table-striped">
    <colgroup>
      <col style="width: 30%;">
      <col style="width: 70%;">
    </colgroup>
    <tbody>
      <tr><th>Benchmark dose modeling<br/>software (<a href="https://www.epa.gov/bmds">BMDS</a>) version</th><td>{{object.get_version_display}}</td></tr>
      <tr><th>Last updated</th><td>{{object.last_updated}}</td></tr>
    </tbody>
  </table>

  <h2>BMD decision logic</h2>
  {% include "bmd/_logic_settings_detail_list.html" with object_list=assessment.bmd_logic_fields.all %}

{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
    // turn on popovers for the bmd logic settings page
    $(".popovers").popover();
  </script>
{% endblock %}
