{% extends 'assessment-rooted.html' %}

{% block content %}
    <h1 style="display:inline-block;">{{object}}</h1>
    {% if obj_perms.edit and crud == "Read" %}
      <div class="dropdown btn-group float-right">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions</a>
        <div class="dropdown-menu dropdown-menu-right">
            <h6 class="dropdown-header">BMD editing</h6>
            <a class="dropdown-item" href="{{object.get_update_url}}">Update</a>
            <a class="dropdown-item" href="{{object.get_delete_url}}">Delete</a>
        </div>
      </div>
    {% endif %}

    <div id="bmd"></div>

{% endblock %}


{% block extrajs %}
<script id="config" type="text/json" charset="utf-8">
{
  "editMode": false,
  "assessment_id": {{ assessment.id }},
  "bmds_version": "{{object.get_version_display}}",
  "endpoint_id": {{ object.endpoint_id }},
  "session_url": "{{ object.get_api_url }}",
  "execute_url": "{{ object.get_execute_url }}",
  "execute_status_url": "{{ object.get_execute_status_url }}",
  "selected_model_url": "{{ object.get_selected_model_url }}",
  "csrf": "{{ csrf_token }}"
}
</script>
<script type="text/javascript">
$(document).ready(function () {
  const el = document.getElementById('bmd'),
    config = JSON.parse(document.getElementById('config').text);
  window.app.bmds2Startup(el, config);
});
</script>
{% endblock %}
