{% extends 'assessment-rooted.html' %}

{% load selectable_tags %}
{% load crispy_forms_tags %}

{% block extrastyle %}
  {% include_ui_theme %}
{% endblock %}

{% block content %}
    <h1>{{object}}
        <a class="btn btn-primary float-right"
           href="{{object.get_absolute_url}}">Cancel</a>
    </h1>

    <div id="bmd"></div>

{% endblock %}


{% block extrajs %}
<script id="config" type="text/json" charset="utf-8">
{
  "editMode": true,
  "assessment_id": {{ assessment.id }},
  "bmds_version": "{{object.get_version_display}}",
  "endpoint_id": {{ object.endpoint_id }},
  "session_url": "{{ object.get_api_url }}",
  "execute_url": "{{ object.get_execute_url }}",
  "execute_status_url": "{{ object.get_execute_status_url }}",
  "selected_model_url": "{{ object.get_selected_model_url }}",
  "csrf": "{{ csrf_token }}"
}
</script>
<script type="text/javascript">
$(document).ready(function(){
  const el = document.getElementById('bmd'),
    config = window.app.getConfig();
  window.app.startup("bmds2Startup", function(cb){ cb(el, config) });
});
</script>
{% endblock %}
