{% if object_list %}
<table class="table table-sm table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Date Created</th>
            <th>Date Updated</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
            <tr>
                <td><a href="{% url 'assessment:detail' object.pk %}">{{object}}</a></td>
                <td>{{object.year}}</td>
                <td>{{object.created}}</td>
                <td>{{object.last_updated}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p>No assessments available.</p>
{% endif %}
