{% if object_list.count > 0 %}
<h3>Assessment Values</h3>
<table class="table table-sm table-striped">
    <colgroup>
        <col style="width: 30%;">
        <col style="width: 50%;">
        <col style="width: 20%;">
    </colgroup>
    <thead>
        <tr>
            <th>Value</th>
            <th>Comments</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td>{{object.value}}</td>
            <td>{{object.comments}}</td>
            <td>
                <a class="btn btn-sm btn-info" href="{% url 'assessment:values-update' object.pk %}">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                <a class="btn btn-sm btn-danger" href="{% url 'assessment:values-delete' object.pk %}">
                    <i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
