{% if object_list %}
<table id="mainTbl" class="table table-sm table-striped">
    <colgroup>
        <col width="56%" />
        <col width="6%" />
        <col width="10%" />
        <col width="8%" />
        <col width="10%" />
        <col width="10%" />
    </colgroup>
    <thead>
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>DTXSIDs</th>
            <th>CAS RN</th>
            <th>Date Created</th>
            <th>Date Updated</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td>
                <p class='mb-0'><a href="{% url 'assessment:detail' object.pk %}">{{object.name}}</a></p>
                {% if object.assessment_objective %}
                <div class='text-muted'>{{object.assessment_objective|safe|truncatewords:50}}</div>
                {% endif %}
            </td>
            <td>{{object.year}}</td>
            <td>
                {% for dtx in object.dtxsids.all %}
                {% if forloop.counter <= 3 %}
                    {{dtx.dtxsid}}
                {% elif forloop.last %}
                  <i class="text-muted small">View full list on assessment page</i>
                {% endif %}
                {% endfor %}
            </td>
            <td>
                {% if 'NOCAS' not in object.cas %}
                    {{object.cas}}
                {% endif %}
            </td>
            <td>{{object.created|date:"Y-m-d"}}</td>
            <td>{{object.last_updated|date:"Y-m-d"}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p>No assessments available.</p>
{% endif %}
