{% if object_list.count > 0 %}
<div id="attachTable">
<h2>Attachments</h2>
<table class="table table-sm table-striped">
    <colgroup>
        {% if canEdit %}
           <col style="width: 25%;">
           <col style="width: 60%;">
           <col style="width: 15%;">
        {% else %}
            <col style="width: 30%;">
            <col style="width: 70%;">
        {% endif %}
    </colgroup>
    <thead>
        <tr>
            <th>Attachment</th>
            <th>Description</th>
            {% if canEdit %}
                <th>Editing</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr id="attach-row-{{object.pk}}">
            <td><a href="{{object.attachment.url}}">{{object.title}}</a></td>
            <td>{{object.description|safe}}</td>
            {% if canEdit %}
            <td>
                <button
                    class="btn btn-sm btn-info"
                    hx-get="{{object.get_edit_url}}"
                    hx-trigger="click"
                    hx-target="#attach-row-{{object.pk}}"
                    hx-swap="innerHTML">
                    Edit</button>
                <button
                    class="btn btn-sm btn-danger"
                    hx-delete="{{object.get_delete_url}}"
                    hx-trigger="click"
                    hx-target="#attachTable"
                    hx-swap="innerHTML"
                    hx-confirm="Are you sure you wish to delete this attachment?">
                    Delete</button>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endif %}
