{% if object_list.count > 0 %}
<div id="attachTable">
<h2>Attachments</h2>
<table class="table table-sm table-striped">
    <colgroup>
        {% if canEdit %}
           <col style="width: 25%;">
           <col style="width: 60%;">
           <col style="width: 15%;">
        {% else %}
            <col style="width: 30%;">
            <col style="width: 70%;">
        {% endif %}
    </colgroup>
    <thead>
        <tr>
            <th>Attachment</th>
            <th>Description</th>
            {% if canEdit %}
                <th>Editing</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr id="attach-row-{{object.pk}}">
            {% include "assessment/components/attachment_row.html" with object=object canEdit=canEdit %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endif %}
