{% if object_list.count > 0 %}
<div id="attachTable">
<h2>Attachments
{% if canEdit %}
<button
    class="btn btn-sm btn-info"
    style="margin-left: 85%;"
    hx-get="{% url 'assessment:attachment_list' object.pk %}"
    hx-vals='{"new": "True"}'
    hx-trigger="click"
    hx-target="#attachTable"
    hx-swap="innerHTML">
    Add Attachment</button>
{% endif %}
</h2>
<table class="table table-sm table-striped">
    <colgroup>
        {% if canEdit %}
           <col style="width: 25%;">
           <col style="width: 60%;">
           <col style="width: 15%;">
        {% else %}
            <col style="width: 30%;">
            <col style="width: 70%;">
        {% endif %}
    </colgroup>
    <thead>
        <tr>
            <th>Attachment</th>
            <th>Description</th>
            {% if canEdit %}
                <th>Editing</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
            {% if newAttach %}
                <tr id="attachNew">
                {% include "assessment/components/attachment_edit_row.html" %}
                </tr>
            {% endif %}
        {% for object in object_list %}
        <tr id="attach-row-{{object.pk}}">
            {% include "assessment/components/attachment_row.html" %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endif %}
