<h3>Additional Details</h3>
<table class="table table-sm table-striped">
    <colgroup>
        <col style="width: 20%;">
        <col style="width: 80%;">
    </colgroup>
    <tbody>
        <tr>
            <th>Assessment Type</th>
            <td>{{object.assessment_type}}</td>
        </tr>
        <tr>
            <th>Chemical Name</th>
            <td>{{object.chemical_name}}</td>
        </tr>
        <tr>
            <th>CAS No.</th>
            <td>{{object.cas}}</td>
        </tr>
        <tr>
            <th>Milestone Fields/History Field</th>
            <td>{{object.milestone}}</td>
        </tr>
        <tr>
            <th>Peer Review Type</th>
            <td>{{object.pr_type}}</td>
        </tr>
        <tr>
            <th>EPA Report Number</th>
            <td>{{object.epa_report}}</td>
        </tr>
        <tr>
            <th>RAPID/STICS Number</th>
            <td>{{object.rapid_stics}}</td>
        </tr>
        <tr>
            <th>Link to File Assessments</th>
            <td>{{object.file_link}}</td>
        </tr>
        <tr>
            <th>Link to HERO Project Page</th>
            <td>{{object.value}} {{object.value_unit}}</td>
        </tr>
    </tbody>
</table>
