<h3>Additional Details</h3>
<table class="table table-sm table-striped">
    <colgroup>
        <col style="width: 20%;">
        <col style="width: 80%;">
    </colgroup>
    <tbody>
        <tr>
            <th>Project Type</th>
            <td>{{object.project_type}}</td>
        </tr>
        <tr>
            <th>Project Status</th>
            <td>{{object.project_status}}</td>
        </tr>
        <tr>
            <th>Peer Review Status</th>
            <td>{{object.pr_status}}</td>
        </tr>
        <tr>
            <th>Report Number</th>
            <td>{{object.report_number}}</td>
        </tr>
        <tr>
            <th>Link to External Document Page</th>
            <td>{{object.docs_link}}</td>
        </tr>
        <tr>
            <th>QA Tracking ID</th>
            <td>{{object.qa_id}}</td>
        </tr>
        <tr>
            <th>Link to QA Tracking Page</th>
            <td>{{object.qa_link}}</td>
        </tr>
    </tbody>
</table>
