<p class="text-muted">
  HAWC maintains a robust list of changes tracked in our database, but this is our initial effort at exposing these logs to assessment members for their use on assessments. We hope to expand the data in the future to include historical data, as well as more detailed differences of what exactly changed when modifying objects. If you are making changes to objects and they are not being displayed in the logs, please <a href="{% url 'contact' %}">contact us</a> and let us know; we want to make sure this functionality is as helpful as it can be.
</p>
