<div class="accordion" id="accordian-{{type}}">

  {% for term in terms %}
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-{{type}}" href="#collapse-{{type}}-{{forloop.counter}}">
        {{term}} ({{term.endpoints|length}} endpoints)
      </a>
    </div>
    <div id="collapse-{{type}}-{{forloop.counter}}" class="accordion-body collapse">
      <div class="accordion-inner">
        {% for endpoint in term.endpoints %}
        <div><a href={{endpoint.get_absolute_url}}>{{endpoint.name}}</a></div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}

</div>
