{% if object_list.count > 0 %}
<h3>Assessment Values</h3>
<table class="table table-sm table-striped">
    <colgroup>
        <col style="width: 20%;">
        <col style="width: 20%;">
        <col style="width: 20%;">
        <col style="width: 20%;">
        <col style="width: 20%;">
    </colgroup>
    <thead>
        <tr>
            <th>System</th>
            <th>Evaluation Type</th>
            <th>Value Type</th>
            <th>Value</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td><a href="{% url 'assessment:values-detail' object.pk %}">{{object.system}}</a></td>
            <td>{{object.get_evaluation_type_display}}</td>
            <td>{{object.value_type}}</td>
            <td>{{object.value}} {{object.value_units}}</td>
            <td>{{object.comments}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
