{% if object_list.count > 0 %}
<h3>Assessment Values</h3>
<table class="table table-sm table-striped">
    <colgroup>
        <col style="width: 20%;">
        <col style="width: 20%;">
        <col style="width: 15%;">
        <col style="width: 15%;">
        <col style="width: 15%;">
        <col style="width: 15%;">
    </colgroup>
    <thead>
        <tr>

            <th>Evaluation Type</th>
            <th>Value Type</th>
            <th>Value</th>
            <th>System</th>
            <th>POD</th>
            <th>Composite Uncertainty Factor</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td><a href="{% url 'assessment:values-detail' object.pk %}">{{object.get_evaluation_type_display}}</a></td>
            <td>{{object.value_type}}</td>
            <td>{{object.value}} {{object.value_unit}}</td>
            <td>{{object.system}}</td>
            <td>{{object.pod_value}} {{object.pod_unit}}</td>
            <td>{{object.uncertainty}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
