{% extends 'assessment-rooted.html' %}

{% block content %}
{% if crud == "Read" %}
<div class="dropdown btn-group float-right">
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions</a>
    <div class="dropdown-menu dropdown-menu-right">
        {% if obj_perms.edit %}
        <a class="dropdown-item" href="{% url 'assessment:values-update' object.pk %}">Update value</a>
        <a class="dropdown-item" href="{% url 'assessment:values-delete' object.pk %}">Delete value</a>
        {% endif %}
    </div>
</div>
<h3>Assessment Value for {{object.assessment}}</h3>
<table class="table table-sm table-striped">
    <colgroup>
        <col style="width: 20%;">
        <col style="width: 80%;">
    </colgroup>
    <tbody>
        <tr>
            <th>System</th>
            <td>{{object.system}}</td>
        </tr>
        <tr>
            <th>Evaluation Type</th>
            <td>{{object.get_evaluation_type_display}}</td>
        </tr>
        <tr>
            <th>Value Type</th>
            <td>{{object.value_type}}</td>
        </tr>
        <tr>
            <th>Value</th>
            <td>{{object.value}} {{object.value_unit}}</td>
        </tr>
        <tr>
            <th>Basis</th>
            <td>{{object.basis}}</td>
        </tr>
        <tr>
            <th>POD Value</th>
            <td>{{object.pod_value}} {{object.pod_unit}}</td>
        </tr>
        <tr>
            <th>Composite Uncertainty Factor</th>
            <td>{{object.uncertainty}}</td>
        </tr>
        <tr>
            <th>Confidence</th>
            <td>{{object.get_confidence_display}}</td>
        </tr>
        <tr>
            <th>Species Studied</th>
            <td>{{object.species_studied}}</td>
        </tr>
        <tr>
            <th>Duration</th>
            <td>{{object.duration}}</td>
        </tr>
        {% if object.study %}
        <tr>
            <th>HAWC Study</th>
            <td><a href="{{object.study.get_absolute_url}}">{{object.study}}</a></td>
        </tr>
        {% endif %}
        <tr>
            <th>Tumor Type/Cancer</th>
            <td>{{object.tumor_type}}</td>
        </tr>
        <tr>
            <th>Extrapolation Method</th>
            <td>{{object.extrapolation_method}}</td>
        </tr>
        <tr>
            <th>Evidence Characterization</th>
            <td>{{object.evidence}}</td>
        </tr>
        <tr>
            <th>Comments</th>
            <td>{{object.comments}}</td>
        </tr>
        {% for key, value in object.extra.items %}
        <tr>
            <th>{{key}}</th>
            <td>{{value}}</td>
        </tr>
        {% empty %}
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
