{% extends 'assessment-rooted.html' %}

{% block content %}
  <h2>{{object}} downloads</h2>

  <p class='form-text text-muted mb-3'>
    All data in HAWC are exportable into Excel. Data-scientist and developer friendly exports are also available. Visualizations can be exported into SVG and PNG formats; download visuals on each visualization page. Please <a href="{% url 'contact' %}">contact us</a> for more information regarding export capabilities.
  </p>

  <div class="d-flex flex-column">
    <div {% if not assessment.has_lit_data %} class="order-12" {% endif %}>
      <h6 class="mb-2 font-size-regular">Literature Review</h6>
      {% if not assessment.has_lit_data %}
        {% include "common/usa_alert.html" with type="warning" slim=True body_text="No data available" %}
      {% else %}
        <div class="list-group mb-3 mt-2">
          {% url 'lit:api:assessment-reference-export' assessment.pk as the_url %}
          {% include "assessment/fragments/downloads_select.html" with link=the_url format="xlsx" name='references' text="Reference Export" help_text="All references and tags." allow_unpublished=False %}
          {% if obj_perms.edit and assessment.literature_settings.conflict_resolution %}
            {% url 'lit:api:assessment-user-tag-export' assessment.pk as the_url %}
            {% include "assessment/fragments/downloads_select.html" with link=the_url format="xlsx" name='references-usertags' text='User Tag Export' help_text="All references and tags, including user tags. Team members only." allow_unpublished=False %}
          {% endif %}
        </div>
      {% endif %}
    </div>

    <div {% if not assessment.has_rob_data %} class="order-12" {% endif %}>
      <h6 class="mb-2 font-size-regular">{{assessment.get_rob_name_display|title}}</h6>
      {% if not assessment.has_rob_data %}
        {% include "common/usa_alert.html" with type="warning" slim=True body_text="No data available" %}
      {% else %}
        <div class="list-group mb-3 mt-2">
          {% url 'riskofbias:api:assessment-export' assessment.pk as the_url %}
          {% include "assessment/fragments/downloads_select.html" with link=the_url format="xlsx" name='rob-final' text=assessment.get_rob_name_display|title|add:' Export' help_text="All final reviews." %}

          {% if obj_perms.edit %}
            {% url 'riskofbias:api:assessment-full-export' assessment.pk as the_url %}
            {% include "assessment/fragments/downloads_select.html" with link=the_url format="xlsx" name='rob-all' text='Full '|add:assessment.get_rob_name_display|title|add:' Export' help_text="All reviews, including individual reviews. Team members only." %}
          {% endif %}
        </div>
      {% endif %}
    </div>

    <div {% if not assessment.has_animal_data %} class="order-12" {% endif %}>
      <h6 class="mb-2 font-size-regular">Animal Bioassay</h6>
      {% if not assessment.has_animal_data %}
        {% include "common/usa_alert.html" with type="warning" slim=True body_text="No data available" %}
      {% else %}
        <div class="list-group mb-3 mt-2">
          {% url 'animal:api:assessment-full-export' assessment.pk as the_url %}
          {% include "assessment/fragments/downloads_select.html" with link=the_url format="xlsx" name='animal-data' text='Complete Export' help_text="Complete animal bioassay data export, where each row is a endpoint-group for all data extracted." %}

          {% url 'animal:api:assessment-endpoint-export' assessment.pk as the_url %}
          {% include "assessment/fragments/downloads_select.html" with link=the_url format="xlsx" name='animal-summary' text='Endpoint Summary' help_text="Endpoint summary animal bioassay data, where each row is an extracted endpoint." %}
        </div>
      {% endif %}
    </div>

    <div {% if not assessment.has_epi_data %} class="order-12" {% endif %}>
      <h6 class="mb-2 font-size-regular">Epidemiology</h6>
      {% if not assessment.has_epi_data %}
        {% include "common/usa_alert.html" with type="warning" slim=True body_text="No data available" %}
      {% else %}
        <div class="list-group mb-3 mt-2">
          {% if assessment.epi_version == EpiVersion.V1 %}
            {% url 'epi:api:assessment-export' assessment.pk as the_url %}
            {% include "assessment/fragments/downloads_select.html" with link=the_url format="xlsx" name='epi-data' text='Complete Export' help_text="Complete epidemiology export, where each row is an individual result associated with a health outcome." %}
            {% url 'epi:api:assessment-study-heatmap' assessment.pk as the_url %}
            {% include "assessment/fragments/downloads_select.html" with link=the_url format="xlsx" name='epi-study-design' text='Study Summary' help_text="Epidemiology study summary, where each row is a study. Columns with multiple values are pipe \"|\" delimited." %}
          {% else %}
            {% url 'epiv2:api:assessment-export' assessment.pk as the_url %}
            {% include "assessment/fragments/downloads_select.html" with link=the_url format="xlsx" name='epi-data' text='Complete Export' help_text="Complete epidemiology export, where each row is an individual result associated with a health outcome." %}
            {% url 'epiv2:api:assessment-study-export' assessment.pk as the_url %}
            {% include "assessment/fragments/downloads_select.html" with link=the_url format="xlsx" name='epi-study-design' text='Study Summary' help_text="Epidemiology study summary, where each row is a study. Columns with multiple values are pipe \"|\" delimited." %}
          {% endif %}
        </div>
      {% endif %}
    </div>


    <div {% if not assessment.has_epi_meta_data %} class="order-12" {% endif %}>
      <h6 class="mb-2 font-size-regular">Epidemiology Meta-Analysis</h6>
      {% if not assessment.has_epi_meta_data %}
        {% include "common/usa_alert.html" with type="warning" slim=True body_text="No data available" %}
      {% else %}
        <div class="list-group mb-3 mt-2">
          {% url 'meta:api:assessment-export' assessment.pk as the_url %}
          {% include "assessment/fragments/downloads_select.html" with link=the_url format="xlsx" name='epimeta-data' text='Complete Export' help_text="All epidemiology meta-analysis data." %}
        </div>
      {% endif %}
    </div>


    <div {% if not assessment.has_invitro_data %} class="order-12" {% endif %}>
      <h6 class="mb-2 font-size-regular">In-vitro</h6>
      {% if not assessment.has_invitro_data %}
        {% include "common/usa_alert.html" with type="warning" slim=True body_text="No data available" %}
      {% else %}
        <div class="list-group mb-3 mt-2">
          {% url 'invitro:api:assessment-full-export' assessment.pk as the_url %}
          {% include "assessment/fragments/downloads_select.html" with link=the_url format="xlsx" name='invitro-data' text='Complete Export' help_text="All in-vitro data." %}
        </div>
      {% endif %}
    </div>


    <div {% if not assessment.has_ecology_data %} class="order-12" {% endif %}>
      <h6 class="mb-2 font-size-regular">Ecology</h6>
      {% if not assessment.has_ecology_data %}
        {% include "common/usa_alert.html" with type="warning" slim=True body_text="No data available" %}
      {% else %}
        <div class="list-group mb-3 mt-2">
          {% url 'eco:api:assessment-export' assessment.pk as the_url %}
          {% include "assessment/fragments/downloads_select.html" with link=the_url format="xlsx" name='eco-data' text='Complete Export' help_text="All ecological data." %}
          {% url 'eco:api:assessment-study-export' assessment.pk as the_url %}
          {% include "assessment/fragments/downloads_select.html" with link=the_url format="xlsx" name='eco-study-summary' text='Study Summary' help_text="Ecology study summary data." %}
        </div>
      {% endif %}
    </div>


    <div {% if not assessment.udf_bindings.exists and not assessment.udf_tag_bindings.exists %} class="order-12" {% endif %}>
      <h6 class="mb-2 font-size-regular">User Defined Fields (UDF) Data</h6>
      {% if not assessment.udf_bindings.exists and not assessment.udf_tag_bindings.exists %}
        {% include "common/usa_alert.html" with type="warning" slim=True body_text="No data available" %}
      {% else %}
        <div class="list-group mb-3 mt-2">
          {% url 'udf:api:assessment-export-model-udfs' assessment.pk as the_url %}
          {% include "assessment/fragments/downloads_select.html" with allow_unpublished=False link=the_url format="xlsx" name='udf-model-content' text='UDF Model Content' help_text="All data collected from UDFs bound to studies and endpoints. May include unpublished studies." %}
          {% url 'udf:api:assessment-export-tag-udfs' assessment.pk as the_url %}
          {% include "assessment/fragments/downloads_select.html" with allow_unpublished=False link=the_url format="xlsx" name='udf-tag-content' text='UDF Tag Content' help_text="All data collected from UDFs bound to literature tags. May include unpublished studies." %}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block extrajs %}
  {% include "assessment/fragments/downloads_select_js.html" with name_list="#references, #references-usertags, #rob-final, #rob-all, #animal-data, #animal-summary, #epi-data, #epi-study-design, #epimeta-data, #invitro-data, #eco-data, #udf-model-content, #udf-tag-content" %}
{% endblock extrajs %}
