{% extends 'assessment-rooted.html' %}

{% load url_replace %}

{% block content %}

<h1>{{assessment}} Logs</h1>
{% if "content_type" in request.GET and "object_id" in request.GET or "user" in request.GET %}
<div class="card">
    <div class="card-header">Filters</div>
    <div class="card-body">
        {% if "content_type" in request.GET and "object_id" in request.GET %}
        {% url_replace page=None content_type=None object_id=None as params %}
        <a class="btn btn-secondary rounded-pill" href="{{request.path}}{{params|yesno:'?,'}}{{params}}"><i class='fa fa-times-circle'></i> {{object_list.0.content_object}}</a>
        {% endif %}
        {% if "user" in request.GET %}
        {% url_replace page=None user=None as params %}
        <a class="btn btn-secondary rounded-pill" href="{{request.path}}{{params|yesno:'?,'}}{{params}}"><i class='fa fa-times-circle'></i> {{object_list.0.user}}</a>
        {% endif %}
    </div>
</div>
{% endif %}

{% url_replace page=None as params%}

<table class="table table-striped">
    <colgroup>
        <col width="5%" />
        <col width="25%" />
        <col width="40%" />
        <col width="15%" />
        <col width="15%" />
    </colgroup>
    <thead>
        <tr>
            <th>Details</th>
            <th>Item</th>
            <th>Message</th>
            <th>User</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td>
                <a class="btn btn-primary w-100" href="{{object.get_absolute_url}}">View</a>
            </td>
            <td>
                {% if object.content_object %}
                    {% if "content_type" not in request.GET or "object_id" not in request.GET %}
                    {% url_replace page=None content_type=object.content_type.id object_id=object.object_id as params %}
                    <a class="pull-right" title="View History"
                        href="{{request.path}}{{params|yesno:'?,'}}{{params}}">
                        <i class="fa fa-fw fa-filter" aria-hidden="true"></i>
                    </a>
                    {% endif %}
                    {% if object.content_object.get_absolute_url %}
                    <a href="{{object.content_object.get_absolute_url}}">{{object.content_object}}</a>
                    {% else %}
                    {{object.content_object}}
                    {% endif %}
                {% else %}-{% endif %}
            </td>
            <td>{{object.message|truncatechars:100}}</td>
            <td>
                {% if object.user %}
                    {% if "user" not in request.GET %}
                    {% url_replace page=None user=object.user.id as params %}
                    <a class="pull-right" title="View History"
                        href="{{request.path}}{{params|yesno:'?,'}}{{params}}">
                        <i class="fa fa-fw fa-filter" aria-hidden="true"></i>
                    </a>
                    {% endif %}
                {{object.user}}
                {% else %}-{% endif %}
            </td>
            <td>{{object.created}}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5"><i>No logs available.</i></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "includes/paginator.html" %}

{% endblock content %}
