{% extends 'crumbless.html' %}

{% block content_outer %}
  <div class="d-flex">
    <h2>Welcome, {{ user.get_full_name }}.</h2>
    {% actions %}
      <span class="dropdown-header">Assessment Editing</span>

      {% if user.can_create_assessments %}
        <a class="dropdown-item" href="{% url 'assessment:new' %}">Create a new assessment</a>
      {% else %}
        <p class="dropdown-item help-block">
          Assessment creation disabled - please <a href="{% url 'contact' %}">contact us</a> if needed.
        </p>
      {% endif %}

    {% endactions %}
  </div>
  <p>Welcome to the HAWC portal. Here you're able to create new assessments or work on existing assessments.</p>

  {% include "common/inline_filter_form.html" %}
  {% include "assessment/fragments/assessment_list_team.html" %}
  {% include "includes/paginator.html" with plural_object_name="assessments" %}

{% endblock content_outer %}

{% block extrajs %}

  {% include "includes/hero_access.html" %}

  <script type="text/javascript">
    $(document).ready(function(){
      window.app.HAWCUtils.tablesort(document.getElementById('mainTbl'));
    });
  </script>
{% endblock extrajs %}
