{% extends 'portal.html' %}

{% load selectable_tags %}
{% load crispy_forms_tags %}


{% block title %}
   {% include "hawc/siteTitle.html" with crumbs=object.get_crumbs crud=crud %}
{% endblock title %}

{% block breadcrumbs %}
  {% include "hawc/breadcrumbs.html" with crumbs=object.get_crumbs crud=crud %}
{% endblock %}

{% block extrastyle %}
  {% include_ui_theme %}
{% endblock %}

{% block content %}

  {% crispy form %}

{% endblock %}

{% block extrajs %}
  {{ form.media }}
  <script type="text/javascript">
    $(document).ready(function(){

      $('#id_public').on('change', function(){
        var isPublic = $(this).prop('checked'),
            hideFromPublic = $("#div_id_hide_from_public_page");

        (isPublic) ? hideFromPublic.show() : hideFromPublic.hide();
      }).trigger('change');

      const toggleCuration = function () {
        var vocab = $('#id_vocabulary').val(),
          hideFromPublic = $("#div_id_modify_uncontrolled_vocabulary");

        (vocab) ? hideFromPublic.show() : hideFromPublic.hide();
      }
      $('#id_vocabulary').on('change', toggleCuration)
      toggleCuration();

      // TODO showVocab - remove once this goes live
      const showVocab = !{{user.is_superuser|lower}};
      if (showVocab){
        $("#fluid_id_vocabulary_2").hide();
      }

      $('.html5text').quillify();

    });
  </script>
{% endblock extrajs %}
