{% extends 'assessment-rooted.html' %}

{% load add_class %}
{% load selectable_tags %}

{% block title %}
  Email {{object}} managers
{% endblock %}

{% block extrastyle %}
  {{ form.media }}
{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="{{object.get_absolute_url}}">{{object}}</a></li>
  <li class="breadcrumb-item active"> Email managers </li>
{% endblock %}

{% block content %}
  <form class="form-horizontal" action="." method="post">
    <fieldset>

      {% block form_legend %}
        <legend>Email managers</legend>
        <p class="help-block">Send an email to managers of this assessment.</p><br>
      {% endblock form_legend %}

      {{ form.non_field_errors|add_class:"alert alert-danger" }}

      {% for field in form %}
        <div class="form-group form-row">
          {{field.label_tag|add_class:"control-label"}}
          <div class="controls">
            {{field}}
            <span class='help-inline'>{{field.help_text}}</span>
          </div>
        </div>
        {{field.errors|add_class:"alert alert-danger"}}
      {% endfor %}

      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Send email</button>
        <a href="{{object.get_absolute_url}}" class="btn btn-light">Cancel</a>
      </div>

      {% csrf_token %}

    </fieldset>
  </form>
{% endblock %}
