{% extends 'assessment-rooted.html' %}

{% block content %}
<h2>{{object}} downloads</h2>

<p class='form-text text-muted mb-3'>
  All data in HAWC are exportable into Excel. Data-scientist and developer friendly exports are also available. Visualizations can be exported into SVG and PNG formats; download visuals on each visualization page. Please <a href="{% url 'contact' %}">contact us</a> for more information regarding export capabilities.
</p>

<div class="row mb-3">
  <div class="col-xl-4">
    <div class="card">
      <h3 class="card-header">Literature Review</h3>
      <div class="card-body p-0">
        <ul class="list-group list-group-flush">
          {% if not assessment.has_lit_data %}
          <li class="list-group-item">
            <p class="text-muted">No data available.</p>
          </li>
          {% else %}
          <li class="list-group-item">
            {% url 'lit:api:assessment-reference-export' assessment.pk as the_url %}
            {% include "assessment/fragments/downloads_select.html" with link=the_url format="xlsx" name='references' button_text="Reference Export" help_text="All references and tags." %}
          </li>
          {% if obj_perms.edit and assessment.literature_settings.conflict_resolution %}
          <li class="list-group-item">
            {% url 'lit:api:assessment-user-tag-export' assessment.pk as the_url %}
            {% include "assessment/fragments/downloads_select.html" with link=the_url format="xlsx" name='references-usertags' button_text='User Tag Reference Export' help_text="All references and tags, including user tags. Team members only." %}
          </li>
          {% endif %}
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xl-4">
    <div class="card">
      <h3 class="card-header">{{assessment.get_rob_name_display}}</h3>
      <div class="card-body p-0">
        <ul class="list-group list-group-flush">
          {% if not assessment.has_rob_data %}
          <li class="list-group-item">
            <p class="text-muted">No data available.</p>
          </li>
          {% else %}
          <li class="list-group-item">
            {% url 'riskofbias:api:assessment-export' assessment.pk as the_url %}
            {% include "assessment/fragments/downloads_select.html" with link=the_url format="xlsx" name='rob-final' button_text=assessment.get_rob_name_display|title|add:' Export' help_text="All final reviews." %}
          </li>
          {% if obj_perms.edit %}
          <li class="list-group-item">
            {% url 'riskofbias:api:assessment-full-export' assessment.pk as the_url %}
            {% include "assessment/fragments/downloads_select.html" with link=the_url format="xlsx" name='rob-all' button_text='Complete '|add:assessment.get_rob_name_display|title|add:' Export' help_text="All reviews, including individual reviews. Team members only." %}
          </li>
          {% endif %}
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xl-4">
    <div class="card">
      <h3 class="card-header">Animal Bioassay</h3>
      <div class="card-body p-0">
        <ul class="list-group list-group-flush">
          {% if not assessment.has_animal_data %}
          <li class="list-group-item">
            <p class="text-muted">No data available.</p>
          </li>
          {% else %}
          <li class="list-group-item">
            {% url 'animal:api:assessment-full-export' assessment.pk as the_url %}
            {% include "assessment/fragments/downloads_select.html" with link=the_url format="xlsx" name='animal-data' button_text='Complete Export' help_text="Complete animal bioassay data export, where each row is a endpoint-group for all data extracted." %}
          </li>
          <li class="list-group-item">
            {% url 'animal:api:assessment-study-heatmap' assessment.pk as the_url %}
            {% include "assessment/fragments/downloads_select.html" with link=the_url format="xlsx" name='animal-study-summary' button_text='Study Summary' help_text="Study-level summary of animal bioassy data, where each row is a study. Columns with multiple values are pipe \"|\" delimited." %}
          </li>
          <li class="list-group-item">
            {% url 'animal:api:assessment-endpoint-export' assessment.pk as the_url %}
            {% include "assessment/fragments/downloads_select.html" with link=the_url format="xlsx" name='animal-summary' button_text='Endpoint Summary' help_text="Endpoint summary animal bioassay data, where each row is an extracted endpoint." %}
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-xl-4">
    <div class="card">
      <h3 class="card-header">Epidemiology</h3>
      <div class="card-body p-0">
        <ul class="list-group list-group-flush">
          {% if not assessment.has_epi_data %}
          <li class="list-group-item">
            <p class="text-muted">No data available.</p>
          </li>
          {% else %}
          {% if assessment.epi_version == EpiVersion.V1 %}
          <li class="list-group-item">
            {% url 'epi:api:assessment-export' assessment.pk as the_url %}
            {% include "assessment/fragments/downloads_select.html" with link=the_url format="xlsx" name='epi-data' button_text='Complete Export' help_text="Complete epidemiology export, where each row is an individual result associated with a health outcome." %}
          </li>
          <li class="list-group-item">
            {% url 'epi:api:assessment-study-heatmap' assessment.pk as the_url %}
            {% include "assessment/fragments/downloads_select.html" with link=the_url format="xlsx" name='epi-study-design' button_text='Study Summary' help_text="Epidemiology study summary, where each row is a study. Columns with multiple values are pipe \"|\" delimited." %}
          </li>
          {% elif assessment.epi_version == EpiVersion.V2 %}
          <li class="list-group-item">
            {% url 'epiv2:api:assessment-export' assessment.pk as the_url %}
            {% include "assessment/fragments/downloads_select.html" with link=the_url format="xlsx" name='epi-data' button_text='Complete Export' help_text="Complete epidemiology export, where each row is an individual result associated with a health outcome." %}
          </li>
          <li class="list-group-item">
            {% url 'epiv2:api:assessment-study-export' assessment.pk as the_url %}
            {% include "assessment/fragments/downloads_select.html" with link=the_url format="xlsx" name='epi-study-design' button_text='Study Summary' help_text="Epidemiology study summary, where each row is a study. Columns with multiple values are pipe \"|\" delimited." %}
          </li>
          {% endif %}
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xl-4">
    <div class="card">
      <h3 class="card-header">Epidemiology Meta-Analysis</h3>
      <div class="card-body p-0">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            {% if not assessment.has_epimeta_data %}
            <p class="text-muted">No data available.</p>
            {% else %}
            {% url 'meta:api:assessment-export' assessment.pk as the_url %}
            {% include "assessment/fragments/downloads_select.html" with link=the_url format="xlsx" name='epimeta-data' button_text='Complete Export' help_text="All epidemiology meta-analysis data." %}
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xl-4">
    <div class="card">
      <h3 class="card-header">In-vitro</h3>
      <div class="card-body p-0">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            {% if not assessment.has_invitro_data %}
            <p class="text-muted">No data available.</p>
            {% else %}
            {% url 'invitro:api:assessment-full-export' assessment.pk as the_url %}
            {% include "assessment/fragments/downloads_select.html" with link=the_url format="xlsx" name='invitro-data' button_text='Complete Export' help_text="All in-vitro data." %}
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-xl-4">
    <div class="card">
      <h3 class="card-header">Ecological</h3>
      <div class="card-body p-0">
        <ul class="list-group list-group-flush">
          {% if not assessment.has_eco_data %}
          <li class="list-group-item">
            <p class="text-muted">No data available.</p>
          </li>
          {% else %}
          <li class="list-group-item">
            {% url 'eco:api:assessment-export' assessment.pk as the_url %}
            {% include "assessment/fragments/downloads_select.html" with link=the_url format="xlsx" name='eco-data' button_text='Complete Export' help_text="All ecological data." %}
          </li>
          <li class="list-group-item">
            {% url 'eco:api:assessment-study-export' assessment.pk as the_url %}
            {% include "assessment/fragments/downloads_select.html" with link=the_url format="xlsx" name='eco-study-summary' button_text='Study Summary' help_text="Ecology study summary data." %}
          </li>
          {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extrajs %}
  {% include "assessment/fragments/downloads_select_js.html" with name_list="#references, #references-usertags, #rob-final, #rob-all, #animal-data, #animal-summary, #epi-data, #epimeta-data, #invitro-data, #eco-data" %}
{% endblock extrajs %}
