{% extends 'assessment-rooted.html' %}

{% load url_replace %}
{% load crispy_forms_tags %}

{% block content %}
<div class="d-flex">
    <h2>{{assessment}} Logs</h2>
    {% actions %}
        <span class="dropdown-header">Download Logs</span>
        <a class="dropdown-item" href="{% url 'assessment:api:assessment-logs' assessment.pk 'assessment' %}?format=xlsx">Assessment</a>
        <a class="dropdown-item" href="{% url 'assessment:api:assessment-logs' assessment.pk 'riskofbias' %}?format=xlsx">Risk of bias</a>
        <a class="dropdown-item" href="{% url 'assessment:api:assessment-logs' assessment.pk 'animal' %}?format=xlsx">Animal</a>
        <a class="dropdown-item" href="{% url 'assessment:api:assessment-logs' assessment.pk 'epi' %}?format=xlsx">Epidemiology</a>
    {% endactions %}
</div>

{% include 'common/inline_filter_form.html' %}

{% url_replace page=None as params%}

<table class="table table-sm table-striped">
    <colgroup>
        <col width="5%" />
        <col width="25%" />
        <col width="40%" />
        <col width="15%" />
        <col width="15%" />
    </colgroup>
    <thead>
        <tr>
            <th>Log</th>
            <th>Item</th>
            <th>Message</th>
            <th>User</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
        {% for log in object_list %}
        <tr>
            <td>
                <a class="btn btn-outline-primary btn-sm w-100" href="{{log.get_object_url}}">View</a>
            </td>
            <td>
                {% if log.object_id %}
                    {% if not request.GET.content_type or not request.GET.object_id %}
                    {% url_replace page=None content_type=log.content_type.id object_id=log.object_id as params %}
                    <a class="float-right" title="View History"
                        href="{{request.path}}{{params|yesno:'?,'}}{{params}}">
                        <i class="fa fa-fw fa-filter" aria-hidden="true"></i>
                    </a>
                    {% endif %}
                {% endif %}
                {% if log.content_object %}
                    {% with log.content_object.get_absolute_url as absolute_url %}
                        {% if absolute_url %}
                            <a href="{{absolute_url}}">{{log.content_object}}</a>
                        {% else %}
                            {{log.content_object}}
                        {% endif %}
                    {% endwith %}
                {% elif log.object_id %}
                    {{log.get_generic_object_name}} &lt;deleted&gt;
                {% else %}
                    &mdash;
                {% endif %}
            </td>
            <td>{{log.message|truncatechars:100}}</td>
            <td>
                {% if log.user %}
                {{log.user}}
                {% else %}-{% endif %}
            </td>
            <td>{{log.created}}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5"><i>No logs available.</i></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "includes/paginator.html" with plural_object_name="logs" %}
{% include 'assessment/_logs_note.html' %}
{% endblock content %}
