{% extends 'crumbless.html' %}

{% block content %}
  {% for object in object_list %}
  <div class="container-fluid" style="border-style: solid;">
    <div>
      <h2>{{object.subject}}</h2>
    </div>
    <hr>
    <div>
      <span class="badge badge-light">Created: {{object.created}}</span>
      <span class="badge badge-light">Last Updated: {{object.last_updated}}</span>
    </div>
    <hr>
    <div>
      {{object.rendered_content|safe}}
    </div>
  </div>
  {% if not forloop.last %}
  <hr>
  {% endif %}
  {% endfor %}
{% endblock content %}
