{% extends 'assessment-rooted.html' %}

{% block content %}
    <h2>Clean {{assessment}} metrics</h2>
    <p class='form-text text-muted'>Clean and standardize the {{assessment.get_rob_name_display|lower}} metric reviews across studies assessment-wide. Both <b>judgment</b> and <b>text</b> are editable.</p>
    <div id="root"></div>
{% endblock %}

{% block extrajs %}
<script id="config" type="text/json" charset="utf-8">
    {
        "assessment_id": "{{ assessment.id }}",
        "assessment": "{% url 'assessment:api:assessment-endpoints' assessment.id %}",
        "items": {
            "url": "{% url 'riskofbias:api:metric_scores-list' %}",
            "patchUrl": "{% url 'riskofbias:api:score-cleanup-list' %}"
        },
        "studyTypes": {
            "url": "{% url 'study:api:study-types' %}"
        },
        "csrf": "{{ csrf_token }}",
        "host": "//{{request.get_host}}"
    }
</script>
<script type="text/javascript">
$(document).ready(function(){
    window.app.startup("riskofbiasStartup", function(riskofbias){
        riskofbias.ScoreCleanupStartup(document.getElementById('root'), document.getElementById('config'));
    });
});
</script>
{% endblock extrajs %}
