{% extends 'assessment-rooted.html' %}

{% block content %}
  <div class="d-flex mt-1">
    <h2 class="mb-0">Labels</h2>
    <button class="btn btn-primary ml-2 ml-auto align-self-start flex-shrink-0"
            hx-get="{% url 'assessment:label-htmx' assessment.pk 'create' %}"
            hx-target="#label-listgroup"
            hx-swap="beforeend"
    >
      <i class="fa fa-fw fa-save"></i>&nbsp;
      Create label
    </button>
  </div>
  <div>
    <div class="my-2 box-shadow-minor list-group py-0" id="label-listgroup">
      {% for object in object_list %}
        {% include "assessment/fragments/label_row.html" with canEdit=True %}
      {% endfor %}
      <div class="alert alert-info text-center show-only-child my-0">No labels created (yet).</div>
    </div>
  </div>
{% endblock content %}

{% block extrajs %}
  <script type="text/javascript">
    $(window).ready(function() {
      window.app.HAWCUtils.addScrollHtmx("label-edit-row", "label-row", "label-conf-delete");
    });
  </script>
{% endblock %}