{% extends first_log.assessment|yesno:"assessment-rooted.html,crumbless.html" %}

{% block content %}

  <h2>{{first_log}}s</h2>

  <table class="table table-sm table-striped">
    {% bs4_colgroup '30,70' %}
    <tbody>

      <tr>
        <th>Item</th>
        <td>
          {% with first_log.content_object.get_absolute_url as absolute_url %}
            {% if absolute_url %}
              <a href="{{absolute_url}}">{{first_log.get_object_name}}</a>
            {% else %}
              {{first_log.get_object_name}}
            {% endif %}
          {% endwith %}
        </td>
      </tr>

      <tr>
        <th>Data type</th>
        <td>{{first_log.content_type}}</td>
      </tr>

      <tr>
        <th>Assessment</th>
        <td>{{first_log.assessment}}</td>
      </tr>

    </tbody>
  </table>

  <h3>Logs</h3>

  <table class="table table-sm table-striped">
    {% bs4_colgroup '20,20,60' %}
    {% bs4_thead 'Timestamp,User,Message' %}
    <tbody>
      {% for event in object_list %}
        <tr>
          <td>{{event.created}}</td>
          <td>{{event.user}}</td>
          <td>{% if event.message %}<p class="mb-1">{{event.message}}</p>{% endif %}{{event.snapshot}}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">
            <i>No logs available; see details below.</i>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'assessment/_logs_note.html' %}
{% endblock content %}
