{% extends assessment|yesno:"assessment-rooted.html,crumbless.html" %}

{% block content %}

<h2>{{object_name}} Logs</h2>

<table class="table table-sm table-striped">
    <colgroup>
        <col width="30%">
        <col width="70%">
    </colgroup>
    <tbody>

        <tr>
            <th>Item</th>
            <td>
                {% with object.get_absolute_url as absolute_url %}
                    {% if absolute_url %}
                    <a href="{{absolute_url}}">{{object_name}}</a>
                    {% else %}
                    {{object_name}}
                    {% endif %}
                {% endwith %}
            </td>
        </tr>

        <tr>
            <th>Data type</th>
            <td>{{content_type}}</td>
        </tr>

        <tr>
            <th>Assessment</th>
            <td>{{assessment}}</td>
        </tr>

    </tbody>
</table>

<h3>Logs</h3>

<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>Message</th>
            <th>Snapshot</th>
            <th>User</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>

        {% for obj in object_list %}
        <tr>
            <td>{{obj.message}}</td>
            <td>{{obj.snapshot}}</td>
            <td>{{obj.user}}</td>
            <td>{{obj.created}}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>

{% include 'assessment/_logs_note.html' %}
{% endblock content %}
