{% extends 'assessment-rooted.html' %}

{% block content %}

<div class="dropdown btn-group float-right">
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions</a>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="{{object.get_object_list_url}}">View all logs for object</a>
    </div>
</div>
<h2>{{object}}</h2>

<table class="table table-sm table-striped">
    <colgroup>
        <col style="width: 30%;">
        <col style="width: 70%;">
    </colgroup>
    <tbody>

        <tr>
            <th>Object</th>
            <td>{{object.content_object}}</td>
        </tr>

        <tr>
            <th>Object type</th>
            <td>{{object.content_type}}</td>
        </tr>

        <tr>
            <th>Assessment</th>
            <td>{{object.assessment}}</td>
        </tr>

        <tr>
            <th>Message</th>
            <td>{{object.message}}</td>
        </tr>

        <tr>
            <th>User</th>
            <td>{{object.user}}</td>
        </tr>

        <tr>
            <th>Timestamp</th>
            <td>{{object.created}}</td>
        </tr>

    </tbody>
</table>

{% endblock content %}
