<div id='pduDiv' class='row' style="display: none;">
    <div class='col-md-4'>
        <label class="col-form-label">Available doses</label>
        <select id='pduAvailable' class="col-md-12 select" multiple="true" size="10"></select>
    </div>
    <div class='col-md-2 text-center'>
        <br>
        <br>
        <br>
        <br>
        <button id='pduAdd'
                class='btn btn-block btn-secondary'
                type='button'
                title='Add selected units to preferred-list'>
            Add
            <i class="fa fa-chevron-right"></i>
        </button>
        <button id='pduRemove'
                class='btn btn-block btn-secondary'
                type='button'
                title='Remove selected units from preferred-list'>
            <i class="fa fa-chevron-left"></i>Remove
        </button>
    </div>
    <div class='col-md-4'>
        <label class="col-form-label">Selected doses</label>
        <select id='pduSelected' class="col-md-12 select" multiple="true" size="10"></select>
    </div>
    <div class='col-md-2'>
        <br>
        <br>
        <br>
        <br>
        <button id='pduUp'
                class='btn btn-block btn-secondary'
                type='button'
                title='Move selected units higher in preference'>
            <i class="fa fa-chevron-up"></i>
        </button>
        <button id='pduDown'
                class='btn btn-block btn-secondary'
                type='button'
                title='Move selected units lower in preference'>
            <i class="fa fa-chevron-down"></i>
        </button>
    </div>
</div>
