<div id='pduDiv' class='row-fluid hide' >
    <div class='span4'>
        <label class="control-label">Available doses</label>
        <select id='pduAvailable' class="span12 select" multiple="true" size="10" >
        </select>
    </div>
    <div class='span2 text-center'>
        <br><br><br><br>
        <button id='pduAdd' class='btn btn-block btn-default' type='button'
                title='Add selected units to preferred-list'>Add
            <i class="icon-chevron-right"></i></button>
        <button id='pduRemove' class='btn btn-block btn-default' type='button'
                title='Remove selected units from preferred-list'>
            <i class="icon-chevron-left"></i>Remove</button>
    </div>
    <div class='span4'>
        <label class="control-label">Selected doses</label>
        <select id='pduSelected' class="span12 select" multiple="true" size="10" >
        </select>
    </div>
    <div class='span2'>
        <br><br><br><br>
        <button id='pduUp' class='btn btn-block btn-default' type='button'
                title='Move selected units higher in preference'>
            <i class="icon-chevron-up"></i></button>
        <button id='pduDown' class='btn btn-block btn-default' type='button'
                title='Move selected units lower in preference'>
            <i class="icon-chevron-down"></i></button>
    </div>
</div>
