{% extends 'crumbless.html' %}

{% load add_class %}

{% block content %}
<form class="form-horizontal" action="." method="post">
    {% csrf_token %}
    <div class='row'>
      <fieldset>
        <legend>Create new strain</legend>
        <span class="form-text text-muted">Create a new strain. Note that the creation of a new strain is applied as an option for all assessments in HAWC, not just the assessment you're currently working on. Therefore, our staff may periodically review to ensure that the strain is indeed new and not pre-existing.</span><br>

        {{ form.non_field_errors|add_class:"alert alert-danger" }}

        {% for field in form %}
          <div class="form-group form-row">
            {{field.label_tag|add_class:"control-label"}}
            {{field}}
            <span class='form-text text-muted'>{{field.help_text}}</span>
            {{field.errors|add_class:"alert alert-danger"}}
          </div>
        {% endfor %}
      </fieldset>
    </div>
    <div class="row">
      <div class="form-actions">
        <button id='submit_form' type="submit" class="btn btn-primary">{{ crud }}</button>
      </div>
    </div>
     <p><b>Note:</b> If coming from an input-form, you may need to refresh the page to view your newly added strain!</p>
  </form>
{% endblock content %}
