{% extends 'assessment-rooted.html' %}

{% block content %}
  <div class="d-flex mt-1">
    <h2>Labels</h2>
    <button class="btn btn-primary ml-2 ml-auto align-self-start flex-shrink-0"
            hx-get="{% url 'assessment:tag-htmx' assessment.pk 'create' %}"
            hx-target="#tag-listgroup"
            hx-swap="beforeend"
    >
      <i class="fa fa-fw fa-save"></i>&nbsp;
      Create label
    </button>
  </div>
  <div>
    {% include "assessment/fragments/tag_list.html" with object_list=tags canEdit=True %}
  </div>
{% endblock content %}