{% extends 'assessment-rooted.html' %}

{% block content %}
{% if crud == "Read" %}
<div class="dropdown btn-group float-right">
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions</a>
    <div class="dropdown-menu dropdown-menu-right">
        {% if obj_perms.edit %}
        <a class="dropdown-item" href="{% url 'assessment:values-update' object.pk %}">Update value</a>
        <a class="dropdown-item" href="{% url 'assessment:values-delete' object.pk %}">Delete value</a>
        {% endif %}
    </div>
</div>
<h3>Assessment Value for {{object.assessment}}</h3>
<table class="table table-sm table-striped">
    <colgroup>
        <col style="width: 20%;">
        <col style="width: 80%;">
    </colgroup>
    <tbody>
        <tr>
            <td>Value</td>
            <td>{{object.value}}</td>
        </tr>
        <tr>
            <td>Comments</td>
            <td>{{object.comments}}</td>
        </tr>
    </tbody>
</table>
{% endif %}
{% endblock %}
