{% extends 'assessment-rooted.html' %}

{% block content %}
{% if crud == "Read" %}
<div class="dropdown btn-group float-right">
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions</a>
    <div class="dropdown-menu dropdown-menu-right">
        {% if obj_perms.edit %}
        <a class="dropdown-item" href="{% url 'assessment:values-update' object.pk %}">Update value</a>
        <a class="dropdown-item" href="{% url 'assessment:values-delete' object.pk %}">Delete value</a>
        {% endif %}
    </div>
</div>
<h3>Assessment Value for {{object.assessment}}</h3>
<table class="table table-sm table-striped">
    <colgroup>
        <col style="width: 20%;">
        <col style="width: 80%;">
    </colgroup>
    <tbody>
        <tr>
            <td>Assessment Type</td>
            <td>{{object.assessment_type}}</td>
        </tr>
        <tr>
            <td>Chemical Name</td>
            <td>{{object.chemical_name}}</td>
        </tr>
        <tr>
            <td>CAS No.</td>
            <td>{{object.cas}}</td>
        </tr>
        <tr>
            <td>Milestone Fields/History Field</td>
            <td>{{object.milestone}}</td>
        </tr>
        <tr>
            <td>Peer Review Type</td>
            <td>{{object.pr_type}}</td>
        </tr>
        <tr>
            <td>Organ System</td>
            <td>{{object.organ_system}}</td>
        </tr>
        <tr>
            <td>Evaluation Type</td>
            <td>{{object.evaluation_type}}</td>
        </tr>
        <tr>
            <td>Value Type</td>
            <td>{{object.value_type}}</td>
        </tr>
        <tr>
            <td>Value</td>
            <td>{{object.value}} {{object.value_unit}}</td>
        </tr>
        <tr>
            <td>Basis</td>
            <td>{{object.basis}}</td>
        </tr>
        <tr>
            <td>Pod Value</td>
            <td>{{object.pod_value}} {{object.pod_unit}}</td>
        </tr>
        <tr>
            <td>Composite Uncertainty Factor</td>
            <td>{{object.uncertainty}}</td>
        </tr>
        <tr>
            <td>Confidence</td>
            <td>{{object.confidence}}</td>
        </tr>
        <tr>
            <td>Species Studied</td>
            <td>{{object.species_studied}}</td>
        </tr>
        <tr>
            <td>Duration</td>
            <td>{{object.duration}}</td>
        </tr>
        <tr>
            <td>Tumor Type</td>
            <td>{{object.tumor_type}}</td>
        </tr>
        <tr>
            <td>Extrapolation Method</td>
            <td>{{object.extrapolation_method}}</td>
        </tr>
        <tr>
            <td>Evidence Characterization</td>
            <td>{{object.evidence}}</td>
        </tr>
        <tr>
            <td>Comments</td>
            <td>{{object.comments}}</td>
        </tr>
    </tbody>
</table>
{% endif %}
{% endblock %}
