<span class="d-inline-block" style="width:200px">Published Only:</span>
<a class="btn btn-sm btn-primary mx-1" href="{{link}}?format=xlsx">xlsx</a>
<a class="btn btn-sm btn-primary mx-1" href="{{link}}?format=tsv">tsv</a>
<a class="btn btn-sm btn-primary mx-1" href="{{link}}?format=csv">csv</a>
<a class="btn btn-sm btn-primary mx-1" href="{{link}}?format=json">json</a>
<a class="btn btn-sm btn-primary mx-1" href="{{link}}?format=html">html</a>
<br />
<span class="d-inline-block" style="width:200px">Published & Unpublished:</span>
<a class="btn btn-sm btn-success mx-1" href="{{link}}?unpublished=true&format=xlsx">xlsx</a>
<a class="btn btn-sm btn-success mx-1" href="{{link}}?unpublished=true&format=tsv">tsv</a>
<a class="btn btn-sm btn-success mx-1" href="{{link}}?unpublished=true&format=csv">csv</a>
<a class="btn btn-sm btn-success mx-1" href="{{link}}?unpublished=true&format=json">json</a>
<a class="btn btn-sm btn-success mx-1" href="{{link}}?unpublished=true&format=html">html</a>
