<div class="hide-empty-tbody" id="attach_table">
  <h2>Attachments</h2>
  <table class="table table-sm table-striped">
    {% if canEdit or permissions.edit %}
      {% bs4_colgroup '25,50,25' %}
      {% bs4_thead 'Attachment,Description,Editing' %}
    {% else %}
      {% bs4_colgroup '30,70' %}
      {% bs4_thead 'Attachment,Description' %}
    {% endif %}
    <tbody id="attach-tbody">
      {% for object in object_list %}
        {% include "assessment/fragments/attachment_row.html" %}
      {% endfor %}
      {% include "common/fragments/_create_row.html" with model="attachment" first=True %}
    </tbody>
  </table>
</div>
