<div class="hide-empty-tbody">
  <h2>Attachments</h2>
  <table class="table table-sm table-striped">
    <colgroup>
      {% if canEdit %}
        <col style="width: 25%;">
        <col style="width: 50%;">
        <col style="width: 25%;">
      {% else %}
        <col style="width: 30%;">
        <col style="width: 70%;">
      {% endif %}
    </colgroup>
    <thead>
      <tr>
        <th>Attachment</th>
        <th>Description</th>
        {% if canEdit %}
          <th>Editing</th>
        {% endif %}
      </tr>
    </thead>
    <tbody id="attach-tbody">
      {% for object in object_list %}
        {% include "assessment/fragments/attachment_row.html" %}
      {% endfor %}
    </tbody>
  </table>
</div>
