<script type="text/javascript">
  $(document).ready(function () {
    $('{{name_list}}').on('change', function () {
      var format = $(this).val(),
          url = $(`#${this.id}-url`).attr("href");
      if (format && url) {
        var format_idx = url.indexOf("format=");
        $(`#${this.id}-url`).attr("href", url.replace(/format=(\w+)/, `format=${format}`));
      }
      return false;
    });
    $(`.unpublished-checkbox`).on('change', function () {
      var unpublished = $(this).prop('checked'),
          url = $(`#${this.dataset.url}`).attr("href");
      if (url) {
        $(`#${this.dataset.url}`).attr(
          "href", url.replace(/unpublished=(\w+)/, `unpublished=${unpublished}`
          ));
      }
      return false;
    });
    $('.reference-format-selector').each(function(){
      const selector = $(this);
      selector.on('change', function(event){
        const a = $(event.target).parent().find('a'),
              url = a.attr("href").replace(/export_format=(\w+)/, `export_format=${this.value}`)
        a.attr("href", url)
      }).trigger('change')
    });
  });
</script>
