{% if anchor_tag %}
  <a class="{% if not big %} tny {% endif %} {{extra_classes}} label m-1" href="{{label.get_labelled_items_url}}" style="background-color: {{label.color}}; color: {{label.text_color}};" title="{{label.description}}">{% if not label.published %}<i class="fa fa-eye-slash mr-1" title="Unpublished label (not be visible to the public)" aria-hidden="true"></i>{% endif %}{{label.name}}</a>
{% else %}
  <div class="{% if not big %} tny {% endif %} {{extra_classes}} label m-1" label_url="{{label.get_labelled_items_url}}" style="background-color: {{label.color}}; color: {{label.text_color}};" title="{{label.description}}">{% if not label.published %}<i class="fa fa-eye-slash mr-1" title="Unpublished label (not be visible to the public)" aria-hidden="true"></i>{% endif %}{{label.name}}</div>
{% endif %}
