<td hx-post="{% url 'assessment:publish-update' assessment.id name object.id %}" hx-target="this" hx-swap="outerHTML">
  <form>{% csrf_token %}
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" name="{{name}}" value="{{object.id}}"
             hx-trigger="click" {% if object.published or object.publicly_available %}checked{% endif %} />
      <label class="custom-control-label">&nbsp;</label>
      <span class="fa fa-spin fa-spinner float-right htmx-indicator"></span>
    </div>
  </form>
  {% if can_update_message %}<span class="text-danger">{{can_update_message}}</span>{% endif %}
</td>
