<tr hx-target="this" hx-swap="outerHTML" class="tag-detail-row">
  <td>
    {{object.name}}
    {% if canEdit or permissions.edit %}
      {% if not object.publicly_available %}
        <i class="fa fa-eye-slash" title="Unpublished (not be visible to the public)" aria-hidden="true"></i>
      {% endif %}
    {% endif %}
  </td>
  <td>{{object.description|safe}}</td>
  <td><i class="fa fa-square" style="color: {{object.color}};"></i></td>
  {% if action == 'delete' %}
    <td>
      <form class="alert alert-danger">
        {% csrf_token %}
        <i class="fa fa-fw fa-exclamation-triangle"></i>&nbsp;Are you sure you want to delete?
        <div class="d-flex">
          <button class="btn btn-sm btn-danger"
                  hx-post="{{ object.get_delete_url }}"
                  hx-swap="outerHTML swap:1s"><i class="fa fa-trash"></i>&nbsp;Delete</button>
          <button class="btn btn-sm btn-light ml-2"
                  hx-get="{{ object.get_absolute_url }}">Cancel</button>
        </div>
      </form>
    </td>
  {% elif canEdit or permissions.edit %}
    <td>
      <button
        class="btn btn-sm btn-primary"
        hx-get="{{ object.get_edit_url }}">
        <i class="fa fa-fw fa-edit"></i>&nbsp;Update</button>
      <button
        class="btn btn-sm btn-danger"
        hx-get="{{ object.get_delete_url }}">
        <i class="fa fa-fw fa-trash"></i>&nbsp;Delete</button>
    </td>
  {% endif %}
</tr>
