<div class="my-2 box-shadow-minor list-group py-0" id="tag-listgroup">
  {% if object_list.exists %}
    <div class="list-group-item d-flex font-weight-bold bg-gray rounded-top">
      <div class="col-3 pl-2">Name</div>
      <div class="col-5 pl-2">Description</div>
      <div class="col-3 pl-2">Parent</div>
    </div>
  {% endif %}
  {% for object in object_list %}
    {% include "assessment/fragments/tag_row.html" %}
  {% endfor %}
  <div class="alert alert-info text-center show-only-child my-0">No labels created (yet).</div>
</div>


