{
    "rules": {
        "indent": [2, 4, { "SwitchCase": 1 }],
        "quotes": [2, "single"],
        "linebreak-style": [2, "unix"],
        "semi": [2, "always"],
        "comma-dangle": [1, "always-multiline"],
        "max-len": [2, 100, 4, {"ignoreUrls": true}],
        "no-console": 1,
        "no-unused-vars": [2, { "args": "none" }],
        "no-sparse-arrays": 2,
        "babel/generator-star-spacing": 1,
        "babel/new-cap": 1,
        "babel/object-shorthand": 1,
        "babel/arrow-parens": 1,
        "babel/no-await-in-loop": 1,
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "react/react-in-jsx-scope": 2
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
            },
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "extends": "eslint:recommended",
    "plugins": [
      "babel",
      "react"
    ]
}
