{% extends 'assessment/assessment_detail.html' %}

{% block title %}
  {{ block.super }} | Delete
{% endblock title %}

{% block breadcrumbs_self %}
  <li><a href="{{object.get_absolute_url}}">{{object}}</a><span class="divider">/</span></li>
  <li class="active">Delete<span class="divider">/</span></li>
{% endblock breadcrumbs_self %}

{% block content %}
  {{ block.super }}

    <div class="alert alert-error">
      <h4>Warning!</h4>
      <p>Are you sure you want to delete this assessment? This will remove ALL data associated with this assessment from all HAWC modules.</p>
    </div>

    <div id='deleteConfirm'>
        <h4>Type "delete" confirm deletion!</h4>
        <input placeholder='Type "delete" to confirm'></input>
    </div>

    <form id="deleteForm" action="." method="post">
      <div class="form-actions">
        <button type="submit" class="btn btn-danger">Delete {{name}}</button>
        <a href="{{object.get_absolute_url}}" class="btn">Cancel</a>
      </div>
      {% csrf_token %}
      </fieldset>
    </form>
    <br><br><br><br><br><br><br><br>

{% endblock content %}

{% block extrajs %}
<script type="text/javascript">
    $(document).ready(function(){
        var frm = $('#deleteForm'),
            confirm_div = $('#deleteConfirm');

        confirm_div.find('input').keyup(function(){
            if(this.value.toLowerCase() === "delete"){
                frm.show();
                confirm_div.hide();
            } else {
                frm.hide();
            }
        });
        frm.hide();
    });
</script>
{% endblock extrajs %}
