{% extends 'portal.html' %}

{% load selectable_tags %}
{% load crispy_forms_tags %}

{% block title %}
  {{crud}}
  {% if crud == "Create" %}
    Assessment
  {% else %}
    {{object}}
  {% endif %}
{% endblock %}

{% block extrastyle %}
  {% include_ui_theme %}
{% endblock %}

{% block breadcrumbs %}
  {% if crud == "Update" %}
    <li><a href="{% url 'assessment:detail' object.pk %}">{{object}}</a><span class="divider">/</span></li>
    <li class="active"> {{ crud }} <span class="divider">/</span></li>
  {% elif crud = "Create" %}
    <li class="active"> {{ crud }}  Assessment<span class="divider">/</span></li>
  {% endif %}
{% endblock %}

{% block content %}

  {% crispy form %}

{% endblock %}

{% block extrajs %}
  {{ form.media }}
{% endblock extrajs %}
