{% extends 'portal.html' %}

{% load selectable_tags %}
{% load crispy_forms_tags %}


{% block title %}
   {% include "hawc/siteTitle.html" with crumbs=object.get_crumbs crud=crud %}
{% endblock title %}

{% block breadcrumbs %}
  {% include "hawc/breadcrumbs.html" with crumbs=object.get_crumbs crud=crud %}
{% endblock %}

{% block extrastyle %}
  {% include_ui_theme %}
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}wysihtml5/css/bootstrap-wysihtml5.css" />
{% endblock %}

{% block content %}

  {% crispy form %}

{% endblock %}

{% block extrajs %}
  {{ form.media }}
  <script src="{{STATIC_URL}}wysihtml5/js/wysihtml5-0.3.0.min.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}wysihtml5/js/bootstrap-wysihtml5.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(document).ready(function(){

      $('#id_public').on('change', function(){
        var isPublic = $(this).prop('checked'),
            hideFromPublic = $("#div_id_hide_from_public_page");

        (isPublic) ? hideFromPublic.show() : hideFromPublic.hide();
      }).trigger('change');

      $('.html5text').wysihtml5({"stylesheets": false});

    });
  </script>
{% endblock extrajs %}
