{% extends 'portal.html' %}

{% block title %}
  {{assessment}} | Download Word Reports | HAWC
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{{assessment.get_absolute_url}}">{{assessment}}</a><span class="divider">/</span></li>
    <li class="active"> Reports <span class="divider">/</span></li>
{% endblock %}


{% block content %}
  <h1>{{assessment}} reports</h1>

  <p class='help-block'>Microsoft-Word table-level views of data contained in HAWC for {{assessment}}.</p>


  {% if obj_perms.edit %}
    <form>
      <fieldset>
        <legend>Reporting settings</legend>
        <label class="checkbox"> Only print results from studies marked "published"
          <input type="checkbox" name="onlyPublished" checked="true">
        </label>
        <p class="help-block">
          This setting is only available for team-members; the public and
          reviewers can only view published studies.
        </p>
      </fieldset>
    </form>
    <hr>
  {% endif %}


  <ol>

    {% if assessment.enable_literature_review and report_types.0|length > 0 %}
      <li>
        <b>Literature review dataset</b><br>
        <p class="help-block">Select Microsoft Word template</p>
        <select>
          {% for object in report_types.0 %}
            <option value="{{object.pk}}">{{object.description}}</option>
          {% endfor %}
        </select><br>
        <a class='btn btn-primary download-report'
           data-basehref="{% url 'lit:ref_report' assessment.pk %}"
           href="#">Download</a><br>
      </li><br>
    {% endif %}

    {% if assessment.enable_data_extraction %}

      {% if report_types.1|length > 0 %}
        <li>
          <b>Studies and/or risk-of-bias</b><br>
          <p class="help-block">Select Microsoft Word template</p>
          <select>
            {% for object in report_types.1 %}
              <option value="{{object.pk}}">{{object.description}}</option>
            {% endfor %}
          </select><br>
          <a class='btn btn-primary download-report'
             data-basehref="{% url 'study:studies_report' assessment.pk %}"
             href="#">Download</a><br>
        </li><br>
      {% endif %}

      <li>
        <b>Risk-of-bias (fixed report)</b><br>
        <p class="help-block">Select Microsoft Word template</p>
        <a class='btn btn-primary'
           href="{% url 'study:sq_fixedreport' assessment.pk %}">Download</a><br>
      </li><br>

      <li>
        <b>Animal bioassay (fixed report)</b><br>
        <p class="help-block">Select Microsoft Word template</p>
        <a class='btn btn-primary'
           href="{% url 'animal:endpoints_fixedreport' assessment.pk %}">Download</a><br>
      </li><br>

      {% if report_types.2|length > 0 %}
        <li>
          <b>Animal bioassay</b><br>
          <p class="help-block">Select Microsoft Word template</p>
          <select>
            {% for object in report_types.2 %}
              <option value="{{object.pk}}">{{object.description}}</option>
            {% endfor %}
          </select><br>
          <a class='btn btn-primary download-report'
             data-basehref="{% url 'animal:endpoints_report' assessment.pk %}"
             href="#">Download</a><br>
        </li><br>
      {% endif %}

      {% if report_types.3|length > 0 %}
        <li>
          <b>Epidemiology</b><br>
          <p class="help-block">Select Microsoft Word template</p>
          <select>
            {% for object in report_types.3 %}
              <option value="{{object.pk}}">{{object.description}}</option>
            {% endfor %}
          </select><br>
          <a class='btn btn-primary download-report disabled'
             data-basehref="#"
             title="Disabled; please contact HAWC developers if required"
             href="#">Download</a><br>
        </li><br>
      {% endif %}

      {% if report_types.4|length > 0 %}
        <li>
          <b>Epidemiology meta-analysis/pooled analysis</b><br>
          <p class="help-block">Select Microsoft Word template</p>
          <select>
            {% for object in report_types.4 %}
              <option value="{{object.pk}}">{{object.description}}</option>
            {% endfor %}
          </select><br>
          <a class='btn btn-primary download-report'
             data-basehref="{% url 'meta:result_report' assessment.pk %}"
             href="#">Download</a><br>
        </li><br>
      {% endif %}

      {% if report_types.5|length > 0 %}
        <li>
          <b>In vitro</b><br>
          <p class="help-block">Select Microsoft Word template</p>
          <select>
            {% for object in report_types.5 %}
              <option value="{{object.pk}}">{{object.description}}</option>
            {% endfor %}
          </select><br>
          <a class='btn btn-primary download-report'
             data-basehref="{% url 'invitro:endpoints_report' assessment.pk %}"
             href="#">Download</a><br>
        </li><br>
      {% endif %}

    {% endif %}

  </ol>

{% endblock %}


{% block extrajs %}
  <script type="text/javascript">
    $(document).ready(function(){

      var setDownloadSettings = function(e){
        var self = $(this),
            template_id = self.parent().find('select').val(),
            onlyPublished = $('input[name="onlyPublished"]').prop('checked'),
            url = self.data('basehref');

        url = "{0}?template_id={1}".printf(url, template_id);
        if (onlyPublished) url += "&onlyPublished=true";
        self.attr('href', url);
      }

      $('.download-report').on('click', setDownloadSettings);

    });
  </script>
{% endblock extrajs %}
