{% extends 'portal.html' %}

{% block title %}
  {{assessment}} | Download Word Reports | HAWC
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{{assessment.get_absolute_url}}">{{assessment}}</a><span class="divider">/</span></li>
    <li class="active"> Reports <span class="divider">/</span></li>
{% endblock %}


{% block content %}
  <h1>{{assessment}} reports</h1>

  <p class='help-block'>Microsoft-Word table-level views of data contained in HAWC for {{assessment}}.</p>

  <ol>

    {% if assessment.enable_literature_review and report_types.0|length > 0 %}
      <li>
        <b>Literature review dataset</b><br>
        <p class="help-block">Select Microsoft Word template</p>
        <select>
          {% for object in report_types.0 %}
            <option value="{{object.pk}}">{{object.description}}</option>
          {% endfor %}
        </select><br>
        <a class='btn btn-primary download-report'
           data-basehref="{% url 'animal:endpoints_report' assessment.pk %}"
           href="#">Download</a><br>
      </li><br>
    {% endif %}

    {% if assessment.enable_data_extraction %}

      {% if report_types.1|length > 0 %}
        <li>
          <b>Studies and/or study-quality</b><br>
          <p class="help-block">Select Microsoft Word template</p>
          <select>
            {% for object in report_types.1 %}
              <option value="{{object.pk}}">{{object.description}}</option>
            {% endfor %}
          </select><br>
          <a class='btn btn-primary download-report'
             data-basehref="{% url 'animal:endpoints_report' assessment.pk %}"
             href="#">Download</a><br>
        </li><br>
      {% endif %}

      {% if report_types.2|length > 0 %}
        <li>
          <b>Animal bioassay</b><br>
          <p class="help-block">Select Microsoft Word template</p>
          <select>
            {% for object in report_types.2 %}
              <option value="{{object.pk}}">{{object.description}}</option>
            {% endfor %}
          </select><br>
          <a class='btn btn-primary download-report'
             data-basehref="{% url 'animal:endpoints_report' assessment.pk %}"
             href="#">Download</a><br>
        </li><br>
      {% endif %}

      {% if report_types.3|length > 0 %}
        <li>
          <b>Epidemiology</b><br>
          <p class="help-block">Select Microsoft Word template</p>
          <select>
            {% for object in report_types.3 %}
              <option value="{{object.pk}}">{{object.description}}</option>
            {% endfor %}
          </select><br>
          <a class='btn btn-primary download-report'
             data-basehref="{% url 'animal:endpoints_report' assessment.pk %}"
             href="#">Download</a><br>
        </li><br>
      {% endif %}

      {% if report_types.4|length > 0 %}
        <li>
          <b>Epidemiology meta-analysis/pooled analysis</b><br>
          <p class="help-block">Select Microsoft Word template</p>
          <select>
            {% for object in report_types.4 %}
              <option value="{{object.pk}}">{{object.description}}</option>
            {% endfor %}
          </select><br>
          <a class='btn btn-primary download-report'
             data-basehref="{% url 'animal:endpoints_report' assessment.pk %}"
             href="#">Download</a><br>
        </li><br>
      {% endif %}

      {% if report_types.5|length > 0 %}
        <li>
          <b>In vitro</b><br>
          <p class="help-block">Select Microsoft Word template</p>
          <select>
            {% for object in report_types.5 %}
              <option value="{{object.pk}}">{{object.description}}</option>
            {% endfor %}
          </select><br>
          <a class='btn btn-primary download-report'
             data-basehref="{% url 'animal:endpoints_report' assessment.pk %}"
             href="#">Download</a><br>
        </li><br>
      {% endif %}

    {% endif %}

  </ol>

{% endblock %}


{% block extrajs %}
  <script type="text/javascript">
    $(document).ready(function(){

      var update_url_with_template = function(e){
        var self = $(this),
            template_id = self.parent().find('select').val(),
            url = self.data('basehref');

        self.attr('href', "{0}?template_id={1}".printf(url, template_id));
      }

      $('.download-report').on('click', update_url_with_template);

    });
  </script>
{% endblock extrajs %}
