{% extends 'portal.html' %}

{% block title %}
  {% include "hawc/siteTitle.html" with crumbs=object.get_crumbs crud=crud %}
{% endblock title %}

{% block breadcrumbs %}
  {% include "hawc/breadcrumbs.html" with crumbs=object.get_crumbs crud=crud %}
{% endblock %}

{% block content %}
  <h1>{{object}}
    {% if crud == "Read" and obj_perms.edit_assessment %}
      <div class="btn-group pull-right">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li class="disabled"><a tabindex="-1" href="#">Assessment Editing</a></li>
          <li><a href="{% url 'assessment:update' object.pk %}">Update assessment</a></li>
          <li><a href="{% url 'assessment:modules_update' object.pk %}">Update enabled modules</a></li>
          <li><a href="{% url 'assessment:clean_extracted_data' object.pk %}">Clean extracted data</a></li>
          <li><a href="{% url 'assessment:delete' object.pk %}">Delete assessment</a></li>
          <li><a href="{% url 'assessment:versions' object.pk %}">View prior versions</a></li>
          <li><a href="{% url 'assessment:attachment_create' object.pk %}">Add an attachment</a></li>

          {% if user.is_staff %}
            <li class="divider"></li>
            <li class="disabled"><a tabindex="-1" href="#">Staff settings</a></li>
            <li><a href="{% url 'assessment:email_managers' object.pk %}">Email managers</a></li>
          {% endif %}

          <li class="divider"></li>
          <li class="disabled"><a tabindex="-1" href="#">Application settings</a></li>
          {% if assessment.enable_study_quality %}
          <li><a href="{% url 'riskofbias:arob_detail' pk=object.pk %}">Risk-of-bias settings</a></li>
          {% endif %}

          {% if assessment.enable_bmd %}
          <li><a href="{% url 'bmd:assess_settings_detail' pk=object.pk %}">BMDS settings</a></li>
          {% endif %}

          {% if assessment.enable_comments %}
          <li><a href="{% url 'comments:comment_settings_details' object.pk %}">Commenting settings</a></li>
          {% endif %}

          {% if debug %}
          <li><a href="{% url 'assessment:template_list' object.pk %}">Word report templates</a></li>
          {% endif %}

        </ul>
      </div>
    {% endif %}
  </h1>

  <table id="assessment_table" class="table table-condensed table-striped">
    <colgroup>
      <col style="width: 30%;">
      <col style="width: 70%;">
    </colgroup>
    <tbody>

      <tr>
        <th>Assessment name</th>
        <td>{{object.name}}</td>
      </tr>

      {% if object.cas %}
        <tr>
          <th>CAS number</th>
          <td>{{object.cas}}</td>
        </tr>
      {% endif %}

      <tr>
        <th>Year</th>
        <td>{{object.year}}</td>
      </tr>

      <tr>
        <th>Version</th>
        <td>{{object.version}}</td>
      </tr>

      {% if object.assessment_objective %}
      <tr>
        <th>Assessment objective</th>
        <td>{{object.assessment_objective|safe}}</td>
      </tr>
      {% endif %}

      {% if obj_perms.edit %}
        <tr>
          <th>Project manager(s)</th>
          <td>
            <ul>
              {% for m in object.project_manager.all %}
                <li> {{ m.get_full_name }}</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        <tr>
          <th>Team member(s)</th>
          <td>
            <ul>
              {% for m in object.team_members.all %}
                <li> {{ m.get_full_name }}</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        <tr>
          <th>Reviewer(s)</th>
          <td>
            <ul>
              {% for m in object.reviewers.all %}
                <li> {{ m.get_full_name }}</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
      {% endif %}

      <tr>
        <th>Editable</th>
        <td>{{object.editable}}</td>
      </tr>

      <tr>
        <th>Public</th>
        <td>{{object.public}}</td>
      </tr>

      {% if object.public %}
      <tr>
        <th>Hidden on public page?</th>
        <td>{{object.hide_from_public_page}}</td>
      </tr>
      {% endif %}

      {% if object.conflicts_of_interest %}
      <tr>
        <th>Conflicts of interest</th>
        <td>{{object.conflicts_of_interest|safe}}</td>
      </tr>
      {% endif %}

      {% if object.funding_source %}
      <tr>
        <th>Funding source</th>
        <td>{{object.funding_source|safe}}</td>
      </tr>
      {% endif %}
    </tbody>
  </table>

  {% if crud == "Read" %}
    {% include "assessment/_attachment_list.html" with object_list=attachments canEdit=obj_perms.edit_assessment %}
    <div id="comments_block"></div>
  {% endif %}

{% endblock content %}

{% block extrajs %}
  {% include "comments/_comments_extrajs.html" %}

  {% if crud == "Read" and object.cas %}
    <script type="text/javascript">
      $(document).on('ready', function(){
        var url = "{{object.cas_url}}",
            div = $('<div>').insertAfter($('#assessment_table'));
        HAWCUtils.renderChemicalProperties(url, div, true);
      });
    </script>
  {% endif %}

{% endblock extrajs %}
