{% extends 'hawc/home.html' %}


{% block main_content %}

    <div class="row-fluid">
        <div class="span10 offset1">

            <!-- header -->
            <h1>HAWC Updates</h1>

            <p class="help-block">
            The HAWC software is constantly updated. Major updates and changes
            are logged below.
            </p>

            {% include "assessment/_changelog_tbl.html" %}

            <!-- pagination -->
            {% if is_paginated %}
                <div class="pagination pagination-centered">
                    <ul>

                        {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}">&lt;&lt;</a></li>
                        {% else %}
                            <li class="disabled"><a href="#">&lt;&lt;</a></li>
                        {% endif %}

                        <li class="disabled"><a href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>

                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">&gt;&gt;</a></li>
                        {% else %}
                            <li class="disabled"><a href="#">&gt;&gt;</a></li>
                        {% endif %}

                    </ul>
                </div>
            {% endif %}

        </div>
    </div>

{% endblock main_content %}
