{% extends 'portal.html' %}


{% block title %}{{assessment}} | Endpoints | HAWC {% endblock title %}

{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' pk=assessment.id %}">{{ assessment }}</a><span class="divider">/</span></li>
  <li><a href="{% url 'assessment:clean_extracted_data' assessment.id %}">Clean extracted data</a><span class="divider">/</span></li>
{% endblock %}

{% block content %}
    <div id="root"></div>
{% endblock %}

{% block extrajs %}
<script id="config" type="text/json" charset="utf-8">
    {
        "assessment_id": "{{ assessment.id }}",
        "assessment": "{% url 'assessment:endpoint_type_list' %}",
        "epi": {
          "url": "{% url 'epi:api:outcome-cleanup-list' %}",
          "endpoint": "Outcome"
        },
        "ani": {
          "url": "{% url 'animal:api:endpoint-cleanup-list' %}",
          "endpoint": "Endpoint"
        },
        "experiment": {
          "url": "{% url 'animal:api:experiment-cleanup-list' %}",
          "endpoint": "Experiment"
        },
        "animal-groups": {
          "url": "{% url 'animal:api:animal_group-cleanup-list' %}",
          "endpoint": "AnimalGroup"
        },
        "in-vitro": {
          "url": "{% url 'invitro:api:ivendpoint-cleanup-list' %}",
          "endpoint": "IVEndpoint"
        },
        "in-vitro-chemical": {
          "url": "{% url 'invitro:api:ivchemical-cleanup-list' %}",
          "endpoint": "IVChemical"
        },
        "csrf": "{{ csrf_token }}",
        "host": "//{{request.get_host}}"
    }
</script>
<script type="text/javascript">
$(document).ready(function(){
  window.app.textCleanupStartup();
});
</script>
{% endblock extrajs %}
