{% extends 'portal.html' %}
{% load render_bundle from webpack_loader %}


{% block title %}{{assessment}} | Endpoints | HAWC {% endblock title %}

{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' pk=assessment.id %}">{{ assessment }}</a><span class="divider">/</span></li>
  <li class="active">Endpoint Clean Up<span class="divider">/</span></li>
{% endblock %}

{% block content %}
    <div id="root"></div>
    {% render_bundle 'main' %}
{% endblock %}

{% block extrajs %}
<script id="config" type="text/json" charset="utf-8">
    {
        "epi_cleanup": "{% url 'epi:api:cleanup-list' %}",
        "animal_cleanup": "{% url 'animal:api:cleanup-list' %}",
        "iv_cleanup": "{% url 'invitro:api:cleanup-list' %}",
        "csrf": "{% csrf_token %}"
    }
</script>
{% endblock extrajs %}
