{% extends 'portal.html' %}

{% block title %}
  Report Templates | {{assessment}} | HAWC
{% endblock title %}


{% block breadcrumbs %}
  <li><a href="{{assessment.get_absolute_url}}">{{ assessment }}</a><span class="divider">/</span></li>
  <li class="active">Report templates<span class="divider">/</span></li>
{% endblock breadcrumbs %}

{% block content %}

  <h1>Report Templates
    {% if obj_perms.edit %}
      <a class='btn btn-primary pull-right' href="{% url 'assessment:template_create' assessment.pk %}">Create new</a>
    {% endif %}
  </h1>

    {% if object_list %}
    <table class="table table-condensed table-striped">
        <colgroup>
           <col style="width: 40%;">
           <col style="width: 20%;">
           <col style="width: 20%;">
           <col style="width: 20%;">
        </colgroup>
        <thead>
            <tr>
                <th>Template description</th>
                <th>Report type</th>
                <th>Created</th>
                <th>Last Updated</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td><a href="{{object.get_absolute_url}}">{{object.description}}</a></td>
                    <td>{{object.get_report_type_display}}</td>
                    <td>{{object.created}}</td>
                    <td>{{object.last_updated}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No templates are available.</p>
    {% endif %}

{% endblock %}
