<a class="toggle_sidebar pull-right" title="Compress sidebar" href="#">x</a>
<ul class="nav nav-list">
  {% if assessment %}
    <li class="nav-header">Selected assessment</li>
    <li class="active"><a href="{% url 'assessment:detail' assessment.pk %}"> {{ assessment }}</a></li>

    <li class="nav-header">Available modules</li>

    {% if assessment.enable_literature_review %}
        <li class=""><a href="{% url 'lit:overview' assessment.pk %}">Literature review</a></li>
    {% endif %}

    {% if assessment.enable_data_extraction %}
        <li class=""><a href="{% url 'study:list' assessment.pk %}">Study list</a></li>
        <li class=""><a href="{% url 'assessment:endpoint_list' assessment.pk %}">Endpoint list</a></li>
        <li class=""><a href="{% url 'summary:visualization_list' assessment.pk %}">Visualizations</a></li>
    {% endif %}

    {% if assessment.enable_summary_text %}
        <li class=""><a href="{% url 'summary:list' assessment.pk %}">Executive summary</a></li>
    {% endif %}

    {% if assessment.enable_comments %}
        <li class=""><a href="{% url 'comments:comment_list_assessment' assessment.pk %}">Comment summary</a></li>
    {% endif %}

    <li class="nav-header">Downloads</li>
    <li class=""><a href="{% url 'assessment:downloads' assessment.pk %}">Download datasets</a></li>
    {% if debug %}
        <li class=""><a href="{% url 'assessment:reports' assessment.pk %}">Download reports</a></li>
    {% endif %}
  {% else %}
    <li class="active">{% block assessment %}<a href="{% url 'portal' %}">Select an assessment</a>{% endblock %}</li>
  {% endif %}
</ul>
