interactions:
- request:
    body: null
    headers:
      x-api-key:
      - <omitted>
    method: GET
    uri: https://comptox.epa.gov/ctx-api/chemical/detail/search/by-dtxsid/DTXSID123456789
  response:
    body:
      string: "{\n  \"type\" : \"about:blank\",\n  \"title\" : \"Bad Request\",\n
        \ \"status\" : 400,\n  \"detail\" : \"dtxsid with value DTXSID123456789 not
        found.\",\n  \"instance\" : \"/chemical/detail/search/by-dtxsid/DTXSID123456789\"\n}"
    headers:
      Content-Type:
      - application/problem+json
    status:
      code: 400
      message: ''
version: 1
