interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-api-key:
      - <omitted>
    method: GET
    uri: https://api-ccte.epa.gov/chemical/detail/search/by-dtxsid/DTXSID123456789
  response:
    body:
      string: "{\n  \"title\" : \"Not found \",\n  \"status\" : 404,\n  \"detail\"
        : \"dtxsid with value DTXSID123456789 not found.\"\n}"
    headers:
      Content-Type:
      - application/problem+json
      X-Vcap-Request-Id:
      - 323654c1-b9c7-4196-688b-be5cee4c0eed
    status:
      code: 404
      message: Not Found
version: 1
