interactions:
- request:
    body: null
    headers:
      x-api-key:
      - <omitted>
    method: GET
    uri: https://api-ccte.epa.gov/chemical/detail/search/by-dtxsid/DTXSID123456789
  response:
    body:
      string: "{\n  \"type\" : \"about:blank\",\n  \"title\" : \"Bad Request\",\n
        \ \"status\" : 400,\n  \"detail\" : \"dtxsid with value DTXSID123456789 not
        found.\",\n  \"instance\" : \"/chemical/detail/search/by-dtxsid/DTXSID123456789\"\n}"
    headers:
      Content-Type:
      - application/problem+json
      X-Vcap-Request-Id:
      - cc08d157-3ec9-40e6-4b23-cbdac3417363
    status:
      code: 400
      message: Bad Request
version: 1
