interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-api-key:
      - <omitted>
    method: GET
    uri: https://api-ccte.epa.gov/chemical/detail/search/by-dtxsid/DTXSID7020970
  response:
    body:
      string: "{\n  \"dtxsid\" : \"DTXSID7020970\",\n  \"dtxcid\" : \"DTXCID30970\",\n
        \ \"toxcastSelect\" : \"163/1029\",\n  \"casrn\" : \"1836-75-5\",\n  \"compoundId\"
        : 970,\n  \"genericSubstanceId\" : 20970,\n  \"preferredName\" : \"Nitrofen\",\n
        \ \"activeAssays\" : 163,\n  \"cpdataCount\" : null,\n  \"molFormula\" : \"C12H7Cl2NO3\",\n
        \ \"monoisotopicMass\" : 282.9802985,\n  \"percentAssays\" : 16.0,\n  \"pubchemCount\"
        : 116,\n  \"pubmedCount\" : 341.0,\n  \"sourcesCount\" : 201,\n  \"qcLevel\"
        : 1,\n  \"qcLevelDesc\" : \"Level 1: Expert curated, highest confidence in
        accuracy and consistency of unique chemical identifiers\",\n  \"stereo\" :
        \"0\",\n  \"isotope\" : 0,\n  \"multicomponent\" : 0,\n  \"totalAssays\" :
        1029,\n  \"pubchemCid\" : 15787,\n  \"relatedSubstanceCount\" : null,\n  \"relatedStructureCount\"
        : null,\n  \"hasStructureImage\" : 1,\n  \"iupacName\" : \"2,4-Dichloro-1-(4-nitrophenoxy)benzene\",\n
        \ \"smiles\" : \"[O-][N+](=O)C1=CC=C(OC2=C(Cl)C=C(Cl)C=C2)C=C1\",\n  \"inchiString\"
        : \"InChI=1S/C12H7Cl2NO3/c13-8-1-6-12(11(14)7-8)18-10-4-2-9(3-5-10)15(16)17/h1-7H\\n\",\n
        \ \"averageMass\" : 284.09,\n  \"inchikey\" : \"XITQUSLLOSKDTB-UHFFFAOYSA-N\",\n
        \ \"qcNotes\" : null,\n  \"qsarReadySmiles\" : \"[O-][N+](=O)C1=CC=C(OC2=C(Cl)C=C(Cl)C=C2)C=C1\",\n
        \ \"msReadySmiles\" : \"[O-][N+](=O)C1=CC=C(OC2=C(Cl)C=C(Cl)C=C2)C=C1\",\n
        \ \"irisLink\" : null,\n  \"pprtvLink\" : \"Nitrofentechnicalgrade\",\n  \"wikipediaArticle\"
        : \"Nitrofen\",\n  \"descriptorStringTsv\" : \"0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t1\\t0\\t1\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0[...]
