interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://comptox.epa.gov/dashboard-api/ccdapp2/chemical-detail/search/by-dsstoxsid?id=DTXSID7020970
  response:
    body:
      string: "{\n  \"createdDate\" : null,\n  \"lastModifiedDate\" : null,\n  \"createdBy\"
        : null,\n  \"dsstoxSubstanceId\" : \"DTXSID7020970\",\n  \"dsstoxCompoundId\"
        : \"DTXCID30970\",\n  \"casrn\" : \"1836-75-5\",\n  \"compoundId\" : 970,\n
        \ \"genericSubstanceId\" : 20970,\n  \"trireleaseIdentifier\" : \"001836755\",\n
        \ \"pubchemCid\" : 15787,\n  \"preferredName\" : \"Nitrofen\",\n  \"acdIupacName\"
        : \"2,4-Dichloro-1-(4-nitrophenoxy)benzene\",\n  \"wikipediaName\" : \"Nitrofen\",\n
        \ \"meshName\" : \"nitrofen\",\n  \"label\" : \"Nitrofen\",\n  \"inchiKeySkeleton\"
        : \"XITQUSLLOSKDTB-UHFFFAOYSA-N\",\n  \"inchiKey\" : \"XITQUSLLOSKDTB-UHFFFAOYSA-N\",\n
        \ \"inchiString\" : \"InChI=1S/C12H7Cl2NO3/c13-8-1-6-12(11(14)7-8)18-10-4-2-9(3-5-10)15(16)17/h1-7H\\n\",\n
        \ \"inchiSkeleton\" : \"XITQUSLLOSKDTB-UHFFFAOYSA-N\",\n  \"mixtures\" : \"1\",\n
        \ \"msReadyMappings\" : [ {\n    \"dtxcid\" : \"DTXCID30970\",\n    \"count\"
        : 3\n  } ],\n  \"similarCompounds\" : null,\n  \"tanimoto\" : null,\n  \"molFormula\"
        : \"C12H7Cl2NO3\",\n  \"smiles\" : \"[O-][N+](=O)C1=CC=C(OC2=C(Cl)C=C(Cl)C=C2)C=C1\",\n
        \ \"scrubchemLink\" : \"\\\"https://www.scrubchem.org/Home/Results?CIDs=15787\\\"\",\n
        \ \"monoisotopicMass\" : 282.9802985,\n  \"molWeight\" : 284.09,\n  \"isMarkush\"
        : false,\n  \"irisLink\" : null,\n  \"citation\" : null,\n  \"qcLevel\" :
        1,\n  \"qcLevelDesc\" : \"Level 1: Expert curated, highest confidence in accuracy
        and consistency of unique chemical identifiers\",\n  \"qcNotes\" : null,\n
        \ \"safetyUrl\" : \"https://pubchem.ncbi.nlm.nih.gov/compound/15787#datasheet=LCSS&section=GHS-\",\n
        \ \"hasStructureImage\" : true,\n  \"relatedSubstanceCount\" : null,\n  \"relatedStructureCount\"
        : null,\n  \"presenceInLists\" : [ {\n    \"label\" : \"Federal\",\n    \"name\"
        : \"federal\",\n    \"shortDescription\" : \"Lists defined by the US federal
        government\",\n    \"lists\" : [ {\n      \"label\" : \"EPA ToxCast Screening
        Library (ph2 subset)\",\n      \"name\" : \"TOXCAST_ph2\",\n      \"shortDescription\"
        : \"TOXCAST_ph2 is the ph2 subset of TOXCAST, added in Phase II of the ToxCast
        program to increase chemical diversity and coverage of chemicals of concern
        to EPA programs.\"\n    }, {\n      \"label\" : \"EPA: Toxics Release Inventory
        \",\n      \"name\" : \"TRIRELEASE\",\n      \"shortDescription\" : \"Chemicals
        co[...]
