interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-api-key:
      - <omitted>
    method: GET
    uri: https://api-ccte.epa.gov/chemical/detail/search/by-dtxsid/DTXSID7020970
  response:
    body:
      string: "{\n  \"id\" : \"FDFD541B510CFD2C5064FD1FFDFD06FD40FD111324FDFD7D29FD0F74FD4EFD\",\n
        \ \"cpdataCount\" : null,\n  \"expocatMedianPrediction\" : \"2.23E-07\",\n
        \ \"expocat\" : \"Y\",\n  \"nhanes\" : \"Y\",\n  \"toxvalData\" : \"Y\",\n
        \ \"waterSolubilityTest\" : 1.86209E-6,\n  \"waterSolubilityOpera\" : 3.53106E-6,\n
        \ \"viscosityCpCpTestPred\" : null,\n  \"vaporPressureMmhgTestPred\" : 4.48745E-7,\n
        \ \"vaporPressureMmhgOperaPred\" : 1.71599E-6,\n  \"thermalConductivity\"
        : 133.645,\n  \"tetrahymenaPyriformis\" : 3.22107E-6,\n  \"surfaceTension\"
        : null,\n  \"soilAdsorptionCoefficient\" : 10030.7,\n  \"oralRatLd50Mol\"
        : 0.00961612,\n  \"operaKmDaysOperaPred\" : 7.23919,\n  \"octanolWaterPartition\"
        : 4.6398,\n  \"octanolAirPartitionCoeff\" : 8.61388,\n  \"meltingPointDegcTestPred\"
        : 99.224,\n  \"meltingPointDegcOperaPred\" : 70.1221,\n  \"hrFatheadMinnow\"
        : 1.06905E-6,\n  \"hrDiphniaLc50\" : 1.63682E-6,\n  \"henrysLawAtm\" : 6.79835E-5,\n
        \ \"flashPointDegcTestPred\" : 184.658,\n  \"devtoxTestPred\" : 0.697,\n  \"density\"
        : 1.452,\n  \"boilingPointDegcTestPred\" : 359.215,\n  \"boilingPointDegcOperaPred\"
        : 358.785,\n  \"biodegradationHalfLifeDays\" : 3.71673,\n  \"bioconcentrationFactorTestPred\"
        : 899.498,\n  \"bioconcentrationFactorOperaPred\" : 739.33,\n  \"atmosphericHydroxylationRate\"
        : 2.58539E-12,\n  \"amesMutagenicityTestPred\" : 0.751,\n  \"pkaaOperaPred\"
        : null,\n  \"pkabOperaPred\" : null,\n  \"qcLevel\" : 1,\n  \"qcLevelDesc\"
        : \"Level 1: Expert curated, highest confidence in accuracy and consistency
        of unique chemical identifiers\",\n  \"stereo\" : \"0\",\n  \"isotope\" :
        0,\n  \"multicomponent\" : 0,\n  \"totalAssays\" : 1029,\n  \"pubchemCid\"
        : 15787,\n  \"relatedSubstanceCount\" : null,\n  \"relatedStructureCount\"
        : null,\n  \"hasStructureImage\" : 1,\n  \"iupacName\" : \"2,4-Dichloro-1-(4-nitrophenoxy)benzene\",\n
        \ \"smiles\" : \"[O-][N+](=O)C1=CC=C(OC2=C(Cl)C=C(Cl)C=C2)C=C1\",\n  \"inchiString\"
        : \"InChI=1S/C12H7Cl2NO3/c13-8-1-6-12(11(14)7-8)18-10-4-2-9(3-5-10)15(16)17/h1-7H\\n\",\n
        \ \"averageMass\" : 284.09,\n  \"qcNotes\" : null,\n  \"casrn\" : \"1836-75-5\",\n
        \ \"compoundId\" : 970,\n  \"genericSubstanceId\" : 20970,\n  \"preferredName\"
        : \"Nitrofen\",\n  \"activeAssays\" : 163,\n  \"molFormula\" : \"C12H7Cl2NO3\",\n
        \ \"monoisotopicMass\" : 282.9802985,\n  \"percentAssays\" : 16.0,\n  \"pubchemCount\"
        : 116,\n  \"pubmedCount\" : 341.0,\n  \"sourcesCount\" : 201,\n  \"qsarReadySmiles\"
        : \"[O-][N+](=O)C1=CC=C(OC2=C(Cl)C=C(Cl)C=C2)C=C1\",\n  \"msReadySmiles\"
        : \"[O-][N+](=O)C1=CC=C(OC2=C(Cl)C=C(Cl)C=C2)C=C1\",\n  \"irisLink\" : null,\n
        \ \"pprtvLink\" : \"Nitrofentechnicalgrade\",\n  \"descriptorStringTsv\" :
        \"0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t1\\t0\\t1\\t0\\t0\\t0\\t0\\t0\\t0[...]
