<div hx-swap-oob="innerHTML:#{{modal_id}} .modal-header">
    {% block modal_header %}
    <h5 class="modal-title">
        {% block modal_title %}{% endblock modal_title %}
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {% endblock modal_header %}
</div>
<div hx-swap-oob="innerHTML:#{{modal_id}} .modal-body">
    <div class="container-fluid">
        {% block modal_body %}
        {% endblock modal_body %}
    </div>
</div>
<div hx-swap-oob="innerHTML:#{{modal_id}} .modal-footer">
    {% block modal_footer %}
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    {% endblock modal_footer %}
</div>
