{% load crispy_forms_field %}
{% load crispy_forms_filters %}
{% comment %} Adapted from https://github.com/django-crispy-forms/crispy-bootstrap4/blob/main/crispy_bootstrap4/templates/bootstrap4/field.html {% endcomment %}
<div id="div_{{ field.auto_id }}" class="form-group mb-0">
  <label for="{{ field.id_for_label }}" class="sr-only">{{ field.label }}</label>
  <div id="{{ field.id_for_label }}_helptext" class="sr-only">{{ field.help_text }}</div>
  <div class="input-group flex-nowrap">
    {% if expandable %}
      <div class="input-group-prepend">
        <a id="ff-expand-form-toggle" class="btn btn-secondary d-flex align-items-center {% if form.data.is_expanded != 'true' %} collapsed {% endif %}" data-toggle="collapse" data-target="#ff-expand-form" title="Toggle advanced options"><i class="fa fa-caret-down collapsible-icon" aria-hidden="true"></i></a>
      </div>
    {% endif %}
    {% if field.errors %}
      {% crispy_field field 'class' 'form-control is-invalid z-top' 'placeholder' field.help_text %}
    {% else %}
      {% crispy_field field 'class' 'form-control h-fit-content' 'placeholder' field.help_text %}
    {% endif %}
    <div class="input-group-append">
      {% for field in appended_fields %}
        {% if field|is_checkbox %}
          <div class="form-group input-group-text">
            <div class="custom-control custom-checkbox">
              {% crispy_field field 'class' 'custom-control-input' %}
              <label for="{{ field.id_for_label }}" class="custom-control-label form-sm-field">{{ field.label }}</label>
            </div>
            {% if field.field.hover_help %}
              {% include 'common/helptext_popup.html' with text=field.field.help_text %}
            {% endif %}
          </div>
        {% elif field|is_select and use_custom_control %}
          <div {% if field.errors %} title="{% for error in field.errors %} {{error}} {% endfor %}" {% else %} title="{{field.help_text}} {% endif %}">
            <label for="{{ field.id_for_label }}" class="custom-control-label sr-only">{{ field.label }}</label>
            {% if field.errors %}
              {% crispy_field field 'class' 'custom-select form-sm-field is-invalid' 'placeholder' field.help_text %}
            {% else %}
              {% crispy_field field 'class' 'custom-select form-sm-field' 'placeholder' field.help_text %}
            {% endif %}
            <div id="{{ field.id_for_label }}_helptext" class="sr-only">{{ field.help_text }}</div>
          </div>
        {% else %}
          <div class="alert alert-danger">NOT IMPLEMENTED: {{field.id_for_label}}</div>
        {% endif %}
      {% endfor %}
      <a role="button" style="border: #ced4da solid 1px !important;" class="btn btn-light d-flex flex-wrap align-content-center px-3" href="." title="Reset form"><span aria-hidden="true">&times;</span></a>
      <button type="submit" name="save" class="btn btn-primary px-5" title="Apply filters"><i class="fa fa-search" aria-hidden="true"></i></button>
    </div>
  </div>
</div>
{% if expandable %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      $("#ff-expand-form-toggle").click(function() {
        const value = $("#ff-expand-form").hasClass("show");
        document.getElementById("id_is_expanded").value=(!value).toString();
      });
    });
  </script>
{% endif %}
