{% extends 'assessment-rooted.html' %}

{% block content %}
<div id="main"></div>
{% endblock content %}

{% block extrajs %}
<script id="config" type="text/json" charset="utf-8">
{
    "assessment": "{{assessment}}",
    "clear_cache_url": {% if obj_perms.edit %}"{{assessment.get_clear_cache_url}}"{% else %}null{% endif %},
    "data_class": "{{data_class}}",
    "data_url": "{{data_url}}",
    "create_visual_url": {% if obj_perms.edit %}"{% url 'summary:visualization_create' assessment.id 6 %}"{% else %}null{% endif %}
}
</script>
<script type="text/javascript">
    window.app.heatmapTemplateStartup(function (app) {
        var root = document.getElementById('main'),
            config = window.app.getConfig();
        app.func(root, config);
    });
</script>
{% endblock extrajs %}
