{% load static %}
<script type="text/javascript" src="{% static 'admin/js/vendor/select2/select2.full.js' %}"></script>
<script type="text/javascript" src="{% static 'patched/dal/3.9.4/js/autocomplete_light.js' %}"></script>
<link href="{% static 'admin/css/vendor/select2/select2.css' %}" media="screen" rel="stylesheet">
<link href="{% static 'admin/css/autocomplete.css' %}" media="screen" rel="stylesheet">
<link href="{% static 'patched/dal/3.9.4/css/select2-bootstrap.css' %}" media="screen" rel="stylesheet">
<script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>
<script type="text/javascript" src="{% static 'patched/dal/3.9.4/js/select2text.js' %}"></script>
