<div class="dropdown">
  <button class="btn btn-sm btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="scientific_dropdown">
    Special characters <span class="caret" title="Special characters"></span>
  </button>
  <div class="dropdown-menu bg-white" aria-labelledby="scientific_dropdown" onclick="event.stopPropagation();">
    <p class="dropdown-header">Greek characters (lowercase):</p>
        <pre class="dropdown-item m-0">α β γ δ ε ζ  η θ ι κ λ μ<br>ν ξ ο π ρ σς τ υ φ χ ψ ω</pre>
    <p class="dropdown-header">Greek characters (uppercase):</p>
        <pre class="dropdown-item m-0">A B Γ Δ E Z H Θ I K Λ M<br>N Ξ O Π P Σ T Y Φ X Ψ Ω</pre>
    <p class="dropdown-header">Superscripts, subscripts, and others:</p>
        <pre class="dropdown-item m-0">x⁻⁰¹²³⁴⁵⁶⁷⁸⁹<br>x₋₀₁₂₃₄₅₆₇₈₉<br>ᵃᵇᶜᵈᵉᶠᵍʰⁱʲᵏ<br>± &lt; ≤ = ≠ ≥ &gt;</pre>
  </div>
</div>
