{% extends 'assessment-rooted.html' %}

{% load selectable_tags %}

{% block content %}
  <h2>Modify task assignments</h2>
  <div id='taskTable' class='mb-3'></div>
{% endblock %}

{% block extrajs %}
<script id="config" type="text/json" charset="utf-8">
    {
        "assessmentId": {{ assessment.id }},
        "csrf": "{{ csrf_token }}",
        "displayAsForm": true,
        "cancelUrl": "{% url 'mgmt:assessment_tasks' assessment.pk %}",
        "tasksListUrl": "{% url 'mgmt:api:task-list' %}?assessment_id={{assessment.pk}}",
        "taskUpdateBaseUrl": "{% url 'mgmt:api:task-list' %}",
        "taskBulkPatchUrl": "{% url 'mgmt:api:task-bulk-patch' %}?assessment_id={{assessment.pk}}",
        "studyListUrl": "{% url 'study:api:study-list' %}?assessment_id={{assessment.pk}}",
        "userAutocompleteUrl": "{% url 'selectable-lookup' 'myuser-assessmentteammemberorhigherlookup' %}"
    }
</script>
<script type="text/javascript">
window.app.startup("mgmtStartup", function(mgmt){
  const el = document.getElementById('taskTable'),
    config = window.app.getConfig();
  mgmt.TaskTable(el, config);
});
</script>
{% endblock extrajs %}
