{% extends 'assessment-rooted.html' %}

{% load bs4 %}

{% block content %}
<div class="d-flex">
    <h2>Assessment Time Spent for {{ assessment.name }}</h2>
    {% actions %}
    <a class="dropdown-item" href="{% url 'mgmt:assessment-time-series' assessment.pk %}">Time Series</a>
    <a class="dropdown-item" href="{% url 'mgmt:assessment-growth' assessment.pk %}">Assessemnt Growth</a>
    {% endactions %}
</div>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem, dolores neque? Deserunt cumque doloribus nisi,
    accusamus, illum facere ea magnam explicabo eveniet enim repellendus commodi corporis maiores fuga iure accusantium!
</p>
<h3>Total time spent on this assessment</h3>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam voluptatibus mollitia deleniti accusantium quisquam,
    odio id minima modi ab. Quasi mollitia consectetur odit laudantium eaque rerum, autem hic animi corrupti!</p>
{% endblock %}
