{% extends 'assessment-rooted.html' %}

{% block content %}
<div>
    <h2>My assigned tasks</h2>
    <label><input type="checkbox" name="filter" checked="" style="margin: 4px;">Hide completed and abandoned
        tasks</label>
    {% if object_list %}
    <div>
        <table class="table table-sm table-striped">
            <colgroup>
                <col width="30%">
                <col width="70%">
            </colgroup>
            <thead>
                <tr>
                    <th>Study</th>
                    <th>Task</th>
                </tr>
            </thead>
            <tbody>

                {% for task in object_list %}

                <tr>
                    <td><a href="{{ task.study.get_absolute_url }}">{{ task.study.short_citation }}</a></td>
                    <td>
                        <div class="row">
                            <div class="col-md-auto">
                                <div>
                                    <b>Status: </b>
                                    <i class="fa fa-circle status-circle s{{ task.status }}"></i>{{
                                    task.get_status_display|capfirst }}
                                </div>
                                <div>
                                    <b>Task: </b>
                                    <span>QA/QC</span>
                                </div>
                            </div>
                            <div class="col-md"><button type="button" class="btn btn-light"><i title="Edit this task"
                                        class="fa fa-pencil-square-o" aria-hidden="true"></i></button></div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div>
        <i>There are no tasks available</i>
    </div>
    {% endif %}


    <div>
        <h4>Pending risk of bias/study evaluation reviews</h4>

        {% if rob_task_list %}
        <table class="table table-sm table-striped">
            <colgroup>
                <col width="33%">
                <col width="66%">
            </colgroup>

            <thead>
                <tr>
                    <th>Study</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for task in rob_task_list %}
                <tr>
                    <td><a href="{{ task.study.get_absolute_url }}">{{ task.study.short_citation }}</a></td>
                    <td><a class="btn btn-light" href="{{task.get_edit_url}}"><i class="fa fa-edit"></i> Edit
                            review</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <i>You have no outstanding reviews</i>
        {% endif %}
    </div>

</div>

<div id='main'></div>
{% endblock %}

{% block extrajs %}
{{ config|json_script:"config" }}
{% endblock extrajs %}
