{% extends 'crumbless.html' %}

{% block content %}
<h2>My assigned tasks</h2>
<div>
    <label><input type="checkbox" name="filter" checked style="margin: 4px;">Hide completed and abandoned tasks</label>

    {% if incomplete_task_list %}

    {% regroup incomplete_task_list by get_assessment as assessment_list %}

    {% for assessment in assessment_list %}


    <h4>{{ assessment.grouper }} <a class="btn btn-sm btn-primary"
            href="{{ assessment.grouper.get_absolute_url }}">View</a></h4>

    <table style="width: 100%;" class="table table-sm table-striped">
        <colgroup>
            <col width="30%" />
            <col width="70%" />
        </colgroup>
        <thead>
            <tr>
                <th>Study</th>
                <th>Task</th>
            </tr>
        </thead>
        <tbody>
            {% for task in assessment.list %}
            <tr>
                <td> <a href="{{ task.study.get_absolute_url }}">{{ task.study.short_citation }}</a></td>
                <td>
                    <div class="row">
                        <div class="col-md-auto">
                            <div>
                                <b>Status: </b>
                                <i class="fa fa-circle status-circle s{{ task.status }}"></i>
                                {{ task.get_status_display|capfirst }}
                            </div>
                            <div>
                                <b>
                                    Task:
                                </b>
                                <span>{{ task.get_type_display|capfirst }}</span>
                            </div>
                            <div>
                                <b>Due date: </b>
                                <span>{{ task.due_date|date:"SHORT_DATE_FORMAT" }}</span>
                            </div>
                        </div>
                        <div class="col-md">
                            <button type="button" class="btn btn-light"><i title="Edit this task" class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</div>
{% else %}
<div>
    <i>There are no tasks available</i>
</div>
{% endif %}

<!-- risk of bias section -->

<h4>Pending risk of bias/study evaluation reviews</h4>

{% if rob_task_list %}
<table style="width: 100%;" class="table table-sm table-striped">
    <thead>
        <tr>
            <th style="width: 33%;">Assessment</th>
            <th style="width: 33%;">Study</th>
            <th style="width: 66%;">Action</th>
        </tr>
    </thead>

    <tbody>
        {% for rob in rob_task_list %}
        <tr>
            <td>
                <a href="{{ rob.get_assessment.get_absolute_url }}">{{ rob.get_assessment }}</a>
            </td>
            <td>
                <a href="{{ rob.study.get_absolute_url }}">{{ rob.study.short_citation }}</a>
            </td>
            <td>
                <a class="btn btn-light" href="{{ rob.get_edit_url }}"><i class="fa fa-edit"></i> Edit Review</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<i>You have no outstanding reviews</i>
{% endif %}
<div id='main'></div>
{% endblock %}

{% block extrajs %}
{{ config|json_script:"config" }}
{% endblock extrajs %}
