{% extends 'crumbless.html' %}

{% block content %}
  <h2>My assigned tasks</h2>
  <table class="table table-sm table-striped">
    {% bs4_colgroup "40,20,20,20" %}
    {% bs4_thead "Assessment,# Tasks,# Study Evaluations,View Assignments" %}
    <tbody>
      {% for assess in assessments %}
        <tr>
          <td>
            <a href="{{ assess.assessment.get_absolute_url }}">{{assess.assessment}}
            {% debug_badge assess.assessment.id %}
          </td>
          <td>{{assess.num_tasks}}</td>
          <td>{{assess.num_robs}}</td>
          <td>
            <a class='btn btn-primary' href="{% url 'mgmt:user-assessment-task-list' assess.assessment.id %}">View</a>
          </td>
        <tr>
      {% empty %}
        <tr>
          <td colspan="4"><i>No assigned tasks!</i></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
