{% extends 'crumbless.html' %}

{% block content %}
<h2>My assigned tasks</h2>

{% if show_completed %}
<a class="btn btn-light mb-4" role="button" href="?completed=off">Hide completed and abandoned tasks</a>
{% else %}
<a class="btn btn-light mb-4" role="button" href="?completed=on">Show completed and abandoned tasks</a>
{% endif %}

{% regroup object_list by get_assessment as assessment_list %}
{% for assessment in assessment_list %}
<h3>{{ assessment.grouper }} <a class="btn btn-sm btn-primary" href="{{ assessment.grouper.get_absolute_url }}">View</a></h3>
<table style="width: 100%;" class="table table-sm table-striped">
    <colgroup>
        <col width="30%" />
        <col width="70%" />
    </colgroup>
    <thead>
        <tr>
            <th>Study</th>
            <th>Task</th>
        </tr>
    </thead>
    <tbody>
        {% for task in assessment.list %}
        <tr>
            <td> <a href="{{ task.study.get_absolute_url }}">{{ task.study.short_citation }}</a></td>
            {% include "mgmt/fragments/task_cell.html" with object=task %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% empty %}
<p><i>There are no tasks available</i></p>
{% endfor %}

<h3>Pending study evaluations</h3>
{% if studies_with_rob %}
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th style="width: 33%;">Assessment</th>
            <th style="width: 33%;">Study</th>
            <th style="width: 66%;">Reviews</th>
        </tr>
    </thead>
    <tbody>
        {% for study in studies_with_rob %}
        <tr>
            <td>
                <a href="{{ study.assessment.get_absolute_url }}">{{ study.assessment.get_assessment }}</a>
            </td>
            <td>
                <a href="{{ study.get_absolute_url }}">{{ study.short_citation }}</a>
            </td>
            <td>
                {% for review in study.own_reviews %}
                    <a class="btn btn-light" href="{{review.get_edit_url}}"><i class="fa fa-edit"></i>&nbsp;Update  {% if review.final %}final {% endif %}review</a>
                    {% empty %}
                    <span><i>None available</i></span>
                    {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<i>You have no outstanding reviews</i>
{% endif %}
{% endblock %}
