{% if object_list %}
  <table class="table table-condensed table-striped">
    <colgroup>
      <col style="width: 30%;">
      <col style="width: 55%;">
      <col style="width: 15%;">
    </colgroup>
    <tr>
      <th>Short Citation</th>
      <th>Full Citation</th>
      <th>Study Type</th>
      {% if obj_perms.edit %}
        <th>Published</th>
      {% endif %}
    </tr>
    {% for object in object_list %}
      <tr>
        <td><a href="{{object.get_absolute_url}}">{{object.short_citation}}</a></td>
        <td>{{object.full_citation}}</td>
        <td>{{object.get_study_type_display}}</td>
        {% if obj_perms.edit %}
          <td>{{object.published}}</td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>
{% else %}
  <p>No studies available.</p>
{% endif %}
