{% extends 'portal.html' %}


{% block title %}
  {{assessment}} | Study-quality aggregation | HAWC
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' assessment.pk %}">{{ assessment }}</a><span class="divider">/</span></li>
  <li class="active">Study-quality aggregation</li>
{% endblock breadcrumbs %}

{% block content %}

  <div class="row-fluid">
    <h3>Study-quality aggregation visualization</h3>
    <div class="span12">
      <div id='sq_agg_plot' class="d3_container"></div>
    </div>
  </div>

{% endblock %}

{% block extrajs %}
  <script src="{{STATIC_URL}}study/js/models.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      window.studies = [];
      new Object({{object_list_json|safe}}).forEach(function(v){
        studies.push(new Study(v));
      });
      window.sq_agg = new StudyQualityAggregation(studies);

      if("{{chart_type}}"==="heatmap"){
        window.heatmap = new StudyQualityAggregation_Heatmap(sq_agg,
           '#sq_agg_plot', {build_plot_startup: true})
      } else if ("{{chart_type}}"==="stacked"){
        window.stacked = new StudyQualityAggregation_Stacked(sq_agg,
           '#sq_agg_plot', {build_plot_startup: true})
      }

    });
  </script>
{% endblock extrajs %}
