{% extends 'portal.html' %}


{% block title %}
  {{object.assessment}} | {{object}} | HAWC
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' object.assessment.pk %}">{{ object.assessment }}</a><span class="divider">/</span></li>
  {% block breadcrumbs_self %}
    <li class="active">{{object}}<span class="divider">/</span></li>
  {% endblock breadcrumbs_self %}
{% endblock breadcrumbs %}

{% block content %}

  <h1>{{object}}
    {% if obj_perms.edit %}
      <div class="btn-group pull-right">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">

            <li class="disabled"><a tabindex="-1" href="#">Study Editing</a></li>
            <li><a href="{% url 'study:update' object.pk %}">Update study details</a></li>
            <li><a href="{% url 'lit:ref_edit' object.pk %}">Update reference</a></li>
            <li><a href="{% url 'study:delete' object.pk %}">Delete study</a></li>
            <li><a href="{% url 'study:versions' object.pk %}">View prior versions</a></li>
            <li><a href="{% url 'study:attachment_create' object.pk %}">Add an attachment</a></li>

            <li class="divider"></li>
            {% if object.study_type == 0 %}
              <li class="disabled"><a tabindex="-1" href="#">Experiment Editing</a></li>
              <li><a href="{% url 'animal:experiment_new' object.pk %}">Create new</a></li>
            {% elif object.study_type == 1 %}
              <li class="disabled"><a tabindex="-1" href="#">Study Population</a></li>
              <li><a href="{% url 'epi:sp_create' object.pk %}">Create new</a></li>
              <li><a href="{% url 'epi:sp_copy_selector' object.pk %}">Copy from existing</a></li>
            {% elif object.study_type == 2 %}
              <li class="disabled"><a tabindex="-1" href="#">In-vitro analysis</a></li>
              <li><a href="{% url 'invitro:experiment_create' object.pk %}">Create new experiment</a></li>
              <li><a href="{% url 'invitro:chemical_create' object.pk %}">Create new chemical</a></li>
              <li><a href="{% url 'invitro:celltype_create' object.pk %}">Create new cell-type</a></li>
            {% elif object.study_type == 4 %}
              <li class="disabled"><a tabindex="-1" href="#">Meta-analysis</a></li>
              <li><a href="{% url 'meta:protocol_create' object.pk %}">Create new</a></li>
            {% endif %}
        </ul>
      </div>
    {% endif %}
  </h1>

  <div id="study_details"></div>

  {% if crud == "Read" %}

    {% if assessment.enable_study_quality and object.qualities.count > 0 %}
      <div class="row-fluid">
          <h3>Risk-of-bias visualization
            <a class="btn btn-primary pull-right" href="{% url 'riskofbias:robs_detail' object.pk %}">View details</a>
          </h3>
          <div class="span12">
            <div id='sq_plot' class="d3_container"></div>
          </div>
      </div>
    {% endif %}

    {% if study.study_type == 0 %}
      <h2>Available experiments</h2>
      {% include "animal/_experiment_list_tbl.html" with object_list=object.experiments.all %}
    {% elif study.study_type == 1 %}
      <h2>Available study populations</h2>
      <ul>
        {% for obj in object.study_populations.all %}
          <li><a href="{{obj.get_absolute_url}}">{{obj}}</a></li>
        {% endfor %}
      </ul>
    {% elif study.study_type == 2 %}
      <h2>Available experiments</h2>
      {% include "invitro/_experiment_list.html" with object_list=object.ivexperiments.all %}
      <h2>Available chemicals used in experiments</h2>
      {% include "invitro/_chemical_list.html" with object_list=object.ivchemicals.all %}
      <h2>Available cell types</h2>
      {% include "invitro/_celltype_list.html" with object_list=object.ivcelltypes.all %}
      {% elif study.study_type == 4 %}
      <h2>Available epidemiological meta-analyses</h2>
      {% include "epimeta/_metaprotocol_list.html" with object_list=object.meta_protocols.all %}
    {% endif %}

    <div id="comments_block"></div>

  {% endif %}

{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
    window.study = new Study({{study.get_json|safe}})
    var detail_div = $('#study_details')
    study.build_details_table(detail_div);

    {% if attachments_viewable %}
      study.add_attachments_row(detail_div, {{study.get_attachments_json|safe}});
    {% endif %}

    window.plot = new StudyQuality_Donut(study, '#sq_plot', {'build_plot_startup': true});
  </script>
  {% if crud == "Read" %}
    {% include "comments/_comments_extrajs.html" %}
  {% endif %}
{% endblock extrajs %}
