{% extends 'portal.html' %}

{% load crispy_forms_tags %}

{% block title %}
  {{assessment}} | {{crud}} {% if crud == "Create" %}Study{% else %}{{object}}{% endif %} | HAWC
{% endblock %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}wysihtml5/css/bootstrap-wysihtml5.css" />
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' pk=assessment.pk %}">{{ assessment }}</a><span class="divider">/</span></li>
  {% if crud == "Update" %}
  <li><a href="{% url 'study:detail' object.pk %}">{{object}}</a><span class="divider">/</span></li>
  {% endif %}
  <li class="active"> {{ crud }} Study <span class="divider">/</span></li>
{% endblock %}

{% block content %}

  {% crispy form %}

{% endblock %}

{% block extrajs %}
  <script src="{{STATIC_URL}}wysihtml5/js/wysihtml5-0.3.0.min.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}wysihtml5/js/bootstrap-wysihtml5.js" type="text/javascript"></script>
  <script type="text/javascript">
    $('#id_summary').wysihtml5({"stylesheets": false});
  </script>
{% endblock extrajs %}
