{% extends 'portal.html' %}

{% load crispy_forms_tags %}

{% block title %}
  {% if endpoint %}
    {{assessment}} | {{endpoint.animal_group.experiment.study}} | {{endpoint.animal_group.experiment}} | {{endpoint.animal_group}} | {{endpoint}}
    {% if crud == "Create" %}
      | Create risk-of-bias override | HAWC
    {% elif crud == "Update" %}
      | Update risk-of-bias override | HAWC
    {% endif %}
  {% endif %}
{% endblock title %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}wysihtml5/css/bootstrap-wysihtml5.css" />
{% endblock extrastyle %}

{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' pk=assessment.pk %}">{{ assessment }}</a><span class="divider">/</span></li>

  {% if endpoint %}
    <li><a href="{{endpoint.animal_group.experiment.study.get_absolute_url}}">
      {{endpoint.animal_group.experiment.study}}</a><span class="divider">/</span></li>
    <li><a href="{{endpoint.animal_group.experiment.get_absolute_url}}">
      {{endpoint.animal_group.experiment}}</a><span class="divider">/</span></li>
    <li><a href="{{endpoint.animal_group.get_absolute_url}}">
      {{endpoint.animal_group}}</a><span class="divider">/</span></li>
    <li><a href="{{endpoint.get_absolute_url}}">
      {{endpoint}}</a><span class="divider">/</span></li>
  {% endif %}

  {% if crud == "Create" %}
    <li class="active">Create risk-of-bias override<span class="divider">/</span></li>
  {% elif crud == "Update" %}
    <li class="active">Update<span class="divider">/</span></li>
  {% endif %}

{% endblock breadcrumbs %}

{% block content %}

  {% crispy form %}

{% endblock content %}

{% block extrajs %}
  <script src="{{STATIC_URL}}wysihtml5/js/wysihtml5-0.3.0.min.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}wysihtml5/js/bootstrap-wysihtml5.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.html5text').wysihtml5({"stylesheets": false});
    });
  </script>
{% endblock extrajs %}
