{% extends 'portal.html' %}

{% load crispy_forms_tags %}

{% block title %}
  {{assessment}} | {{crud}} {% if crud == "Create" %}Study{% else %}{{object}}{% endif %} | HAWC
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' pk=assessment.pk %}">{{ assessment }}</a><span class="divider">/</span></li>
  {% if crud == "Update" %}
  <li><a href="{% url 'study:detail' object.pk %}">{{object}}</a><span class="divider">/</span></li>
  {% endif %}
  <li class="active"> {{ crud }} Study <span class="divider">/</span></li>
{% endblock %}

{% block content %}

  {% crispy form %}

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$(document).ready(function(){
    $('#id_summary').quillify();
});
</script>
{% endblock extrajs %}
