interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-api-key:
      - <omitted>
    method: GET
    uri: https://api-ccte.epa.gov/chemical/detail/search/by-dtxsid/DTXSID1020190
  response:
    body:
      string: "{\n  \"id\" : \"898183\",\n  \"inchikey\" : \"KHLVKKOJDHCJMG-UHFFFAOYSA-L\",\n
        \ \"wikipediaArticle\" : \"Indigo carmine\",\n  \"cpdataCount\" : 25,\n  \"dtxsid\"
        : \"DTXSID1020190\",\n  \"dtxcid\" : \"DTXCID801022742\",\n  \"casrn\" : \"860-22-0\",\n
        \ \"compoundId\" : 1022742,\n  \"genericSubstanceId\" : 20190,\n  \"preferredName\"
        : \"C.I. Acid Blue 74\",\n  \"activeAssays\" : 15,\n  \"molFormula\" : \"C16H8N2Na2O8S2\",\n
        \ \"monoisotopicMass\" : 465.95174613,\n  \"percentAssays\" : 4.0,\n  \"pubchemCount\"
        : 110,\n  \"pubmedCount\" : 836.0,\n  \"sourcesCount\" : 60,\n  \"qcLevel\"
        : 1,\n  \"qcLevelDesc\" : \"Level 1: Expert curated, highest confidence in
        accuracy and consistency of unique chemical identifiers\",\n  \"stereo\" :
        \"0\",\n  \"isotope\" : 0,\n  \"multicomponent\" : 1,\n  \"totalAssays\" :
        353,\n  \"toxcastSelect\" : \"15/353\",\n  \"pubchemCid\" : 2723854,\n  \"relatedSubstanceCount\"
        : null,\n  \"relatedStructureCount\" : null,\n  \"hasStructureImage\" : 1,\n
        \ \"iupacName\" : \"Disodium 3-oxo-2-(3-oxo-5-sulfonato-1,3-dihydro-2H-indol-2-ylidene)-2,3-dihydro-1H-indole-5-sulfonate\",\n
        \ \"smiles\" : \"[Na+].[Na+].[O-]S(=O)(=O)C1=CC=C2NC(C(=O)C2=C1)=C1NC2=CC=C(C=C2C1=O)S([O-])(=O)=O\",\n
        \ \"inchiString\" : \"InChI=1S/C16H10N2O8S2.2Na/c19-15-9-5-7(27(21,22)23)1-3-11(9)17-13(15)14-16(20)10-6-8(28(24,25)26)2-4-12(10)18-14;;/h1-6,17-18H,(H,21,22,23)(H,24,25,26);;/q;2*+1/p-2\\n\",\n
        \ \"averageMass\" : 466.35,\n  \"qcNotes\" : \"Record was reviewed with Common
        Chemistry.\\r\\n\",\n  \"qsarReadySmiles\" : \"OS(=O)(=O)C1=CC2=C(NC(C2=O)C2=NC3=C(C=C(C=C3)S(O)(=O)=O)C2=O)C=C1\",\n
        \ \"msReadySmiles\" : \"OS(=O)(=O)C1=CC2=C(NC(C2=O)C2=NC3=C(C=C(C=C3)S(O)(=O)=O)C2=O)C=C1\",\n
        \ \"irisLink\" : null,\n  \"pprtvLink\" : null,\n  \"descriptorStringTsv\"
        : \"0\\t1\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t1\\t0\\t1\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t1\\t0\\t1\\t1\\t1\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t1\\t0\\t0\\t0\\t0\\t0\\t1\\t0\\t1\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0\\t0[...]
