interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://comptox.epa.gov/dashboard-api/ccdapp2/chemical-detail/search/by-dsstoxsid?id=DTXSID1020190
  response:
    body:
      string: "{\n  \"createdDate\" : null,\n  \"lastModifiedDate\" : null,\n  \"createdBy\"
        : null,\n  \"dsstoxSubstanceId\" : \"DTXSID1020190\",\n  \"dsstoxCompoundId\"
        : \"DTXCID801022742\",\n  \"casrn\" : \"860-22-0\",\n  \"compoundId\" : 1022742,\n
        \ \"genericSubstanceId\" : 20190,\n  \"trireleaseIdentifier\" : null,\n  \"pubchemCid\"
        : 2723854,\n  \"preferredName\" : \"C.I. Acid Blue 74\",\n  \"acdIupacName\"
        : \"Disodium 3-oxo-2-(3-oxo-5-sulfonato-1,3-dihydro-2H-indol-2-ylidene)-2,3-dihydro-1H-indole-5-sulfonate\",\n
        \ \"wikipediaName\" : \"Indigo carmine\",\n  \"meshName\" : \"Indigo Carmine\",\n
        \ \"label\" : \"C.I. Acid Blue 74\",\n  \"inchiKeySkeleton\" : \"KHLVKKOJDHCJMG-UHFFFAOYSA-L\",\n
        \ \"inchiKey\" : \"KHLVKKOJDHCJMG-UHFFFAOYSA-L\",\n  \"inchiString\" : \"InChI=1S/C16H10N2O8S2.2Na/c19-15-9-5-7(27(21,22)23)1-3-11(9)17-13(15)14-16(20)10-6-8(28(24,25)26)2-4-12(10)18-14;;/h1-6,17-18H,(H,21,22,23)(H,24,25,26);;/q;2*+1/p-2\\n\",\n
        \ \"inchiSkeleton\" : \"KHLVKKOJDHCJMG-UHFFFAOYSA-L\",\n  \"mixtures\" : \"5\",\n
        \ \"msReadyMappings\" : [ {\n    \"dtxcid\" : \"DTXCID10196640\",\n    \"count\"
        : 4\n  } ],\n  \"similarCompounds\" : null,\n  \"tanimoto\" : null,\n  \"molFormula\"
        : \"C16H8N2Na2O8S2\",\n  \"smiles\" : \"[Na+].[Na+].[O-]S(=O)(=O)C1=CC=C2NC(C(=O)C2=C1)=C1NC2=CC=C(C=C2C1=O)S([O-])(=O)=O\",\n
        \ \"scrubchemLink\" : \"\\\"https://www.scrubchem.org/Home/Results?CIDs=2723854\\\"\",\n
        \ \"monoisotopicMass\" : 465.95174613,\n  \"molWeight\" : 466.35,\n  \"isMarkush\"
        : false,\n  \"irisLink\" : null,\n  \"citation\" : null,\n  \"qcLevel\" :
        1,\n  \"qcLevelDesc\" : \"Level 1: Expert curated, highest confidence in accuracy
        and consistency of unique chemical identifiers\",\n  \"qcNotes\" : \"Record
        was reviewed with Common Chemistry.\\r\\n\",\n  \"safetyUrl\" : \"https://pubchem.ncbi.nlm.nih.gov/compound/2723854#datasheet=LCSS&section=GHS-\",\n
        \ \"hasStructureImage\" : true,\n  \"relatedSubstanceCount\" : 1,\n  \"relatedStructureCount\"
        : null,\n  \"presenceInLists\" : [ {\n    \"label\" : \"Federal\",\n    \"name\"
        : \"federal\",\n    \"shortDescription\" : \"Lists defined by the US federal
        government\",\n    \"lists\" : [ {\n      \"label\" : \"CATEGORY|FOOD: Substances
        Added to Food (formerly EAFUS)\",\n      \"name\" : \"FDAFOODSUBS\",\n      \"shortDescription\"
        : \"The Substances Added to Food inventory replaces what was previously known
        as Everything Added to Foods in the United States (EAFUS).\"\n    }, {\n      \"label\"
        : \"CDR: Chemical Data Reporting 2016 \",\n      \"name\" : \"CDR2016\",\n
        \     \"shortDescription\" : \"Chemical Data Reporting (CDR) 2016 Use [...]
