{% extends 'portal.html' %}

{% block title %}
  {{assessment}} | {{assessment.get_rob_name_display}} reviewers | HAWC
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{{assessment.get_absolute_url}}">{{ assessment }}</a><span class="divider">/</span></li>
    <li><a href="{% url 'riskofbias:arob_detail' assessment.pk %}">{{assessment.get_rob_name_display}}</a><span class="divider">/</span></li>
    <li class="active">Reviewer assignments<span class="divider">/</span></li>
{% endblock breadcrumbs %}

{% block content %}

    {% if obj_perms.edit_assessment %}
    <div class="btn-group pull-right">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'riskofbias:arob_reviewers_update' assessment.pk %}">Update</a></li>
        </ul>
    </div>
    {% endif %}

    <h2>
        {{assessment.get_rob_name_display}} reviewer settings and assignment
    </h2>

    <p>
        <b>Independent reviews: </b>{{assessment.rob_settings.number_of_reviewers}}
    </p>

    <table class="table table-condensed table-striped">
        {% for study in object_list %}
        {% if forloop.first %}
        <thead>
            <th>
                Study
            </th>
            <th colspan="{{ rob_count }}">
                Reviewers
            </th>
        </thead>
        <tfoot>
            <tr>
                <td colspan="{{rob_count|add:1}}">
                    <p>
                    <i class="fa fa-check"></i> = completed review (a score and descriptive text are filled for all metrics).
                    <br>
                    <i class="fa fa-star"></i> = final review (score and descriptive text associated with study).
                    </p>
                </td>
            </tr>
        </tfoot>
        {% endif %}
        <tr>
            <td>
                <a href="{{ study.get_absolute_url }}">{{study}}</a>
            </td>
            {% if study.active_riskofbiases %}
                {% for rob in study.active_riskofbiases %}
                    {% if forloop.last and forloop.counter < rob_count %}
                        <td colspan="2">
                    {% else %}
                        <td>
                    {% endif %}
                    {{rob.author}}
                    {% if request.user == rob.author or obj_perms.edit_assessment %}
                        <a href="{{rob.get_edit_url}}">
                            <i title="Edit"
                               class="fa fa-pencil-square-o"
                               aria-hidden="true"></i></a>
                    {% endif %}
                    {% if rob.final %}
                        <i class="fa fa-star"></i>
                    {% endif %}
                    {% if rob.is_complete %}
                        <i class="fa fa-check"></i>
                    {% endif %}
                    </td>
                {% endfor %}
            {% else %}
            <td>
                No {{assessment.get_rob_name_display|lower}} assigned.
            </td>
            {% endif %}
        </tr>
        {% endfor %}

    </table>
{% endblock %}
