{% extends 'riskofbias/rob_detail.html' %}


{% block title %}
  {{assessment}} | {{object.study}} | All {{assessment.get_rob_name_display|lower}} reviews | HAWC
{% endblock %}

{% block breadcrumbs_self %}
  <li><a href="{% url 'riskofbias:rob_detail' object.pk %}">{{assessment.get_rob_name_display}}</a><span class="divider">/</span></li>
  <li class="active"> All reviews <span class="divider">/</span></li>
{% endblock %}

{% block content %}

  <h2>{{object}}: {{assessment.get_rob_name_display}} (all reviews)</h2>
  <div id="robTable"></div>

{% endblock %}

{% block extrajs %}
<script id="config" type="text/json" charset="utf-8">
    {
        "assessment_id": "{{ assessment.id }}",
        "study": {
            "id": "{{ object.study.pk }}",
            "url": "{% url 'study:api:study-list' %}"
        },
        "csrf": "{{ csrf_token }}",
        "host": "//{{request.get_host}}",
        "display": "all"
    }
</script>
<script type="text/javascript">
    $(document).ready(function(){
        window.app.riskofbiasStartup(function(riskofbias){
            riskofbias.TableStartup(document.getElementById('robTable'));
        })
    });
</script>
{% endblock extrajs %}
