{% extends 'portal.html' %}

{% block title %}
  {% include "hawc/siteTitle.html" with crumbs=object.get_final_rob.get_crumbs crud=crud %}
{% endblock title %}

{% block breadcrumbs %}
  {% include "hawc/breadcrumbs.html" with crumbs=object.get_final_rob.get_crumbs crud=crud %}
{% endblock %}

{% block content %}

  <h2>{{object}}: {{assessment.get_rob_name_display}} review
  {% if obj_perms.edit %}
      <div class="btn-group pull-right">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li class="disabled"><a tabindex="-1" href="#">{{assessment.get_rob_name_display}}</a></li>
          <li><a href="{% url 'riskofbias:rob_detail_all' object.pk %}">View all reviews</a></li>
      </div>
  {% endif %}
  </h2>

  <div id="robTable"></div>

{% endblock %}

{% block extrajs %}
<script id="config" type="text/json" charset="utf-8">
    {
        "assessment_id": "{{ assessment.id }}",
        "study": {
            "id": "{{ object.study.pk }}",
            "url": "{% url 'study:api:study-list' %}"
        },
        "csrf": "{{ csrf_token }}",
        "host": "//{{request.get_host}}",
        "display": "final"
    }
</script>
<script type="text/javascript">
$(document).ready(function(){
    window.app.riskofbiasStartup(function(riskofbias){
        riskofbias.TableStartup(document.getElementById('robTable'));
    })
});
</script>
{% endblock extrajs %}
