{% extends 'portal.html' %}

{% load add_class %}
{% load get_at_index %}
{% load crispy_forms_tags %}

{% block title %}
  {% include "hawc/siteTitle.html" with crumbs=object.get_crumbs crud=crud %}
{% endblock title %}

{% block breadcrumbs %}
  {% include "hawc/breadcrumbs.html" with crumbs=object.get_crumbs crud=crud %}
{% endblock %}

{% block content %}
    <h2>{{object}}</h2>
    {% if object.final and not object.study_reviews_complete %}
        <h4 class="alert alert-danger">All other {{assessment.get_rob_name_display|lower}} reviews for
            {{object.study}} must be complete in order to complete the final review.
        </h4>
    {% else %}
        <div id='robTable'></div>
    {% endif %}
{% endblock %}

{% block extrajs %}
  <script id="config" type="text/json" charset="utf-8">
      {
          "assessment_id": "{{ assessment.id }}",
          "study": {
              "id": "{{ object.study.pk }}",
              "url": "{% url 'study:api:study-list' %}"
          },
          "riskofbias": {
              "id": "{{ object.pk }}"  ,
              "url": "{% url 'riskofbias:api:review-list' %}"
          },
          "cancelUrl": "{{back_url}}",
          "csrf": "{{ csrf_token }}",
          "host": "//{{request.get_host}}",
          "isForm": true,
          "display": {% if object.final %} "final" {% else %} "all" {% endif %}
      }
  </script>
  <script type="text/javascript">
  $(document).ready(function(){
      window.app.riskofbiasStartup(function(riskofbias){
          riskofbias.TableStartup(document.getElementById('robTable'));
      })
  });
  </script>
{% endblock extrajs %}
