<table class="table table-sm table-striped"
       hx-target="this"
       id="design-table">
    <colgroup>
        <col style="width: 20%;">
        <col style="width: 80%;">
    </colgroup>
    <tbody>
        {% optional_table_row "Name" object.name %}
        {% optional_table_row "Design" object.get_design_display %}
        {% optional_table_row "Study" object.study %}
        {% optional_table_row "Study setting" object.study_setting %}
        {% optional_table_list_row "Countries" object.countries %}
        {% optional_table_list_row "States" object.states %}
        {% optional_table_list_row "Ecoregion(s)" object.ecoregions %}
        {% optional_table_list_row "Habitat(s)" object.habitats %}
        {% optional_table_row "Habitat (as reported)" object.habitats_as_reported %}
        {% optional_table_list_row "Climate" object.climates %}
        {% optional_table_row "Climate (as reported)" object.climates_as_reported %}
        {% optional_table_row "Created" object.created|date:"Y-m-d" %}
        {% optional_table_row "Last updated" object.last_updated|date:"Y-m-d" %}
    </tbody>
</table>
