{% load hastext %}
{% load hawc %}

<table class="table table-sm table-strioed" hx-target="this" id="design-table">
    <colgroup>
        <col style="width: 20%;">
        <col style="width: 80%;">
    </colgroup>
    <tbody>
        {% optional_table_row "Name" object.name %}
        {% optional_table_row "Design" object.get_design_display %}
        {% optional_table_row "Study" object.study %}
        {% optional_table_row "Study setting" object.study_setting %}
        <tr>
            <th>Countries</th>
            <td>{% for object in object.countries.all %}
                <span class="badge badge-secondary">{{object.name}}</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>State(s)</th>
            <td>{% for object in object.states.all %}
                <span class="badge badge-secondary">{{object.name}}</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Ecoregion(s)</th>
            <td>{% for object in object.ecoregions.all %}
                <span class="badge badge-secondary">{{object}}</span>
                {% endfor %}
            </td>
        </tr>
        {% optional_table_row "Habitat" object.habitat %}
        {% if object.habitat_as_reported|hastext %}
        <tr>
            <th>Habitat as reported</th>
            <td>{{object.habitat_as_reported|safe}}</td>
        </tr>
        {% endif %}
        <tr>
            <th>Climate</th>
            <td>{% for object in object.climates.all %}
                <span class="badge badge-secondary">{{object}}</span>
                {% endfor %}
            </td>
        </tr>
        {% if object.climate_as_reported|hastext %}
        <tr>
            <th>Climate as reported</th>
            <td>{{object.climate_as_reported|safe}}</td>
        </tr>
        {% endif %}
        {% optional_table_row "Created" object.created|date:"Y-m-d" %}
        {% optional_table_row "Last updated" object.last_updated|date:"Y-m-d" %}
    </tbody>
</table>
