<tr hx-target="this"
    hx-swap="outerHTML swap:0s"
    id="{{ model }}-empty-row">

  {% if form %}
    <td colspan="100%">
      <form method="post"
            class="border my-2 p-2 pb-5 edit-form-background form-{{ model }}">
        <div class="d-flex justify-content-end">

          {% include "common/scientific_pulldown.html" %}

        </div>
        {% crispy form %}
        <div class="form-row float-right">

          {% if form.instance.id %}
            <button id="{{ model }}-save"
                    class="btn btn-sm btn-primary"
                    hx-post="{% crud_url 'eco' model 'update' object.pk %}">Save</button>
            <button id="{{ model }}-cancel"
                    class="btn btn-sm btn-light"
                    hx-get="{% crud_url 'eco' model 'detail' object.pk %}">
              <i class="fa fa-fw fa-times mr-1"></i>
              Cancel
            </button>
          {% else %}
            <button id="{{ model }}-save"
                    class="btn btn-sm btn-primary"
                    hx-post="{% crud_url 'eco' model 'create' parent.pk %}">Save</button>
            <button id="{{ model }}-cancel"
                    class="btn btn-sm btn-light"
                    type='button'
                    onclick="this.parentNode.parentNode.parentNode.setAttribute('style', 'display: none')">
              <i class="fa fa-fw fa-times mr-1"></i>
              Cancel
            </button>
          {% endif %}

        </div>
      </form>
    </td>
  {% endif %}

</tr>
