<table class="table table-condensed table-striped">
  <colgroup>
    <col style="width: 30%;">
    <col style="width: 70%;">
  </colgroup>
  <tbody>
    <tr>
        <th>Known Exposure Routes</th><td>
        <table>
            <tbody>
                <tr>
                    <th>Inhalation</th>
                    <th>Dermal</th>
                    <th>Oral</th>
                    <th>In Utero</th>
                    <th>IV</th>
                    <th>Unknown Route</th>
                </tr>
                <tr>
                    <td style="text-align:center"><span class="lead">{% if object.inhalation %}☑{% else %}☒{% endif%}</span></td>
                    <td style="text-align:center"><span class="lead">{% if object.dermal %}☑{% else %}☒{% endif%}</span></td>
                    <td style="text-align:center"><span class="lead">{% if object.oral %}☑{% else %}☒{% endif%}</span></td>
                    <td style="text-align:center"><span class="lead">{% if object.in_utero %}☑{% else %}☒{% endif%}</span></td>
                    <td style="text-align:center"><span class="lead">{% if object.iv %}☑{% else %}☒{% endif%}</span></td>
                    <td style="text-align:center"><span class="lead">{% if object.unknown_route %}☑{% else %}☒{% endif%}</span></td>
                </tr>
            </tbody>
        </table>
    </tr>
    <tr><th>Measurement Metric</th><td>{{object.metric}} ({{object.metric_units}})</td></tr>
    <tr><th>Measurement Description</th><td>{{object.metric_description}}</td></tr>
    <tr><th>Analytical Method</th><td>{{object.analytical_method}}</td></tr>
    {% if object.exposure_description %}
        <tr><th>Exposure description</th><td>{{object.exposure_description}}</td></tr>
    {% endif %}
    {% if object.control_description %}
        <tr><th>Control Description</th><td>{{object.control_description}}</td></tr>
    {% endif %}
  </tbody>
</table>

{% with egs=object.groups.all %}
{% if egs.count > 0 %}

<h2>Exposure Groups:</h2>

<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>Group Name</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        {% for eg in egs %}
        <tr>
            <td>{{eg}}</td>
            <td>
                <ul>
                    {% if eg.comparative_name %} <li><b>Comparative name: </b>{{eg.comparative_name}}</li> {% endif %}
                    {% if eg.exposure_n %}       <li><b>Exposure N: </b>{{eg.exposure_n}}</li> {% endif %}
                    {% if eg.sex %}              <li><b>Sex: </b>{{eg.get_sex_display}}</li> {% endif %}
                    {% if eg.ethnicity.count > 0 %} <li><b>Ethnicity: </b>{{eg.get_ethnicity_list}}</li> {% endif %}

                    {% if eg.fraction_male %}
                        <li><b>Fraction male: </b>
                        {% if eg.fraction_male_calculated %}[{{eg.fraction_male}}]
                        {% else %}{{eg.fraction_male}}{% endif %}</li>
                    {% endif %}

                    {% if eg.age_description %}  <li><b>Age description: </b>{{eg.age_description}}</li> {% endif %}

                    {% if eg.age_mean %}
                        <li><b>Age {{eg.get_age_mean_type_display}}: </b>
                        {% if eg.age_calculated %}[{{eg.age_mean}}]
                        {% else %}{{eg.age_mean}}{% endif %} yrs</li>
                    {% endif %}

                    {% if eg.age_sd %}
                        <li><b>Age {{eg.get_age_sd_type_display}}: </b>
                        {% if eg.age_calculated %}[{{eg.age_sd}}]
                        {% else %}{{eg.age_sd}}{% endif %} yrs</li>
                    {% endif %}

                    {% if eg.age_lower %}
                        <li><b>Age {{eg.get_age_lower_type_display}}: </b>
                        {% if eg.age_calculated %}[{{eg.age_lower}}]
                        {% else %}{{eg.age_lower}}{% endif %} yrs</li>
                    {% endif %}

                    {% if eg.age_upper %}
                        <li><b>Age {{eg.get_age_upper_type_display}}: </b>
                        {% if eg.age_calculated %}[{{eg.age_upper}}]
                        {% else %}{{eg.age_upper}}{% endif %} yrs</li>
                    {% endif %}

                    {% if eg.n %}                <li><b>N: </b>{{eg.n}}</li> {% endif %}
                    {% if eg.starting_n %}       <li><b>Starting N: </b>{{eg.starting_n}}</li> {% endif %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endif %}
{% endwith %}
