{% extends 'portal.html' %}

{% load add_class %}
{% load selectable_tags %}

{% block title %}
  {{assessment}} |
  {% if crud == "Create" %}
    {{object.study_population.study}} | {{object.study_population}} | {{object}} | Create Assessed Outcome
  {% elif crud == "Update" %}
    {{object.exposure.study_population.study}} | {{object.exposure.study_population}} | {{object.exposure}} | Update {{object}}
  {% endif %}
{% endblock title %}

{% block extrastyle %}
  {% include_ui_theme %}
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' pk=assessment.pk %}">{{assessment}}</a><span class="divider">/</span></li>
  {% if crud == "Create" %}
    <li><a href="{{object.study_population.study.get_absolute_url}}">{{object.study_population.study}}</a><span class="divider">/</span></li>
    <li><a href="{{object.study_population.get_absolute_url}}">{{object.study_population|truncatechars:40}}</a><span class="divider">/</span></li>
    <li><a href="{{object.get_absolute_url}}">{{object}}</a><span class="divider">/</span></li>
    <li class="active">Create Asessed Outcome</li>
  {% elif crud == "Update" %}
    <li><a href="{{object.exposure.study_population.study.get_absolute_url}}">{{object.exposure.study_population.study}}</a><span class="divider">/</span></li>
    <li><a href="{{object.exposure.study_population.get_absolute_url}}">{{object.exposure.study_population|truncatechars:40}}</a><span class="divider">/</span></li>
    <li><a href="{{object.exposure.get_absolute_url}}">{{object.exposure}}</a><span class="divider">/</span></li>
    <li><a href="{{object.get_absolute_url}}">{{object}}</a><span class="divider">/</span></li>
    <li class="active">Update</li>
  {% endif %}
{% endblock %}

{% block content %}
  <form class="form-horizontal" action="." method="post">

    {% csrf_token %}

    <div class='row-fluid'>
      <fieldset>
        {# Assessed Outcome Form #}
        {% if crud == "Create" %}
          <legend>Create new assessed outcome</legend>
          <span class="help-block">Create a new assessed outcome. An assessed
            outcome is an response measured in an epidemiological study,
            associated with an exposure-metric. The overall assessed outcome is
            described, and then quantitative differences in response based on
            different exposure-metric groups is detailed below.</span><br>
        {% elif crud == "Update" %}
          <legend>Update {{ object }} </legend>
          <span class="help-block">Update an existing assessed outcome.</span><br>
        {% endif %}

        {{ form.non_field_errors|add_class:"alert alert-error" }}

        {% for field in form %}
          <div class="control-group form-row">
            {{field.label_tag|add_class:"control-label"}}
            <div class="controls">
              {% if field.label == "Adjustment factors" or field.label == "Adjustment factors considered" %}
                <div class="row-fluid">
                  <div class="span11">
                    {{field}}
                  </div>
                  <div class="span1">
                    <a class ='btn btn-primary'href="{% url 'epi:factor_create' assessment.pk %}"onclick="return HAWCUtils.newWindowPopupLink(this);" title="Add new adjustment factor">+</a>
                  </div>
                </div>
              {% elif field.label == "Effects" %}
                <div class="row-fluid">
                  <div class="span11">
                    {{field}}
                  </div>
                  <div class="span1">
                    <a class ='btn btn-primary'href="{% url 'assessment:effect_tag_create' assessment.pk %}"onclick="return HAWCUtils.newWindowPopupLink(this);" title="Add new effect tag">+</a>
                  </div>
                </div>
              {% else %}
                {{field}}
              {% endif %}
              <span class='help-inline'>{{field.help_text}}</span>
            </div>
            {{field.errors|add_class:"alert alert-error"}}
          </div>
        {% endfor %}
      </fieldset>
    </div>

    {# Assessed Outcome Groups formset #}
    <legend>Assessed Outcome Groups</legend>
    <span class="help-block">Response data for each individual assessed outcome (hover over headers for more details).</span><br>

    {% include "hawc/_formset_table_template.html" with showDeleteRow=False %}

    {# Submission area #}
    <div class="row-fluid">
      <div class="form-actions">
        <button id='submit_form' type="submit" class="btn btn-primary">{{ crud }} assessed outcome</button>
        {% if crud == "Create" %}
          <a href='{% url "epi:exposure_detail" object.pk %}' class="btn">Cancel</a>
        {% elif crud = "Update" %}
          <a href="{% url 'epi:assessedoutcome_detail' object.pk %}" class="btn">Cancel</a>
        {% endif %}
      </div>
    </div>
  </form>
{% endblock %}

{% block extrajs %}
  {{ form.media }}
  <script type="text/javascript">
    $(document).ready(function(){

      // don't display unrelated exposure-groups
      $('.eg_fields option:not(:selected)').remove();

      // add selected adjustment-factors to confounders-considered list
      $('#id_adjustment_factors_0').on('djselectableadd', function(e,v){
        var item = $(v.input),
            confounders_dj = $('#id_confounders_considered_0').djselectable().data().uiDjselectable;
        confounders_dj.select({id:item.attr('value'), value:item.attr('title')})
      });

      // toggle if main-finding support field is shown
      var toggleMainFindingSupportVisibility = function(){
        var val = $("#id_main_finding").val(),
            support = $("#id_main_finding_support"),
            support_div = support.parent().parent();
        if (val){
          support_div.fadeIn()
        } else {
          support_div.fadeOut();
          support.val("1");  // make inconclusive
        }
      };
      $('#id_main_finding').on('change', toggleMainFindingSupportVisibility);
      toggleMainFindingSupportVisibility();

    });
  </script>
{% endblock extrajs %}
