{% extends 'portal.html' %}

{% load selectable_tags %}
{% load crispy_forms_tags %}

{% block title %}
  {{assessment}} |
  {% if crud == "Create" %}
    {{object.study_population.study}} | {{object.study_population}} | {{object}} | Create Assessed Outcome
  {% elif crud == "Update" %}
    {{object.exposure.study_population.study}} | {{object.exposure.study_population}} | {{object.exposure}} | Update {{object}}
  {% endif %}
{% endblock title %}

{% block extrastyle %}
  {% include_ui_theme %}
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' pk=assessment.pk %}">{{assessment}}</a><span class="divider">/</span></li>
  {% if crud == "Create" %}
    <li><a href="{{object.study_population.study.get_absolute_url}}">{{object.study_population.study}}</a><span class="divider">/</span></li>
    <li><a href="{{object.study_population.get_absolute_url}}">{{object.study_population|truncatechars:40}}</a><span class="divider">/</span></li>
    <li><a href="{{object.get_absolute_url}}">{{object}}</a><span class="divider">/</span></li>
    <li class="active">Create Asessed Outcome</li>
  {% elif crud == "Update" %}
    <li><a href="{{object.exposure.study_population.study.get_absolute_url}}">{{object.exposure.study_population.study}}</a><span class="divider">/</span></li>
    <li><a href="{{object.exposure.study_population.get_absolute_url}}">{{object.exposure.study_population|truncatechars:40}}</a><span class="divider">/</span></li>
    <li><a href="{{object.exposure.get_absolute_url}}">{{object.exposure}}</a><span class="divider">/</span></li>
    <li><a href="{{object.get_absolute_url}}">{{object}}</a><span class="divider">/</span></li>
    <li class="active">Update</li>
  {% endif %}
{% endblock %}

{% block content %}

  <div id="aoForm">
    {% crispy form %}
  </div>

  <div id="aogFormset">
    <legend>Assessed Outcome Groups</legend>
    <p class="help-block">
      Response data for each individual assessed outcome
      (hover over headers for more details).
    </p>
    {% include "hawc/_formset_table_template.html" with showDeleteRow=False %}
  </div>

{% endblock %}

{% block extrajs %}
  {{ form.media }}
  <script type="text/javascript">
    $(document).ready(function(){

      $('#aogFormset').insertBefore($('#aoForm .form-actions'));
      $('.addEffectTags').insertAfter($('#id_effects_0'));
      $('.addAdj').insertAfter($('#id_adjustment_factors_0'));
      $('.addAdjCons').insertAfter($('#id_confounders_considered_0'));

      // don't display unrelated exposure-groups
      $('.eg_fields option:not(:selected)').remove();

      // add selected adjustment-factors to confounders-considered list
      $('#id_adjustment_factors_0').on('djselectableadd', function(e,v){
        var item = $(v.input),
            confounders_dj = $('#id_confounders_considered_0').djselectable().data().uiDjselectable;
        confounders_dj.select({id:item.attr('value'), value:item.attr('title')})
      });

      // toggle if main-finding support field is shown
      var toggleMainFindingSupportVisibility = function(){
        var val = $("#id_main_finding").val(),
            support = $("#id_main_finding_support"),
            support_div = support.parent().parent();
        if (val){
          support_div.fadeIn()
        } else {
          support_div.fadeOut();
          support.val("1");  // make inconclusive
        }
      };
      $('#id_main_finding').on('change', toggleMainFindingSupportVisibility);
      toggleMainFindingSupportVisibility();

    });
  </script>
{% endblock extrajs %}
