{% extends 'portal.html' %}


{% block title %}{{assessment}} | {{object.exposure.study_population.study}} | {{object.exposure.study_population}} | {{object.exposure}} | {{object}} {% endblock title %}

{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' pk=assessment.pk %}">{{assessment}}</a><span class="divider">/</span></li>
  <li><a href="{{object.exposure.study_population.study.get_absolute_url}}">{{object.exposure.study_population.study}}</a><span class="divider">/</span></li>
  <li><a href="{{object.exposure.study_population.get_absolute_url}}">{{object.exposure.study_population|truncatechars:40}}</a><span class="divider">/</span></li>
  <li><a href="{{object.exposure.get_absolute_url}}">{{object.exposure}}</a><span class="divider">/</span></li>
  {% block breadcrumbs_self %}
    <li class="active">{{object}}<span class="divider">/</span></li>
  {% endblock breadcrumbs_self %}
{% endblock %}

{% block content %}

  <h1>{{object}}
    {% if obj_perms.edit and crud == "Read" %}
      <div class="btn-group pull-right">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li class="disabled"><a tabindex="-1" href="#">Assessment Outcome Editing</a></li>
            <li><a href="{% url 'epi:assessedoutcome_update' object.pk %}">Update</a></li>
            <li><a href="{% url 'epi:assessedoutcome_delete' pk=object.pk %}">Delete</a></li>
            <li><a href="{% url 'epi:assessedoutcome_versions' object.pk %}">View prior versions</a></li>
        </ul>
      </div>
    {% endif %}
  </h1>

  <h2>Assessed outcome description</h2>
  <div id="ao_tbl"></div>

  <h2>Results by exposure-group</h2>
  <div id="aog_tbl"></div>
  <div id='aog_plot'></div>
  <!-- Add some extra space below plot -->
  <br><br><br><br>
{% endblock %}

{% block extrajs %}
  <script src="{{STATIC_URL}}epi/js/models.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      window.ao = new AssessedOutcome({{object.get_json|safe}});
      ao.build_ao_table($('#ao_tbl'));
      ao.build_aog_table($('#aog_tbl'));
      ao.build_forest_plot($('#aog_plot'));
    });
  </script>
{% endblock %}
