{% extends 'epi/studypopulation_detail.html' %}

{% block title %}
  {{ block.super }} | Delete
{% endblock title %}

{% block breadcrumbs_self %}
  <li><a href="{{object.get_absolute_url}}">{{object|truncatechars:40}}</a><span class="divider">/</span></li>
  <li class="active">Delete<span class="divider">/</span></li>
{% endblock breadcrumbs_self %}

{% block content %}
  {{ block.super }}
  {% include "hawc/_delete_block.html" with name="study population" notes="This will remove all exposures and assessed outcomes related to this population." %}
{% endblock content %}
