{% extends 'study/study_detail.html' %}


{% load add_class %}
{% load selectable_tags %}

{% block title %}
  {{block.super}} | Copy Study Population
{% endblock title %}

{% block extrastyle %}
  {% include_ui_theme %}
{% endblock %}

{% block breadcrumbs_self %}
    <li><a href="{{object.get_absolute_url}}">{{object}}</a><span class="divider">/</span></li>
    <li class="active">Copy study population<span class="divider">/</span></li>
{% endblock breadcrumbs_self %}

{% block content %}

  {% include "hawc/_copy_as_new.html" with name="study population" notes="Select an existing study population as a template to create a new one." %}

{% endblock content %}

{% block extrajs %}
  {% include_jquery_libs %}
  {{ form.media }}
  <script type="text/javascript">
    $(document).ready(function(){

      new HAWCUtils.InitialForm({
        "form": $('form'),
        "related": "{{object.pk}}",
        "base_url": "{% url 'epi:sp_create' object.pk %}"
      });

    });
  </script>
{% endblock extrajs %}

