{% extends 'base.html' %}

{% load add_class %}
{% load selectable_tags %}

{% block title %}{{assessment}} | {{ crud }} Study Criteria {% endblock title %}

{% block extrastyle %}
  {% include_ui_theme %}
{% endblock %}

{% block main_content %}

<form class="form-horizontal" action="." method="post">

    {% csrf_token %}

    <div class='row-fluid'>
      <fieldset>
        <legend>Create new study criteria</legend>
        <span class="help-block">Create a epidemiology study criteria. Study criteria can be applied to study populations as inclusion criteria, exclusion criteria, or confounding criteria. They are assessment-specific. Please take care not to duplicate existing factors.</span><br>

        {{ form.non_field_errors|add_class:"alert alert-error" }}

        {% for field in form %}
          <div class="control-group form-row">
            {{field.label_tag|add_class:"control-label"}}
            <div class="controls">
              {{field}}
              <span class='help-inline'>{{field.help_text}}</span>
            </div>
            {{field.errors|add_class:"alert alert-error"}}
          </div>
        {% endfor %}
      </fieldset>
    </div>
    <div class="row-fluid">
      <div class="form-actions">
        <button id='submit_form' type="submit" class="btn btn-primary">{{ crud }} criteria</button>
      </div>
    </div>
  </form>

{% endblock main_content %}

{% block extrajs %}
  {{ form.media }}
  <script type="text/javascript">
    $(document).ready(function(){
      var assessment = function(qry){qry.assessment = {{assessment.pk}};}
      $('#id_description').djselectable('option', 'prepareQuery', assessment);
    });
  </script>
{% endblock extrajs %}
