<div
    {% if obj_perms.edit_assessment or permissions.edit_assessment %}    
    hx-get="{{ object.get_edit_url }}" class="box-shadow p-3 rounded mb-4 clickable"
    title="Click to update" hx-swap="outerHTML"
    {% else %}
    class="box-shadow p-3 rounded mb-4" 
    {% endif %}
    style="width: fit-content;">
    <div class="d-flex">
        <h4>{{object.title}} Workflow</h4>
        <div class="ml-auto align-self-start">
        {% if object.link_tagging %}
            <span class="outline-btn ml-2 rounded btn-tny bg-white"><i class="fa fa-link" aria-hidden="true"></i>&nbsp; Conflict Resolution linked on Literature Review</span>
        {% endif %}
        {% if object.link_conflict_resolution %}
        <span class="outline-btn ml-2 rounded btn-tny bg-white"><i class="fa fa-link" aria-hidden="true"></i>&nbsp; Tagging linked on Literature Review</span>
        {% endif %}
        </div>
    </div>
    <div class="d-flex">
        <div class="border-right border-secondary px-4">
            <p class="text-center mb-2">Admission Criteria</p>
            <div class="d-flex flex-wrap justify-content-center">
                {% if object.admission_tags.exists %}
                    <span class="bg-gray rounded p-2 m-1 flex-shrink-0">Tagged with 
                        {% for tag in object.admission_tags.all %}
                            <span class="refTag px-1 py-0 my-0 mx-1">{{tag}}</span>
                        {% endfor %}
                        {% if object.admission_tags_descendants %}
                            or descendant tag
                        {% endif %}
                    </span>
                {% endif %}
                {% if object.admission_source.exists %}
                    <span class="bg-gray rounded p-2 m-1 flex-shrink-0">Sourced from 
                        {% for source in object.admission_source.all %}
                            <span class="outline-btn bg-white rounded"><i class="fa fa-cloud-download"></i>&nbsp;{{source}}</span>
                        {% endfor %}
                    </span>
                {% endif %}
                {% if not object.admission_tags.exists and not object.admission_source.exists %}
                <span class="alert alert-warning text-center"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp; No admission criteria selected. <b>All references will be admitted to this workflow.</b></span>
                {% endif %}
            </div>
        </div>
        <div class="border-left border-secondary px-4">
            <p class="text-center mb-2">Removal Criteria</p>
            <div class="d-flex flex-wrap justify-content-center">
                {% if object.removal_tags.exists %}
                    <span class="bg-gray rounded p-2 m-1 flex-shrink-0">Tagged with 
                        {% for tag in object.removal_tags.all %}
                            <span class="refTag px-1 py-0 my-0 mx-1">{{tag}}</span>
                        {% endfor %}
                        {% if object.removal_tags_descendants %}
                            or descendant tag
                        {% endif %}
                    </span>
                {% endif %}
                {% if object.removal_source.exists %}
                    <span class="bg-gray rounded p-2 m-1 flex-shrink-0">Sourced from 
                        {% for source in object.removal_source.all %}
                            <span class="outline-btn bg-white rounded m-1"><i class="fa fa-cloud-download"></i>&nbsp;{{source}}</span>
                        {% endfor %}
                    </span>
                {% endif %}
                {% if not object.removal_tags.exists and not object.removal_source.exists %}
                <span class="alert alert-danger text-center"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp; No removal criteria selected. <b>No references will be in this workflow.</b></span>
                {% endif %}
            </div>
        </div>
    </div>
    {% if action == 'delete' %}
        <form class="alert alert-danger">
            {% csrf_token %}
            <i class="fa fa-fw fa-exclamation-triangle"></i>&nbsp;Are you sure you want to delete?
            <div class="d-flex">
                <button class="btn btn-sm btn-danger"
                    hx-post="{{ object.get_delete_url }}"
                    hx-swap="outerHTML swap:1s"><i class="fa fa-trash"></i>&nbsp;Delete</button>
                <button class="btn btn-sm btn-light ml-2"
                    hx-get="{{ object.get_absolute_url }}">Cancel</button>
            </div>
        </form>
    {% endif %}
</div>
