{% load crispy_forms_tags %}

<div id="smartTagModal" class="modal hide fade">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Insert HAWC Smart-tag</h3>
    </div>

    <div class="modal-body">
        <div id="smartTagForm">{% crispy form %}</div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary smartTagSave" >Insert</button>
        <button type="button" data-dismiss="modal" aria-hidden="true" class="btn" >Cancel</button>
    </div>

</div>
