{% extends 'portal.html' %}

{% load crispy_forms_tags %}
{% load add_class %}

{% block title %}
  {{assessment}} | {{crud}} Data Pivot | HAWC
{% endblock %}

{% block extrastyle %}
  <link href="{{STATIC_URL}}wysihtml5/css/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{{assessment.get_absolute_url}}">{{assessment}}</a><span class="divider">/</span></li>
  <li><a href="{% url 'summary:visualization_list' assessment.id %}">Visualizations</a><span class="divider">/</span></li>
  {% if crud == "Update" %}
    <li><a href="{{object.get_absolute_url}}">{{object}}</a><span class="divider">/</span></li>
  {% endif %}
  <li class="active">{{crud}}<span class="divider">/</span></li>
{% endblock %}

{% block content %}
    {% crispy form %}
{% endblock %}

{% block extrajs %}
  <script src="{{STATIC_URL}}admin/js/urlify.js" type="text/javascript" ></script>
  <script src="{{STATIC_URL}}wysihtml5/js/wysihtml5-0.3.0.min.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}wysihtml5/js/bootstrap-wysihtml5.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(document).ready(function(){

      {% if crud == "Create" %}
        $('#id_title').on('keyup', function(){
          $('#id_slug').val(URLify($(this).val(), 50));
        });
      {% endif %}

      $('#id_caption').wysihtml5({"stylesheets": false});

      // determine which fields to display depending on data-type
      $('#id_evidence_type').on('change', function(){
        var aniOnlyDivs = $([
            "#div_id_units",
            "#div_id_prefilter_system",
            "#div_id_systems",
            "#div_id_prefilter_effect",
            "div_id_effects"
        ].join(","));
        ($('#id_evidence_type').val() === "0") ? aniOnlyDivs.show() : aniOnlyDivs.hide();
      }).trigger('change');

      // only show prefilters options if relevant
      $('#id_prefilter_system').on('change', function(){
          var sys = $('#div_id_systems');
          ($(this).prop('checked')) ? sys.show(1000) : sys.hide(0);
      }).trigger('change');

      $('#id_prefilter_effect').on('change', function(){
          var sys = $('#div_id_effects');
          ($(this).prop('checked')) ? sys.show(1000) : sys.hide(0);
      }).trigger('change');

    })

  </script>
{% endblock extrajs %}
