{% extends 'portal.html' %}

{% block breadcrumbs %}
{% endblock breadcrumbs %}

{% block main_content %}

<div class="container">

  <h3>Saving Unicode exports in Excel</h3>

  <p>
  Special Unicode characters such as ♂ or ♀ are allowed to be used throughout HAWC, including data visualizations. However, when importing data from existing spreadsheets, the input file must be saved in a compatible format to display these characters. When using Excel, a spreadsheet with data for export could be structured in the following way:
  </p>

  <div class="row">
       <div class="span8 offset2">
           <img src="{{STATIC_URL}}summary/img/unicode_xlsx.png">
           <div class="well">
            <p class="help-block">
            <b>Excel File Example,</b> with Unicode characters for sex specification.</p>
           </div>
       </div>
  </div>

  <p>To export for HAWC, in the Save-As dialog, select "Unicode Text":</p>

  <div class="row">
       <div class="span8 offset2">
           <img src="{{STATIC_URL}}summary/img/save_as_unicode.png">
           <div class="well">
            <p class="help-block">
            <b>Excel 2010 Save As Dialog Box.</b> Select the "Unicode Text" option for exporting data for use in HAWC.</p>
           </div>
       </div>
  </div>

  <p>The data can now be imported for use in HAWC.</p>

</div>

{% endblock %}
