{% extends 'portal.html' %}

{% load crispy_forms_tags %}
{% load add_class %}
{% load selectable_tags %}

{% block title %}
  {{assessment}} | {{crud}} Data Pivot | HAWC
{% endblock %}

{% block extrastyle %}
  <link href="{{STATIC_URL}}wysihtml5/css/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{{assessment.get_absolute_url}}">{{assessment}}</a><span class="divider">/</span></li>
  <li><a href="{% url 'summary:visualization_list' assessment.id %}">Visualizations</a><span class="divider">/</span></li>
  {% if crud == "Update" %}
    <li><a href="{{object.get_absolute_url}}">{{object}}</a><span class="divider">/</span></li>
  {% endif %}
  <li class="active">{{crud}}<span class="divider">/</span></li>
{% endblock %}

{% block content %}

  {% crispy form %}
  {% include "summary/_smartTagEditModal.html" with form=smart_tag_form only %}

{% endblock %}

{% block extrajs %}
  {{ smart_tag_form.media }}
  <script src="{{STATIC_URL}}admin/js/urlify.js" type="text/javascript" ></script>
  <script src="{{STATIC_URL}}wysihtml5/js/wysihtml5-0.3.0.min.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}wysihtml5/js/bootstrap-wysihtml5.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}summary/js/smart_tags_edit.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(document).ready(function(){

      {% if crud == "Create" %}
        $('#id_title').on('keyup', function(){
          $('#id_slug').val(URLify($(this).val(), 50));
        });
      {% endif %}

      new SmartTagEditor($('#id_caption'), {submitEl: '#dataPivotForm'});

      var togglePrefilterSelectorVisibility = function(d){
         var fields = [
            ["study", "studies"],
            ["system", "systems"],
            ["organ", "organs"],
            ["effect", "effects"],
            ["iv_category", "iv_categories"],
            ["effect_tag", "effect_tags"],
        ];
        _.each(fields, function(d){
            $('#id_prefilter_{0}'.printf(d[0])).on('change', function(){
                var div = $('#div_id_{0}'.printf(d[1]));
                ($(this).prop('checked')) ? div.show(1000) : div.hide(0);
            }).trigger('change');
        });
      }

      // determine which fields to display depending on data-type
      $('#id_evidence_type').on('change', function(){
        var aniOnlyDivs = $([
              "#div_id_units",
              "#div_id_prefilter_system",
              "#div_id_systems",
              "#div_id_prefilter_organ",
              "#div_id_organs",
              "#div_id_prefilter_effect",
              "#div_id_effects"
          ].join(",")),
          ivOnlyDivs = $([
              "#div_id_prefilter_iv_category",
              "#div_id_iv_categories",
          ].join(","));

        ($('#id_evidence_type').val() === "0") ? aniOnlyDivs.show() : aniOnlyDivs.hide();
        ($('#id_evidence_type').val() === "2") ? ivOnlyDivs.show() : ivOnlyDivs.hide();
        togglePrefilterSelectorVisibility();
      }).trigger('change');

      togglePrefilterSelectorVisibility();

    });
  </script>
{% endblock extrajs %}
