{% extends 'portal.html' %}
{% load render_bundle from webpack_loader %}


{% block title %}{{assessment}} | Endpoints | HAWC {% endblock title %}

{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' pk=assessment.id %}">{{ assessment }}</a><span class="divider">/</span></li>
    <li><a href="{% url 'summary:visualization_list' assessment.pk %}">Visualizations</a><span class="divider">/</span></li>
  <li class="active">Bias filtering<span class="divider">/</span></li>
{% endblock %}

{% block content %}
    <div id="rootRobFilter"></div>
{% endblock %}

{% block extrajs %}
<script id="config" type="text/json" charset="utf-8">
    {
        "assessment_id": "{{assessment.id}}",
        "study_score_url": "{% url 'study:api:study-rob-scores' %}?assessment_id={{assessment.id}}",
        "endpoint_effect_url": "{% url 'animal:api:endpoint-effects' %}?assessment_id={{assessment.id}}",
        "endpoint_filter_url": "{% url 'animal:api:endpoint-rob-filter' %}?assessment_id={{assessment.id}}",
        "csrf": "{{ csrf_token }}"
    }
</script>
{% render_bundle 'main' %}

{% endblock extrajs %}
