{% extends 'base.html' %}

{% load url from future %}

{% block title %}
  {{assessment}} | Summaries | HAWC
{% endblock %}

{% block bodyattrs %}
  class="fill" data-spy="scroll" data-target="#sidebar" data-offset="40"
{% endblock %}

{% block branding %}
  <a class="brand" href="{% url 'portal' %}">HAWC</a>
{% endblock %}

{% block topnavbar %}
  <div class="btn-group pull-right">
    {% if user.is_anonymous %}
      <a href="{% url 'user:login' %}" class="btn btn-inverse">Login</a>
    {% else %}
      <button href="#" class=" btn btn-inverse dropdown-toggle" data-toggle="dropdown">Settings <i class="icon-cog icon-white"></i></button>
      <ul class="dropdown-menu">
        <li><a href="{% url 'portal' %}">Portal</a></li>
        <li><a href="{% url 'user:settings' %}">Settings</a></li>
        {% if user.is_staff %}
          <li class="divider"></li>
          <li><a href="{%url 'admin:index' %}">Admin</a></li>
          {% if user.is_superuser %}
           <li><a href="{% url 'assessment:full_list' %}">Superuser assessments list</a></li>
          {% endif %}
        {% endif %}
        <li class="divider"></li>
        <li><a href="{% url 'user:logout' %}">Logout</a></li>
      </ul>
   {% endif %}
  </div>
{% endblock %}

{% block main_content %}
  <div class="row-fluid">
    <ul class="breadcrumb">
      {% if user.is_authenticated %}
        <li class="active"><a href="{% url 'portal' %}">Home</a><span class="divider">/</span></li>
      {% else %}
        <li class="active"><a href="{% url 'assessment:public_list' %}">Public Assessments</a><span class="divider">/</span></li>
      {% endif %}

      {% block breadcrumbs %}
        <li><a href="{{assessment.get_absolute_url}}">{{assessment}}</a><span class="divider">/</span></li>
        <li class="active">Summary<span class="divider">/</span></li>
      {% endblock breadcrumbs %}
    </ul>
  </div>

  <div class="row-fluid">


  </div>

  <div class="row-fluid">
    <div id="sidebar" class="span3">
      <ul id="st_headers_ul" class="nav nav-list well affix-sidenav" data-spy="affix" data-offset-top="65">
      </ul>
    </div>

    <div class="span9">
      <h1>{{assessment}} Summary<div class="btn-group pull-right">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#" id="smart_tag_toggle">Toggle Smart-Tags</a></li>
          <li><a href="{% url 'summary:word_report' assessment.pk %}">Download</a></li>
          {% if obj_perms.edit %}
            <li><a href="{% url 'summary:modify' assessment.pk %}">Update text</a></li>
          {% endif %}
        </ul>
      </div>
    </h1>
        <div id="st_text_div"></div>
    </div>
  </div>
{% endblock %}

{% block extrajs %}
  <script src="{{STATIC_URL}}study/js/models.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}animal/js/endpoint.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}animal/js/aggregation.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}data_pivot/js/data_pivot.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}summary/js/smart_tags.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}summary/js/summary.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}comments/js/comments.js" type="text/javascript" ></script>

  <script type="text/javascript">
    $(document).ready(function(){

      var load_smart_tags = function(){
        SmartTag.initialize_tags();
        $('#smart_tag_toggle').on('click', function(e){SmartTag.toggle_disabled(e);})
      }

      window.assessment_pk = {{assessment.pk}};
      window.stt = new SummaryTextTree({"assessment_id": {{assessment.pk}},
                                        "mode": "read",
                                        "read_headers_ul": $('#st_headers_ul'),
                                        "read_text_div": $('#st_text_div'),
                                        "commenting_public": {{assessment.comment_settings.public_comments|lower}},
                                        "commenting_enabled": {{assessment.comment_settings.allow_comments|lower}},
                                        "user": {%if request.user.is_authenticated %}{{request.user.pk}}{% else %}-1{% endif %}},
                                        load_smart_tags);
    });
  </script>
{% endblock extrajs %}
