{% extends 'portal.html' %}


{% block title %}{{assessment}} | Visualizations | {{object}} {% endblock title %}

{% block breadcrumbs %}
  <li><a href="{{assessment.get_absolute_url}}">{{assessment}}</a><span class="divider">/</span></li>
  <li><a href="{% url 'summary:visualization_list' assessment.pk %}">Visualizations</a><span class="divider">/</span></li>
  {% block breadcrumbs_self %}
    <li class="active">{{object}}<span class="divider">/</span></li>
  {% endblock breadcrumbs_self %}
{% endblock %}

{% block content %}
  <div class='visualization'></div>
{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
    $(document).ready(function(){
      window.isEditable = {{obj_perms.edit|lower}};
      window.app.summary.Visual.displayAsPage({{object.id}}, $(".visualization"));
    });
  </script>
{% endblock %}
