{% extends 'portal.html' %}


{% block title %}{{assessment}} | Visualizations {% endblock title %}

{% block breadcrumbs %}
  <li><a href="{{assessment.get_absolute_url}}">{{assessment}}</a><span class="divider">/</span></li>
  <li class="active">Visualizations<span class="divider">/</span></li>
{% endblock %}

{% block content %}
  <h1>Available visualizations
    {% if obj_perms.edit %}
        <div class="btn-group pull-right">
          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
              <li><a href="{% url 'summary:visualization_create_selector' assessment.pk %}">Create new visualization</a></li>
          </ul>
        </div>
      {% endif %}
  </h1>
  <div class="visualizationsList"></div>
{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
    window.app.summaryStartup(function(summary){
      summary.VisualCollection.buildTable(
        "{% url 'summary:visual-list' %}?assessment_id={{assessment.id}}",
        "{% url 'summary:data_pivot-list' %}?assessment_id={{assessment.id}}",
        $('.visualizationsList'),
        {showPublished: {{show_published|lower}}});
    });
  </script>
{% endblock %}
