{% extends 'portal.html' %}

{% load crispy_forms_tags %}
{% load selectable_tags %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}wysihtml5/css/bootstrap-wysihtml5.css" />
  {% include_ui_theme %}
{% endblock %}


{% block title %}{{assessment}} | Visualizations | {{crud}} {% endblock title %}


{% block breadcrumbs %}
  <li><a href="{{assessment.get_absolute_url}}">{{assessment}}</a><span class="divider">/</span></li>
  <li><a href="{% url 'summary:visualization_list' assessment.pk %}">Visualizations</a><span class="divider">/</span></li>
  {% if crud == "Update" %}
    <li><a href="{{object.get_absolute_url}}">{{object}}</a><span class="divider">/</span></li>
  {% endif %}
  <li class="active">{{crud}}<span class="divider">/</span></li>
{% endblock %}


{% block content %}
  {% crispy form %}
{% endblock %}


{% block extrajs %}
  {{ form.media }}
  <script src="{{STATIC_URL}}admin/js/urlify.js" type="text/javascript" ></script>
  <script src="{{STATIC_URL}}wysihtml5/js/wysihtml5-0.3.0.min.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}wysihtml5/js/bootstrap-wysihtml5.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}summary/js/summary.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#id_caption').wysihtml5({"stylesheets": false});
      $('#id_title').on('keyup', function(){
        $('#id_slug').val(URLify($(this).val(), 50));
      });
    });
  </script>
{% endblock %}
