interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hero.epa.gov/hero/ws/index.cfm/api/1.0/search/criteria/2,3/recordsperpage/100.json
  response:
    body:
      string: "{\"results\":[{\"REFERENCE_ID\":3,\"ABSTRACT\":\"In order to study
        the cellular and biochemical changes in early asbestosis, three groups of
        sheep were repeatedly exposed to intratracheal instillations of either saline
        (controls), low doses of UICC chrysotile asbestos (LD), or high doses of the
        fibers (HD) until an alveolitis was observed in all HD sheep during the twelfth
        month of exposure. All sheep were studied bimonthly by transbronchial lung
        biopsy (LB), bronchoalveolar lavage (BAL), pulmonary function tests (PFT),
        and chest roentgenograms (CXR). While LBs of the HD sheep demonstrated large
        accumulations of monocyte-macrophages in the alveolar and interstitial spaces,
        those of controls and LD sheep did not. In BAL, there was no difference in
        total and differential cell counts between groups, but the BAL lymphocyte
        proliferative capacity was clearly depressed in all asbestos-exposed sheep.
        In the BAL supernatant, total proteins (mainly albumin, beta + gamma globulins)
        and lactate dehydrogenase were significantly elevated in the HD group only.
        This alveolitis was associated with a fall in vital capacity, lung compliance,
        diffusing capacity, and arterial PO2. Abnormalities on CXR appeared 3 months
        later. Thus, the cellular and biochemical features of early asbestosis are
        clearly distinct from those reported in idiopathic pulmonary fibrosis.\",\"url\":\"https://hero.epa.gov/hero/index.cfm/reference/details/reference_id/3\",\"hasPDF\":true,\"YEAR\":1983,\"allAuthors\":[\"B\xE9gin,
        R; Rola-Pleszczynski, M; Mass\xE9, S; Lemaire, I; Sirois, P; Boctor, M; Nadeau,
        D; Drapeau, G; Bureau, MA\"],\"HEROID\":3,\"id\":\"3\",\"project_key\":[42,2488,2533,2691,2810,3019],\"referencetype\":[\"journal
        article\"],\"type\":\"reference\",\"doi\":\"10.1016/0013-9351(83)90180-9\",\"sortYear\":1983,\"tag_path_text\":[\"IRIS|Asbestos\",\"NAAQS|Litsearch
        O3 2018|Citation Mapping Seeds\",\"NAAQS|Litsearch-Lead ISA 2020_SWIFT Screening|Full
        Text Screening|Tox|Supplemental|Neurological\",\"OPPT|ECOSAR\",\"OPPT REs|OPPT_Asbestos,
        Part I: Chrysotile_F. Human Health|Total \u2013 title/abstract screening|On
        topic|Peer review|Primary source\",\"OPPT REs|OPPT_Asbestos, Part I: Chrysotile_F.
        Human Health|On topic - additional tags for titles/abstracts|Animal hazard
        ID|Respiratory and peritoneal noncancer\",\"OPPT REs|OPPT_Asbestos, Part I:
        Chrysotile_F. Human Health|On topic - additional tags for titles/abstracts|Animal
        hazard ID|Asbestosis\",\"OPPT REs|OPPT_Asbestos, Part I: Chrysotile_F. Human
        Health|On topic - additional tags for titles/abstracts|MOA\",\"Other|Applicability
        of Libby Amphibole Asbestos Tox Values|Sources (Feb 2016)|Toxline\",\"Other|Applicability
        of Libby Amphibole Asbestos Tox Values|Sources (Feb 2016)|PubMed\"],\"category_key\":[1,2,18,30,32],\"PROJECTS\":[{\"PROJECT\":\"Litsearch-Lead
        ISA 2020_SWIFT Screening\",\"PROJECT_ID\":3019,\"USAGES\":[{\"USAGE_ID\":\"33041\",\"USAGE\":\"Full
        Text Screening\",\"USAGES\":[{\"USAGE_ID\":\"35093\",\"USAGE\":\"Tox\",\"USAGES\":[{\"USAGE_ID\":\"35094\",\"USAGE\":\"Supplemental\",\"USAGES\":[{\"USAGE_ID\":\"35104\",\"USAGE\":\"Neurological\",\"USAGES\":[]}]}]}]}]},{\"PROJECT\":\"ECOSAR\",\"PROJECT_ID\":2810,\"USAGES\":[]},{\"PROJECT\":\"OPPT_Asbestos,
        Part I: Chrysotile_F. Human Health\",\"PROJECT_ID\":2533,\"USAGES\":[{\"USAGE_ID\":\"10060\",\"USAGE\":\"On
        topic - additional tags for titles/abstracts\",\"USA[...]
- request:
    body: retmax=1000&db=pubmed&retmode=xml&api_key=<omitted>&id=6682033&id=7318792
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi
  response:
    body:
      string: '<?xml version="1.0" ?>

        <!DOCTYPE PubmedArticleSet PUBLIC "-//NLM//DTD PubMedArticle, 1st January
        2024//EN" "https://dtd.nlm.nih.gov/ncbi/pubmed/out/pubmed_240101.dtd">

        <PubmedArticleSet>

        <PubmedArticle><MedlineCitation Status="MEDLINE" Owner="NLM"><PMID Version="1">6682033</PMID><DateCompleted><Year>1983</Year><Month>05</Month><Day>05</Day></DateCompleted><DateRevised><Year>2019</Year><Month>09</Month><Day>04</Day></DateRevised><Article
        PubModel="Print"><Journal><ISSN IssnType="Print">0013-9351</ISSN><JournalIssue
        CitedMedium="Print"><Volume>30</Volume><Issue>1</Issue><PubDate><Year>1983</Year><Month>Feb</Month></PubDate></JournalIssue><Title>Environmental
        research</Title><ISOAbbreviation>Environ Res</ISOAbbreviation></Journal><ArticleTitle>Asbestos-induced
        lung injury in the sheep model: the initial alveolitis.</ArticleTitle><Pagination><StartPage>195</StartPage><EndPage>210</EndPage><MedlinePgn>195-210</MedlinePgn></Pagination><Abstract><AbstractText>In
        order to study the cellular and biochemical changes in early asbestosis, three
        groups of sheep were repeatedly exposed to intratracheal instillations of
        either saline (controls), low doses of UICC chrysotile asbestos (LD), or high
        doses of the fibers (HD) until an alveolitis was observed in all HD sheep
        during the twelfth month of exposure. All sheep were studied bimonthly by
        transbronchial lung biopsy (LB), bronchoalveolar lavage (BAL), pulmona[...]
