interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hero.epa.gov/hero/ws/index.cfm/api/1.0/search/criteria/3,2/recordsperpage/100.json
  response:
    body:
      string: "{\"results\":[{\"REFERENCE_ID\":3,\"usage_path_key\":[\"15413|13964|10250|10251|10252\"\
        ,\"10060|10059|13975\",\"10060|10059|13980\",\"10060|10074|7593|7596\",\"\
        7593|7594\"],\"ABSTRACT\":\"In order to study the cellular and biochemical\
        \ changes in early asbestosis, three groups of sheep were repeatedly exposed\
        \ to intratracheal instillations of either saline (controls), low doses of\
        \ UICC chrysotile asbestos (LD), or high doses of the fibers (HD) until an\
        \ alveolitis was observed in all HD sheep during the twelfth month of exposure.\
        \ All sheep were studied bimonthly by transbronchial lung biopsy (LB), bronchoalveolar\
        \ l[...]
[...]
