interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hero.epa.gov/hero/ws/index.cfm/api/1.0/search/criteria/1010101,1010102/recordsperpage/100.json
  response:
    body:
      string: '{"results":[{"REFERENCE_ID":1010101,"ABSTRACT":"BIOSIS  COPYRIGHT:
        BIOL ABS.  Acrylonitrile (AN) is a rat carcinogen. Human exposure may come
        from chemical industries and smoking. A haemoglobin adduct of acrylonitrile
        (Hb-AN) has been used as a biomarker of exposure by means of gas chromatography-mass
        spectrometry (GC-MS) analysis. We have developed specific monoclonal antibodies
        (Mab) to human Hb-AN and wish to report evaluation of an immunoassay in rats
        using an Mab that cross-reacts with rat Hb-AN. A dose response study of LD
        0, 10, 50, and 90 in Sprague-Dawley rats  was undertaken, with each rat receiving
        (2,3-14C)AN at 50 muCi kg-1 sc, and Hb from an aliquot of blood was taken
        for covalent binding analysis by liquid scintillation spectrometry and fluorescence
        ELISA. The dose responses of rats at 0.25, 0.5, 1.0, and 2.0 h after AN doses
        of 20, 50, 80, 115 mg kg-1 were compared by both methods with Hb and globin
        samples. Regression analysis showed a linear relationship between immunoassay
        and 14C-AN binding. This indicates that an antigenic for","url":"https://hero.epa.gov/hero/index.cfm/reference/details/reference_id/1010101","hasPDF":false,"YEAR":1998,"allAuthors":["Wong,
        JL; Zheng, YT; Li, J; Tamburro, CH; Benz, FW"],"HEROID":1010101,"id":1010101,"referencetype":["journal
        article"],"type":"reference","sortYear":1998,"tag_path_text":["IRIS|Acrylonitrile
        (ACN)|Database searches|Toxline","IRIS|Acrylonitrile (ACN)|Database searches|WOS","IRIS|Acrylonitrile
        (ACN)|Source 2012 & 2013 (private)|Toxline","IRIS|Acrylonitrile (ACN)|Source
        2012 & 2013 (private)|WOS","IRIS|Acrylonitrile (ACN)|Source 2012 & 2013 (private)|Merged
        reference set","IRIS|Acrylonitrile (ACN)|Source 2012 & 2013 (private)|Previous
        HERO References","IRIS|Acrylonitrile (ACN)|Source 2012 & 2013 (private)|Previous
        HERO references to be Rescreened by Toxicologist","IRIS|Acrylonitrile (ACN)|Secondary
        Sources of Health Effects Information|Exposure levels"],"PROJECTS":[{"PROJECT":"Acrylonitrile
        (ACN)","PROJECT_ID":420,"USAGES":[{"USAGE_ID":2565,"USAGE":"Source 2012 &
        2013 (private)","USAGES":[{"USAGE_ID":2568,"USAGE":"WOS","USAGES":[]},{"USAGE_ID":2578,"USAGE":"Previous
        HERO references to be Rescreened by Toxicologist","USAGES":[]},{"USAGE_ID":2567,"USAGE":"Toxline","USAGES":[]},{"USAGE_ID":2577,"USAGE":"Previous
        HERO References","USAGES":[]},{"USAGE_ID":2640,"USAGE":"Merged reference set","USAGES":[]}]},{"USAGE_ID":2586,"USAGE":"Secondary
        Sources of Health Effects Information","USAGES":[{"USAGE_ID":2593,"USAGE":"Exposure
        levels","USAGES":[]}]},{"USAGE_ID":5234,"USAGE":"Database searches","USAGES":[{"USAGE_ID":5236,"USAGE":"Toxline","USAGES":[]},{"USAGE_ID":5237,"USAGE":"WOS","USAGES":[]}]},{"USAGE_ID":2572,"USAGE":"Feb
        2012 search and screening","USAGES":[{"USAGE_ID":550,"USAGE":"2012 New Search
        Results pre2003","USAGES":[]}]}]}],"tag_path_key":["2|420|5234|5236","2|420|5234|5237","2|420|2565|2567","2|420|2565|2568","2|420|2565|2640","2|420|2565|2577","2|420|2565|2578","2|420|2586|2593"],"firstAuthor":"Wong","AUTHORS":"Wong,
        JL; Zheng, YT; Li, J; Tamburro, CH; Benz, FW","noPDFAvailable":false,"tag_path_type":["category|project|usage|usage","category|project|usage|usage","category|project|usage|usage","category|project|usage|usage","category|project|usage|usage","category|project|usage|usage","category|project|usage|usage","category|project|usage|usage"],"isPeerReviewed":true,"code":"pd","isDeleted":false,"REDIRECT_DATA":{},"isPublic":false,"hasPublicDoc":false,"SOURCE":"Biomarkers
        3:4-5.","TITLE":"Immunoassay of haemoglobin-acrylonitrile adduct in rat as
        a biomarker of exposure","modified":"2018-04-19T19:37:32Z","PMID":"","keywords":["<?xml
        version=\"1.0\" encoding=\"UTF-8\"?><kw>Biochemical Methods-General</kw>;
        <?xml version=\"1.0\" encoding=\"UTF-8\"?><kw>Biochemical Studies-General</kw>;
        <?xml version=\"1.0\" encoding=\"UTF-8\"?><kw>Blood</kw>; <?xml version=\"1.0\"
        encoding=\"UTF-8\"?><kw>Toxicology-General</kw>; <?xml version=\"1.0\" encoding=\"UTF-8\"?><kw>Neoplasms
        and Neoplastic Agents-General</kw>; <?xml version=\"1.0\" encoding=\"UTF-8\"?><kw>Immunology
        and Immunochemistry-General</kw>; <?xml version=\"1.0\" encoding=\"UTF-8\"?><kw>Hominidae</kw>;
        <?xml version=\"1.0\" encoding=\"UTF-8\"?><kw>Muridae</kw>"],"journalTitle":"Biomarkers","_version_":1598204581423087617},{"REFERENCE_ID":1010102,"usage_path_key":[2721,"2572|550|29876|29877"],"ABSTRACT":"The
        project ''Accumulation of environmental risks'' was aimed at developing methods
        to illustrate the geographical differences in risks to human health due to
        several types of environmental pollution. The following risks were considered:
        possible major accidents, radioactive substances and radiation, several carcinogenic
        substances in air and environmental noise, with the methods used based on
        the risk concept implemented in the Netherlands environmental policy. Starting
        with information on  sources and emissions of several contaminants, their
        dispersion in air and human exposure to them were calculated, and the effects
        on human health estimated. The results were presented in a number of national
        maps. In spite of the complexity of discussions on risk-related subjects,
        applying the methods developed during the project has been shown to lead to
        insight into the geographical distribution and the comparison of different
        kinds of risk. The maps on possible major accidents and","url":"https://hero.epa.gov/hero/index.cfm/reference/details/reference_id/1010102","hasPDF":true,"YEAR":1998,"allAuthors":["Pruppers,
        MJM; Janssen, MPM; Ale, BJM; Pennders, RMJ; van den Hout, KD; Miedema, HME"],"HEROID":1010102,"id":1010102,"project_key":[420,3008],"referencetype":["journal
        article"],"type":"reference","doi":"10.1016/s0304-3894(98)00122-8","sortYear":1998,"tag_path_text":["IRIS|Acrylonitrile
        (ACN)|Legacy (private)","IRIS|Acrylonitrile (ACN)|Feb 2012 search and screening|2012
        New Search Results pre2003","Other|Scientific Integrity Program|Lit Search
        Feb 2021|WOS"],"category_key":[2,18],"PROJECTS":[{"PROJECT":"Acrylonitrile
        (ACN)","PROJECT_ID":420,"USAGES":[{"USAGE_ID":2721,"USAGE":"Legacy (private)","USAGES":[]},{"USAGE_ID":2572,"USAGE":"Feb
        2012 search and screening","USAGES":[{"USAGE_ID":550,"USAGE":"2012 New Search
        Results pre2003","USAGES":[]}]}]},{"PROJECT":"Scientific Integrity Program","PROJECT_ID":3008,"USAGES":[{"USAGE_ID":29876,"USAGE":"Lit
        Search Feb 2021","USAGES":[{"USAGE_ID":29877,"USAGE":"WOS","USAGES":[]}]}]}],"tag_path_key":["2|420|2721","2|420|2572|550","18|3008|29876|29877"],"firstAuthor":"Pruppers","AUTHORS":"Pruppers,
        MJM; Janssen, MPM; Ale, BJM; Pennders, RMJ; van den Hout, KD; Miedema, HME","noPDFAvailable":false,"tag_path_type":["category|project|usage","category|project|usage|usage","category|project|usage|usage"],"isPeerReviewed":true,"code":"pd","isDeleted":false,"REDIRECT_DATA":{},"isPublic":true,"hasPublicDoc":false,"SOURCE":"Journal
        of Hazardous Materials 61:187-196.","wosid":"WOS:000075646300023","TITLE":"Accumulation
        of environmental risks to human health: Geographical differences in the Netherlands","modified":"2021-02-17T14:03:12Z","PMID":"","keywords":["<?xml
        version=\"1.0\" encoding=\"UTF-8\"?><kw>Radiation-Radiation Effects and Protective
        Measures</kw>; <?xml version=\"1.0\" encoding=\"UTF-8\"?><kw>Biochemical Studies-General</kw>;
        <?xml version=\"1.0\" encoding=\"UTF-8\"?><kw>Toxicology-Environmental and
        Industrial Toxicology</kw>; <?xml version=\"1.0\" encoding=\"UTF-8\"?><kw>Neoplasms
        and Neoplastic Agents-Carcinogens and Carcinogenesis</kw>; <?xml version=\"1.0\"
        encoding=\"UTF-8\"?><kw>Public Health: Environmental Health-Air</kw>; <?xml
        version=\"1.0\" encoding=\"UTF-8\"?><kw>Public Health: Environmental Health-Radiation
        Health</kw>; <?xml version=\"1.0\" encoding=\"UTF-8\"?><kw>Hominidae</kw>"],"journalTitle":"Journal
        of Hazardous Materials","_version_":1691951403712380928}],"isValid":true,"message":"Success","error":""} '
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
