interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hero.epa.gov/hero/ws/index.cfm/api/1.0/search/criteria/2,3/recordsperpage/100.json
  response:
    body:
      string: "{\"results\":[{\"REFERENCE_ID\":3,\"usage_path_key\":[\"15413|33041|35093|35094|35104|32066|29637\",\"29678|29647\",\"29678|29774|13964|10250|10251|10252\",\"10060|10059|13975\",\"10060|10059|13980\",\"10060|10074|7593|7596\",\"7593|7594\"],\"ABSTRACT\":\"In
        order to study the cellular and biochemical changes in early asbestosis, three
        groups of sheep were repeatedly exposed to intratracheal instillations of
        either saline (controls), low doses of UICC chrysotile asbestos (LD), or high
        doses of the fibers (HD) until an alveolitis was observed in all HD sheep
        during the twelfth month of exposure. All sheep were studied bimonthly by
        transbronchial lung biopsy (LB), bronchoalveolar lavage (BAL), pulmonary function
        tests (PFT), and chest roentgenograms (CXR). While LBs of the HD sheep demonstrated
        large accumulations of monocyte-macrophages in the alveolar and interstitial
        spaces, those of controls and LD sheep did not. In BAL, there was no difference
        in total and differential cell counts between groups, but the BAL lymphocyte
        proliferative capacity was clearly depressed in all asbestos-exposed sheep.
        In the BAL supernatant, total proteins (mainly albumin, beta + gamma globulins)
        and lactate dehydrogenase were significantly elevated in the HD group only.
        This alveolitis was associated with a fall in vital capacity, lung compliance,
        diffusing capacity, and arterial PO2. Abnormalities on CXR appeared 3 months
        later. Thus, the cellular and biochemical features of early asbestosis are
        clearly distinct from those reported in idiopathic pulmonary fibrosis.\",\"url\":\"https://hero.epa.gov/hero/index.cfm/reference/details/reference_id/3\",\"hasPDF\":false,\"YEAR\":1983,\"allAuthors\":[\"Begin,
        R; Rola-Pleszczynski, M; Masse, S; Lemaire, I; Sirois, P; Boctor, M; Nadeau,
        D; Drapeau, G; Bureau, MA\"],\"HEROID\":3,\"id\":3,\"project_key\":[42,2691,3019,3028,2533,2488],\"referencetype\":[\"journal
        article\"],\"type\":\"reference\",\"doi\":\"10.1016/0013-9351(83)90180-9\",\"sortYear\":1983,\"tag_path_text\":[\"IRIS|Asbestos\",\"NAAQS|Litsearch
        O3 2018|Citation Mapping Seeds\",\"NAAQS|Litsearch-Lead ISA 2020_SWIFT Screening|Full
        Text Screening|Tox|Supplemental|Neurological\",\"OPPT REs|Draft_OPPT Tag Structure|Peer-Reviewed
        Literature|Literature Search: Dates\",\"OPPT REs|Draft_OPPT Tag Structure|Systematic
        Review|Engineering\",\"OPPT REs|Draft_OPPT Tag Structure|Systematic Review|Hazard\",\"OPPT
        REs|OPPT_Asbestos, Part I: Chrysotile_F. Human Health|Total \u2013 title/abstract
        screening|On topic|Peer review|Primary source\",\"OPPT REs|OPPT_Asbestos,
        Part I: Chrysotile_F. Human Health|On topic - additional tags for titles/abstracts|Animal
        hazard ID|Respiratory and peritoneal noncancer\",\"OPPT REs|OPPT_Asbestos,
        Part I: Chrysotile_F. Human Health|On topic - additional tags for titles/abstracts|Animal
        hazard ID|Asbestosis\",\"OPPT REs|OPPT_Asbestos, Part I: Chrysotile_F. Human
        Health|On topic - additional tags for titles/abstracts|MOA\",\"Other|Applicability
        of Libby Amphibole Asbestos Tox Values|Sources (Feb 2016)|Toxline\",\"Other|Applicability
        of Libby Amphibole Asbestos Tox Values|Sources (Feb 2016)|PubMed\"],\"category_key\":[2,1,32,18],\"PROJECTS\":[{\"PROJECT\":\"Litsearch-Lead
        ISA 2020_SWIFT Screening\",\"PROJECT_ID\":3019,\"USAGES\":[{\"USAGE_ID\":33041,\"USAGE\":\"Full
        Text Screening\",\"USAGES\":[{\"USAGE_ID\":35093,\"USAGE\":\"Tox\",\"USAGES\":[{\"USAGE_ID\":35094,\"USAGE\":\"Supplemental\",\"USAGES\":[{\"USAGE_ID\":35104,\"USAGE\":\"Neurological\",\"USAGES\":[]}]}]}]}]},{\"PROJECT\":\"OPPT_Asbestos,
        Part I: Chrysotile_F. Human Health\",\"PROJECT_ID\":2533,\"USAGES\":[{\"USAGE_ID\":10060,\"USAGE\":\"On
        topic - additional tags for titles/abstracts\",\"USAGES\":[{\"USAGE_ID\":10074,\"USAGE\":\"MOA\",\"USAGES\":[]},{\"USAGE_ID\":1[...]
