interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hero.epa.gov/hero/ws/index.cfm/api/1.0/search/criteria/1010101,1010102/recordsperpage/100.json
  response:
    body:
      string: '{"results":[{"REFERENCE_ID":1010102,"ABSTRACT":"The project ''Accumulation
        of environmental risks'' was aimed at developing methods to illustrate the
        geographical differences in risks to human health due to several types of
        environmental pollution. The following risks were considered: possible major
        accidents, radioactive substances and radiation, several carcinogenic substances
        in air and environmental noise, with the methods used based on the risk concept
        implemented in the Netherlands environmental policy. Starting with information
        on  sources and emissions of several contaminants, their dispersion in air
        and human exposure to them were calculated, and the effects on human health
        estimated. The results were presented in a number of national maps. In spite
        of the complexity of discussions on risk-related subjects, applying the methods
        developed during the project has been shown to lead to insight into the geographical
        distribution and the comparison of different kinds of risk. The maps on possible
        major accidents and","url":"https://hero.epa.gov/hero/index.cfm/reference/details/reference_id/1010102","hasPDF":true,"YEAR":1998,"allAuthors":["Pruppers,
        MJM; Janssen, MPM; Ale, BJM; Pennders, RMJ; van den Hout, KD; Miedema, HME"],"HEROID":1010102,"id":"1010102","project_key":[420,3008],"referencetype":["journal
        article"],"type":"reference","doi":"10.1016/s0304-3894(98)00122-8","sortYear":1998,"tag_path_text":["IRIS|Acrylonitrile
        (ACN)|Legacy (private)","IRIS|Acrylonitrile (ACN)|Feb 2012 search and screening|2012
        New Search Results pre2003","Other|Scientific Integrity Program|Lit Search
        Feb 2021|WOS"],"category_key":[2,18],"PROJECTS":[{"PROJECT":"Acrylonitrile
        (ACN)","PROJECT_ID":420,"USAGES":[{"USAGE_ID":"2721","USAGE":"Legacy (private)","USAGES":[]},{"USAGE_ID":"2572","USAGE":"Feb
        2012 search and screening","USAGES":[{"USAGE_ID":"550","USAGE":"2012 New Search
        Results pre2003","USAGES":[]}]}]},{"PROJECT":"Scientific Integrity Program","PROJECT_ID":3008,"USAGES":[{"USAGE_ID":"29876","USAGE":"Lit
        Search Feb 2021","USAGES":[{"USAGE_ID":"29877","USAGE":"WOS","USAGES":[]}]}]}],"tag_path_key":["2|420|2721","2|420|2572|550","18|3008|29876|29877"],"firstAuthor":"Pruppers","AUTHORS":"Pruppers,
        MJM; Janssen, MPM; Ale, BJM; Pennders, RMJ; van den Hout, KD; Miedema, HME","noPDFAvailable":false,"tag_path_type":["category|project|usage","category|project|usage|usage","category|project|usage|usage"],"isPeerReviewed":true,"code":"pd","isDeleted":false,"REDIRECT_DATA":{},"isPublic":true,"hasPublicDoc":false,"SOURCE":"Journal
        of Hazardous Materials 61:187-196.","wosid":"WOS:000075646300023","TITLE":"Accumulation
        of environmental risks to human health: Geographical differences in the Netherlands","modified":"2022-06-09T06:22:07Z","PMID":"","keywords":["<?xml
        version=\"1.0\" encoding=\"UTF-8\"?><kw>Radiation-Radiation Effects and Protective
        Measures</kw>; <?xml version=\"1.0\" encoding=\"UTF-8\"?><kw>Biochemical Studies-General</kw>;
        <?xml version=\"1.0\" encoding=\"UTF-8\"?><kw>Toxicology-Environmental and
        Industrial Toxicology</kw>; <?xml version=\"1.0\" encoding=\"UTF-8\"?><kw>Neoplasms
        and Neoplastic Agents-Carcinogens and Carcinogenesis</kw>; <?xml version=\"1.0\"
        encoding=\"UTF-8\"?><kw>Public Health: Environmental Health-Air</kw>; <?xml
        version=\"1.0\" encoding=\"UTF-8\"?><kw>Public Health: Environmental Health-Radiation
        Health</kw>; <?xml version=\"1.0\" encoding=\"UTF-8\"?><kw>Hominidae</kw>"],"journalTitle":"Journal
        of Hazardous Materials","_version_":1735137142588309504},{"REFERENCE_ID":1010101,"ABSTRACT":"BIOSIS  COPYRIGHT:
        BIOL ABS.  Acrylonitrile (AN) is a rat carcinogen. Human exposure may come
        from chemical industries and smoking. A haemoglobin adduct of acrylonitrile
        (Hb-AN) has been used as a biomarker of exposure by means of gas chromatography-mass
        spectrometry (GC-MS) analysis. We have developed specific monoclonal antibodies
        (Mab) to human Hb-AN and wish to report evaluation of an immunoassay in rats
        using an Mab that cross-reacts with rat Hb-AN. A dose response study of LD
        0, 10, 50, and 90 in Sprague-Dawley rats  was undertaken, with each rat receiving
        (2,3-14C)AN at 50 muCi kg-1 sc, and Hb from an aliquot of blood was taken
        for covalent binding analysis by liquid scintillation spectrometry and fluorescence
        ELISA. The dose responses of rats at 0.25, 0.5, 1.0, and 2.0 h after AN doses
        of 20, 50, 80, 115 mg kg-1 were compared by both methods with Hb and globin
        samples. Regression analysis showed a linear relationship between immunoassay
        and 14C-AN binding. This indicates that an antigenic for","url":"https://hero.epa.gov/hero/index.cfm/reference/details/reference_id/1010101","hasPDF":true,"YEAR":1998,"allAuthors":["Wong,
        JL; Zheng, YT; Li, J; Tamburro, CH; Benz, FW"],"HEROID":1010101,"id":"1010101","project_key":[420,4753,4822],"referencetype":["journal
        article"],"type":"reference","pdfURL":"<go to isi>://wos:000075572800003","doi":"10.1080/135475098231129","sortYear":1998,"tag_path_text":["IRIS|Acrylonitrile
        (ACN)|Database searches|Toxline","IRIS|Acrylonitrile (ACN)|Database searches|WOS","IRIS|Acrylonitrile
        (ACN)|Source 2012 & 2013 (private)|Toxline","IRIS|Acrylonitrile (ACN)|Source
        2012 & 2013 (private)|WOS","IRIS|Acrylonitrile (ACN)|Source 2012 & 2013 (private)|Merged
        reference set","IRIS|Acrylonitrile (ACN)|Source 2012 & 2013 (private)|Previous
     [...]
[...]
- request:
    body: retmax=1000&db=pubmed&retmode=xml&api_key=<omitted>&id=23899359
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi
  response:
    body:
      string: '<?xml version="1.0" ?>

        <!DOCTYPE PubmedArticleSet PUBLIC "-//NLM//DTD PubMedArticle, 1st January
        2024//EN" "https://dtd.nlm.nih.gov/ncbi/pubmed/out/pubmed_240101.dtd">

        <PubmedArticleSet>

        <PubmedArticle><MedlineCitation Status="PubMed-not-MEDLINE" Owner="NLM"><PMID
        Version="1">23899359</PMID><DateCompleted><Year>2013</Year><Month>08</Month><Day>01</Day></DateCompleted><DateRevised><Year>2013</Year><Month>07</Month><Day>31</Day></DateRevised><Article
        PubModel="Print"><Journal><ISSN IssnType="Print">1354-750X</ISSN><JournalIssue
        CitedMedium="Print"><Volume>3</Volume><Issue>4-5</Issue><PubDate><Year>1998</Year></PubDate></JournalIssue><Title>Biomarkers
        : biochemical indicators of exposure, response, and susceptibility to chemicals</Title><ISOAbbreviation>Biomarkers</ISOAbbreviation></Journal><ArticleTitle>Immunoassay
        of haemoglobin-acrylonitrile adduct in rat as a biomarker of exposure.</ArticleTitle><Pagination><StartPage>317</StartPage><EndPage>326</EndPage><MedlinePgn>317-26</MedlinePgn></Pagination><ELocationID
        EIdType="doi" ValidYN="Y">10.1080/135475098231129</ELocationID><Abstract><AbstractText>Acrylonitrile
        (AN) is a rat carcinogen. Human exposure may come from chemical industries
        and smoking. A haemoglobin adduct of acrylonitrile (Hb-AN) has been used as
        a biomarker of exposure by means of gas chromatography-mass spectrometry (GC-MS)
        analysis. We have developed specific monoclonal antibodies (Mab) to human
        Hb-AN and wish to report evaluation of an immunoassay in rats using an Mab
        that cross-reacts with rat Hb-AN. A dose response study o[...]
