{% extends 'assessment-rooted.html' %}
{% load bs4 %}

{% block content %}
<h2 class="d-inline-block">{{object.name}}</h2>
{% if obj_perms.edit and crud == "Read" %}
<div class="dropdown btn-group float-right">
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions</a>
    <div class="dropdown-menu dropdown-menu-right">
        <span class="dropdown-header">Study design editing</span>
        <a class="dropdown-item" href="{{object.get_update_url}}">Update</a>
        <a class="dropdown-item" href="{{object.get_delete_url}}">Delete</a>
    </div>
</div>
{% endif %}

{% include "eco/fragments/_design_table.html" %}

<div class="card my-4 mx-2">
    <div class="card-body">
        <h3 class="card-title">Results</h3>
        <table class="table table-sm table-striped">
            {% bs4_colgroup '10,15,15,15,15,15,15' %}
            {% bs4_thead 'Name,Cause,Effect,Measure Type,Modifying Factors,Description,Derived Value' %}
            <tbody>
                {% for object in results %}
                    {% include "eco/fragments/result_row.html" %}
                {% empty %}
                    {% bs4_fullrow 'No results available.' %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="card my-4 mx-2">
    <div class="card-body">
        <h3 class="card-title">Causes</h3>
        <table class="table table-sm table-striped">
            {% bs4_colgroup '10,15,15,15,15,15,15' %}
            {% bs4_thead 'Name,Term,Measure,Measure Detail,Bio. Organization,Species,Comment' %}
            <tbody>
                {% for object in results %}
                {% include "eco/fragments/cause_row.html" %}
                {% empty %}
                {% bs4_fullrow 'No causes available.' %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="card my-4 mx-2">
    <div class="card-body">
        <h3 class="card-title">Effects</h3>
        <table class="table table-sm table-striped">
            {% bs4_colgroup '10,15,15,15,15,15,15' %}
            {% bs4_thead 'Name,Term,Measure,Measure Detail,Bio. Organization,Species,Comment' %}
            <tbody>
                {% for object in effects %}
                {% include "eco/fragments/effect_row.html" %}
                {% empty %}
                {% bs4_fullrow 'No effects available.' %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
