{% extends 'assessment-rooted.html' %}

{% block content %}
<h2 class="d-inline-block">{{object.name}}</h2>
<div class="float-right pb-2">
    <a id="design-update" class="btn btn-sm btn-primary" href="#" hx-get="{% url 'eco:design-update' object.pk %}" hx-target="#design-table"
        hx-swap="outerHTML">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Update design</a>
</div>

{% include "eco/fragments/_design_table.html" %}

<div class="card my-4 mx-2">
    <div class="card-body">
        {% url 'eco:cause-create' object.pk as cause_create %}
        {% include "eco/fragments/_create_card.html" with title="Causes" hx_get=cause_create hx_target="#cause-empty-row" model="cause" %}
        <table class="table table-sm table-striped">
            {% bs4_colgroup '10,15,15,15,15,15,15' %}
            {% bs4_thead 'Name,Term,Species,Level,Level Units,Comment,Edit' %}
            <tbody>
                {% if causes %}
                    {% for object in causes %}
                        {% include "eco/fragments/cause_row.html" %}
                    {% endfor %}
                    {% include "eco/fragments/_create_one.html" with id="cause-empty-row" text="" %}
                {% else %}
                    {% include "eco/fragments/_create_one.html" with id="cause-empty-row" text="causes" %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

<div class="card my-4 mx-2">
    <div class="card-body">
        {% url 'eco:effect-create' object.pk as effect_create %}
        {% include "eco/fragments/_create_card.html" with title="Effects" hx_get=effect_create hx_target="#effect-empty-row" model="effect" %}
        <table class="table table-sm table-striped">
            {% bs4_colgroup '10,15,15,15,15,15,15' %}
            {% bs4_thead 'Name,Term,Species,Units,As Reported,Comment,Edit' %}
            <tbody>
                {% if effects %}
                    {% for object in effects %}
                        {% include "eco/fragments/effect_row.html" %}
                    {% endfor %}
                    {% include "eco/fragments/_create_one.html" with id="effect-empty-row" text="" %}
                {% else %}
                    {% include "eco/fragments/_create_one.html" with id="effect-empty-row" text="effects" %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

<div class="card my-4 mx-2">
    <div class="card-body">
        {% url 'eco:result-create' object.pk as result_create %}
        {% include "eco/fragments/_create_card.html" with title="Results" hx_get=result_create hx_target="#result-empty-row" model="result" %}
        <table class="table table-sm table-striped">
            {% bs4_colgroup '15,15,15,10,15,15,15' %}
            {% bs4_thead 'Name,Cause,Effect,Relationship Direction,Modifying Factors,Value,Edit' %}
            <tbody>
                {% if results %}
                    {% for object in results %}
                        {% include "eco/fragments/result_row.html" %}
                    {% endfor %}
                    {% include "eco/fragments/_create_one.html" with id="result-empty-row" text="" %}
                {% else %}
                    {% include "eco/fragments/_create_one.html" with id="result-empty-row" text="results" %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

<div class="well text-center">
    <a class="btn btn-light my-3" id="design-page-cancel" href="{{object.get_absolute_url}}"><i class="fa fa-fw fa-times"></i>Cancel</a>
</div>
{% endblock %}
