{% extends 'crumbless.html' %}

{% load cache %}

{% block content %}

<h2>Ecological cause/effect term list</h2>
{% include 'common/filter_list.html' with plural_object_name='nested terms' %}
<p class="text-muted">
A complete list of all ecological cause/effect terms in HAWC. Click 'Filter nested terms' above to access a search box to filter down the table below. If you find a term you'd like to use in data entry, you can type the text in or type in the Term ID to quickly find during data extraction.
</p>
<ul class="list-unstyled">
{% for object in object_list %}
<li>
    <span class="badge badge-primary">Depth {{ object.depth}}</span>&ensp;{{object.nested_text}}&ensp;<span class="badge badge-secondary">{{object.id}}</span>
</li>
{% endfor %}
</ul>

{% endblock content %}
