/* Global */
:focus {
    outline: none !important;
}
 a:visited {
    color: #005ea2;
 }

/* this rule was disabled in the epa style; re-enable to header */
header.l-header * {
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-property: background-color, border-color, color, opacity, text-shadow, -webkit-box-shadow, -webkit-transform;
    transition-property: background-color, border-color, color, opacity, text-shadow, -webkit-box-shadow, -webkit-transform;
    transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform;
    transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform, -webkit-box-shadow, -webkit-transform;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1)
}

/* Header */
#search-box {
    margin-top: 0px;
}

/* Top nav */
.hawc-header .navbar-toggler {
    color: initial;
}
.hawc-header .navbar-toggler:focus {
    outline: initial;
}
.hawc-header a {
    text-decoration: none;
}
.unstyled-action-button {
    color: var(--epa-primary);
}

/* override environment banner position */
.env-banner {
    margin: 0 10% 0 70%;
}

/* Sidebar  */
.sidebar {
    background-color: #ffffff;
}
.usa-sidenav a:not(.usa-button):not(.usa-current) {
    color: #565c65 !important;
}
.sidebar .usa-sidenav .usa-sidenav__item {
    font-weight: normal;
}
.sidebar .usa-sidenav .usa-sidenav__item .menu__link:hover {
    color: #0071bc !important;
    background-color: #f1f1f1;
}

/* table */
table td {
    background-color: unset;

}
table {
    margin-top: 0;
}
/* list */
li {
    margin-bottom: 0rem;
}

/* caret on dropdown menu */
a.dropdown-toggle:not([href])::after {
    display: inline-block !important;
}

/* autocomplete dropdown */
.select2-results__options {
    width: 100%;
}

/* navigation tabs react-router-dom */
.nav-item, .react-tabs__tab {
    margin-bottom: 0;
}

/* bootstrap popover header */
.popover-header {
    margin-top: 0;
}

/* fix conflict: uswds + datatables.net  */
.dataTables_filter [type="search"]{
    float: none;
}