.epa-style .navbar-nav li:hover .dropdown-menu {
    display: block;
}

.epa-style .dropdown-menu>li>a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}

.epa-style .epanavbar.navbar-nav li a {
    color: white;
}

.epa-style #epanavbarcontent a.nav-link {
    color: white;
}

.epa-style .masthead {
    padding-bottom: 1em;
    padding-top: 1.4em;
    position: relative;
}

.epa-style .site-name {
    height: 31px;
    margin: 0 0 0.125em;
    padding: 0;
    width: 101px;
}

.epa-style .site-name span {
    background: url(https://www.epa.gov/sites/all/themes/epa/img/svg/epa-logo.svg) no-repeat;
    color: transparent;
    display: block;
    font: 0/0 a;
    height: 31px;
    text-shadow: none;
}

.epa-style .site-name>a {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
}

.epa-style .site-slogan {
    color: #0071bc;
    font-family: Arial, sans-serif;
    font-size: 11px;
    font-weight: 500;
    line-height: 1;
    margin-top: 0;
    position: relative;
}

@media screen and (min-width: 23em) {
    .epa-style .site-name {
        float: left;
        margin-right: 0.2em;
    }
    .epa-style .site-slogan {
        top: -1px;
        width: 21.8em;
    }
}

.epa-style .masthead {
    margin: 0 auto;
}

.epa-style header {
    display: block;
}

@media screen and (min-width: 50em) {
    .epa-style .site-name-and-slogan {
        float: left;
    }
}

.epa-style .site-logo {
    display: none;
}

.epa-style.main-footer>.main-footer__inner,
.epa-style .main-nav>.nav__inner,
.epa-style .secondary-nav {
    margin: 0 auto;
    max-width: 35em;
    padding: 0 1em;
    position: relative;
}

@media screen and (min-width: 35em),
print and (min-width: 35em) {
    .epa-style .masthead,
    .epa-style.main-footer>.main-footer__inner {
        max-width: 60em;
    }
}

.epa-style .masthead,
.epa-style.main-footer {
    width: 100%;
}

.epa-style.app-header .navbar {
    padding: 0px 20px;
}

.epa-style.app-header nav {
    background-color: #0071bc;
    line-height: 1;
}

.epa-style #epanavbarcontent a:hover {
    background-color: #205493;
    box-shadow: none;
}

.epa-style .epa-search-button {
    background-color: #02bfe7;
}

@media(min-width:760px) {
    .epa-style.app-header nav ul {
        margin-left: 160px;
    }
}

.epa-style a.nav-link {
    padding: 18px 24px;
    font-size: 16px;
    font-weight: bold;
    font-family: "Merriweather", "Georgia", "Cambria", "Times New Roman", "Times", "serif";
}

.epa-style .menu {
    list-style: none !important;
    margin: 0;
    padding: 0;
}

.epa-style .menu-item {
    margin: 0;
}

.epa-style .menu-link {
    display: block;
    margin: 0;
    padding: 0;
}

.epa-style .menu:after {
    clear: both;
    content: "";
    display: table;
}

.epa-style.main-footer {
    background-color: #323a45;
    color: #fff;
    padding-bottom: 3em;
    padding-top: 2.5em;
}

.epa-style.main-footer a {
    color: #fff;
}

.epa-style .region-footer {
    background: url(https://www.epa.gov/sites/all/themes/epa/img/svg/epa-seal.svg) 50% 100% no-repeat;
    background-position: 0 0;
    background-size: 5.8824em 5.8824em;
    font-family: "Merriweather", "Georgia", "Cambria", "Times New Roman", "Times", serif;
    font-weight: bold;
    min-height: 5.8824em;
    padding-top: 8em;
}

@media screen and (min-width: 55em) {
    .epa-style .region-footer {
        padding-left: 11em;
        padding-top: 0;
    }
}

.epa-style .region-footer a {
    text-decoration: none;
}

.epa-style .region-footer a:hover {
    text-decoration: underline;
    color: white;
}

.epa-style .region-footer .col__title {
    font-size: 20px;
    margin: 0 0 25px;
}

.epa-style .region-footer .last-updated {
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 0.7em;
    font-weight: 500;
    padding: 0.8333em 0 0;
    text-transform: uppercase;
}

.epa-style .last-updated p {
    font-size: 12px;
}

.epa-style .region-footer .menu>li {
    margin: 0 0 .75em;
}

.epa-style .region-footer .menu a {
    display: inline-block;
    font-size: 15px;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    font-family: "Merriweather", "Georgia", "Cambria", "Times New Roman", "Times", serif;
    font-weight: bold;
}

.epa-style .region-footer .sub-menu {
    list-style: none;
    margin: 0.1176em 0 0;
    padding-left: 0.5882em;
}

.epa-style .region-footer .social-menu {
    margin: 0;
    padding: 0;
}

.epa-style .region-footer .social-menu>li {
    display: inline-block;
    margin: 0 .25em 1em;
    vertical-align: top;
}

@media screen and (min-width: 58em),
print and (min-width: 58em) {
    .epa-style .region-footer .social-menu>li {
        margin: 0 .5em 1em;
    }
}

.epa-style .region-footer .social-menu>li:first-child {
    margin-left: 0;
}

.epa-style .region-footer .social-menu>li:last-child {
    margin-right: 0;
}

.epa-style .region-footer .social-menu>li>a {
    background-size: 26px 26px;
    color: transparent;
    font: 0/0 a;
    height: 26px;
    text-decoration: none;
    text-shadow: none;
    width: 26px;
}

.epa-search-fixed-size {
    width: 16.5em;
}

.epa-style .region-footer .social-menu>li>a:hover,
.epa-style .region-footer .social-menu>li>a:focus {
    box-shadow: none;
    opacity: .8;
}

.epa-style .social-facebook {
    background: url(https://www.epa.gov/sites/all/themes/epa/img/svg/epa_icons_Facebook.svg) no-repeat;
}

.epa-style .social-flickr {
    background: url(https://www.epa.gov/sites/all/themes/epa/img/svg/epa_icons_Flickr.svg) no-repeat;
}

.epa-style .social-instagram {
    background: url(https://www.epa.gov/sites/all/themes/epa/img/svg/epa_icons_Instagram.svg) no-repeat;
}

.epa-style .social-twitter {
    background: url(https://www.epa.gov/sites/all/themes/epa/img/svg/epa_icons_Twitter.svg) no-repeat;
}

.epa-style .social-youtube {
    background: url(https://www.epa.gov/sites/all/themes/epa/img/svg/epa_icons_YouTube.svg) no-repeat;
}
