/* environment banner */
.env-banner {
    color: white;
    display: inline;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    opacity: 80%;
    margin: 0 40%;
}

/* main  */
#main-container {
    padding-left: 1em;
}

/* adjust links w/ a .sticky-header offset */
.sticky-offset-anchor {
    /* height of sticky header plus some padding */
    display: block;
    height: 95px;
    margin-top: -95px;
    visibility: hidden;
}

/* sidebar  */
.sidebar {
    width: 230px;
    background-color: #323a45;
}

/* md/lg breakpoint: https://getbootstrap.com/docs/4.6/layout/overview/#containers */
@media only screen and (max-width: 992px) {
    .sidebar {
        width: 50px;
    }
}

.sidebar a {
    color: #f8f9fa !important;
}

.sidebar .nav {
    font-weight: bold;
}

.sidebar .nav.flex-column .nav-item .nav-link:hover {
    background-color: #252b31;
}

.nav.flex-column.sub-list .nav-item .nav-link {
    padding-left: 2rem;
    font-weight: normal;
}

/* end sidebar */

iframe {
    resize: both;
}

tfoot>tr>td {
    font-size: 80%;
    border-top: none;
}

.hidden {
    display: none;
}

.resize-y {
    overflow-y: auto;
    resize: vertical;
}

.showOptsCaret:hover .optsCaret {
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.optsCaret {
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/* abstract expansion */
.abstract_expand {
    overflow: hidden;
    white-space: nowrap !important;
    width: 600px !important;
    height: 30px;
}

.abstract {
    cursor: pointer;
    text-overflow: ellipsis;
    display: block;
    white-space: unset;
    width: auto;
    font-size: 1.15rem;
    color: #232323;
}
.tag-conf-item {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 16px;
    margin: 16px 0px;
    border-radius: 5px;
    background-color: #ffffff;
}
.list-item-clicked,
.list-item-clicked:hover {
    background-color: #eeeeee;
}

.refTagDiff,
.refTagSame {
    color: #ffffff;
    border-radius: 8px;
    font-weight: bold;
    margin: 4px 2px 4px 8px;
    display: inline-block;
}

.refTagDiff {
    color: #ffffff;
    background-color: maroon !important;
    font-weight: bold;
    padding: 8px 10px 8px 10px;
    font-size: 1rem;
}

.refTagSame {
    color: #ffffff;
    font-size: 0.85rem;
    padding: 5px 7px 5px 7px;
    background-color: #7e7e7e;
}

/* end abstract expansion */

/* BOOTSTRAP 4 OVERRIDES */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

small.form-text {
    font-size: 90%;
}

.dropdown-header {
    color: #006dcc;
    font-weight: bold;
}

mark,
.mark {
    padding: 0;
    background-color: yellow;
}

/* END BOOTSTRAP 4 OVERRIDES */

.float-right-absolute {
    /*
    float in the top right, but remove from html layout; the parent container may need
    to be `position: relative` or something similar
    */
    position: absolute;
    top: 0;
    right: 0;
}

/* Disable html5 number spinners in Chrome */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Disable html5 number spinners in Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

/* Override bootstrap modal width */
.modal-dialog {
    min-width: 950px;
    max-width: 1200px;
}

.modal-body {
    max-height: 600px;
    overflow-y: auto;
}

.modal.fade.in {
    top: 2%;
}

/* adapted; carried over from bootstrap2 */
.well,
.form-actions {
    border: 1px solid #e3e3e3;
    background-color: #f5f5f5;
    padding: 0.5rem !important;
    margin: 0.5rem 0 !important;
}

/* increase contrast more from bootstrap4 defaults */
.btn-light {
    background-color: #e6e6e6
}

.btn-light:hover {
    background-color: #cccccc
}

/* Tooltips */
.hawcTooltip {
    position: absolute !important;
    border: 3px solid gray;
    border-radius: 8px;
    overflow: auto;
    z-index: 1150;
}

/* About-us page */
.videoTab iframe {
    border: 2px black solid;
}

/* Formset field labels */
.formsetFieldLabel {
    cursor: pointer;
    color: inherit;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.formsetFieldLabel:hover {
    color: #738ffe;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/* Risk of Bias */
.rob_score {
    border-radius: 25px;
    height: 50px;
    width: 50px;
    border: 2px solid gray;
    text-align: center;
    line-height: 3em;
    font-weight: bold;
    font-size: larger;
    color: white;
}

.rob_score_bar {
    height: 25px;
    font-weight: bold;
    border: 1px solid gray;
    text-align: end;
    color: white;
}

.rob-copy-reviewers {
    vertical-align: top;
}

/* Data Pivot */
.data_pivot_table {
    display: block;
    height: 600px;
    overflow-y: scroll;
}

.data_pivot_table th {
    background-color: #ddd;
    border: thin solid black;
}

.data_pivot_table td {
    border: thin solid black;
}

/* Smart Tags */
span.smart-tag.active {
    color: navy;
    font-weight: bold;
    padding: 0 2px;
    background-color: #efefef;
    cursor: pointer;
}

span.smart-tag.active:hover {
    color: orange;
}

div.smart-tag.active {
    border: 2px solid gray;
    border-radius: 5px;
    padding: 1em;
}

.inlineSmartTagContainer {
    margin: 0 2em 0 2em;
    border: 2px solid #b2b2b2;
    border-radius: 5px;
    box-shadow: 0 0 1em #888888;
    padding: 0 7px 0 7px;
}

.inlineSmartTagCaption {
    padding: 7px 0 7px 0;
}

.summary_toc {
    margin: 0;
    padding-left: 3px;
    cursor: pointer;
    border: 2px solid white;
}

.summary_toc:hover {
    background-color: orange;
    color: navy;
    border: 2px solid gray;
    font-weight: bold;
}

.summaryTable p {
    margin-bottom: 0 !important;
    /* same as .mb-0  */
}

.summaryTable ul {
    padding-left: 1rem !important;
    /* same as .pl-3  */
    margin-bottom: 0 !important;
    /* same as .mb-0  */
}

/* LITERATURE MODULE */
#refFilter h4,
#fullRefList p {
    overflow: hidden;
    word-wrap: normal;
}

#refFilter {
    transition-property: all !important;
    transition: width 250ms ease-out;
    max-width: 22%;
    width: 22%;
    padding: 0rem 1rem;
}

#refFilter.slideAway {
    transition: all 250ms ease-in;
    max-width: 0%;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
}

#taggingCol {
    transition: width 250ms ease-out;
    width: 53%;
    padding: 0rem 1rem;
}

#taggingCol.slideAway {
    transition: width 250ms ease-in;
    width: 75%;
}

#filter-btn {
    transition: transform 250ms ease-in-out;
}

#filter-btn.slideAway>#caret-left {
    transform: scaleX(-1);
    transition: transform 250ms ease-in-out;
}
#litTagtree {
    max-height: 120vh;
    background-color: #e0f0ff;
    border-radius: 7px;
}

.abstracts {
    font-size: 1.15rem;
    margin-top: 0.25rem;
    background-color: #f5f5f5;
    border-radius: 6px;
}

.ref_small {
    font-size: 0.8465em;
    display: block;
    margin: 0;
}

.ref_title {
    font-weight: bold;
    margin: 0;
    font-size: 1.35rem;
    color: #1b1b1b;
}

.refTag {
    color: #ffffff;
    background-color: #162e51;
    border-radius: 10px;
    border: 0.15rem dotted transparent;
    padding: 4px 7px 4px 7px;
    margin: 0 5px 7px 0;
    display: inline-block;
}
.refUserTag {
    color: #162e51;
    background-color: #ffffff;
    border: 0.15rem dotted #162e51;
}
.refUserTagDiff {
    color: #ffffff;
    background-color: maroon;
    border: 0.15rem dotted #ffffff;
}
.referenceTag{
    text-align: left;
    white-space: pre-wrap;
}

.refTagEditing {
    cursor: pointer;
}

.abstract_label {
    font-weight: bold;
}
 .nestedTag {
    cursor: pointer;
    border: 1px solid transparent;
}

.nestedTag > div.tagHoverAdd {
    display: inline-block;
    position: relative;
    background: linear-gradient(0deg, #484848, #484848) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 200ms;
    --bg-h: 2px;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 15px;
    border: 3px solid transparent;
}

.nestedTag > div.tagHoverAdd:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
}

.nestedTag>div.tagHoverAdd::before {
    color: #484848;
    content: "\f067";
    font-family: FontAwesome;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -1px;
    right: -1px;
    width: 25px;
    height: 110%;
    transform: scale(1, 0);
    transform-origin: bottom;
    transition: all 75ms ease-in 125ms;
}

.nestedTag>div.tagHoverAdd:hover::before {
    transform: scale(1, 1);
}
.tagHoverSimple {
    padding-left: 5px;
    display: inline-block;
    position: relative;
    border: 2px solid transparent;
    text-decoration: none;
}
.tagHoverSimple:hover, .tagSelected {
    --bg-h: 2px;
    background: linear-gradient(0deg, #484848, #484848) no-repeat right bottom / 0 var(--bg-h);
    background-size: 100% var(--bg-h);
    background-position-x: left;
}

.tagSelected {
    font-weight: bold;
}

.reference {
    border-bottom: 3px solid lightgray;
    padding: 0.3rem 0rem 0.3rem 0.5rem;
}

.reference:hover {
    cursor: pointer;
}

.reference.selected {
    color: #ffffff;
    background-color: #162e51;
}

.reference:hover {
    color: #ffffff;
    background-color: #1c4fb7;
}

.hawc-mk {
    background-color: transparent;
    color: inherit;
    text-decoration: none;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
}

/* preview modal icon */
.previewModalParent:hover .previewModalIcon {
    display: inherit;
}

.previewModalIcon {
    display: none;
    cursor: pointer;
}

/* BMD APPLICATION STYLES */

/* BMD output table */
#bmd_recommended_model {
    background-color: #bced91;
}

#bmd_selected_model {
    background-color: yellow;
}

.bmd_recommendation {
    font-size: 1rem;
    padding: 5px 10px;
}

/* FORM FORMATTING */
label {
    font-weight: bold;
}

/* Table-sorting
https://github.com/tristen/tablesort/blob/HEAD/tablesort.css
*/
th[role=columnheader]:not(.no-sort) {
    cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
    content: '';
    float: right;
    margin-top: 7px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #404040 transparent;
    visibility: hidden;
    opacity: 0;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
    border-bottom: none;
    border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
    visibility: visible;
    opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
    visibility: visible;
    opacity: 1;
}

/* server-side order_by functionality for endpoint listings */
table th.sort-header.active-sort {
    cursor: default;
}

table th.sort-header.potential-sort-down:after {
    border-bottom: none;
    border-width: 4px 4px 0;
}

table th.sort-header a {
    color: black;
    text-decoration: none;
}

/* Print styling */
@media print {
    .no-print {
        display: none !important;
        height: 0;
    }
}

/* Risk of Bias */
.rob_footer {
    border-top: none !important;
}

.review-item {
    font-size: 14px;
}

.review-item td {
    padding-right: 20px;
}

.is-complete {
    font-weight: bold;
    color: darkgreen;
}

.form-text .help-text-notes {
    font-style: italic;
}

.form-text .important-note {
    font-style: italic;
    color: red;
}

.form-text .optional {
    color: #999999;
}

table.bordered th,
table.bordered td {
    border: 1px solid #dddddd;
}

/* react-datepicker */
.react-datepicker-wrapper {
    display: block !important;
}

.react-datepicker__input-container {
    display: block !important;
}

/* base header/footer */
.base-footer-div {
    background-color: #646D76;
    padding-top: 2em;
    padding-bottom: 3em;
}

.last-updated {
    font-size: 0.85em;
    font-weight: 500;
    padding: 0.8333em 0 0;
}

.edit-form-background {
    background-color: #D5E6FF;
}

/* htmx */
.htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-out;
}

/* quill */
.ql-editor {
    background-color: white !important;
}

.ql-toolbar {
    background-color: #E1E7F3 !important;
}

/* Utility classes */
.cursor-pointer {
    cursor: pointer;
}

.betatester {
    background-color: #ec744c;
    border-color: #ec744c;
}
