/* main  */
#main-container {
    padding-left: 1em;
}

/* adjust links w/ a .sticky-header offset */
.sticky-offset-anchor {
    /* height of sticky header plus some padding */
    display: block;
    height: 95px;
    margin-top: -95px;
    visibility: hidden;
}

input[type="submit"].btn, section button.btn, section input[type="button"].btn, section a.btn, .modal-content .btn {
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
    white-space: normal;
}

/* sidebar  */
.sidebar {
    width: 230px;
    background-color: #323a45;
}
/* md/lg breakpoint: https://getbootstrap.com/docs/4.6/layout/overview/#containers */
@media only screen and (max-width: 992px) {
    .sidebar {
        width: 50px;
    }
}
.sidebar a {
    color: #f8f9fa !important;
}
.sidebar .nav {
    font-weight: bold;
}
.sidebar .nav.flex-column .nav-item .nav-link:hover {
    background-color: #252b31;
}
.nav.flex-column.sub-list .nav-item .nav-link {
    padding-left: 2rem;
    font-weight: normal;
}
/* end sidebar */
.tny {
    font-size: 0.75rem !important;
}
.label {
    font-weight: bold;
    width: fit-content;
    border-radius: 8px 15px 15px 8px;
    overflow: hidden;
    font-size: 0.85rem;
    padding: .2rem 1rem .2rem .4rem;
    font-family: Source Sans Pro Web, "Noto Sans Arabic", "Noto Sans BN homepage", "Noto Sans GU homepage", "Noto Sans KR homepage", "Noto Sans SC homepage", "Noto Sans BN", "Noto Sans GU", "Noto Sans KR", "Noto Sans SC", "Noto Sans TC", "Helvetica Neue", Helvetica, Arial, sans;
    clip-path: polygon(
        0% 0,
        calc(100% - 12px) 0,
        100% 48%,
        100% 52%,
        calc(100% - 12px) 100%,
        0% 100%
    )
}

.unpublishedBadge+.actionsMenu, .unpublishedBadge+button.close {
    margin-left: unset !important;
}

iframe {
    resize: both;
}
tfoot > tr > td {
    font-size: 80%;
    border-top: none;
}
.hidden {
    display: none;
}
.resize-y {
    overflow-y: auto;
    resize:vertical;
}
.vw50 {
    max-width: 50vw;
}
.vw75 {
    max-width: 75vw;
}
.m-vh75 {
    max-height: 75vh;
}
.clickable, .clickable .bg-gray {
    transition: background-color 0.25s ease;
}
.clickable:hover, .clickable:hover .bg-white {
    cursor: pointer;
    background-color: #f3f3f3 !important;
    text-decoration: none;
}
.box-shadow.clickable:hover {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 3px 11px;
}
.box-shadow-minor.clickable:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 2px 2px 6px 0px;
}
.box-shadow.clickable, .box-shadow-minor.clickable {
    transition: background-color 0.25s ease, box-shadow 0.25s ease;
}
.bg-lightblue {
    background-color: #eaf6ff;
}
.bg-gray {
    background-color: #e8e8e8;
}
.alert-danger {
    background-color: #ffd0d0;
}
.bg-pink {
    background-color: #ffd0d0;
}
.clickable:hover.bg-gray {
    background-color: #d1d1d1 !important;
}
.clickable:hover.bg-pink {
    background-color: #ff9595b3 !important;
}
.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.box-shadow-minor {
    box-shadow: #0000003d 0px 1px 6px -1px;
}
.text-black {
    color: black !important;
}
.dark-link, .dark-link:visited {
    color: #495057;
}
.clickable, .clickable .bg-light {
    transition: background-color 0.20s ease;
    cursor: pointer;
}
.clickable:active {
    background-color: #e3e4e5 !important;
}
.bg-light.clickable:hover, .clickable:hover .bg-light {
    background-color: #e6e7e8 !important;
}
.bg-light.clickable:active, .clickable:active .bg-light {
    background-color: #d4d5d6 !important;
}
.showOptsCaret:hover .optsCaret {
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.optsCaret {
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
p {
    margin-bottom: 0rem !important;
}

select[multiple]{
    resize: vertical;
}

fieldset.fieldset-border {
    border: #c2c7c9 2px solid;
    border-radius: 12px;
    padding: 0.25rem 1rem;
}

fieldset.fieldset-border>legend {
    width: fit-content;
    margin-left: 0.2rem;
    padding: 0rem 0.5rem;
}
fieldset.fieldset-border>div{
    padding: 0 0.75rem;
}

/* BOOTSTRAP 4 OVERRIDES */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}
small.form-text {
    font-size: 90%;
}
.dropdown-header {
    color: #006dcc;
    font-weight: bold;
}
mark,.mark {
    padding: 0;
    background-color: yellow;
}
.card-header {
    font-size: 1.15rem;
}
/* END BOOTSTRAP 4 OVERRIDES */

.float-right-absolute {
    /*
    float in the top right, but remove from html layout; the parent container may need
    to be `position: relative` or something similar
    */
    position: absolute;
    top: 0;
    right: 0;
}

/* Disable html5 number spinners in Chrome */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Disable html5 number spinners in Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

/* Override bootstrap modal width */
.modal-dialog {
    min-width: 950px;
    max-width: 1200px;
}

.modal-body {
    max-height: 75vh;
    overflow-y: auto;
}
.modal.fade.in {
    top: 2%;
}

/* adapted; carried over from bootstrap2 */
.well,
.form-actions {
    border: 1px solid #e3e3e3;
    background-color: #f5f5f5;
    padding: 0.5rem !important;
    margin: 0.5rem 0 !important;
}

/* increase contrast more from bootstrap4 defaults */
.btn-light {
    background-color: #e6e6e6
}
.btn-light:hover {
    background-color: #cccccc
}

/* About-us page */
.videoTab iframe {
    border: 2px black solid;
}

/* Formset field labels */
.formsetFieldLabel {
    cursor: pointer;
    color: inherit;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.formsetFieldLabel:hover {
    color: #738ffe;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/* Risk of Bias */
.rob_score {
    border-radius: 25px;
    height: 50px;
    width: 50px;
    border: 2px solid gray;
    text-align: center;
    line-height: 3em;
    font-weight: bold;
    font-size: larger;
    color: white;
}
.rob_score_bar {
    height: 25px;
    font-weight: bold;
    border: 1px solid gray;
    text-align: end;
    color: white;
}
.rob-copy-reviewers {
    vertical-align: top;
}

/* Data Pivot */
.data_pivot_table {
    display: block;
    height: 600px;
    overflow-y: scroll;
}
.data_pivot_table th {
    background-color: #ddd;
    border: thin solid black;
}
.data_pivot_table td {
    border: thin solid black;
}

/* Smart Tags */
span.smart-tag.active {
    color: navy;
    font-weight: bold;
    padding: 0 2px;
    background-color: #efefef;
    cursor: pointer;
}
span.smart-tag.active:hover {
    color: orange;
}
div.smart-tag.active {
    border: 2px solid gray;
    border-radius: 5px;
    padding: 1em;
}
.inlineSmartTagContainer {
    margin: 0 2em 0 2em;
    border: 2px solid #b2b2b2;
    border-radius: 5px;
    box-shadow: 0 0 1em #888888;
    padding: 0 7px 0 7px;
}
.inlineSmartTagCaption {
    padding: 7px 0 7px 0;
}
.summary_toc {
    margin: 0;
    padding-left: 3px;
    cursor: pointer;
    border: 2px solid white;
}
.summary_toc:hover {
    background-color: orange;
    color: navy;
    border: 2px solid gray;
    font-weight: bold;
}

.summaryTable  p {
    margin-bottom: 0 !important;  /* same as .mb-0  */
}
.summaryTable ul {
    padding-left: 1rem !important;  /* same as .pl-3  */
    margin-bottom: 0 !important;  /* same as .mb-0  */
}

/* mgmt/task-assignment status  */
.mgmt-circle {
    padding: 0 5px;
}

.mgmt-circle.s10 {
    color: #CFCFCF;
}

.mgmt-circle.s20 {
    color: #FFCC00;
}

.mgmt-circle.s30 {
    color: #00CC00;
}

.mgmt-circle.s40 {
    color: #CC3333;
}

/* LITERATURE MODULE */
.lit-review-box {
    border-radius: 5px;
    padding: 16px;
    margin-bottom: 24px;
    min-height: 6.5rem;
    display: flex;
    justify-content: center;
    flex-direction:column;
    color: black !important;
    height: fit-content;
}
.lit-review-box.with-icon {
    justify-content: space-between;
    flex-direction: row;
}
.lit-review-box.with-icon div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lit-icon {
    padding-left: 16px;
}
.lit-icon .icon-bg {
    display: flex !important;
    justify-content: center;
    background: #aacdec;
    border-radius: 8px;
    height: 55px;
    width: 55px;
    color: white;
    font-size: 2em;
    align-items:center;
}
.small-tag-icon {
    height: 20px;
    width: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.75rem;
}
.small-tag-icon.consensus {
    color: white;
    background-color: rgb(22, 46, 81);
}
.small-tag-icon.user {
    color: rgb(22, 46, 81);
    border: 2px dotted rgb(22, 46, 81);
    background-color: white;
}
.lit-review-box>.btn {
    padding: 0.35rem;
    width: 70%;
    font-size: large;
}
#refFilter h4,
#fullRefList p {
    overflow: hidden;
    word-wrap: normal;
}
#refFilter {
    transition-property: all !important;
    transition: width 250ms ease-out;
    max-width: 22%;
    width: 22%;
    padding: 0rem 1rem;
}
#refFilter.slideAway {
    transition: all 250ms ease-in;
    max-width: 0%;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
}
#refFilter.slideAway div p {
    /* prevent squashing on collapse */
    max-height: 26px;
}
#taggingCol {
    transition: width 250ms ease-out;
    width: 53%;
    padding: 0rem 1rem;
}
#taggingCol.slideAway {
    transition: width 250ms ease-in;
    width: 75%;
}
#filter-btn {
    transition: transform 250ms ease-in-out;
}
#filter-btn.slideAway>#caret-left {
    transform: scaleX(-1);
    transition: transform 250ms ease-in-out;
}
#litTagtree {
    background-color: #e0f0ff;
    border-radius: 7px;
    height: 50rem;
}
.alert.slide {
    border: none;
    overflow: hidden;
}
.alert.slide.gone {
    height: 0px;
    padding: 0 1.25rem;
}
.alert.slide.showing {
    height: unset;
    transition: all 0.5s ease-out;
}
.ref_small {
    font-size: 0.8465em;
    display: block;
    margin: 0;
    color: #555555;
}
.ref_title {
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.4;
    color: #1b1b1b;
}
.referenceTag{
    text-align: left;
    white-space: pre-wrap;
}
.abstract_label {
    font-weight: bold;
}
 .nestedTag {
    cursor: pointer;
    border: 1px solid transparent;
}

.nestedTag > div.tagHoverAdd {
    display: inline-block;
    position: relative;
    background: linear-gradient(0deg, #484848, #484848) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 200ms;
    --bg-h: 2px;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 15px;
    border: 3px solid transparent;
}

.nestedTag > div.tagHoverAdd:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
}

.nestedTag>div.tagHoverAdd::before {
    color: #484848;
    content: "\f067";
    font-family: FontAwesome;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -1px;
    right: -1px;
    width: 25px;
    height: 110%;
    transform: scale(1, 0);
    transform-origin: bottom;
    transition: all 75ms ease-in 125ms;
}

.nestedTag>div.tagHoverAdd:hover::before {
    transform: scale(1, 1);
}
.tagHover {
    padding-left: 5px;
    display: inline-block;
    position: relative;
    border: 2px solid transparent;
    text-decoration: none;
}
.tagHover:hover, .tagSelected {
    font-weight: bold;
    font-style: italic;
}

.tagSelected {
    background-color: #747474;
    color: white;
    border-radius: 5px;
    font-style: normal !important;
}
.reference {
    border-bottom: 3px solid lightgray;
    padding: 0.3rem 0rem 0.3rem 0.5rem;
}
.reference:hover {
    cursor: pointer;
    background-color: #d6d6d6;
}
.reference.selected {
    color: #ffffff;
    background-color: #7f7f7f;
}

.hawc-mk {
    background-color: transparent;
    color: inherit;
    text-decoration: none;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
}

.border-bottom-light {
    border-bottom: 2px solid #c7c7c7 !important;
}

.conflict-reference-li {
    border-bottom: 5px solid #b0b0b0 !important;
}
.abstracts {
    font-size: 0.95rem;
    line-height: 1.4rem;
    height: 15rem;
    display: block;
    cursor: pointer;
    background-color: #f8f8f8;
    transition: all 0.15s ease-out;
    scrollbar-gutter: stable;
    overflow-y: scroll;
}
.abstracts:hover {
    background-color: #f8f8f8;
}
.abstract-collapsed {
    height: 4.2rem;
    overflow: hidden;
    background-color: unset;
}
.referenceDetail.expanded .ref_title {
    font-size: 1.35rem;
    text-shadow: 0 0 0 black;
}
.referenceDetail.expanded .abstracts {
    height: fit-content;
    cursor: unset;
}
.referenceDetail.expanded .abstracts:hover{
    background-color: unset;
}
.refTag {
    color: #ffffff !important;
    background-color: #162e51;
    border-radius: 10px;
    border: 0.1rem dotted transparent;
    padding: 2px 5px;
    margin: 0 10px 14px 0;
    display: inline-block;
    font-size: 0.95rem;
}
.refUserTag {
    color: #162e51 !important;
    background-color: #ffffff;
    border: 0.1rem dotted #162e51;
}
.refTagDiff,
.refTagSame {
    color: #ffffff !important;
    border-radius: 8px;
    font-weight: bold;
    margin: 4px 2px 4px 8px;
    display: inline-block;
}

.refUserTagRemove {
    color: rgb(128,0,0) !important;
    background-color: #ffffff;
    border: 0.1rem dotted rgb(128,0,0);
    text-decoration: line-through rgba(128,0,0,0.5);
}
.refTagSame {
    font-size: 0.85rem;
    background-color: #7e7e7e;
}
.tagLink:hover {
    text-decoration: none;
    background-color: #29559c;
}
.tagLink {
    transition: background-color 0.15s ease-out;
    font-size: 0.85rem;
    margin: 0 4px 3px 0;
}
.referenceDetail.expanded .tagLink {
    font-size: 1rem;
    padding: 4px 7px;
    margin: 0 10px 14px 0;
}

/* custom button classes */
.outline-btn {
    height: fit-content;
    color: #666666 !important;
    border: 1px solid #666666;
    transition: all 0.15s ease;
    font-weight: bold;
    line-height: 1;
    font-size: 0.9rem;
    padding: 0.3rem 0.3rem;
}
input[type="submit"].outline-btn, section button.outline-btn, section input[type="button"].outline-btn, section a.outline-btn, .modal-content .outline-btn {
    border: 1px solid #666666;
}
a.outline-btn:hover, .dropdown.outline-btn:hover, .btn.outline-btn:hover {
    text-decoration:none;
    color: black !important;
    background-color: #d4d4d4;
}
.btn-tny {
    font-size: 0.75rem;
    padding: 0.25em 0.4em;
    line-height: 0.8rem !important;
    margin-bottom: 2px;
    height: fit-content;
}

/* preview modal icon */
.previewModalParent:hover .previewModalIcon{
    display: inherit;
}
.previewModalIcon {
    display: none;
    cursor: pointer;
}

/* custom inline filterset forms */
.form-sm-field {
    font-size: 0.88rem;
    height: auto;
    width: auto;
    border-radius: 0;
    line-height: 1.7;
}

#ff-expand-form {
    border-radius: 0 0 10px 10px;
    box-shadow: rgb(127 142 153 / 31%) 0px 8px 15px;
    background-color: #eaf6ff;
}

#ff-expand-form .form-group, .pad-form .form-group {
    padding: 0.2rem 0.75rem;
}

div.input-group span.autocompletetextwidget {
    height: 37.5px;
    line-height: 1.7;
}

div.input-group-append select {
    height: 100%;
}

/* BMD APPLICATION STYLES */

/* BMD output table */
#bmd_recommended_model {
    background-color: #bced91;
}
#bmd_selected_model {
    background-color: yellow;
}
.bmd_recommendation {
    font-size: 1rem;
    padding: 5px 10px;
}

/* FORM FORMATTING */
label {
    font-weight: bold;
}

/* Table-sorting
https://github.com/tristen/tablesort/blob/HEAD/tablesort.css
*/
th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}
th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}
th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}
th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}

/* server-side order_by functionality for endpoint listings */
table th.sort-header.active-sort {
    cursor: default;
}

table th.sort-header.potential-sort-down:after {
    border-bottom: none;
    border-width: 4px 4px 0;
}

table th.sort-header a {
    color: black;
    text-decoration: none;
}

/* Print styling */
@media print {
    .no-print {
        display: none !important;
        height: 0;
    }
}

/* Risk of Bias */
.rob_footer {
    border-top: none !important;
}

.review-item {
    font-size: 14px;
}

.review-item td {
    padding-right: 20px;
}

.is-complete {
    font-weight: bold;
    color: darkgreen;
}

.form-text .help-text-notes {
    font-style: italic;
}

.form-text .important-note {
    font-style: italic;
    color: red;
}

.form-text .optional {
    color: #999999;
}

table.bordered th,
table.bordered td {
    border: 1px solid #dddddd;
}

/* UDF */
div.udf-info-row>p, div.udf-info-row>div.card>p {
    line-height: 1.6rem;
}

/* base header/footer */
.base-footer-div {
  background-color: #646D76;
  padding-top: 2em;
  padding-bottom: 3em;
}
.last-updated {
    font-size: 0.85em;
    font-weight: 500;
    padding: 0.8333em 0 0;
}

.edit-form-background {
    background-color: #D5E6FF;
}

/* htmx */
.htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-out;
}
.htmx-indicator {
    opacity: 0;
    transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator,
.htmx-request.htmx-indicator {
    opacity: 1
}

/* fade in/out */
.fade-in-out {
    animation: fadeInOutKeyFrame 2s linear;
}
@keyframes fadeInOutKeyFrame {
    0%,100% { opacity: 0 }
    20%,80% { opacity: 1 }
}

/* quill */
.ql-editor {
    background-color: white !important;
}
.ql-toolbar {
    background-color: #E1E7F3 !important;
}

/* Utility classes */
.cursor-pointer {
    cursor: pointer;
}
.w-30 {
    width: 30%!important;
}
.w-60 {
    width: 60%!important;
}
.betatester {
    background-color: #ec744c;
    border-color: #ec744c;
}
.unstyled-action-button {
    background: none;
    border: none;
    padding: 0;
}
.smaller {
    font-size: .8em;
    font-weight: 400;
}
.m-xs {
    margin: 0.1rem !important;
}
.show-only-child {
    display: none;
}
.show-only-child:only-child {
    display: revert;
}

/* table column text alignment */
.col-r-1 td:nth-child(1),
.col-r-1 th:nth-child(1),
.col-r-2 td:nth-child(2),
.col-r-2 th:nth-child(2),
.col-r-3 td:nth-child(3),
.col-r-3 th:nth-child(3),
.col-r-4 td:nth-child(4),
.col-r-4 th:nth-child(4),
.col-r-5 td:nth-child(5),
.col-r-5 th:nth-child(5),
.col-r-6 td:nth-child(6),
.col-r-6 th:nth-child(6),
.col-r-7 td:nth-child(7),
.col-r-7 th:nth-child(7),
.col-r-8 td:nth-child(8),
.col-r-8 th:nth-child(8),
.col-r-9 td:nth-child(9),
.col-r-9 th:nth-child(9),
.col-r-10 td:nth-child(10),
.col-r-10 th:nth-child(10),
.col-r-11 td:nth-child(11),
.col-r-11 th:nth-child(11),
.col-r-12 td:nth-child(12),
.col-r-12 th:nth-child(12) {
    text-align: right;
}
.col-l-1 td:nth-child(1),
.col-l-1 th:nth-child(1),
.col-l-2 td:nth-child(2),
.col-l-2 th:nth-child(2),
.col-l-3 td:nth-child(3),
.col-l-3 th:nth-child(3),
.col-l-4 td:nth-child(4),
.col-l-4 th:nth-child(4),
.col-l-5 td:nth-child(5),
.col-l-5 th:nth-child(5),
.col-l-6 td:nth-child(6),
.col-l-6 th:nth-child(6),
.col-l-7 td:nth-child(7),
.col-l-7 th:nth-child(7),
.col-l-8 td:nth-child(8),
.col-l-8 th:nth-child(8),
.col-l-9 td:nth-child(9),
.col-l-9 th:nth-child(9),
.col-l-10 td:nth-child(10),
.col-l-10 th:nth-child(10),
.col-l-11 td:nth-child(11),
.col-l-11 th:nth-child(11),
.col-l-12 td:nth-child(12),
.col-l-12 th:nth-child(12) {
    text-align: left;
}

.hide-empty-tbody {
    display: none;
}
.hide-empty-tbody:has(tbody>tr) {
    display: revert;
}

.table-striped-invert tbody tr.epiv2-obj-row:nth-of-type(even) {
    background-color: #ffffff;
}
.table-striped-invert tbody tr.epiv2-obj-row:nth-of-type(odd) {
    background-color: #f0f4f9;
}

/* anchor links */
.anchor-link {
    opacity: 0;
    text-decoration: none;
    color: #738ffe;
    transition: 0.5s;
}
h2:hover > .anchor-link,
h3:hover > .anchor-link,
h4:hover > .anchor-link,
h5:hover > .anchor-link,
h6:hover > .anchor-link {
    opacity: 1;
}

/* vendor data table css: https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css */
table.dataTable td.dt-control{text-align:center;cursor:pointer}table.dataTable td.dt-control:before{height:1em;width:1em;margin-top:-9px;display:inline-block;color:white;border:.15em solid white;border-radius:1em;box-shadow:0 0 .2em #444;box-sizing:content-box;text-align:center;text-indent:0 !important;font-family:"Courier New",Courier,monospace;line-height:1em;content:"+";background-color:#31b131}table.dataTable tr.dt-hasChild td.dt-control:before{content:"-";background-color:#d33333}table.dataTable thead>tr>th.sorting,table.dataTable thead>tr>th.sorting_asc,table.dataTable thead>tr>th.sorting_desc,table.dataTable thead>tr>th.sorting_asc_disabled,table.dataTable thead>tr>th.sorting_desc_disabled,table.dataTable thead>tr>td.sorting,table.dataTable thead>tr>td.sorting_asc,table.dataTable thead>tr>td.sorting_desc,table.dataTable thead>tr>td.sorting_asc_disabled,table.dataTable thead>tr>td.sorting_desc_disabled{cursor:pointer;position:relative;padding-right:26px}table.dataTable thead>tr>th.sorting:before,table.dataTable thead>tr>th.sorting:after,table.dataTable thead>tr>th.sorting_asc:before,table.dataTable thead>tr>th.sorting_asc:after,table.dataTable thead>tr>th.sorting_desc:before,table.dataTable thead>tr>th.sorting_desc:after,table.dataTable thead>tr>th.sorting_asc_disabled:before,table.dataTable thead>tr>th.sorting_asc_disabled:after,table.dataTable thead>tr>th.sorting_desc_disabled:before,table.dataTable thead>tr>th.sorting_desc_disabled:after,table.dataTable thead>tr>td.sorting:before,table.dataTable thead>tr>td.sorting:after,table.dataTable thead>tr>td.sorting_asc:before,table.dataTable thead>tr>td.sorting_asc:after,table.dataTable thead>tr>td.sorting_desc:before,table.dataTable thead>tr>td.sorting_desc:after,table.dataTable thead>tr>td.sorting_asc_disabled:before,table.dataTable thead>tr>td.sorting_asc_disabled:after,table.dataTable thead>tr>td.sorting_desc_disabled:before,table.dataTable thead>tr>td.sorting_desc_disabled:after{position:absolute;display:block;opacity:.125;right:10px;line-height:9px;font-size:.9em}table.dataTable thead>tr>th.sorting:before,table.dataTable thead>tr>th.sorting_asc:before,table.dataTable thead>tr>th.sorting_desc:before,table.dataTable thead>tr>th.sorting_asc_disabled:before,table.dataTable thead>tr>th.sorting_desc_disabled:before,table.dataTable thead>tr>td.sorting:before,table.dataTable thead>tr>td.sorting_asc:before,table.dataTable thead>tr>td.sorting_desc:before,table.dataTable thead>tr>td.sorting_asc_disabled:before,table.dataTable thead>tr>td.sorting_desc_disabled:before{bottom:50%;content:"▴"}table.dataTable thead>tr>th.sorting:after,table.dataTable thead>tr>th.sorting_asc:after,table.dataTable thead>tr>th.sorting_desc:after,table.dataTable thead>tr>th.sorting_asc_disabled:after,table.dataTable thead>tr>th.sorting_desc_disabled:after,table.dataTable thead>tr>td.sorting:after,table.dataTable thead>tr>td.sorting_asc:after,table.dataTable thead>tr>td.sorting_desc:after,table.dataTable thead>tr>td.sorting_asc_disabled:after,table.dataTable thead>tr>td.sorting_desc_disabled:after{top:50%;content:"▾"}table.dataTable thead>tr>th.sorting_asc:before,table.dataTable thead>tr>th.sorting_desc:after,table.dataTable thead>tr>td.sorting_asc:before,table.dataTable thead>tr>td.sorting_desc:after{opacity:.6}table.dataTable thead>tr>th.sorting_desc_disabled:after,table.dataTable thead>tr>th.sorting_asc_disabled:before,table.dataTable thead>tr>td.sorting_desc_disabled:after,table.dataTable thead>tr>td.sorting_asc_disabled:before{display:none}table.dataTable thead>tr>th:active,table.dataTable thead>tr>td:active{outline:none}div.dataTables_scrollBody table.dataTable thead>tr>th:before,div.dataTables_scrollBody table.dataTable thead>tr>th:after,div.dataTables_scrollBody table.dataTable thead>tr>td:before,div.dataTables_scrollBody table.dataTable thead>tr>td:after{display:none}div.dataTables_processing{position:absolute;top:50%;left:50%;width:200px;margin-left:-100px;margin-top:-26px;text-align:center;padding:2px}div.dataTables_processing>div:last-child{position:relative;width:80px;height:15px;margin:1em auto}div.dataTables_processing>div:last-child>div{position:absolute;top:0;width:13px;height:13px;border-radius:50%;background:rgba(13, 110, 253, 0.9);animation-timing-function:cubic-bezier(0, 1, 1, 0)}div.dataTables_processing>div:last-child>div:nth-child(1){left:8px;animation:datatables-loader-1 .6s infinite}div.dataTables_processing>div:last-child>div:nth-child(2){left:8px;animation:datatables-loader-2 .6s infinite}div.dataTables_processing>div:last-child>div:nth-child(3){left:32px;animation:datatables-loader-2 .6s infinite}div.dataTables_processing>div:last-child>div:nth-child(4){left:56px;animation:datatables-loader-3 .6s infinite}@keyframes datatables-loader-1{0%{transform:scale(0)}100%{transform:scale(1)}}@keyframes datatables-loader-3{0%{transform:scale(1)}100%{transform:scale(0)}}@keyframes datatables-loader-2{0%{transform:translate(0, 0)}100%{transform:translate(24px, 0)}}table.dataTable.nowrap th,table.dataTable.nowrap td{white-space:nowrap}table.dataTable th.dt-left,table.dataTable td.dt-left{text-align:left}table.dataTable th.dt-center,table.dataTable td.dt-center,table.dataTable td.dataTables_empty{text-align:center}table.dataTable th.dt-right,table.dataTable td.dt-right{text-align:right}table.dataTable th.dt-justify,table.dataTable td.dt-justify{text-align:justify}table.dataTable th.dt-nowrap,table.dataTable td.dt-nowrap{white-space:nowrap}table.dataTable thead th,table.dataTable thead td,table.dataTable tfoot th,table.dataTable tfoot td{text-align:left}table.dataTable thead th.dt-head-left,table.dataTable thead td.dt-head-left,table.dataTable tfoot th.dt-head-left,table.dataTable tfoot td.dt-head-left{text-align:left}table.dataTable thead th.dt-head-center,table.dataTable thead td.dt-head-center,table.dataTable tfoot th.dt-head-center,table.dataTable tfoot td.dt-head-center{text-align:center}table.dataTable thead th.dt-head-right,table.dataTable thead td.dt-head-right,table.dataTable tfoot th.dt-head-right,table.dataTable tfoot td.dt-head-right{text-align:right}table.dataTable thead th.dt-head-justify,table.dataTable thead td.dt-head-justify,table.dataTable tfoot th.dt-head-justify,table.dataTable tfoot td.dt-head-justify{text-align:justify}table.dataTable thead th.dt-head-nowrap,table.dataTable thead td.dt-head-nowrap,table.dataTable tfoot th.dt-head-nowrap,table.dataTable tfoot td.dt-head-nowrap{white-space:nowrap}table.dataTable tbody th.dt-body-left,table.dataTable tbody td.dt-body-left{text-align:left}table.dataTable tbody th.dt-body-center,table.dataTable tbody td.dt-body-center{text-align:center}table.dataTable tbody th.dt-body-right,table.dataTable tbody td.dt-body-right{text-align:right}table.dataTable tbody th.dt-body-justify,table.dataTable tbody td.dt-body-justify{text-align:justify}table.dataTable tbody th.dt-body-nowrap,table.dataTable tbody td.dt-body-nowrap{white-space:nowrap}table.dataTable{width:100%;margin:0 auto;clear:both;border-collapse:separate;border-spacing:0}table.dataTable thead th,table.dataTable tfoot th{font-weight:bold}table.dataTable thead th,table.dataTable thead td{padding:10px;border-bottom:1px solid rgba(0, 0, 0, 0.3)}table.dataTable thead th:active,table.dataTable thead td:active{outline:none}table.dataTable tfoot th,table.dataTable tfoot td{padding:10px 10px 6px 10px;border-top:1px solid rgba(0, 0, 0, 0.3)}table.dataTable tbody tr{background-color:transparent}table.dataTable tbody tr.selected>*{box-shadow:inset 0 0 0 9999px rgba(13, 110, 253, 0.9);color:white}table.dataTable tbody th,table.dataTable tbody td{padding:8px 10px}table.dataTable.row-border tbody th,table.dataTable.row-border tbody td,table.dataTable.display tbody th,table.dataTable.display tbody td{border-top:1px solid rgba(0, 0, 0, 0.15)}table.dataTable.row-border tbody tr:first-child th,table.dataTable.row-border tbody tr:first-child td,table.dataTable.display tbody tr:first-child th,table.dataTable.display tbody tr:first-child td{border-top:none}table.dataTable.cell-border tbody th,table.dataTable.cell-border tbody td{border-top:1px solid rgba(0, 0, 0, 0.15);border-right:1px solid rgba(0, 0, 0, 0.15)}table.dataTable.cell-border tbody tr th:first-child,table.dataTable.cell-border tbody tr td:first-child{border-left:1px solid rgba(0, 0, 0, 0.15)}table.dataTable.cell-border tbody tr:first-child th,table.dataTable.cell-border tbody tr:first-child td{border-top:none}table.dataTable.stripe>tbody>tr.odd>*,table.dataTable.display>tbody>tr.odd>*{box-shadow:inset 0 0 0 9999px rgba(0, 0, 0, 0.023)}table.dataTable.stripe>tbody>tr.odd.selected>*,table.dataTable.display>tbody>tr.odd.selected>*{box-shadow:inset 0 0 0 9999px rgba(13, 110, 253, 0.923)}table.dataTable.hover>tbody>tr:hover>*,table.dataTable.display>tbody>tr:hover>*{box-shadow:inset 0 0 0 9999px rgba(0, 0, 0, 0.035)}table.dataTable.hover>tbody>tr.selected:hover>*,table.dataTable.display>tbody>tr.selected:hover>*{box-shadow:inset 0 0 0 9999px rgba(13, 110, 253, 0.935)}table.dataTable.order-column>tbody tr>.sorting_1,table.dataTable.order-column>tbody tr>.sorting_2,table.dataTable.order-column>tbody tr>.sorting_3,table.dataTable.display>tbody tr>.sorting_1,table.dataTable.display>tbody tr>.sorting_2,table.dataTable.display>tbody tr>.sorting_3{box-shadow:inset 0 0 0 9999px rgba(0, 0, 0, 0.019)}table.dataTable.order-column>tbody tr.selected>.sorting_1,table.dataTable.order-column>tbody tr.selected>.sorting_2,table.dataTable.order-column>tbody tr.selected>.sorting_3,table.dataTable.display>tbody tr.selected>.sorting_1,table.dataTable.display>tbody tr.selected>.sorting_2,table.dataTable.display>tbody tr.selected>.sorting_3{box-shadow:inset 0 0 0 9999px rgba(13, 110, 253, 0.919)}table.dataTable.display>tbody>tr.odd>.sorting_1,table.dataTable.order-column.stripe>tbody>tr.odd>.sorting_1{box-shadow:inset 0 0 0 9999px rgba(0, 0, 0, 0.054)}table.dataTable.display>tbody>tr.odd>.sorting_2,table.dataTable.order-column.stripe>tbody>tr.odd>.sorting_2{box-shadow:inset 0 0 0 9999px rgba(0, 0, 0, 0.047)}table.dataTable.display>tbody>tr.odd>.sorting_3,table.dataTable.order-column.stripe>tbody>tr.odd>.sorting_3{box-shadow:inset 0 0 0 9999px rgba(0, 0, 0, 0.039)}table.dataTable.display>tbody>tr.odd.selected>.sorting_1,table.dataTable.order-column.stripe>tbody>tr.odd.selected>.sorting_1{box-shadow:inset 0 0 0 9999px rgba(13, 110, 253, 0.954)}table.dataTable.display>tbody>tr.odd.selected>.sorting_2,table.dataTable.order-column.stripe>tbody>tr.odd.selected>.sorting_2{box-shadow:inset 0 0 0 9999px rgba(13, 110, 253, 0.947)}table.dataTable.display>tbody>tr.odd.selected>.sorting_3,table.dataTable.order-column.stripe>tbody>tr.odd.selected>.sorting_3{box-shadow:inset 0 0 0 9999px rgba(13, 110, 253, 0.939)}table.dataTable.display>tbody>tr.even>.sorting_1,table.dataTable.order-column.stripe>tbody>tr.even>.sorting_1{box-shadow:inset 0 0 0 9999px rgba(0, 0, 0, 0.019)}table.dataTable.display>tbody>tr.even>.sorting_2,table.dataTable.order-column.stripe>tbody>tr.even>.sorting_2{box-shadow:inset 0 0 0 9999px rgba(0, 0, 0, 0.011)}table.dataTable.display>tbody>tr.even>.sorting_3,table.dataTable.order-column.stripe>tbody>tr.even>.sorting_3{box-shadow:inset 0 0 0 9999px rgba(0, 0, 0, 0.003)}table.dataTable.display>tbody>tr.even.selected>.sorting_1,table.dataTable.order-column.stripe>tbody>tr.even.selected>.sorting_1{box-shadow:inset 0 0 0 9999px rgba(13, 110, 253, 0.919)}table.dataTable.display>tbody>tr.even.selected>.sorting_2,table.dataTable.order-column.stripe>tbody>tr.even.selected>.sorting_2{box-shadow:inset 0 0 0 9999px rgba(13, 110, 253, 0.911)}table.dataTable.display>tbody>tr.even.selected>.sorting_3,table.dataTable.order-column.stripe>tbody>tr.even.selected>.sorting_3{box-shadow:inset 0 0 0 9999px rgba(13, 110, 253, 0.903)}table.dataTable.display tbody tr:hover>.sorting_1,table.dataTable.order-column.hover tbody tr:hover>.sorting_1{box-shadow:inset 0 0 0 9999px rgba(0, 0, 0, 0.082)}table.dataTable.display tbody tr:hover>.sorting_2,table.dataTable.order-column.hover tbody tr:hover>.sorting_2{box-shadow:inset 0 0 0 9999px rgba(0, 0, 0, 0.074)}table.dataTable.display tbody tr:hover>.sorting_3,table.dataTable.order-column.hover tbody tr:hover>.sorting_3{box-shadow:inset 0 0 0 9999px rgba(0, 0, 0, 0.062)}table.dataTable.display tbody tr:hover.selected>.sorting_1,table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_1{box-shadow:inset 0 0 0 9999px rgba(13, 110, 253, 0.982)}table.dataTable.display tbody tr:hover.selected>.sorting_2,table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_2{box-shadow:inset 0 0 0 9999px rgba(13, 110, 253, 0.974)}table.dataTable.display tbody tr:hover.selected>.sorting_3,table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_3{box-shadow:inset 0 0 0 9999px rgba(13, 110, 253, 0.962)}table.dataTable.no-footer{border-bottom:1px solid rgba(0, 0, 0, 0.3)}table.dataTable.compact thead th,table.dataTable.compact thead td{padding:4px 17px}table.dataTable.compact tfoot th,table.dataTable.compact tfoot td{padding:4px}table.dataTable.compact tbody th,table.dataTable.compact tbody td{padding:4px}table.dataTable th,table.dataTable td{box-sizing:content-box}.dataTables_wrapper{position:relative;clear:both}.dataTables_wrapper .dataTables_length{float:left}.dataTables_wrapper .dataTables_length select{border:1px solid #aaa;border-radius:3px;padding:5px;background-color:transparent;padding:4px}.dataTables_wrapper .dataTables_filter{float:right;text-align:right}.dataTables_wrapper .dataTables_filter input{border:1px solid #aaa;border-radius:3px;padding:5px;background-color:transparent;margin-left:3px}.dataTables_wrapper .dataTables_info{clear:both;float:left;padding-top:.755em}.dataTables_wrapper .dataTables_paginate{float:right;text-align:right;padding-top:.25em}.dataTables_wrapper .dataTables_paginate .paginate_button{box-sizing:border-box;display:inline-block;min-width:1.5em;padding:.5em 1em;margin-left:2px;text-align:center;text-decoration:none !important;cursor:pointer;color:#333 !important;border:1px solid transparent;border-radius:2px}.dataTables_wrapper .dataTables_paginate .paginate_button.current,.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{color:#333 !important;border:1px solid rgba(0, 0, 0, 0.3);background-color:rgba(230, 230, 230, 0.1);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(230, 230, 230, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)));background:-webkit-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);background:-moz-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);background:-ms-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);background:-o-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);background:linear-gradient(to bottom, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%)}.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{cursor:default;color:#666 !important;border:1px solid transparent;background:transparent;box-shadow:none}.dataTables_wrapper .dataTables_paginate .paginate_button:hover{color:white !important;border:1px solid #111;background-color:#585858;background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));background:-webkit-linear-gradient(top, #585858 0%, #111 100%);background:-moz-linear-gradient(top, #585858 0%, #111 100%);background:-ms-linear-gradient(top, #585858 0%, #111 100%);background:-o-linear-gradient(top, #585858 0%, #111 100%);background:linear-gradient(to bottom, #585858 0%, #111 100%)}.dataTables_wrapper .dataTables_paginate .paginate_button:active{outline:none;background-color:#2b2b2b;background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));background:-webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);background:-moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);background:-ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);background:-o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);background:linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);box-shadow:inset 0 0 3px #111}.dataTables_wrapper .dataTables_paginate .ellipsis{padding:0 1em}.dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter,.dataTables_wrapper .dataTables_info,.dataTables_wrapper .dataTables_processing,.dataTables_wrapper .dataTables_paginate{color:#333}.dataTables_wrapper .dataTables_scroll{clear:both}.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody{-webkit-overflow-scrolling:touch}.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>th,.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>td,.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>th,.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td{vertical-align:middle}.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>th>div.dataTables_sizing,.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>td>div.dataTables_sizing,.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>th>div.dataTables_sizing,.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td>div.dataTables_sizing{height:0;overflow:hidden;margin:0 !important;padding:0 !important}.dataTables_wrapper.no-footer .dataTables_scrollBody{border-bottom:1px solid rgba(0, 0, 0, 0.3)}.dataTables_wrapper.no-footer div.dataTables_scrollHead table.dataTable,.dataTables_wrapper.no-footer div.dataTables_scrollBody>table{border-bottom:none}.dataTables_wrapper:after{visibility:hidden;display:block;content:"";clear:both;height:0}@media screen and (max-width: 767px){.dataTables_wrapper .dataTables_info,.dataTables_wrapper .dataTables_paginate{float:none;text-align:center}.dataTables_wrapper .dataTables_paginate{margin-top:.5em}}@media screen and (max-width: 640px){.dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{float:none;text-align:center}.dataTables_wrapper .dataTables_filter{margin-top:.5em}}
