h1, .h1 {
  font-size: 2.44rem;
}
h2, .h2 {
  font-size: 1.95rem;
}
h3, .h3 {
  font-size: 1.34rem;
}
h4, .h4 {
  font-size: 0.98rem;
}
h5, .h5 {
  font-size: 0.91rem;
}
h6, .h6 {
  font-size: 0.86rem;
}
