<table class="table table-condensed table-striped" hx-target="this" id="design-table">
    <colgroup>
        <col style="width: 20%;">
        <col style="width: 80%;">
    </colgroup>
    <tbody>
        <tr>
            <td><b>Study design</b></td>
            <td>{{object.get_study_design_display}}</td>
        </tr>
        <tr>
            <td><b>Source</b></td>
            <td>{{object.get_source_display}}</td>
        </tr>
        <tr>
            <td><b>Population age category</b></td>
            <td>{{object.get_age_profile_display}}</td>
        </tr>
        <tr>
            <td><b>Population age details</b></td>
            <td>{{object.age_description}}</td>
        </tr>
        <tr>
            <td><b>Sex</b></td>
            <td>{{object.get_sex_display}}</td>
        </tr>
        <tr>
            <td><b>Population race/ethnicity</b></td>
            <td>{{object.race}}</td>
        </tr>
        <tr>
            <td><b>Population summary</b></td>
            <td>{{object.summary}}</td>
        </tr>
        <tr>
            <td><b>Study name</b></td>
            <td>{{object.study}}</td>
        </tr>
        <tr>
            <td><b>Countries</b></td>
            <td>{% for object in object.countries.all %}
                    {{object.name}}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td><b>Other geographic information</b></td>
            <td>{{object.region}}</td>
        </tr>
        <tr>
            <td><b>Year(s) of data collection</b></td>
            <td>{{object.years}}</td>
        </tr>
        <tr>
            <td><b>Overall study population</b></td>
            <td>{{object.participant_n}}</td>
        </tr>
        <tr>
            <td><b>Inclusion/Exclusion Criteria</b></td>
            <td>
                {% for object in object.criteria.all %}
                    {{object.name}}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td><b>Comments</b></td>
            <td>{{object.comments}}</td>
        </tr>
    </tbody>
</table>
