{% load crispy_forms_tags %}

<tr hx-target="this" hx-swap="outerHTML" class="chemical-{{object.id}}" id="chemical-empty-row">
    {% if form %}
    <td colspan="3">
        <form method=post enctype="multipart/form-data" class="border my-2 p-2">
            <div class="pull-right" style="width: 15%">
                {% if form.instance.id %}
                <button class="btn btn-sm btn-info" hx-post="{% url 'epiv2:chemical-update' object.pk %}"
                    hx-encoding="multipart/form-data">
                    Save</button>
                <button class="btn btn-sm btn-light" hx-get="{% url 'epiv2:chemical-detail' object.pk %}">
                    Cancel</button>
                {% else %}
                <button class="btn btn-sm btn-info" hx-post="{% url 'epiv2:chemical-create' parent.pk %}"
                    hx-encoding="multipart/form-data">
                    Save
                </button>
                <button class="btn btn-sm btn-light" type='button'
                    onclick="this.parentNode.parentNode.parentNode.setAttribute('style', 'display: none')"><i
                        class="fa fa-fw fa-times mr-1"></i>
                    Cancel</button>
                {% endif %}
            </div>
            {% crispy form %}
        </form>
        {% block extrajs %}
        <script type="text/javascript">
            $(document).ready(function () {
                $('.html5text').quillify();
                $('.html5text').removeClass('html5text');
            });
        </script>
        {% endblock extrajs %}
    </td>
    {% endif %}
</tr>
