<tr hx-target="this" hx-swap="outerHTML" class="dataextraction-{{object.pk}} outcome-{{object.outcome_id}} exposure_level-{{object.exposure_level_id}} chemical-{{object.exposure_level.chemical_id}} exposure-{{object.exposure_level.exposure_measurement_id}} adjustment_factor-{{object.adjustment_factor_id}}">
    <td>{{object.sub_population}}</td>
    <td>{{object.outcome}}</td>
    <td>{{object.exposure_level}}</td>
    <td>{{object.measurement_timing}}</td>
    <td>{{object.n}}</td>
    <td>{{object.effect_estimate}} [{{object.ci_lcl}}, {{object.ci_ucl}}]</td>
    <td>{{object.pvalue}}</td>
    <td>{{object.confidence}}</td>
    <td>{{object.comments}}</td>
    {% include "epiv2/fragments/_object_row.html" with model="dataextraction" %}
</tr>
{% if action == 'create' or action == 'clone' %}
<tr style="display: none" id="dataextraction-empty-row" hx-target="this"></tr>
{% endif %}

