{% load crispy_forms_tags %}

<tr hx-target="this" hx-swap="outerHTML" id="data_extraction-empty-row" class="data_extraction-{{object.pk}} outcome-{{object.outcome_id}} exposure_level-{{object.exposure_level_id}} chemical-{{object.exposure_level.chemical_id}} exposure-{{object.exposure_level.exposure_measurement_id}} adjustment_factor-{{object.adjustment_factor_id}}">
    {% if form %}
    <td colspan="10">
        <form method=post enctype="multipart/form-data" class="border my-2 p-2 pb-5" style="background-color: #D5E6FF;">
            {% crispy form %}
            <div class="pull-right form-row">
                {% if form.instance.id %}
                <button class="btn btn-sm btn-info" hx-post="{% url 'epiv2:data_extraction-update' object.pk %}"
                    hx-encoding="multipart/form-data">
                    Save</button>
                <button class="btn btn-sm btn-light" hx-get="{% url 'epiv2:data_extraction-detail' object.pk %}">
                    <i class="fa fa-fw fa-times mr-1"></i>
                    Cancel</button>
                {% else %}
                <button class="btn btn-sm btn-info" hx-post="{% url 'epiv2:data_extraction-create' parent.pk %}"
                    hx-encoding="multipart/form-data">
                    Save
                </button>
                <button class="btn btn-sm btn-light" type='button'
                    onclick="this.parentNode.parentNode.parentNode.setAttribute('style', 'display: none')"><i
                        class="fa fa-fw fa-times mr-1"></i>
                    Cancel</button>
                {% endif %}
            </div>
        </form>
        {% block extrajs %}
        <script type="text/javascript">
            $(document).ready(function () {
                $('.html5text').quillify();
                $('.html5text').removeClass('html5text');
            });
        </script>
        {% endblock extrajs %}
    </td>
    {% endif %}
</tr>
