<tr hx-target="this" hx-swap="outerHTML" class="epiv2-obj-row {{action}} exposure-{{object.pk}}">
  <td>{{object.name}}</td>
  <td>
    {% if object.measurement_type %}
      <ul>
        {% for mt in object.measurement_type %}
          <li>{{mt}}</li>
        {% endfor %}
      </ul>
    {% else %}-{% endif %}
  </td>
  <td>{{object.measurement_timing|default:"-"}}</td>
  {% include "epiv2/fragments/_object_row.html" with model="exposure" %}
</tr>
{% if action == 'create' or action == 'clone' %}
  <tr class="hidden exposure-edit-row" hx-target="this"></tr>
{% endif %}
