{% extends "admin/base_site.html" %}

{% load render_bundle from webpack_loader %}
{% load static %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Home</a>
    &rsaquo;
    Insights
</div>
{% endblock %}

{% block content %}
    <div hx-target="#dashboard-content" style="padding: 1em">
        <button hx-get="{% url 'admin_dashboard_assessment_size' %}">Assessment size</button>
        <button hx-get="{% url 'admin_dashboard_assessments' %}">Assessments growth</button>
        <button hx-get="{% url 'admin_dashboard_growth' %}">Item growth</button>
        <button hx-get="{% url 'admin_dashboard_users' %}">Users</button>
        <button hx-get="{% url 'admin_dashboard_changes' %}">Daily changes</button>
    </div>

    <div id="dashboard-content">
        <p>Select an item above.</p>
    </div>

    {% render_bundle "main" %}
    <script type="text/javascript" src="{% static 'vendor/jquery/3.5.1/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/htmx/1.6.1/htmx.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/plotly/2.9.0/plotly.min.js' %}"></script>
{% endblock content %}
