{% extends 'portal.html' %}


{% block title %}
    {% include "hawc/siteTitle.html" with crumbs=object.get_crumbs crud=crud %}
{% endblock title %}

{% block breadcrumbs %}
    {% include "hawc/breadcrumbs.html" with crumbs=object.get_crumbs crud=crud %}
{% endblock %}

{% block content %}
    <div id="ivChemical"></div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$(document).ready(function(){
    window.canEdit = {{obj_perms.edit|lower}};
    window.app.invitro.IVChemical.displayAsPage({{object.id}}, $("#ivChemical"));
});
</script>
{% endblock %}
