{% extends 'portal.html' %}


{% block title %}{{assessment}} | {{object.experiment.study}} | {{object.experiment}} | {{object}} {% endblock title %}

{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' pk=assessment.pk %}">{{assessment}}</a><span class="divider">/</span></li>
  <li><a href="{{object.experiment.study.get_absolute_url}}">{{object.experiment.study}}</a><span class="divider">/</span></li>
  <li><a href="{{object.experiment.get_absolute_url}}">{{object.experiment}}</a><span class="divider">/</span></li>
  <li class="active">{{object}}<span class="divider">/</span></li>
{% endblock %}

{% block content_type %}
  ivEndpoint
{% endblock %}

{% block extrajs %}
  <script src="{{STATIC_URL}}invitro/js/models.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      IVEndpoint.displayAsPage({{object.id}}, $(".ivEndpoint"));
    });
  </script>
{% endblock %}
