{% extends 'portal.html' %}

{% block title %}
  {{assessment}} | Update IV endpoint categories
{% endblock title %}

{% block breadcrumbs %}
    <li><a href="{{assessment.get_absolute_url}}">{{ assessment }}</a><span class="divider">/</span></li>
    <li class="active">Update IV endpoint categories<span class="divider">/</span></li>
{% endblock breadcrumbs %}


{% block content %}
<div id='root'></div>
{% endblock %}

{% block extrajs %}
<script type="text/json" id="config">
{
    "assessment_id": {{assessment.id}},
    "base_url": "{% url "invitro:api:category-list" %}",
    "list_url": "{% url "invitro:api:category-list" %}?assessment_id={{assessment.id}}",
    "csrf": "{{ csrf_token }}",
    "host": "//{{request.get_host}}"
}
</script>
<script type="text/javascript">
$(document).ready(function(){
    window.app.ivEndpointCategoryStartup();
});
</script>
{% endblock extrajs %}
