{% extends 'portal.html' %}


{% block title %}{{assessment}} | {{object.study}} | {{object}} {% endblock title %}

{% block breadcrumbs %}
  <li><a href="{{assessment.get_absolute_url}}">{{assessment}}</a><span class="divider">/</span></li>
  <li><a href="{{object.study.get_absolute_url}}">{{object.study}}</a><span class="divider">/</span></li>
  <li class="active">{{object}}<span class="divider">/</span></li>
{% endblock %}

{% block content_type %}
  ivExperiment
{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
    $(document).ready(function(){
      window.canEdit = {{obj_perms.edit|lower}};
      IVExperiment.displayAsPage({{object.id}}, $(".ivExperiment"));
    });
  </script>
{% endblock %}
