.endpointCard {
    padding: 10px;
    border: 2px solid #f1f1f1;
    border-radius: 5px;
}

.endpointCard:hover {
    background-color: #efefef;
    border: 2px solid grey;

}

.nullNotification {
    margin: 40px 0;
    color: #990000;
}
