{% for domain in qs %}
    {% for metric in domain %}

        {% if forloop.first %}
            <h3>{{ metric.domain.name }}{% debug_badge metric.domain_id %}</h3>
            <p class="mb-0">{{ metric.domain.description|safe }}</p>
        {% endif %}

        <h4>{{ metric.name }}{% debug_badge metric.id %}</h4>
        <p class="mb-0">{{ metric.description|safe }}</p>
    {% empty %}
        {% alert info %}No evaluation metrics available for this domain.{% endalert %}
    {% endfor %}
    <hr />
{% empty %}
    {% alert info %}No evaluation domains available for this study type.{% endalert %}
{% endfor %}
