{% extends "admin/base_site.html" %}

{% load i18n static %}
{% load render_bundle from webpack_loader %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo;
    Assessment size
</div>
{% endblock %}

{% block content %}
{{table|safe}}
{% render_bundle "main" %}
<script type="text/javascript">
    $(document).ready(function () {
        window.app.HAWCUtils.tablesort(document.getElementById('assessmentSizeTable'));
    });
</script>
{% endblock content %}
