{% extends "admin/base.html" %}

{% load i18n %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block extrahead %}
    <script type="text/javascript" src="{% static 'vendor/jquery/3.6.3/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/htmx/1.8.5/htmx.min.js' %}"></script>
    {% render_bundle 'main' %}
{% endblock %}

{% block userlinks %}
    {% if site_url %}
        <a href="{{ site_url }}">{% trans 'View site' %}</a> /
    {% endif %}
    <a href="{% url 'swagger' %}">{% translate 'Swagger UI' %}</a> /
    {% if user.is_active and user.is_staff %}
        {% url 'django-admindocs-docroot' as docsroot %}
        {% if docsroot %}
            <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
        {% endif %}
    {% endif %}
    {% if user.has_usable_password %}
    <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
    {% endif %}
    <a href="{% url 'portal' %}">Return to portal</a>
{% endblock %}
