{% extends "admin/base_site.html" %}

{% load i18n static %}
{% load render_bundle from webpack_loader %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo;
    Insights
</div>
{% endblock %}

{% block content %}
<div class="container-fluid" id="main"></div>

<script type="text/javascript" src="{% static 'vendor/jquery/3.5.1/jquery.min.js' %}"></script>
{% render_bundle "main" %}
<script id="config" type="application/json">{"app": "adminGrowthStartup"}</script>
{% endblock content %}
