.score-display {
    flex: 1;
    padding: .8rem 0;
}

.score-notes {
    display: flex;
    flex-flow: column;
}

.copy-notes {
    align-items: flex-end;
    justify-content: flex-end;
    max-width: 250px;
}
