interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hero.epa.gov/hero/ws/index.cfm/api/1.0/search/criteria/50000,50001,50002,50003,50004,50005,50006,50007,50008,50009,50010,50011,50012,50013,50014,50015,50016,50017,50018,50019,50020,50021,50022,50023,50024,50025,50026,50027,50028,50029,50030,50031,50032,50033,50034,50035,50036,50037,50038,50039,50040,50041,50042,50043,50044,50045,50046,50047,50048,50049,50050,50051,50052,50053,50054,50055,50056,50057,50058,50059,50060,50061,50062,50063,50064,50065,50066,50067,50068,50069,50070,50071,50072,50073,50074,50075,50076,50077,50078,50079,50080,50081,50082,50083,50084,50085,50086,50087,50088,50089,50090,50091,50092,50093,50094,50095,50096,50097,50098,50099/recordsperpage/100.json
  response:
    body:
      string: "{\"results\":[{\"REFERENCE_ID\":50086,\"usage_path_key\":[15434,\"15445|15446|3225|3228\",\"3225|3230\",\"3225|3233\",\"3225|3234\",\"4717|5971|18338|18350\",\"18339|18355|8566|8568\",\"8563|8571\",8575],\"ABSTRACT\":\"The
        effects of high O3 (200 nl 1-1  during the light period) and high CO2 (650
        \ l-1CO2, 24 h a day) alone and in combination were studied on 45-day-old
        sugar maple (Acer saccharum Marsh.) seedlings for 61 days in growth chambers.
        After 2 months of treatment under the environmental conditions of the experiment,
        sugar maple seedlings did not show a marked response to the elevated CO2 treatment:
        the effect of high CO2 on biomass was only detected i[...]
