interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hero.epa.gov/hero/ws/index.cfm/api/1.0/search/criteria/54501,5708371/recordsperpage/100.json
  response:
    body:
      string: "{\"results\":[{\"REFERENCE_ID\":5708371,\"ABSTRACT\":\"\",\"url\":\"https://hero.epa.gov/hero/index.cfm/reference/details/reference_id/5708371\",\"hasPDF\":true,\"YEAR\":2019,\"allAuthors\":[\"ECHA\",\"ECHA\",\"European
        Chemicals Agency\"],\"HEROID\":5708371,\"id\":\"5708371\",\"project_key\":[2826],\"referencetype\":[\"technical
        report\"],\"type\":\"reference\",\"pdfURL\":\"https://echa.europa.eu/registration-dossier/-/registered-dossier/24656/7/9/3\",\"sortYear\":2019,\"tag_path_text\":[\"PFAS|PFAS
        150|Literature Search August 2019|Other sources|ECHA\",\"PFAS|PFAS 150|Screened
        Studies|Included|Include (TIAB)\",\"PFAS|PFAS 150|Screened Studies|Included|Include
        (Full Text)\"],\"category_key\":[23],\"PROJECTS\":[{\"PROJECT\":\"PFAS 150\",\"PROJECT_ID\":2826,\"USAGES\":[{\"USAGE_ID\":\"25806\",\"USAGE\":\"Literature
        Search August 2019\",\"USAGES\":[{\"USAGE_ID\":\"25810\",\"USAGE\":\"Other
        sources\",\"USAGES\":[{\"USAGE_ID\":\"25812\",\"USAGE\":\"ECHA\",\"USAGES\":[]}]}]},{\"USAGE_ID\":\"25817\",\"USAGE\":\"Screened
        Studies\",\"USAGES\":[{\"USAGE_ID\":\"29926\",\"USAGE\":\"Included\",\"USAGES\":[{\"USAGE_ID\":\"29928\",\"USAGE\":\"Include
        (TIAB)\",\"USAGES\":[]},{\"USAGE_ID\":\"29927\",\"USAGE\":\"Include (Full
        Text)\",\"USAGES\":[]}]}]}]}],\"tag_path_key\":[\"23|2826|25806|25810|25812\",\"23|2826|25817|29926|29928\",\"23|2826|25817|29926|29927\"],\"AUTHORS\":\"ECHA\",\"noPDFAvailable\":false,\"tag_path_type\":[\"category|project|usage|usage|usage\",\"category|project|usage|usage|usage\",\"category|project|usage|usage|usage\"],\"isPeerReviewed\":false,\"code\":\"re\",\"isDeleted\":false,\"REDIRECT_DATA\":{},\"isPublic\":true,\"hasPublicDoc\":false,\"SOURCE\":\"\",\"TITLE\":\"Registration
        dossier: Triethoxy(3,3,4,4,5,5,6,6,7,7,8,8,8-tridecafluorooctyl)silane (CASRN:
        51851-37-7): Developmental toxicity/teratogenicity: Key | Experimental\",\"modified\":\"2022-07-22T18:58:47Z\",\"PMID\":\"\",\"_version_\":1739080421851791360},{\"REFERENCE_ID\":54501,\"ABSTRACT\":\"In
        our laboratory, chronically feeding cadmium to groups of rats has been reproducibly
        associated with average increases of 15 to 20 mm Hg in systolic pressure.
        A total of 497 female Long-Evans rats were continuously provided with drinking
        water fortified with five essential elements and containing from 0.01 to 50
        ppm cadmium, as the acetate, from weaning for as long as 30 months. These
        ra[...]
- request:
    body: '{"type": "hero", "id": [54501, 5708371]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <omitted>
    method: POST
    uri: https://heronetnext.epa.gov/api/reference/export/json
  response:
    body:
      string: '[{"abstract": "In our laboratory, chronically feeding cadmium to groups
        of rats has been reproducibly associated with average increases of 15 to 20
        mm Hg in systolic pressure. A total of 497 female Long-Evans rats were continuously
        provided with drinking water fortified with five essential elements and containing
        from 0.01 to 50 ppm cadmium, as the acetate, from weaning for as long as 30
        months. These rats, plus 311 matched control animals which received fortified
    [...]
