interactions:
- request:
    body: '{"type": "hero", "id": [1201]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <omitted>
    method: POST
    uri: https://heronetnext.epa.gov/api/reference/export/json
  response:
    body:
      string: '[{"abstract": "Sprague-Dawley rats were exposed to 0.8 ppm ozone (O3),
        to 14.4 ppm nitrogen dioxide (NO2), or to both gases simultaneously for 6
        h per day for up to 90 d. The extent of histopathologic changes within the
        central acinus of the lungs was compared after 7 or 78 to 90 d of exposure
        using morphometric analysis by placement of concentric arcs radiating outward
        from a single reference point at the level of the bronchiole- alveolar duct
        junction. Lesion[...]
