{% extends 'assessment-rooted.html' %}

{% block content %}
<h2 class="d-inline-block">{{object.summary}}
</h2>
<div class="dropdown btn-group float-right">
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions</a>
    <div class="dropdown-menu dropdown-menu-right">
        <span class="dropdown-header">Study design editing</span>
        <a class="dropdown-item" class="btn btn-sm btn-info" hx-get="{% url 'epiv2:design-update' object.pk %}"
        hx-target="#design-table" hx-swap="outerHTML">Update</a>
        <a class="dropdown-item" href="{% url 'epiv2:design_delete' object.pk %}">Delete</a>
    </div>
</div>

 {% include "epiv2/fragments/_design_table.html" %}


<div class="row">
    <div class="col-sm-6">
        <div class="card my-3 mx-2">
            <div class="card-body">
                <h3 class="card-title">Chemicals
                    <button class="btn btn-sm btn-info pull-right" hx-get="{% url 'epiv2:chemical-create' object.pk %}"
                        hx-target="#chemical-empty-row" hx-swap="outerHTML"><i class="fa fa-plus fa-fw"></i> Create</button>
                </h3>
                <table class="table table-condensed table-striped">
                    <colgroup>
                        <col style="width: 38%;">
                        <col style="width: 38%;">
                        <col style="width: 25%;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>DSSTox</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if chemical %}
                            {% for object in chemical %}
                                {% include "epiv2/fragments/chemical_row.html" %}
                            {% endfor %}
                            <tr style="display: none" id="chemical-empty-row" hx-target="this"></tr>
                        {% else %}
                            <tr id="chemical-empty-row" hx-target="this">
                                <td colspan="100%">
                                    <p class="text-center mb-0">No chemicals added to design.</p>
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card my-3 mx-2">
            <div class="card-body">
                <h3 class="card-title">Criteria
                    <button class="btn btn-sm btn-info pull-right" hx-get="{% url 'epiv2:criteria-create' object.pk %}"
                        hx-target="#criteria-empty-row" hx-swap="outerHTML"><i class="fa fa-plus fa-fw"></i> Create</button>
                </h3>
                <table class="table table-condensed table-striped">
                    <colgroup>
                        <col style="width: 75%;">
                        <col style="width: 25%;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if criteria %}
                            {% for object in criteria %}
                                {% include "epiv2/fragments/criteria_row.html" %}
                            {% endfor %}
                            <tr style="display: none" id="criteria-empty-row" hx-target="this"></tr>
                        {% else %}
                            <tr id="criteria-empty-row" hx-target="this">
                                <td colspan="100%">
                                    <p class="text-center mb-0">No criteria added to design.</p>
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="card my-4 mx-2">
    <div class="card-body">
        <h3 class="card-title">Exposures
            <button class="btn btn-sm btn-info pull-right" hx-get="{% url 'epiv2:exposure-create' object.pk %}"
                hx-target="#exposure-empty-row" hx-swap="outerHTML"><i class="fa fa-plus fa-fw"></i> Create</button>
        </h3>

        <table class="table table-condensed table-striped">
            <colgroup>
                <col style="width: 30%;">
                <col style="width: 30%;">
                <col style="width: 30%;">
                <col style="width: 10%;">
            </colgroup>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Biomonitoring Matrix</th>
                    <th>Measurement Timing</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% if exposures %}
                    {% for object in exposures %}
                        {% include "epiv2/fragments/exposure_row.html" %}
                    {% endfor %}
                <tr id="exposure-empty-row" hx-target="this"></tr>
                {% else %}
                    <tr id="exposure-empty-row" hx-target="this">
                        <td colspan="100%">
                            <p class="text-center mb-0">No exposures added to design.</p>
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>


<div class="card my-4 mx-2">
    <div class="card-body">
        <h3 class="card-title">Exposure Levels
            <button class="btn btn-sm btn-info pull-right" hx-get="{% url 'epiv2:exposurelevel-create' object.pk %}"
                hx-target="#exposurelevel-empty-row" hx-swap="outerHTML"> <i class="fa fa-plus fa-fw"></i> Create</button>
        </h3>
        <table class="table table-condensed table-striped">
            <colgroup>
                <col style="width: 18%;">
                <col style="width: 18%;">
                <col style="width: 18%;">
                <col style="width: 18%;">
                <col style="width: 18%;">
                <col style="width: 10%;">
            </colgroup>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Chemical</th>
                    <th>Exposure</th>
                    <th>Central Tendency</th>
                    <th>Comments</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% if exposure_levels %}
                    {% for object in exposure_levels %}
                        {% include "epiv2/fragments/exposurelevel_row.html" %}
                    {% endfor %}
                    <tr id="exposurelevel-empty-row" hx-target="this"></tr>
                {% else %}
                    <tr id="exposurelevel-empty-row" hx-target="this">
                        <td colspan="100%">
                            <p class="text-center mb-0">No exposures added to design.</p>
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>



<div class="card my-4 mx-2">
    <div class="card-body">
        <h3 class="card-title">Outcomes
            <button class="btn btn-sm btn-info pull-right" hx-get="{% url 'epiv2:outcome-create' object.pk %}"
                hx-target="#outcome-empty-row" hx-swap="outerHTML"><i class="fa fa-plus fa-fw"></i> Create</button>
        </h3>

        <table class="table table-condensed table-striped">
            <colgroup>
                <col style="width: 30%;">
                <col style="width: 30%;">
                <col style="width: 30%;">
                <col style="width: 10%;">
            </colgroup>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Health Outcome</th>
                    <th>Health Outcome System</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% if outcomes %}
                    {% for object in outcomes %}
                        {% include "epiv2/fragments/outcome_row.html" %}
                    {% endfor %}
                    <tr id="outcome-empty-row" hx-target="this"></tr>
                {% else %}
                    <tr id="outcome-empty-row" hx-target="this">
                        <td colspan="100%">
                            <p class="text-center mb-0">No outcomes added to design.</p>
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

<div class="card my-4 mx-2">
    <div class="card-body">
        <h3 class="card-title">Adjustment Factors
            <button class="btn btn-sm btn-info pull-right" hx-get="{% url 'epiv2:adjustmentfactor-create' object.pk %}"
                hx-target="#adjustmentfactor-empty-row" hx-swap="outerHTML"><i class="fa fa-plus fa-fw"></i> Create</button>
        </h3>
        <table class="table table-condensed table-striped">
            <colgroup>
                <col style="width: 44%;">
                <col style="width: 44%;">
                <col style="width: 10%;">
            </colgroup>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% if adjustment_factors %}
                    {% for object in adjustment_factors %}
                        {% include "epiv2/fragments/adjustment_factor_row.html" %}
                    {% endfor %}
                    <tr id="adjustmentfactor-empty-row" hx-target="this"></tr>
                {% else %}
                    <tr id="adjustmentfactor-empty-row" hx-target="this">
                        <td colspan="100%">
                            <p class="text-center mb-0">No adjustment factors added to design.</p>
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

<div class="card my-4 mx-2">
    <div class="card-body">
        <h3 class="card-title">Data Extractions
            <button class="btn btn-sm btn-info pull-right" hx-get="{% url 'epiv2:dataextraction-create' object.pk %}"
                hx-target="#dataextraction-empty-row" hx-swap="outerHTML"><i class="fa fa-plus fa-fw"></i> Create</button>
        </h3>
        <table class="table table-condensed table-striped">
            <colgroup>
                <col style="width: 13%;">
                <col style="width: 12%;">
                <col style="width: 12%;">
                <col style="width: 15%;">
                <col style="width: 5%;">
                <col style="width: 6%;">
                <col style="width: 5%;">
                <col style="width: 5%;">
                <col style="width: 12%;">
                <col style="width: 10%;">
            </colgroup>
            <thead>
                <tr>
                    <th>Sub population</th>
                    <th>Outcome</th>
                    <th>Exposure Level</th>
                    <th>Measurement Timing</th>
                    <th>N</th>
                    <th>Effect Estimate</th>
                    <th>P-Value</th>
                    <th>Confidence</th>
                    <th>Comments</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% if data_extractions %}
                    {% for object in data_extractions %}
                        {% include "epiv2/fragments/data_extraction_row.html" %}
                    {% endfor %}
                    <tr id="dataextraction-empty-row" hx-target="this"></tr>
                {% else %}
                <tr id="dataextraction-empty-row" hx-target="this">
                    <td colspan="100%">
                        <p class="text-center mb-0">No data extractions added to design.</p>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

<a class="btn btn-m btn-light pull-right mb-3" href="{% url 'epiv2:design_detail' object.pk %}"><i class="fa fa-fw fa-times mr-1"></i>
Cancel</a>
{% endblock %}
