{% extends 'assessment-rooted.html' %}

{% block content %}
<h2 class="d-inline-block">{{object.name}}</h2>
{% if obj_perms.edit and crud == "Read" %}
<div class="dropdown btn-group float-right">
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions</a>
    <div class="dropdown-menu dropdown-menu-right">
        <span class="dropdown-header">Study design editing</span>
        <a class="dropdown-item" href="{% url 'epiv2:design_update' object.pk %}">Update</a>
        <a class="dropdown-item" href="{% url 'epiv2:design_delete' object.pk %}">Delete</a>
    </div>
</div>
{% endif %}

<p>Design metadata here... (to add later)... </p>

{% if obj_perms.edit and crud == "Read" %}
<h3>Exposure data table</h3>
<button class="btn btn-sm btn-info" hx-get="{% url 'epiv2:exposure-create' object.pk %}"
    hx-target="#exposure_table" hx-swap="beforeend"
    >Create</button>
<table class="table table-condensed table-striped" id="exposure_table">
    <colgroup>
        <col style="width: 85%;">
        <col style="width: 15%;">
    </colgroup>
    <thead>
        <tr>
            <th>Name</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        {% for exposure in exposures %}
            {% include "epiv2/components/exposure_row.html" %}
        {% endfor %}
    </tbody>
</table>

<h3>Outcome data table</h3>
<button class="btn btn-sm btn-info" hx-get="{% url 'epiv2:outcome-create' object.pk %}"
    hx-target="#outcome_table" hx-swap="beforeend">Create</button>
<table class="table table-condensed table-striped" id="outcome_table">
    <colgroup>
        <col style="width: 25%;">
        <col style="width: 30%;">
        <col style="width: 30%;">
        <col style="width: 15%;">
    </colgroup>
    <thead>
        <tr>
            <th>Name</th>
            <th>Health Outcome</th>
            <th>Health Outcome System</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        {% for object in outcomes %}
            {% include "epiv2/components/outcome_row.html" %}
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}
