{% extends 'assessment-rooted.html' %}

{% load bs4 %}

{% block content %}
<div class="d-flex mb-2">
    <h2 class="mb-0">Outcomes ({{page_obj.paginator.count}} found)</h2>
    {% if feature_flags.ENABLE_FILTER_DOWNLOADS and page_obj.paginator.count > 0 %}
    <a href="{% url 'epiv2:api:assessment-export' assessment.id %}?format=xlsx" class="btn btn-sm btn-primary align-self-center flex-shrink-0 ml-3"><i class="fa fa-download" aria-hidden="true"></i>&nbsp; Download {{page_obj.paginator.count}} outcome(s)</a>
    {% endif %}
</div>
{% include 'common/inline_filter_form.html' %}
<table class="table table-sm table-striped">
    {% bs4_colgroup '25,25,25,25' %}
    {% bs4_thead 'Study,Study Population,Design,Outcome' %}
    <tbody>
        {% for object in object_list %}
        <tr>
            <td><a href="{{object.design.study.get_absolute_url}}">{{object.design.study.short_citation}}</a></td>
            <td><a href="{{object.design.get_absolute_url}}">{{object.design}}</a></td>
            <td>{{object.design.get_study_design_display}}</td>
            <td>{{object}}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">
                No outcomes available
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include "includes/paginator.html" with plural_object_name="endpoints" %}

{% endblock %}
