.splineChart path,
.splineChart line {
    fill: none;
    stroke: black;
    stroke-width: 2.5px;
}

.splineChart .dot {
    fill: black;
    stroke: white;
    stroke-width: 1.5px;
}

.splineChart .significant {
    fill: red;
}

.line path,
.line line {
    fill: none;
    stroke: #000;
    stroke-width: 3px;
}
