<tr class="observation-row"
    {% if object.endpoints %}
      data-href="{% url 'animalv2:endpoint_list' assessment.id %}?effect_subtype={{object.endpoint.name}}"
      style="cursor: pointer;"
    {% endif %}>
  <td>
    {{ object.endpoint.parent.parent.name }}
  </td>
  <td>
    {{ object.endpoint.parent.name }}
  </td>
  <td>
    {{ object.endpoint.name }}
  </td>
  <td class="default-obs">
    {{object.id|yesno:'-,✔'}}
  </td>
  {% include "animalv2/fragments/observation_form.html" with status="tested_status" %}
  {% include "animalv2/fragments/observation_form.html" with status="reported_status" %}
</tr>
