<tr hx-target="this" hx-swap="outerHTML" class="studylevelvalue-detail-row">
  <td>{{object.system}}</td>
  <td>{{object.get_value_type_display}}</td>
  <td>{{object.value}}&nbsp;{{object.units}}</td>
  <td>{{object.comments}}</td>
  {% if action == 'delete' %}
    <td>
      <form class="alert alert-danger">
        {% csrf_token %}
        <i class="fa fa-fw fa-exclamation-triangle"></i>&nbsp;Are you sure you want to delete?
        <div class="d-flex">
          <button class="btn btn-sm btn-danger"
                  hx-post="{{ object.get_delete_url }}"
                  hx-swap="outerHTML swap:1s"><i class="fa fa-trash"></i>&nbsp;Delete</button>
          <button class="btn btn-sm btn-light ml-2"
                  hx-get="{{ object.get_absolute_url }}">Cancel</button>
        </div>
      </form>
    </td>
  {% elif can_edit or permissions.edit %}
    {% if obj_perms.edit or permissions.edit %}
      <td>
        <button
          class="btn btn-sm btn-primary"
          hx-get="{{ object.get_edit_url }}">
          <i class="fa fa-fw fa-edit"></i>&nbsp;Update</button>
        <button
          class="btn btn-sm btn-danger"
          hx-get="{{ object.get_delete_url }}">
          <i class="fa fa-fw fa-trash"></i>&nbsp;Delete</button>
      </td>
    {% endif %}
  {% endif %}
</tr>
{% include "common/fragments/_create_row.html" with model="studylevelvalue" %}
