{% extends "admin/base_site.html" %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Home</a>
    &rsaquo;
    <a href="{% url 'admin:app_list' app_label="myuser" %}">Myuser</a>
    &rsaquo;
    <a href="{% url 'admin:myuser_hawcuser_changelist' %}">Hawc users</a>
    &rsaquo;
    Change password
</div>
{% endblock %}


{% block content %}
  <form class="form-horizontal" action="." method="post">
    <fieldset>
      <legend>Set User Password for {{object.get_full_name}}</legend>
      <p class="help">
        Set user-password for: {{object.email}}.
      </p>

      {{ form.non_field_errors|add_class:"alert alert-danger" }}

      {% for field in form %}
        <div class="form-group form-row">
          {{field.label_tag|add_class:"col-form-label"}}
          <div class="controls">
            {{field}}
            <p class='help'>{{field.help_text}}</p>
          </div>
          {{field.errors|add_class:"alert alert-danger"}}
        </div>
      {% endfor %}

      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Change password</button>
        <a href="{% url 'admin:myuser_hawcuser_changelist' %}" class="btn btn-light">Cancel</a>
      </div>

      {% csrf_token %}

    </fieldset>
  </form>
{% endblock content %}
