{% extends "breadcrumbed.html" %}

{% load crispy_forms_tags %}

{% block content %}
<h1 class="d-inline-block">
  User Profile
</h1>
<a href="{% url 'user:profile_update' %}" class="float-right btn btn-primary" type="button" id="dropdownMenuButton">
  Update Profile
</a>

<table class="table table-sm table-striped table-hover table-bordered">
  <colgroup>
    <col width="25%" />
    <col width="25%" />
    <col width="50%" />
  </colgroup>
  <tbody>
    <tr>
      <th>Username (email)</th>
      <td colspan="2"><a href="mailto:{{user.email}}">{{user.email}}</a></td>
    </tr>
    <tr>
      <th>Full Name</th>
      <td colspan="2">{{user.get_full_name}}</td>
    </tr>
    <tr>
      <th>Password</th>
      <td>********</td>
      <td><a href="{% url 'user:change_password' %}">Click to change</a></td>
    </tr>
    <tr>
      <th>Can create assessments</th>
      <td colspan="2">{{user.can_create_assessments}}</td>
    </tr>
    <tr>
      <th>Authenticated HERO Access</th>
      <td colspan="2">{{object.HERO_access}}</td>
    </tr>
  </tbody>
</table>
{% endblock content %}

{% block extrajs %}
  {% include "includes/hero_access.html" %}
{% endblock extrajs %}
