{% extends 'portal.html' %}


{% block title %}{{assessment}} | Endpoints | Data Pivot | HAWC {% endblock title %}

{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' pk=assessment.pk %}">{{ assessment }}</a><span class="divider">/</span></li>
  <li><a href="{% url 'data_pivot:list' assessment.pk %}">Data Pivot</a><span class="divider">/</span></li>
  {% if crud == "Read" %}
    <li class="active">{{object}}<span class="divider">/</span></li>
  {% else %}
    <!-- Update or delete -->
    <li><a href="{{object.get_absolute_url}}">{{object}}</a><span class="divider">/</span></li>
    <li class="active">{{crud}}<span class="divider">/</span></li>
  {% endif %}
{% endblock %}

{% block content %}

  <h1>{{object}}

    <div class="btn-group pull-right">
      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
          <li><a href="{% if object.datapivotquery %}{{object.get_download_url|safe}}
                       {% else %}{{MEDIA_URL}}{{object.datapivotupload.file}}{% endif %}">Download data file</a></li>
        {% if obj_perms.edit %}
          <li class="divider"></li>
          <li><a href="{% url 'data_pivot:update' assessment.pk object.slug %}">Edit display settings</a></li>
          <li><a href="{% if object.datapivotquery %}{% url 'data_pivot:query-update' assessment.pk object.slug %}
                       {% else %}{% url 'data_pivot:file-update' assessment.pk object.slug %}{% endif %}">Edit other settings</a></li>
          <li><a href="{% url 'data_pivot:delete' assessment.pk object.slug %}">Delete Pivot</a></li>
        {% endif %}
      </ul>
    </div>
  </h1>

  {% block dp_content %}

    <div id="loading_div">
      <p>Fetching the latest data from {{assessment}}... <img src="{{STATIC_URL}}img/loading.gif"></p>
    </div>

    <div id="dp_display" style='display:none;'></div>

    {% if object.caption %}
      <div class="well">{{object.caption|safe}}</div>
    {% endif %}


  {% endblock dp_content %}

{% endblock %}

{% block extrajs %}
  <script src="{{STATIC_URL}}study/js/models.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}animal/js/endpoint.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}epi/js/models.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}data_pivot/js/data_pivot.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      d3.tsv("{{object.get_data_url|safe}}")
        .row(function(d, i){ return DataPivot.massage_row(d, i); })
        .get(function(error, data){
          $('#loading_div').fadeOut();
          window.dp = new DataPivot_visualization(data,
                                     {{object.settings|safe}},
                                     $('#dp_display').fadeIn());
        });
    });
  </script>
{% endblock %}
