{% if assessment.enable_comments %}
<script type="text/javascript">
    $(document).ready(function(){
        window.cm = new CommentManager({"object_type": "{{comment_object_type}}",
                                        "object_id": {{comment_object_id}},
                                        "commenting_public": {{assessment.comment_settings.public_comments|lower}},
                                        "commenting_enabled": {{assessment.comment_settings.allow_comments|lower}},
                                        "fetch_comments": true,
                                        "comment_div_selector": "#comments_block",
                                        "user": {%if request.user.is_authenticated %}{{request.user.pk}}{% else %}-1{% endif %}});
    });
</script>
{% endif %}
