{% extends 'portal.html' %}

{% load selectable_tags %}
{% load crispy_forms_tags %}


{% block title %}
  {% include "hawc/siteTitle.html" with crumbs=form.instance.get_crumbs crud=crud %}
{% endblock title %}

{% block extrastyle %}
  {% include_ui_theme %}
{% endblock %}

{% block breadcrumbs %}
  {% include "hawc/breadcrumbs.html" with crumbs=form.instance.get_crumbs crud=crud %}
{% endblock %}

{% block content %}
  {% crispy form %}
{% endblock %}

{% block extrajs %}
  {{ form.media }}<script type="text/javascript">
    $(document).ready(function () {

      // handle all logic related to dtxid + cas
      var handleChemicalPropertiesInformation = function () {
        var changeChemicalState = function () {
          let disable = $('#id_dtxsid_0').val().length > 0;
          $('#id_cas').attr('disabled', disable);
        }

        // if `dtxsid` is selected, change casrn/chemical_name
        $('input[name=dtxsid_0]').bind('djselectableselect', function (event, item) {
          if (item.item.casrn) {
            $('#id_cas').val(item.item.casrn);
          }
          changeChemicalState();
        });

        // determine whether these fields are editable or not
        $('#id_dtxsid_0').on('keyup', changeChemicalState).trigger('keyup');

        // re-enable all form fields prior to submission
        $('#ivchemical-form').on("submit", function () {
          $('#ivchemical-form input').attr('disabled', false);
        });
      }
      handleChemicalPropertiesInformation();

    });
  </script>
  {% endblock extrajs %}
