{% extends 'portal.html' %}


{% block title %}
    {% include "hawc/siteTitle.html" with crumbs=object.get_crumbs crud=crud %}
{% endblock title %}

{% block breadcrumbs %}
    {% include "hawc/breadcrumbs.html" with crumbs=object.get_crumbs crud=crud %}
{% endblock %}

{% block content %}
    <div id="ivChemical"></div>
    <div id="dsstox"></div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
window.app.invitroStartup(function(invitro){
    window.canEdit = {{obj_perms.edit|lower}};
    invitro.IVChemical.displayAsPage({{object.id}}, $("#ivChemical"));
});

{% if crud == "Read" and object.dtxsid %}
$(document).on('ready', function () {
    var url = "{{object.dtxsid.get_detail_url}}",
        div = $('div#dsstox');
    window.app.utils.HAWCUtils.renderChemicalProperties(url, div, true);
});
{% endif %}

</script>
{% endblock %}
