{% extends 'assessment-rooted.html' %}

{% block content %}
  {% crispy form %}
{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
    $(document).ready(function () {

      // handle all logic related to dtxid + cas
      var handleChemicalPropertiesInformation = function () {
        // if `dtxsid` is selected, change casrn/chemical_name
        $('select[name=dtxsid]').on('select2:select', function (event) {
          let casrn = event.params.data.casrn,
            chemical_name = event.params.data.chemical_name;
          if (casrn) {
            $('#id_cas').val(casrn);
          }
          if (chemical_name) {
            $('#id_name').val(chemical_name);
          }
        });

        // re-enable all form fields prior to submission
        $('#ivchemical-form').on("submit", function () {
          $('#ivchemical-form input').attr('disabled', false);
        });
      }
      handleChemicalPropertiesInformation();

    });
  </script>
  {% endblock extrajs %}
