{% extends 'assessment-rooted.html' %}

{% block content %}
<div id='root'></div>
{% endblock %}

{% block extrajs %}
<script type="text/json" id="config">
{
    "assessment_id": {{assessment.id}},
    "base_url": "{% url "invitro:api:category-list" %}",
    "list_url": "{% url "invitro:api:category-list" %}?assessment_id={{assessment.id}}",
    "csrf": "{{ csrf_token }}",
    "host": "//{{request.get_host}}",
    "title": "Modify in-vitro endpoint categories",
    "extraHelpHtml": "",
    "btnLabel": "Add new category"
}
</script>
<script type="text/javascript">
$(document).ready(function(){
    const el = document.getElementById('root'),
        config = window.app.getConfig();
    window.app.nestedTagEditorStartup(el, config);
});
</script>
{% endblock extrajs %}
