{% extends 'assessment-rooted.html' %}

{% load bs4 %}

{% block content %}
<h2><i>In vitro</i> endpoints ({{page_obj.paginator.count}} found)</h2>
{% include 'common/inline_filter_form.html' %}
<table id="mainTbl" class="table table-sm table-striped">
    {% bs4_colgroup '10,13,12,20,16,13,8,8' %}
    {% bs4_thead 'Study,Experiment,Chemical,Endpoint,Effect Category,Effects,Dose Units,Response Units' %}
    <tbody>
        {% for object in object_list %}
        <tr>
            <td>
                <a href="{{object.experiment.study.get_absolute_url}}">{{object.experiment.study.short_citation}}</a>
            </td>
            <td>
                <a href="{{object.experiment.get_absolute_url}}">{{object.experiment.name}}</a>
            </td>
            <td>
                <a href="{{object.chemical.get_absolute_url}}">{{object.chemical.name}}</a>
            </td>
            <td  class="previewModalParent">
                <i data-id={{object.pk}} class="float-right fa fa-external-link previewModalIcon mr-2" title="preview"></i>
                <a href="{{object.get_absolute_url}}">{{object.name}}</a>
            </td>
            <td>
                {{object.effect|default:"--"}}
            </td>
            <td>
                {{object.effects.all|join:", "|default:"--"}}
            </td>
            <td>
                {{object.experiment.dose_units.name|default:"--"}}
            </td>
            <td>
                {{object.response_units|default:"--"}}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="8">
                No endpoints available
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include "includes/paginator.html" with plural_object_name="endpoints" %}

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    window.app.startup("invitroStartup", function (app) {
        $("i.previewModalIcon").click(e => app.IVEndpoint.displayAsModal($(e.target).data("id")));
    });
</script>
{% endblock %}
