{% extends 'assessment-rooted.html' %}

{% block content %}
  <div class="d-flex">
    <h2 class="mb-2">Study Level Values</h2>
    {% if obj_perms.edit %}
      <a class="btn mt-1 btn-primary flex-shrink-0 align-self-start ml-auto" hx-get="{% url 'animalv2:studylevelvalues-htmx' study.pk 'create' %}" hx-trigger="click" hx-target=".studylevelvalue-edit-row.create-row" hx-swap="outerHTML" href="/">Create new study level value</a>
    {% endif %}
  </div>
  <table class="table table-sm table-striped">
    {% if obj_perms.edit %}
      {% bs4_thead 'System,Value type,Value,Units,Comments,Editing' %}
    {% else %}
      {% bs4_thead 'System,Value type,Value,Units,Comments' %}
    {% endif %}
    <tbody>
      {% for object in object_list %}
        {% include "animalv2/fragments/studylevelvalue_row.html" %}
      {% endfor %}
      {% include "common/fragments/_create_one.html" with text='No study level values to display. Click "Create new study level value" to add one.' %}
      {% include "common/fragments/_create_row.html" with model="studylevelvalue" first=True %}
    </tbody>
  </table>
{% endblock %}

{% block extrajs %}
  {% include "common/htmx_autocomplete.html" %}
  {% include "common/helptext_popup_js.html" %}
{% endblock %}
