.bulk-header {
    font-size: 1.3em;
    font-weight: bold;
    padding: 4px 5px;
    margin: 5px;
}

.stripe {
    padding: 4px 5px;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.stripe:nth-child(even) {
    background: #f9f9f9;
}

.stripe form {
    min-height: 30px;
}

.detail-list {
    width: 100%;
    display: table;
}

.detail-header {
    display: table-row;
    height: 40px;
    background: #d8e6ff;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.header-field {
    display: table-cell;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding: 10px 5px;
}

.detail-stripe {
    display: table-row;
    padding: 2px;
    vertical-align: top;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.detail-stripe:nth-child(even) {
    background: #fff;
}

.detail-stripe:nth-child(odd) {
    background: #edf3fe;
}

.detail-item {
    display: table-cell;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    cursor: pointer;
}

.detail-item input {
    margin: 0 0 2px 3px;
}
