{% extends 'portal.html' %}

{% block title %}
  Comments | HAWC
{% endblock title %}

{% block content %}

  <h1>Comments
    <div class="dropdown btn-group float-right">
      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions</a>
      <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="{% url 'vocab:create_comment' %}">Create new comment</a>
      </div>
    </div>
  </h1>

  {% for obj in object_list %}
  <div>
    {{obj.comment}}
  </div>
  {% endfor %}

{% endblock content %}
