{% extends 'portal.html' %}

{% block title %}
  Vocab | HAWC
{% endblock title %}

{% block content %}
  <div class="container-fluid">
    <div class="row-fluid">

      <div class="span4">
      {% for system in systems %}
        <div>
          {{system.name}} | {{system.count}}
        </div>
      {% endfor %}
      </div>

      <div class="span4">
      {% for endpoint in endpoints %}
        <div>
          <a href={{endpoint.get_absolute_url}}>{{endpoint.name}}</a> | {{endpoint.name_term.name}}
        </div>
      {% endfor %}
      </div>

      <div class="span4">
      {% for term in deprecated %}
        <div>
          {{term.name}}
        </div>
      {% endfor %}
      </div>

    </div>
  </div>

{% endblock content %}
