{% extends 'portal.html' %}

{% block content %}
<h1>Proof of concept</h1>
<p>This will be integrated into animal bioassay forms in the future; currently a test-bed.</p>
<div id="main"></div>
{% endblock %}

{% block extrajs %}
<script id="config" type="text/json" charset="utf-8">{
    "debug": true,
    "vocabulary": "EHV",
    "object": {
        "system": "Cardiovascular",
        "organ": "non-standard",
        "effect": "",
        "effect_subtype": "",
        "name": "",
        "system_term_id": 8666,
        "organ_term_id": null,
        "effect_term_id": null,
        "effect_subtype_term_id": null,
        "name_term_id": null
    }
}</script>
<script type="text/javascript">
    $(document).ready(function () {
        window.app.animalStartup(function (app) {
            var root = document.getElementById('main'),
                config = JSON.parse(document.getElementById('config').textContent);
            app.EndpointForm(startup => startup.func(root, config));
        });
    });
</script>
{% endblock %}
