.autocomplete__container {
    position: relative;
}

.autocomplete__input {
    width: auto;
    padding: 10px 20px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
    -webkit-appearance: none;
}

.autocomplete__input:focus {
    outline: none;
}

.autocomplete__input::-ms-clear {
    display: none;
}

.autocomplete__container--open .autocomplete__input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.autocomplete__suggestions-container {
    display: none;
    width: auto;
}

.autocomplete__container--open .autocomplete__suggestions-container {
    display: block;
    position: absolute;
    top: 30px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-size: 14px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    z-index: 2;
}

.autocomplete__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.autocomplete__suggestion {
    cursor: pointer;
    padding: 0.2em 0.4em;
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.5;
}

.autocomplete__suggestion--highlighted {
    background: #dadada
        url(http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/themes/base/images/ui-bg_glass_75_dadada_1x400.png)
        50% 50% repeat-x;
    border: 1px solid #999999;
    border-radius: 4px;
    color: #212121;
    font-weight: normal;
}

.autocomplete__section-title {
    padding: 10px 0 0 10px;
    font-size: 12px;
    color: #777;
    border-top: 1px dashed #ccc;
}

.autocomplete__section-container:first-child .autocomplete__section-title {
    border-top: 0;
}

.autocomplete-error {
    border: 1px solid #cd0a0a;
    background: #fef1ec
        url(http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/themes/base/images/ui-bg_glass_95_fef1ec_1x400.png)
        50% 50% repeat-x;
    color: #cd0a0a;
}

.autocomplete-error a {
    color: #cd0a0a;
}

.autocomplete-error-text {
    color: #cd0a0a;
}
