.autocomplete__container {
    position: relative;
}

.autocomplete__input {
}

.autocomplete__input:focus {
    outline: none;
}

.autocomplete__input::-ms-clear {
    display: none;
}

.autocomplete__suggestions-container {
    display: none;
    width: 100%;
}

.autocomplete__container--open .autocomplete__suggestions-container {
    display: block;
    position: absolute;
    top: 45px;
    border: 1px solid #aaa;
    background-color: #fff;
    z-index: 2;
}

.autocomplete__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.autocomplete__suggestion {
    cursor: pointer;
    line-height: 1.5;
    padding-left: 5px;
}

.autocomplete__suggestion--highlighted {
    background: #dadada;
}

.autocomplete__section-title {
    padding: 10px 0 0 10px;
    font-size: 12px;
    color: #777;
    border-top: 1px dashed #ccc;
}

.autocomplete__section-container:first-child .autocomplete__section-title {
    border-top: 0;
}

.autocomplete-error {
    border: 1px solid #cd0a0a;
    background: #fef1ec;
    color: #cd0a0a;
}

.autocomplete-error a {
    color: #cd0a0a;
}

.autocomplete-error-text {
    color: #cd0a0a;
}
