.cardTitle {
    width: 300px;
}

.modalAnchor {
    cursor: pointer;
}
.modalAnchor:hover {
    text-decoration: underline;
}

.cardCitation {
    color: grey;
    font-size: 80%;
}

.score {
    padding: 10px;
    border: 2px rgb(128, 128, 128) solid;
    border-radius: 4px;
}
.score.high {
    background-color: rgb(0, 204, 0);
}
.score.medium {
    background-color: rgb(111, 255, 0);
}
.score.low {
    background-color: rgb(255, 204, 0);
}
.score.not-applicable {
    background-color: #ddd;
}
