{% extends 'base.html' %}

{% block title %}
  User Settings | HAWC
{% endblock %}

{% block main_content %}

  <div class="row-fluid">
    <ul class="breadcrumb">
      <li class="active"><a href="{% url 'portal' %}">Home</a><span class="divider">/</span></li>
      <li class="active"><a href="{% url 'user:settings' %}">User Profile</a><span class="divider">/</span></li>
      {% block breadcrumbs %}
      {% endblock %}
    </ul>
  </div>

  <div class="row-fluid">
    <div id='sidebar' class="span3 well fill" style="max-width: 300px;">
      <ul class="nav nav-list">
        <li class="nav-header">Profile Settings</li>
        <li class=""><a href="{% url 'user:settings' %}">User Profile</a></li>
        <li class=""><a href="{% url 'user:change_password' %}">Change Password</a></li>
      </ul>
    </div>

  <!--Body content-->
  <div class="span9 fill">
    <div id="content" class="{% block content_type %}{% endblock %}">
        {% block content %}
        {% endblock %}
        <br class="clear" />
    </div>
  </div>

</div>
{% endblock %}
