{% extends 'myuser/settings.html' %}

{% load add_class %}

{% block breadcrumbs %}
  <li class="active">Update<span class="divider">/</span></li>
{% endblock %}

{% block content %}
  <form class="form-horizontal" action="." method="post">
    <fieldset>
      <legend>Update Profile</legend>

      {{ form.non_field_errors|add_class:"alert alert-error" }}

      {% for field in form %}
        <div class="control-group form-row">
          {{field.label_tag|add_class:"control-label"}}
          <div class="controls">
            {{field}}
            <span class='help-inline'>{{field.help_text}}</span>
          </div>
          {{field.errors|add_class:"alert alert-error"}}
        </div>
      {% endfor %}

      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Update Settings</button>
        <a href="{% url 'user:settings' %}" class="btn">Cancel</a>
      </div>

      {% csrf_token %}

    </fieldset>
  </form>
{% endblock %}
