<ul class="menu usa-sidenav">
    <li class="usa-sidenav__item">
        <a class="menu__link"  href="{% url 'home' %}">HAWC Home</a>
    </li>
    <li class="usa-sidenav__item">
        {% if user.is_authenticated %}
        {% url 'portal' as url %}
        <a {% if request.path == url %} class="menu__link usa-current" {% else %} class="menu__link" {% endif %} href="{{ url }}">Portal</a>
        {% else %}
        <a class="menu__link" href="{% url 'assessment:public_list' %}">Public Assessments</a>
        {% endif %}
    </li>
    {% if assessment %}
    <li class="usa-sidenav__item">
            {% url 'assessment:detail' assessment.pk as url %}
            <a {% if request.path == url %} class="menu__link usa-current" {% else %} class="menu__link" {% endif %} href="{{ url }}">{{ assessment }}</a>

        <ul class="usa-sidenav__sublist">
            {% if assessment.enable_literature_review %}
            <li class="usa-sidenav__item">
                {% url 'lit:overview' assessment.pk as url %}
                <a {% if '/lit/' in request.path %} class="menu__link usa-current" {% else %} class="menu__link" {% endif %} href="{{ url }}">
                    Literature review</a>
            </li>
            {% endif %}

            {% if assessment.enable_project_management and request.user.is_authenticated %}
            <li class="usa-sidenav__item">
                {% url 'mgmt:assessment_dashboard' assessment.pk as url %}
                <a {% if '/mgmt/' in request.path %} class="menu__link usa-current" {% else %} class="menu__link" {% endif %} href="{{ url }}">
                    Management dashboard</a>
            </li>
            {% endif %}

            {% if assessment.enable_data_extraction %}
            <li class="usa-sidenav__item">
                {% url 'study:list' assessment.pk as url %}
                <a {% if '/study/' in request.path %} class="menu__link usa-current" {% else %} class="menu__link" {% endif %} href="{{ url }}">
                    Study list</a>
            </li>

            {% if assessment.enable_risk_of_bias %}
            <li class="usa-sidenav__item">
                {% url 'riskofbias:arob_detail' assessment.pk as url %}
                    <a {% if '/rob/' in request.path %} class="menu__link usa-current" {% else %} class="menu__link" {% endif %} href="{{ url }}">
                    {{assessment.get_rob_name_display}}</a>
            </li>
            {% endif %}

            <li class="usa-sidenav__item">
                {% url 'assessment:endpoint_list' assessment.pk as url %}
                    <a {% if '/endpoints/' in request.path %} class="menu__link usa-current" {% else %} class="menu__link" {% endif %} href="{{ url }}">
                    Endpoint list</a>
            </li>
            {% endif %}

            <li class="usa-sidenav__item">
                {% url 'summary:tables_list' assessment.pk as url %}
                    <a {% if '/tables/' in request.path %} class="menu__link usa-current" {% else %} class="menu__link" {% endif %} href="{{ url }}">
                    Summary tables</a>
            </li>

            <li class="usa-sidenav__item">
                {% url 'summary:visualization_list' assessment.pk as url %}
                <a {% if '/visual/' in request.path or '/data-pivot/' in request.path %} class="menu__link usa-current" {% else %} class="menu__link" {% endif %} href="{{ url }}">
                    Visualizations</a>
            </li>

            {% if assessment.enable_summary_text %}
            <li class="usa-sidenav__item">
                {% url 'summary:list' assessment.pk as url %}
                <a {% if '/summaries/' in request.path %} class="menu__link usa-current" {% else %} class="menu__link" {% endif %} href="{{ url }}">
                    Executive summary</a>
            </li>
            {% endif %}

            <li class="usa-sidenav__item">
                {% url 'assessment:downloads' assessment.pk as url %}
                <a {% if '/download/' in request.path %} class="menu__link usa-current" {% else %} class="menu__link" {% endif %} href="{{ url }}">
                    Downloads</a>
            </li>
        </ul>
    </li>


    {% endif %}
    {% if flavor == "EPA" %}
    <li class="usa-sidenav__item"><a class="menu__link" href="{% url 'about' %}">About HAWC</a></li>
    <li class="usa-sidenav__item"><a class="menu__link" href="{% url 'resources' %}">HAWC Resources</a></li>
    {% endif %}

</ul>


