<div class="epa-style app-header">

    <header class="masthead clearfix" role="banner">
        <form class="float-right form-inline d-none d-md-block d-lg-none mr-2 epa-search-fixed-size">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control " placeholder="Search EPA.gov" name="querytext" id="search-box">
                <div class="input-group-append">
                    <button type="submit" class="btn epa-search-button" formaction="https://search.epa.gov/epasearch/">
                        <i class="fa fa-search text-light" aria-hidden="true"></i></button>
                </div>
                <input type="hidden" name="areaname" value="">
                <input type="hidden" name="areacontacts" value="">
                <input type="hidden" name="areasearchurl" value="">
                <input type="hidden" name="typeofsearch" value="epa">
                <input type="hidden" name="result_template" value="2col.ftl">
            </div>
        </form>
        <img alt="" class="site-logo" src="https://www.epa.gov/sites/all/themes/epa/logo.png">
        <div class="ml-3 site-name-and-slogan">
            <h1 class="site-name"><a href="https://www.epa.gov/" rel="home" title="Go to the home page"><span>US EPA</span></a>
            </h1>
            <div class="site-slogan">United States Environmental Protection Agency</div>
        </div>
    </header>

    <nav class="navbar navbar-expand-md epanavbar">
        <div class="collapse navbar-collapse" id="epanavbarcontent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link " href="https://epa.gov/environmental-topics"
                        aria-haspopup="true" aria-expanded="false"
                        title="View links to the most popular pages for each of EPA’s top environmental topics.">Environmental Topics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://epa.gov/laws-regulations"
                        aria-haspopup="true" aria-expanded="false"
                        title="View links to regulatory information by topic and sector, and to top pages about environmental laws, regulations, policies, compliance, and enforcement.">Laws &amp; Regulations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://epa.gov/aboutepa" aria-haspopup="true"
                        title="Learn more about our mission, organization, and locations." >About EPA</a>
                </li>
            </ul>
        </div>

        <form class="form-inline d-none d-lg-block epa-search-fixed-size">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control " placeholder="Search EPA.gov" name="querytext" id="search-box">
                <div class="input-group-append">
                    <button type="submit" class="btn epa-search-button" formaction="https://search.epa.gov/epasearch/">
                        <i class="fa fa-search text-light" aria-hidden="true"></i></button>
                </div>
                <input type="hidden" name="areaname" value="">
                <input type="hidden" name="areacontacts" value="">
                <input type="hidden" name="areasearchurl" value="">
                <input type="hidden" name="typeofsearch" value="epa">
                <input type="hidden" name="result_template" value="2col.ftl">
            </div>
        </form>
    </nav>

    <form class="form-inline d-sm-block d-md-none p-2">
        <div class="input-group input-group-sm">
            <input type="text" class="form-control " placeholder="Search EPA.gov" name="querytext" id="search-box">
            <div class="input-group-append">
                <button type="submit" class="btn epa-search-button" formaction="https://search.epa.gov/epasearch/">
                    <i class="fa fa-search text-light" aria-hidden="true"></i></button>
            </div>
            <input type="hidden" name="areaname" value="">
            <input type="hidden" name="areacontacts" value="">
            <input type="hidden" name="areasearchurl" value="">
            <input type="hidden" name="typeofsearch" value="epa">
            <input type="hidden" name="result_template" value="2col.ftl">
        </div>
    </form>
</div>
