
<div id="smartTagModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Insert HAWC Smart-tag</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="smartTagForm">
                    {% crispy form %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary smartTagSave">Insert</button>
                <button type="button" class="btn btn-light" data-dismiss="modal" aria-hidden="true">Cancel</button>
            </div>
        </div>
    </div>
</div>
