{% extends 'summary/datapivot_detail.html' %}
{% load static %}

{% block title %}
{{assessment}} | Endpoints | Data Pivot | {{object}} | Update | HAWC
{% endblock title %}

{% block extrastyle %}
  {{block.super}}
  {% if debug %}
    <link href="{% static 'debug/spectrum/1.3.0/css/spectrum.css' %}" rel="stylesheet" type="text/css">
  {% else %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/spectrum/1.3.0/css/spectrum.min.css" rel="stylesheet" type="text/css">
  {% endif %}
{% endblock %}


{% block dp_content %}

  <div id="loading_div">
    <p>Fetching the latest data from {{assessment}}... <img src="{% static 'img/loading.gif' %}"></p>
  </div>

  <div class='row-fluid' id='data_pivot' style='display:none;'>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#dp_data" data-toggle="tab">Data</a></li>
        <li><a href="#dp_settings" data-toggle="tab">Settings</a></li>
        <li><a id="display_tab_icon" href="#dp_display" data-toggle="tab">Visualization</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="dp_data"></div>
        <div class="tab-pane" id="dp_settings"></div>
        <div class="tab-pane" id="dp_display"></div>
    </div>
  </div>

  <form id="dp_settings_form" class="form-horizontal" action="." method="post">
    <fieldset class="hidden">
      {% for field in form %}
        {{field}}
      {% endfor %}
      {% csrf_token %}
    </fieldset>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Update data-pivot settings</button>
      <a href="{{object.get_absolute_url}}" class="btn">Cancel</a>
    </div>
  </form>

{% endblock dp_content %}

{% block extrajs %}
  {% if debug %}
    <script src="{% static 'debug/spectrum/1.3.0/js/spectrum.js' %}" type="text/javascript"></script>
  {% else %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/spectrum/1.3.0/js/spectrum.min.js" type="text/javascript"></script>
  {% endif %}
  <script type="text/javascript">
  window.app.dataPivotStartup(function(dataPivot){
      var data_url = '{{object.get_data_url|safe}}',
          settings = {{object.settings|safe}},
          options = {
              container: '#data_pivot',
              dataDiv: '#dp_data',
              settingsDiv: '#dp_settings',
              displayDiv: '#dp_display',
              submissionDiv: '#dp_settings_form',
              settingsField: '#id_settings',
          };
      dataPivot.DataPivot.displayEditView(data_url, settings, options)
  });
  </script>
{% endblock extrajs %}
