{% extends 'assessment-rooted.html' %}

{% load crispy_forms_tags %}
{% load add_class %}

{% block content %}
  {% include "assessment/preferred_dose_units_widget.html" %}
  {% crispy form %}
  {% include "summary/_smartTagEditModal.html" with form=smart_tag_form only %}
{% endblock %}

{% block extrajs %}
  {{ smart_tag_form.media }}
  <script type="text/javascript">
    $(document).ready(function () {
      {% if crud == "Create" %}
        $('#id_title').on('keyup', function(){
          $('#id_slug').val(window.app.HAWCUtils.urlify($(this).val()));
        });
      {% endif %}

      {% if form.fields.preferred_units %}
      window.app.startup("assessmentStartup", function(app){
        new app.DoseUnitsWidget($('form'), {
          choices: JSON.parse('{{form.fields.preferred_units.choices|safe}}'),
          el: '#id_preferred_units',
        });
      });
      {% endif %}

      window.app.startup("smartTagsStartup", function(smartTags){
          new smartTags.SmartTagEditor(
            $('#id_caption'),
            {submitEl: '#dataPivotForm', takeFocusEl: "#id_evidence_type"}
          );
      })

      const bindCheckboxToPrefilter = function(){
        // show/hide prefilter based on checkbox selection
        const checkbox = $(this),
          input = $(`#id_prefilters-${checkbox.data('pf')}`),
          inputDiv = $(`#div_id_prefilters-${checkbox.data('pf')}`),
          hasItems = input.val().length>0;

        checkbox.prop('checked', hasItems);
        checkbox.on('change', function(){
          inputDiv.toggle(checkbox.prop('checked'));
          if (checkbox.prop('checked') === false){
            input.val('');
          }
        }).trigger('change');
      }
      $('input[data-pf]').each(bindCheckboxToPrefilter)
    });
  </script>
{% endblock extrajs %}
