{% extends 'portal.html' %}

{% block title %}
  {{assessment}} | Data Pivot | HAWC
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' pk=assessment.pk %}">{{ assessment }}</a><span class="divider">/</span></li>
  {% block breadcrumbs_self %}
    <li class="active">Data Pivot<span class="divider">/</span></li>
  {% endblock breadcrumbs_self %}
{% endblock %}

{% block content %}

  <h1>Data Pivots
    {% if obj_perms.edit %}
        <div class="btn-group pull-right">
          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'summary:dp_new-prompt' assessment.pk %}">Create new</a></li>
            <li><a href="{% url 'summary:dp_copy_selector' assessment.pk %}">Copy from existing</a></li>
          </ul>
        </div>
    {% endif %}
  </h1>

  {% if object_list %}
    <table class="table table-sm table-striped">
      <colgroup>
        <col style="width: 100%;">
      </colgroup>
      <thead>
        <tr>
          <th>Title</th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
          <tr>
            <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No data pivots are available.</p>
  {% endif %}

{% endblock %}
