{% extends 'embedded.html' %}

{% load static %}

{% block content %}
<div class="embedded_banner">
    <a href="{{object.get_absolute_url}}" >
        <img alt="The website logo" src="{% static 'img/HAWC-400.png' %}"  width="68" />
    </a>
</div>
<div id="dp_display"></div>
<div id="loading_div"></div>
<div id="caption">{{object.caption|safe}}</div>
{% endblock content %}


{% block extrajs %}
<script type="text/javascript">
$('#loading_div').html(window.app.HAWCUtils.loading())
window.app.startup("dataPivotStartup", function(app){
    app.DataPivot.get_object({{object.id}}, function(dp){
    $('#loading_div').fadeOut(function(){
        dp.build_data_pivot_vis($('#dp_display'));
    });
    });
    window.app.startup("smartTagsStartup", function(smartTags){
        new smartTags.SmartTagContainer($('#caption'), {showOnStartup: true});
    })
});
</script>
{% endblock extrajs %}
