{% extends 'assessment-rooted.html' %}

{% load static %}

{% block extrahead %}
  <meta name="hawc-viz-type" data-viz-type="data pivot" />
{% endblock %}

{% block content %}
  <div class="d-flex">
    <h2>{{object}}</h2>
    {% include "common/unpublished_badge.html" %}
    {% actions %}
      <a class="dropdown-item" href="{{object.get_download_url|safe}}?format=xlsx">Download data file</a>
      {% if obj_perms.edit %}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'summary:dp_update' assessment.pk object.slug %}">Edit display settings</a>
        <a class="dropdown-item" href="{% if object.datapivotquery %}{% url 'summary:dp_query-update' assessment.pk object.slug %}{% else %}{% url 'summary:dp_file-update' assessment.pk object.slug %}{% endif %}">Edit other settings</a>
        <a class="dropdown-item" href="{% url 'summary:dp_delete' assessment.pk object.slug %}">Delete Pivot</a>
      {% endif %}
    {% endactions %}
  </div>

  {% block dp_content %}

    <div id="dp_display"></div>

    <div id="loading_div"></div>

    <div id="caption">{{object.caption|safe}}</div>


  {% endblock dp_content %}

{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
    $('#loading_div').html(window.app.HAWCUtils.loading())
    window.app.startup("dataPivotStartup", function(app){
      app.DataPivot.get_object({{object.id}}, function(dp){
        $('#loading_div').fadeOut(function(){
          dp.build_data_pivot_vis($('#dp_display'));
        });
      });
      window.app.startup("smartTagsStartup", function(smartTags){
        new smartTags.SmartTagContainer($('#caption'), {showOnStartup: true});
      })
    });
  </script>
{% endblock %}
