{% extends 'embedded.html' %}

{% block content %}
{% include "includes/embedded_logo.html" with url=object.get_absolute_url %}
<div id="dp_display"></div>
<div id="loading_div"></div>
<div id="caption">{{object.caption|safe}}</div>
{% endblock content %}


{% block extrajs %}
<script type="text/javascript">
$('#loading_div').html(window.app.HAWCUtils.loading())
window.app.startup("dataPivotStartup", function(app){
    app.DataPivot.get_object({{object.id}}, function(dp){
    $('#loading_div').fadeOut(function(){
        dp.build_data_pivot_vis($('#dp_display'));
    });
    });
    window.app.startup("smartTagsStartup", function(smartTags){
        new smartTags.SmartTagContainer($('#caption'), {showOnStartup: true});
    })
});
</script>
{% endblock extrajs %}
