{% extends 'assessment-rooted.html' %}

{% block content %}
  <h2>Create data pivot</h2>
  <p>Two different types of data-pivots can be created. Please select the type you'd like to use:</p>
  <hr>

  <p class="lead">Option #1 (Query-based)</p>
  <p class='form-text text-muted'>Create a data-pivot based on querying information off the HAWC database for this assessment. Your settings will always be applied to this query; but it will contain the latest information from the database, so the visualization may change from time to time.</p>
  {% if assessment.has_animal_data %}
    <a href="{% url 'summary:dp_new-query' assessment.pk evidence_type.BIOASSAY %}" class="btn btn-primary">
      {{evidence_type.BIOASSAY.label}}
    </a>
  {% endif %}
  {% if assessment.has_epi_data %}
    <a href="{% url 'summary:dp_new-query' assessment.pk evidence_type.EPI %}" class="btn btn-primary">
      {{evidence_type.EPI.label}}
    </a>
  {% endif %}
  {% if assessment.has_epimeta_data %}
    <a href="{% url 'summary:dp_new-query' assessment.pk evidence_type.EPI_META %}" class="btn btn-primary">
      {{evidence_type.EPI_META.label}}
    </a>
  {% endif %}
  {% if assessment.has_invitro_data %}
    <a href="{% url 'summary:dp_new-query' assessment.pk evidence_type.IN_VITRO %}" class="btn btn-primary">
      {{evidence_type.IN_VITRO.label}}
    </a>
  {% endif %}
  {% if assessment.has_eco_data %}
    <a href="{% url 'summary:dp_new-query' assessment.pk evidence_type.ECO %}" class="btn btn-primary">
      {{evidence_type.ECO.label}}
    </a>
  {% endif %}
  <hr>

  <p class="lead">Option #2 (Input-file)</p>
  <p class='form-text text-muted'>
    Create a data-pivot based on an uploaded Excel file of data. Your settings will always be applied to the uploaded dataset; therefore the visualization will be constant, but will not use the latest information from the HAWC database. However, if you <a href="{% url 'summary:dataset_interactivity' %}" onclick="return window.app.HAWCUtils.newWindowPopupLink(this);">design your dataset</a> appropriately, HAWC interactivity is available.
  </p>
  <a href="{% url 'summary:dp_new-file' assessment.pk %}" class="btn btn-primary">Select Option #2</a>

  <hr>

  <p class="lead">Option #3 (Copy from existing)</p>
  <p class='form-text text-muted'>Create a data-pivot based, using an existing data-pivot as a template.</p>
  <a href="{% url 'summary:dp_copy_selector' assessment.pk %}" class="btn btn-primary">Select Option #3</a>

{% endblock %}
