{% extends 'assessment-rooted.html' %}

{% block content %}
  <div class="d-flex">
    <h2>Available tables</h2>
    {% if obj_perms.edit %}
      {% actions %}
        <a class="dropdown-item" href="{% url 'summary:tables_create_selector' assessment.pk %}">
          <i class="fa fa-fw fa-edit"></i>&nbsp;Create new table
        </a>
        <a class="dropdown-item" href="{% url 'summary:tables_copy' assessment.pk %}">
          <i class="fa fa-fw fa-copy"></i>&nbsp;Copy from existing
        </a>
      {% endactions %}
    {% endif %}
  </div>

  {% include 'common/inline_filter_form.html' %}

  {% if object_list.exists %}
    <table class="table table-sm table-striped">
      {% bs4_colgroup '40,20,20,20' %}
      {% bs4_thead 'Title,Table Type,Created,Modified' %}
      <tbody>
        {% for object in object_list %}
          <tr>
            <td>
              <div class="d-flex">
                <a href="{{object.get_absolute_url}}">{{object.title}}</a>
                {% for labeled_item in object.visible_labels %}
                  <a class="tny mx-1 label label-clip"  href="{% url 'assessment:labeled-items' assessment.pk %}?label={{labeled_item.label.pk}}" style="background-color: {{labeled_item.label.color}}; color: {{labeled_item.label.text_color}};" title="{{labeled_item.label.description}}">{{labeled_item.label.name}}</a>
                {% endfor %}
              </div>
              {% if obj_perms.edit and not object.published %}
                <i class="fa fa-eye-slash" title="Unpublished (not be visible to the public)" aria-hidden="true"></i>
              {% endif %}
              {% debug_badge object.id %}
            </td>
            <td>{{object.get_table_type_display}}</td>
            <td>{{object.created|date:"Y-m-d" }}</td>
            <td>{{object.last_updated|date:"Y-m-d" }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include "includes/paginator.html" with plural_object_name="tables" %}
  {% else %}
    {% if obj_perms.edit %}
      <p><i>No tables are available - create one!</i></p>
    {% else %}
      <p><i>No tables are available.</i></p>
    {% endif %}
  {% endif %}
{% endblock %}
