{% extends 'assessment-rooted.html' %}

{% load static %}

{% block content %}
  {% crispy form %}
  <div id="detail_display" class="row"></div>
  <div id="detail_library" class="hidden">
    <div id="detail-0" class="col-md-8 col-md-offset-2 tableType">
      <img
        alt="Image of a generic table"
        class="img-fluid"
        src="{% static 'img/summary/table-generic.png' %}" />
      <p class="form-text text-muted">
        A generic table allows users to define their own row and column structure and add rich text to
        the table. It is similar to creating a Microsoft Word table, where  you can define the number
        of rows and columns and general structure you would like to use.
      </p>
    </div>
    <div id="detail-1" class="col-md-8 col-md-offset-2 tableType">
      <img
        alt="Image of an evidence profile table"
        class="img-fluid"
        src="{% static 'img/summary/table-evidence-profile.png' %}" />
      <p class="form-text text-muted">
        Evidence Profile Tables are summary tables used to support the evidence integration narrative for a given health effect(s). These tables provide a concise description and documentation of the evidence synthesized for the health effect(s) of interest, the primary judgments drawn regarding the different pieces of evidence and the evidence as a whole, and the rationale for each of these judgments.
      </p>
    </div>
    <div id="detail-2" class="col-md-8 col-md-offset-2 tableType">
      <img
        alt="Image of a study evaluation table"
        class="img-fluid"
        src="{% static 'img/summary/table-study-evaluation.png' %}" />
      <p class="form-text text-muted">
        Study Evaluation Tables (SET) are designed to present study evaluations for studies or components of studies. They are designed with flexibility in mind, so you can select which rows to present (studies, or components of studies), and which columns to present (study evaluation criteria, or other metadata from data extractions). Custom columns can also be created for additional, project-specific data.
      </p>
    </div>
  </div>
{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
    $(document).ready(function(){
      $("#detail_display").insertAfter($('#div_id_table_type')).show();
      window.app.HAWCUtils.onSelectChangeShowDetail(
        document.getElementById("id_table_type"),
        document.getElementById("detail_display"),
        document.getElementById("detail_library")
      );
    });
  </script>
{% endblock extrajs %}
