{% extends 'assessment-rooted.html' %}

{% block content %}
  <h1 style="display:inline-block;">{{object}}</h1>
  {% if crud == "Read" %}
  <div class="dropdown btn-group float-right">
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions</a>
    <div class="dropdown-menu dropdown-menu-right">
      <h6 class="dropdown-header">Reporting</h6>
      <a class="dropdown-item" href="{{object.get_api_word_url}}">
        <i class="fa fa-fw fa-file-word-o"></i>&nbsp;Download report
      </a>
      {% if obj_perms.edit %}
      <div class="dropdown-divider"></div>
      <h6 class="dropdown-header">Edit settings</h6>
      <a class="dropdown-item" href="{{object.get_update_url}}">
        <i class="fa fa-fw fa-edit"></i>&nbsp;Update
      </a>
      <a class="dropdown-item" href="{{object.get_delete_url}}">
        <i class="fa fa-fw fa-trash"></i>&nbsp;Delete
      </a>
      {% endif %}
    </div>
  </div>
  {% endif %}
  <div id="main" style="min-height: 400px"></div>
{% endblock %}

{% block extrajs %}
<script type="text/json" id="config">
{
  "table_id": {{object.id}}
}
</script>
<script type="text/javascript">
  window.app.summaryTableViewStartup(function (startup) {
    const config = JSON.parse(document.getElementById("config").text),
      el = document.getElementById('main');
    startup(el, config);
  });
</script>
{% endblock %}
