{% extends 'assessment-rooted.html' %}

{% load add_class %}
{% load selectable_tags %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row pl-1">
  <div class="col-md-12">
    <h1>Modify summary text</h1>
  </div>
  <div id="main" class="container-fluid col-md-12"></div>
</div>
{% include "summary/_smartTagEditModal.html" with form=smart_tag_form only %}
{% endblock %}

{% block extrajs %}
{{ smart_tag_form.media }}
<script id="config" type="text/json" charset="utf-8">
{
    "assessment_id": {{assessment.pk}},
    "editMode": true,
    "csrf": "{{csrf_token}}"
}
</script>
<script type="text/javascript">
  window.app.summaryTextStartup(function (startup) {
    var root = document.getElementById('main'),
      config = window.app.getConfig();
    startup(root, config);
  })
</script>
{% endblock extrajs %}
