{% extends 'assessment-rooted.html' %}

{% block content %}
  <h1 class="d-inline-block">Available visualizations</h1>
  {% if obj_perms.edit %}
      <div class="dropdown btn-group float-right">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions</a>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="{% url 'summary:visualization_create_selector' assessment.pk %}">Create new visualization</a>
        </div>
      </div>
  {% endif %}
  <div class="visualizationsList"></div>
{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
    window.app.startup("summaryStartup", function(summary){
      summary.VisualCollection.buildTable(
        "{% url 'summary:api:visual-list' %}?assessment_id={{assessment.id}}",
        "{% url 'summary:api:data_pivot-list' %}?assessment_id={{assessment.id}}",
        $('.visualizationsList'),
        {showPublished: {{show_published|lower}}});
    });
  </script>
{% endblock %}
