{% extends './visual_form.html' %}

{% block content %}
  {% crispy form %}
  {% include "summary/_smartTagEditModal.html" with modal_id="smartTagModal" form=smart_tag_form only %}
{% endblock %}

{% block extrajs %}
  {{ smart_tag_form.media }}
  <script id="config" type="text/json" charset="utf-8">
    {
      "visual_type": {{visual_type}},
      "isCreate": {% if crud == "Create" %}true{% else %}false{% endif %}
    }
  </script>
  <script type="text/javascript">
    window.app.startup("summaryFormsStartup", function(summaryForms){
      const config = window.app.getConfig();
      summaryForms.startup(config);
    });
  </script>
{% endblock %}
