{% extends 'assessment-rooted.html' %}

{% block content %}
  <div class="d-flex">
    <h2>Available visualizations</h2>
    {% if obj_perms.edit %}
      {% actions %}
        <a class="dropdown-item" href="{% url 'summary:visualization_create_selector' assessment.pk %}">
          <i class="fa fa-fw fa-edit"></i>&nbsp;Create new visual
        </a>
        <a class="dropdown-item" href="{% url 'summary:visualization_copy_selector' assessment.pk %}">
          <i class="fa fa-fw fa-copy"></i>&nbsp;Copy from existing
        </a>
      {% endactions %}
    {% endif %}
  </div>

  {% include 'common/inline_filter_form.html' %}

  <table id="mainTbl" class="table table-sm table-striped">
    {% bs4_colgroup "50,26,12,12" %}
    {% bs4_thead "Visual,Type,Created,Modified" %}
    <tbody>
      {% for object in object_list %}
        <tr>
          <td>
            <div>
              {% debug_badge object.id %}
              <a class="text-nowrap" href="{{object.get_absolute_url}}">{{object.title}}</a>
              {% if not object.published %}<i class="fa fa-eye-slash mx-1" title="Unpublished (not be visible to the public)" aria-hidden="true"></i>{% endif %}
            </div>
            <div class="d-flex flex-wrap">
              {% for labeled_item in object.visible_labels %}
                {% include "assessment/fragments/label.html" with label=labeled_item.label anchor_tag=True %}
              {% endfor %}
            </div>
            {% if object.caption %}
              <div class='text-muted' title="{{object.caption|striptags|safe}}">{{object.caption|striptags|truncatewords:20|safe}}</div>
            {% endif %}
          </td>
          <td>{{ object.get_visual_type_display }}</td>
          <td>{{ object.created|date:"Y-m-d" }}</td>
          <td>{{ object.last_updated|date:"Y-m-d" }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include 'includes/paginator.html' with plural_object_name='visualizations' %}
{% endblock content %}

{% block extrajs %}
  <script type="text/javascript">
    $(document).ready(function(){
      window.app.HAWCUtils.tablesort(document.getElementById('mainTbl'));
    });
  </script>
{% endblock extrajs %}
