{% extends 'portal.html' %}
{% load static %}

{% block title %}{{assessment}} | New visualization {% endblock title %}

{% block breadcrumbs %}
  <li><a href="{{assessment.get_absolute_url}}">{{assessment}}</a><span class="divider">/</span></li>
  <li><a href="{% url 'summary:visualization_list' assessment.id %}">Visualizations</a><span class="divider">/</span></li>
  <li class="active">Create new<span class="divider">/</span></li>
{% endblock %}

{% block content_type %}container-fluid{% endblock %}

{% block content %}
  <h1>Create a new visualization</h1>
  <div class="control-group">
    <p id="hint_id_guideline_compliance" class="help-block">
        Multiple visualization types are available.
        Please select the type of visualization you would like to create.
      </p>
    <div class="controls">
      <div>
        <select class="span10 textinput textInput" id="vis_selector" maxlength="128" name="guideline_compliance" type="text">
          <option
            data-showcase="#dataPivot"
            value="{% url 'summary:dp_new-prompt' assessment.id %}">
            Data pivot</option>
          <option
            data-showcase="#visual0"
            value="{% url 'summary:visualization_create' assessment.id 0 %}">
            Bioassay endpoint aggregation</option>
          <option
            data-showcase="#visual1"
            value="{% url 'summary:visualization_create' assessment.id 1 %}">
            Bioassay endpoint crossview</option>
          <option
            data-showcase="#visual2"
            value="{% url 'summary:visualization_create' assessment.id 2 %}">
            {{assessment.get_rob_name_display}} heatmap</option>
          <option
            data-showcase="#visual3"
            value="{% url 'summary:visualization_create' assessment.id 3 %}">
            {{assessment.get_rob_name_display}} barchart</option>
          <option data-showcase="#visual4" value="{% url 'summary:visualization_create' assessment.id 4 %}">
              Literature tagtree</option>
        </select>
        <a id="create_btn" class="pull-right btn btn-primary span2" href="#">Select</a>
      </div>

    </div>
  </div>

  <div id="showcase" class="row-fluid" style="display: none;">
  </div>

  <div style="display: none;">

    <div id="visual0">
      <h2>Bioassay endpoint aggregation</h2>
      <div class="row">
        <img class="span10 offset1" src="{% static '/img/summary/aggregation1.png' %}">
      </div>
      <div class="row">
        <img class="span10 offset1" src="{% static '/img/summary/aggregation2.png' %}">
      </div>
      <p class="help-block">
        Select a subset of animal bioassay endpoints and present these using
        an exposure-response array or forest-plot design.
        Also creates a dose-response summary table of selected endpoints.
        Interactive, clicking on any point shows dose-response details.
      </p>
    </div>

    <div id="visual1">
      <h2>Bioassay endpoint crossview</h2>
      <div class="row">
        <img class="span10 offset1" src="{% static '/img/summary/crossview.png' %}">
      </div>
      <p class="help-block">
        All animal bioassay dose-response datasets available in a HAWC assessment
        for a given dose-unit, with response normalized to percent change from
        control using spline interpolation. Interactive, clicking on any line
        displays dose-response details and highlights metadata in red.
        An endpoint can only plotted if it has dose-response data extracted, and
        at least <strong>3-dose groups</strong> (an interpolation is created
        between non-control dose-groups, and 2+ are required to create a line).
      </p>
    </div>

    <div id="dataPivot">
      <h2>Data Pivot</h2>
      <div class="row">
        <img class="span10 offset1" src="{% static '/img/summary/data_pivot.png' %}">
        <img class="span10 offset1" src="{% static '/img/summary/data_pivot-barchart.png' %}">
      </div>
      <p class="help-block">
        Data from any data-stream in HAWC (bioassay, epidemiology, in-vitro) or
        from a tab-delimited file can be used to generate custom forest-plot
        style visualizations. Displayed text-fields and numbers to plot are
        customizable; results can be sorted and filter, and conditional-formatting
        can also be applied.
      </p>
    </div>

    <div id="visual2">
      <h2>{{assessment.get_rob_name_display}} heatmap</h2>
      <div class="row">
        <img
          class="span10 offset1"
          style="border-right: 1px solid black; border-bottom: 1px solid black;"
          src="{% static '/img/summary/rob-heatmap.svg' %}">
      </div>
      <p class="help-block">
        A {{assessment.get_rob_name_display|lower}} heatmap, showing a subset of selected studies and
        {{assessment.get_rob_name_display|lower}} findings for each metric. This plot is interactive; a user
        can select and row, column, or cell, to view all details associated
        with these cells.
      </p>
    </div>

    <div id="visual3">
      <h2>{{assessment.get_rob_name_display}} barchart</h2>
      <div class="row">
        <img
          class="span10 offset1"
          style="border-right: 1px solid black; border-bottom: 1px solid black;"
          src="{% static '/img/summary/rob-barchart.svg' %}">
      </div>
      <p class="help-block">
        A {{assessment.get_rob_name_display|lower}} stacked barchart, showing the percent of studies with
        each score, for each metric, in a selectable subset of studies.
      </p>
    </div>

    <div id="visual4">
      <h2>Literature tagtree</h2>
      <div class="row">
        <img class="span10 offset1" src="{% static '/img/summary/ehp.1509912.g001.jpg' %}">
      </div>
      <p class="help-block">
        A customizable dendrogram aka "tagtree" to display literature tags applied to references in a HAWC assessment.
      </p>
    </div>

  </div>

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$(document).ready(function(){
    var a = $('#create_btn'),
        sel = $('#vis_selector'),
        showcase = $('#showcase');

    sel.on('change', function(e){
        a.attr('href', e.target.value);
        var clone = $(sel.find(':selected').data('showcase')).clone();
        showcase
          .fadeOut(function(){showcase.html(clone);})
          .fadeIn();
    })
    .trigger('change');
});
</script>
{% endblock %}
