{% extends 'portal.html' %}


{% block title %}{{assessment}} | Visualizations | {{object}} {% endblock title %}

{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="{{assessment.get_absolute_url}}">{{assessment}}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'summary:visualization_list' assessment.pk %}">Visualizations</a></li>
  {% block breadcrumbs_self %}
    <li class="breadcrumb-item active">{{object}}</li>
  {% endblock breadcrumbs_self %}
{% endblock %}

{% block content %}
  <div class='visualization'></div>
{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
    window.app.summaryStartup(function(summary){
      window.isEditable = {{obj_perms.edit|lower}};
      summary.Visual.displayAsPage({{object.id}}, $(".visualization"));
    });
  </script>
{% endblock %}
