{% extends 'assessment-rooted.html' %}

{% block extrahead %}
  <meta name="hawc-viz-type" data-viz-type="{{object.get_visual_type_display}}" />
{% endblock %}

{% block content %}
  <div class='d-flex'>
    <h2>{{object.title}}</h2>
    {% include "common/unpublished_badge.html" %}
    {% if obj_perms.edit %}
      {% actions %}
        <span class="dropdown-header">Visualization editing</span>
        <a class="dropdown-item" href="{% url 'summary:visualization_update' assessment.pk object.slug %}">Update</a>
        <a class="dropdown-item" href="{% url 'summary:visualization_delete' assessment.pk object.slug %}">Delete</a>
      {% endactions %}
    {% endif %}
  </div>
  <div id='visualization'></div>
  <p>{{object.caption|safe}}</p>
{% endblock %}

{% block extrajs %}
  {{ config|json_script:"config" }}
  <script type="text/javascript">
    window.app.startup("summaryStartup", function(summary){
      window.isEditable = {{obj_perms.edit|lower}};
      const config = JSON.parse(document.getElementById('config').textContent),
            el = document.getElementById('visualization');
      summary.startupPrismaAppRender(el, config.settings, config.data, config);
    });
  </script>
{% endblock %}

