{% extends 'assessment-rooted.html' %}

{% load static %}

{% block extrahead %}
  <meta name="hawc-viz-type" data-viz-type="{{object.get_visual_type_display}}" />
{% endblock %}

{% block content %}
  {% debug_badge object.id %}
  <div class='visualization'></div>
  {% include "assessment/components/label_modal.html" with modal_id="label-modal"%}
{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
    window.app.startup("summaryStartup", function(summary){
      window.isEditable = {{obj_perms.edit|lower}};
      summary.Visual.displayAsPage({{object.id}}, $(".visualization"));
    });
    window.app.HAWCUtils.watchForHtmx('.visualization');
  </script>
{% endblock %}
