{% extends 'assessment-rooted.html' %}

{% block content %}
  <div id="main" style="display:none;"></div>
  <div id="formContainer" style="display:none;">
    {% crispy form %}
  </div>
  {% include "summary/_smartTagEditModal.html" with modal_id="smartTagModal" form=smart_tag_form only %}
{% endblock %}

{% block extrajs %}
  {{ smart_tag_form.media }}
  {{ config|json_script:"config" }}
  <script type="text/javascript">
    window.app.startup("summaryFormsStartup", function(summaryForms){
      const config = window.app.getConfig(),
            djangoForm = document.querySelector('#visualForm'),
            mainElement = document.querySelector('#main');
      summaryForms.startup(config, djangoForm, mainElement);
    });
  </script>
{% endblock %}
