{% extends 'assessment-rooted.html' %}

{% load bs4 %}

{% block content %}
<div class="d-flex">
  <div class='visualization'>
    <h2>{{object.title}}</h2>
    {% plotly object.get_plotly_from_json %}
    <p>{{object.caption|safe}}</p>
  </div>
  {% if obj_perms.edit %}
    {% actions %}
      <span class="dropdown-header">Visualization editing</span>
      <a class="dropdown-item" href="{% url 'summary:visualization_update' assessment.pk object.slug %}">
        Update
      </a>
      <a class="dropdown-item" href="{% url 'summary:visualization_delete' assessment.pk object.slug %}">
        Delete
      </a>
    {% endactions %}
  {% endif %}
</div>
{% endblock %}
