{% if object_list or obj_perms.edit %}
  <h3>Epidemiological meta-analyses</h3>
  <table class="table table-sm table-striped">
    {% bs4_colgroup '25,25,25,25' %}
    {% bs4_thead 'Protocol name,Protocol type,Total references in literature search,Total references included in analysis' %}
    <tbody>
      {% for object in object_list %}
        <tr>
          <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
          <td>{{object.get_protocol_type_display}}</td>
          <td>{{object.total_references}}</td>
          <td>{{object.total_studies_identified}}</td>
        </tr>
      {% empty %}
        {% bs4_fullrow 'No meta-protocols are available.' %}
      {% endfor %}
    </tbody>
  </table>
{% endif %}
