{% extends 'assessment-rooted.html' %}

{% load bs4 %}

{% block content %}
  <div class="d-flex">
    <h2>{{object}}</h2>
    {% if obj_perms.edit and crud == "Read" %}
      {% actions %}
        <span class="dropdown-header">Meta-result editing</span>
        <a class="dropdown-item" href="{% url 'meta:result_update' object.pk %}">Update</a>
        <a class="dropdown-item" href="{% url 'meta:result_delete' object.pk %}">Delete</a>
      {% endactions %}
    {% endif %}
  </div>
  <div id="main"></div>
{% endblock %}

{% block extrajs %}
  {{ config|json_script:"config" }}
{% endblock %}
