{% extends 'assessment-rooted.html' %}

{% load bs4 %}

{% block content %}
<h2>Meta-analysis/pooled results ({{page_obj.paginator.count}} found)</h2>
{% include 'common/inline_filter_form.html' %}
<table id="mainTbl" class="table table-sm table-striped">
    {% bs4_colgroup '13,17,19,14,13,12,12' %}
    {% bs4_thead 'Study,Meta result,Protocol,Health outcome,Exposure,Confidence interval,Estimate' %}
    <tbody>
        {% for object in object_list %}
        <tr>
            <td>
                <a
                    href="{{object.protocol.study.get_absolute_url}}">{{object.protocol.study.short_citation}}</a>
            </td>
            <td class="previewModalParent">
                <i data-id={{object.pk}} class="float-right fa fa-external-link previewModalIcon mr-2" title="preview"></i>
                <a href="{{object.get_absolute_url}}">{{object.label}}</a>
            </td>
            <td>
                <a href="{{object.protocol.get_absolute_url}}">{{object.protocol.name}}</a>
            </td>
            <td>
                {{object.health_outcome|default:"--"}}
            </td>
            <td>
                {{object.exposure_name|default:"--"}}
            </td>
            <td>
                {% if object.ci_units_percentage is not None %}
                    {{object.ci_units_percentage}}%
                {% else %}
                    --
                {% endif %}
            </td>
            <td>
                {{object.estimate_formatted|default:"--"}}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">
                No results available
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include "includes/paginator.html" with plural_object_name="results" %}

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    window.app.startup("epiMetaStartup", function (app) {
        $("i.previewModalIcon").click(e=>app.MetaResult.displayAsModal($(e.target).data("id")));
    });
</script>
{% endblock %}
