{% extends 'assessment-rooted.html' %}

{% load crispy_forms_tags %}
{% load selectable_tags %}

{% block content %}
    <h2>Meta-analysis/pooled results ({{page_obj.paginator.count}} found)</h2>
    <div class="card">
        <div class="card-header">
            <button class="btn btn-link" data-toggle="collapse" data-target="#EndpointForm">
                Filter results
            </button>
        </div>
        <div id="EndpointForm" class="collapse">
            <div class="card-body">
                {% crispy form %}
            </div>
        </div>
    </div>
    <div id="main"></div>
    {% include "includes/paginator.html" %}
{% endblock content %}

{% block extrajs %}
    {{ form.media }}
    {{ config|json_script:"config" }}
{% endblock %}
