{% if object_list %}
  <table id="ag-table" class="table table-sm table-striped">
    {% if with_experiment %}
      {% bs4_thead 'Experiment,Name,Species,Strain,Sex,Siblings' %}
    {% else %}
      {% bs4_thead 'Name,Species,Strain,Sex,Siblings' %}
    {% endif %}
    <tbody>
      {% for object in object_list %}
        <tr>
          {%if with_experiment %}
            <td><a href="{% url 'animal:animal_group_detail' object.experiment.pk %}">{{object.experiment}}</a></td>
          {% endif %}
          <td><a href="{% url 'animal:animal_group_detail' object.pk %}">{{object}}</a></td>
          <td>{{object.species}}</td>
          <td>{{object.strain}}</td>
          <td>{{object.get_sex_display}}</td>
          <td>{% if object.siblings %}<a href="{% url 'animal:animal_group_detail' object.siblings.pk %}">{{object.siblings}}</a>{% else %}None{% endif %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No animal groups available.</p>
{% endif %}
