{% extends 'assessment-rooted.html' %}

{% block content %}
  <div id="animal-group-header" class="d-flex">
    <h2>{{object}}</h2>
    {% if obj_perms.edit %}
      {% actions %}
        <span class="dropdown-header">Animal Group Editing</span>
        <a class="dropdown-item" href="{% url 'animal:animal_group_update' object.pk %}">Update</a>
        <a class="dropdown-item" href="{% audit_url object %}">View change logs</a>
        <a class="dropdown-item" href="{% url 'animal:animal_group_delete' object.pk %}">Delete</a>

        {% if object.dosing_regime and object == object.dosing_regime.dosed_animals %}
          <div class="dropdown-divider"></div>
          <span class="dropdown-header">Dose Regime Editing</span>
          <a class="dropdown-item" href="{% url 'animal:dosing_regime_update' object.dosing_regime.pk %}">Update</a>
          <a class="dropdown-item" href="{% audit_url object.dosing_regime %}">View change logs</a>
        {% endif %}

        <div class="dropdown-divider"></div>
        <span class="dropdown-header">Endpoint Editing</span>
        <a class="dropdown-item" href="{% url 'animal:endpoint_new' object.pk %}">Create new</a>
        <a class="dropdown-item" href="{% url 'animal:endpoint_copy' object.pk %}">Copy from existing</a>
      {% endactions %}
    {% endif %}
  </div>

  {% if crud == "Read" %}
    {% include "udf/fragments/table.html" with object=udf_content %}
    <div id="animalGroupTableMain"></div>
  {% endif %}

{% endblock %}


{% block extrajs %}

  {{ config|json_script:"config" }}
  <script type="text/javascript">
    window.app.startup("animalStartup", function(animal){
      const data = window.app.getConfig();
      animal.AnimalGroup.get_object(data.id, function(d){
        inserts = [d.build_details_table()];
        if (data.has_dosing_regime){
          inserts.push($("<h3>Dosing regime</h3>"));
          inserts.push(d.build_dr_details_table());
        }
        $('div#animal-group-header').after(inserts);
      });
      animal.startupAnimalGroupTable(document.getElementById("animalGroupTableMain"), data);
    });
  </script>
{% endblock %}
