{% extends 'animal/experiment_detail.html' %}

{% block content %}

  {% include "hawc/_copy_as_new.html" with name="animal group" notes="Select an existing animal group as a template to create a new one." %}

{% endblock content %}

{% block extrajs %}
  <script type="text/javascript">
    $(document).ready(function(){

      new window.app.HAWCUtils.InitialForm({
        "form": $('form'),
        "base_url": "{% url 'animal:animal_group_new' object.pk %}",
      });

    });
  </script>
{% endblock extrajs %}

