{% extends 'portal.html' %}

{% block title %}
  {% include "hawc/siteTitle.html" with crumbs=object.get_crumbs crud=crud %}
{% endblock title %}

{% block breadcrumbs %}
  {% include "hawc/breadcrumbs.html" with crumbs=object.get_crumbs crud=crud %}
{% endblock %}

{% block content %}

    <h1>{{object}}
      {% if obj_perms.edit %}
        <div class="btn-group float-right">
          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">

              <li class="disabled"><a tabindex="-1" href="#">Animal Group Editing</a></li>
              <li><a href="{% url 'animal:animal_group_update' object.pk %}">Update</a></li>
              <li><a href="{% url 'animal:animal_group_delete' object.pk %}">Delete</a></li>

              {% if object.dosing_regime and object == object.dosing_regime.dosed_animals %}
                <li class="divider"></li>
                <li class="disabled"><a tabindex="-1" href="#">Dose Regime Editing</a></li>
                <li><a href="{% url 'animal:dosing_regime_update' object.dosing_regime.pk %}">Update</a></li>
              {% endif %}

              <li class="divider"></li>
              <li class="disabled"><a tabindex="-1" href="#">Endpoint Editing</a></li>
              <li><a href="{% url 'animal:endpoint_new' object.pk %}">Create new</a></li>
              <li><a href="{% url 'animal:endpoint_copy_selector' object.pk %}">Copy from existing</a></li>

          </ul>
        </div>
      {% endif %}
    </h1>

  {% if crud == "Read" %}
    <h2>Available endpoints</h2>
    <div id="endpointsDiv"></div>
  {% endif %}

{% endblock %}


{% block extrajs %}

  <script type="text/javascript">

  function sortByOrganAsc(a, b) { return a.data.organ.localeCompare(b.data.organ); }
  function sortByOrganDesc(a, b) { return -1 * sortByOrganAsc(a, b); }
  function sortByNameAsc(a, b) { return a.data.name.localeCompare(b.data.name); }
  function sortByNameDesc(a, b) { return -1 * sortByNameAsc(a, b); }
  function sortByObsTimeAsc(a, b) { return a.data.observation_time_text.localeCompare(b.data.observation_time_text); }
  function sortByObsTimeDesc(a, b) { return -1 * sortByObsTimeAsc(a, b); }

  window.app.animalStartup(function(animal){
      animal.AnimalGroup.get_object({{object.id}}, function(d){
          $('h1')
            .after(
                d.build_details_table(),
                $("<h2>Dosing regime</h2>"),
                d.build_dr_details_table()
            );
      });

      var endpoints = [];
      {% for obj in object.endpoints.all %}
        endpoints.push(new animal.Endpoint({{obj.get_json|safe}}));
      {% endfor %}

  var lastEndpointSort = "";
  // calls the AnimalGroupTable render function, but wraps it inside some sorting and some DOM manipulation to build a simple sort UI
  var renderTableAsSortable = function (sortField) {
    var reverseSort = false;
    if (lastEndpointSort == sortField) {
      reverseSort = true;
      lastEndpointSort = "-" + sortField;
    } else {
      lastEndpointSort = sortField;
    }
    if (sortField == "organ") {
      endpoints.sort(reverseSort ? sortByOrganDesc : sortByOrganAsc);
    } else if (sortField == "name") {
      endpoints.sort(reverseSort ? sortByNameDesc : sortByNameAsc);
    } else if (sortField == "obs-time") {
      endpoints.sort(reverseSort ? sortByObsTimeDesc : sortByObsTimeAsc);
    }
    $("#endpointsDiv").empty();
    animal.AnimalGroupTable.render($("#endpointsDiv"), endpoints);
    // make the headers clickable...
    $("#endpointsDiv thead tr th.sortable").each(function () {
      var th = $(this);
      var sortKey = th.attr("data-sortable-field");
      if (sortKey !== undefined) {
        th.css({
          cursor: "pointer",
          "text-decoration": "underline"
        });
        th.click(function () {
          renderTableAsSortable(sortKey);
        });
      }
    });
    var clickedHeader = $("th.sortable[data-sortable-field='" + sortField + "']");
    clickedHeader.html((reverseSort ? "&darr; " : "&uarr; ") + clickedHeader.html());
  };
  renderTableAsSortable("name");
  });
  </script>
{% endblock %}
