{% extends 'portal.html' %}

{% load add_class %}
{% load crispy_forms_tags %}

{% block title %}
  {% include "hawc/siteTitle.html" with crumbs=object.get_crumbs crud=crud %}
{% endblock title %}

{% block breadcrumbs %}
  {% include "hawc/breadcrumbs.html" with crumbs=object.get_crumbs crud=crud %}
{% endblock %}

{% block content %}

  {% crispy form %}

  <div id="doseGroupsDiv">

    <legend>Dose-groups
      <span class='pull-right'>
        <a class="btn btn-primary" id="new_dose_column" href="#">Add new representation</a>
        <a class='btn btn-primary' href="{% url 'assessment:dose_units_create' assessment.pk %}" onclick="return window.app.utils.HAWCUtils.newWindowPopupLink(this);" title="Add new dose-units">+</a>
      </span>
    </legend>

    {% if dose_groups_errors %}<div class="alert alert-danger">{{dose_groups_errors|safe}}</div>{% endif %}
    <table id="dose_table" class="table table-condensed table-striped"></table>
    <input id="dose_groups_json" name="dose_groups_json" type="hidden"></input>

  </div>

{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
      $('#id_description').quillify();

      // reorganize forms
      var actions = $('.form-actions');
      $('#doseGroupsDiv').insertBefore($('.form-actions'))

      var dose_types = {{dose_types|safe}},
          dose_values = {{dose_groups_json|safe}};

      window.app.animalStartup(function(animal){
          new animal.DosingRegimeForm($("#dosing_regime"), dose_types, dose_values);
      })
  </script>
{% endblock extrajs %}
