{% extends 'assessment-rooted.html' %}

{% block content %}

<h2>Assessment endpoints ({{page_obj.paginator.count}} found)</h2>

{% include 'common/filter_list.html' with plural_object_name='endpoints' %}

<table id="mainTbl" class="table table-sm table-striped">

    <colgroup>
        <col width="15%" />
        <col width="20%" />
        <col width="15%" />
        <col width="25%" />
        <col width="5%" />
        <col width="5%" />
        <col width="5%" />
        <col width="5%" />
        <col width="5%" />
    </colgroup>


    <thead>
        <tr>
            <th>Study</th>
            <th>Experiment</th>
            <th>Animal group</th>
            <th>Endpoint</th>
            <th>Units</th>
            <th>NOEL</th>
            <th>LOEL</th>
            <th>BMD</th>
            <th>BMDLS</th>
        </tr>
    </thead>

    <tbody>
        {% for object in object_list %}
        <tr>
            <td>
                <a
                    href="{% url 'study:detail' object.animal_group.experiment.study.pk %}">{{object.animal_group.experiment.study.short_citation}}</a>
            </td>
            <td>
                <a
                    href="{% url 'animal:experiment_detail' object.animal_group.experiment.pk %}">{{object.animal_group.experiment.name}}</a>
            </td>
            <td>
                <a href="{% url 'animal:animal_group_detail' object.animal_group.pk %}">{{object.animal_group.name}}</a>
            </td>
            <td>
                <span class="previewModalParent">
                    <a href="{% url 'animal:endpoint_detail' object.pk %}">{{object.name}}</a>
                    <i data-id={{object.pk}} class="fa fa-eye previewModalIcon ml-2" title="preview in a modal"></i>
                </span>
            </td>
            <td data-id={{object.pk}} class="endpointUnits"></td>
            <td data-id={{object.pk}} class="endpointNOEL">{{object.NOEL}}</td>
            <td data-id={{object.pk}} class="endpointLOEL">{{object.LOEL}}</td>
            <td data-id={{object.pk}} class="endpointBMD"></td>
            <td data-id={{object.pk}} class="endpointBMD"></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">
                No endpoints available
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include "includes/paginator.html" with plural_object_name="endpoints" %}

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    window.app.startup("animalStartup", function (animal) {
        $("i.previewModalIcon").click(e=>animal.Endpoint.displayAsModal($(e.target).data("id"), { complete: true }));
    });
</script>
{% endblock %}
