{% extends 'assessment-rooted.html' %}

{% load crispy_forms_tags %}
{% load selectable_tags %}

{% block content %}
    <h1>Assessment endpoints ({{page_obj.paginator.count}} found)</h1>
    <div class="card">
        <div class="card-header">
            <button class="btn btn-link" data-toggle="collapse" data-target="#EndpointForm">
                Filter endpoints
            </button>
        </div>
        <div id="EndpointForm" class="collapse">
            <div class="card-body container-fluid">
                {% crispy form %}
            </div>
        </div>
    </div>
    <div id="endpointTable"></div>
    {% include "includes/paginator.html" %}
{% endblock content %}

{% block extrajs %}
    {{ form.media }}
    {{ config|json_script:"config" }}
    <script type="text/javascript">
        window.app.startup("animalStartup", function(animal){
            const data = window.app.getConfig(),
                tbl = new animal.EndpointListTable(data.items, data.dose_units);
            $("#endpointTable").html(tbl.build_table());
        });
    </script>
{% endblock %}
