{% extends 'assessment-rooted.html' %}

{% load selectable_tags %}
{% load add_class %}
{% load url_replace %}

{% block content %}
<h2>Assessment endpoints v2</h2>
<div id="main"></div>
{% endblock %}

{% block extrajs %}
<script id="config" type="text/json" charset="utf-8">
{
    "data_url": "{{data_url}}"
}
</script>
<script type="text/javascript">
    window.app.startup("animalStartup", function (app) {
        var root = document.getElementById('main'),
            config = window.app.getConfig();
        app.startupEndpointListApp(root, config);
    });
</script>
{% endblock extrajs %}
