{% extends 'assessment-rooted.html' %}

{% block content %}
  <div class="d-flex mb-2">
    <h2 class="mb-0">Assessment endpoints ({{page_obj.paginator.count}} found)</h2>
    {% if feature_flags.ENABLE_FILTER_DOWNLOADS and page_obj.paginator.count > 0 %}
      {% actions %}
        <a class="dropdown-item" href="#"><i class="fa fa-fw fa-download mr-1"></i>Download (xlsx)</a>
      {% endactions %}
    {% endif %}
  </div>
  {% include 'common/inline_filter_form.html' %}
  <table id="mainTbl" class="table table-sm table-striped">
    {% bs4_colgroup '12,14,15,24,7,7,7,7,7' %}
    {% bs4_thead header_names %}
    <tbody>
      {% for object in object_list %}
        <tr>
          <td>
            <a
              href="{{object.animal_group.experiment.study.get_absolute_url}}">{{object.animal_group.experiment.study.short_citation}}</a>{% debug_badge object.animal_group.experiment.study_id %}
          </td>
          <td>
            <a
              href="{{object.animal_group.experiment.get_absolute_url }}">{{object.animal_group.experiment.name}}</a>{% debug_badge object.animal_group.experiment_id %}
          </td>
          <td>
            <a href="{{object.animal_group.get_absolute_url}}">{{object.animal_group.name}}</a>{% debug_badge object.animal_group_id %}
          </td>
          <td class="previewModalParent">
            <i data-id={{object.pk}} class="float-right fa fa-fixed fa-external-link previewModalIcon mr-2" title="preview"></i>
            <a href="{{object.get_absolute_url}}">{{object.name}}</a>{% debug_badge object.id %}
          </td>
          <td>{{object.units_name|default:"-"}}</td>
          <td>{{object.noel_value|default:"-"}}</td>
          <td>{{object.loel_value|default:"-"}}</td>
          <td>{{object.bmd|default:"-"}}</td>
          <td>{{object.bmdl|default:"-"}}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="9">
            No endpoints available
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include "includes/paginator.html" with plural_object_name="endpoints" %}

{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
    $(document).ready(() => {
      window.app.startup("animalStartup", function (animal) {
        $("i.previewModalIcon").click(e=>animal.Endpoint.displayAsModal($(e.target).data("id"), { complete: true }));
      });
    });
  </script>
{% endblock %}
