{% extends 'animal/animalgroup_detail.html' %}

{% block content %}

{% include "hawc/_copy_as_new.html" with name="endpoint" notes="Select an existing endpoint as a template to create a new one. Only inputs from the current study are available." %}

<div id="endpoint_search_additions" class="hidden">
  <div class="form-group form-row">
    <label class="col-md-2 col-form-label" for="search_fields">Search fields:</label>
    <div class="col-md-10">
      <div class="form-check">
        <div><input class="search_trigger form-check-input" type="checkbox" name="search_fields" value="animal_group__experiment__name" checked>Experiment</div>
        <div><input class="search_trigger form-check-input" type="checkbox" name="search_fields" value="animal_group__name" checked>Animal Group</div>
        <div><input class="search_trigger form-check-input" type="checkbox" name="search_fields" value="name" checked>Endpoint Name</div>
        <div><input class="search_trigger form-check-input" type="checkbox" name="search_fields" value="created">Date Created</div>
        <div><input class="search_trigger form-check-input" type="checkbox" name="search_fields" value="last_updated">Date Updated</div>
        <div><input class="search_trigger form-check-input" type="checkbox" name="search_fields" value="data_type">Data Type</div>
        <div><input class="search_trigger form-check-input" type="checkbox" name="search_fields" value="response_units"> Response Units</div>
        <div><input class="search_trigger form-check-input" type="checkbox" name="search_fields" value="observation_time">Observation Time</div>
        <div><input class="search_trigger form-check-input" type="checkbox" name="search_fields" value="system"> System</div>
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    <label class="col-md-2 col-form-label" for="order_by">Order by:</label>
    <div class="col-md-5">
      <select class="search_trigger form-control" name="order_by">
        <option value="name">Endpoint Name</option>
        <option value="created">Date Created</option>
        <option value="last_updated">Date Updated</option>
      </select>
    </div>
    <div class="col-md-5">
      <select class="search_trigger form-control" name="order_direction">
        <option value="">Ascending</option>
        <option value="-">Descending</option>
      </select>
    </div>
  </div>
</div>

{% endblock content %}

{% block extrajs %}
  <script type="text/javascript">
    $(document).ready(function(){
      new window.app.HAWCUtils.InitialForm({form: $('form'), base_url: "{% url 'animal:endpoint_new' object.pk %}" });
      $("#endpoint_search_additions").detach().appendTo($("#copy-form fieldset")).removeClass("hidden");
    });
  </script>
{% endblock extrajs %}
