{% extends 'assessment-rooted.html' %}

{% block content %}

  <h1 style="display:inline-block;">{{object}}</h1>
  {% if crud == "Read" %}
    <div class="dropdown btn-group float-right">
      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions</a>
      <div class="dropdown-menu dropdown-menu-right">
          {% if obj_perms.edit %}
          <span class="dropdown-header">Endpoint Editing</span>
          <a class="dropdown-item" href="{{ object.get_update_url }}">Update endpoint</a>
          <a class="dropdown-item" href="{% url 'animal:endpoint_delete' object.pk %}">Delete endpoint</a>
          <div class="dropdown-divider"></div>
          {% endif %}

          {% if assessment.enable_bmd and object.bmd_modeling_possible %}
            {% if bmd_session %}
              <span class="dropdown-header">BMD Modeling</span>
              <a class="dropdown-item" href="{{bmd_session.get_absolute_url}}">View session</a>
              <a class="dropdown-item" href="{% url 'bmd:session_list' object.pk %}">Other options</a>
            {% else %}
              {% if obj_perms.edit %}
                <span class="dropdown-header">BMD Modeling</span>
                <a class="dropdown-item" href="{% url 'bmd:session_create' object.pk %}">Create</a>
              {% endif %}
            {% endif %}
          {% endif %}
      </div>
    </div>
  {% endif %}

  <!-- Endpoint details -->
  <div class="row">
    <div id="dr-details" class="col-md-7">
      <h2>Endpoint Details</h2>
      <div id="endpoint-details-table"></div>

      <h2>Dataset</h2>
      <table id="dr-tbl" class="table table-sm table-striped"></table>
    </div>

    <div id='dr-plot-container' class="col-md-5">
      <h2>Plot</h2>
      <div id='bmd_ds_plot'></div>
      <br/>
      <div id="endpoint-general-notes"></div>
    </div>
  </div>

{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
      window.app.animalStartup(function(animal){
          var endpoint = new animal.Endpoint({{object.get_json|safe}});

          endpoint.build_details_table($('#endpoint-details-table'));
          endpoint.build_endpoint_table($('#dr-tbl'));
          endpoint.renderPlot($('#bmd_ds_plot'));
          endpoint.build_general_notes($('#endpoint-general-notes'));
      })
  </script>
{% endblock %}
