{% extends 'portal.html' %}

{% block title %}{{assessment}} | Bioassay study design | HAWC {% endblock title %}

{% block breadcrumbs %}
<li><a href="{% url 'assessment:detail' pk=assessment.pk %}">{{ assessment }}</a><span class="divider">/</span></li>
<li><a href="{% url 'assessment:endpoint_list' assessment.pk %}">Endpoints</a><span class="divider">/</span></li>
<li class="active">Study design summary<span class="divider">/</span></li>
{% endblock %}

{% block content %}
<div id="main"></div>
{% endblock content %}

{% block extrajs %}
<script id="config" type="text/json" charset="utf-8">
{
    "heatmap_class": "{{heatmap_class}}",
    "data_url": "{{data_url}}"
}
</script>
<script type="text/javascript">
    window.app.heatmapTemplateStartup(function (app) {
        var root = document.getElementById('main'),
            config = JSON.parse(document.getElementById('config').textContent);

        app.func(root, config);
    });
</script>
{% endblock extrajs %}
