{% load add_class %}

<form class="form-horizontal" action="." method="post">

  {% csrf_token %}

    <fieldset>
      <legend>Copy {{name}}</legend>
      <span class="help-block">{{notes}}</span><br>

      {% for field in form %}
        <div class="form-group form-row">
          {{field.label_tag|add_class:"control-label"}}
          {{field}}<br>
          <p class='help-inline'>{{field.help_text}}</p>
          {{field.errors|add_class:"alert alert-danger"}}
        </div>
      {% endfor %}
    </fieldset>

    <div class="form-actions">
      <a id='submit_form' href="#" class="btn btn-primary">Copy selected as new</a>
      <a href='{{object.get_absolute_url}}' class="btn btn-light">Cancel</a>
    </div>

</form>
