{% for crumb in crumbs %}
    {% if forloop.last %}
        {% if crud == "Read" %}
            <li class="breadcrumb-item active">{{crumb.0}}
                {{ crumb.2|default_if_none:""|safe}}
            </li>
        {% elif crud == "Create" %}
            <li class="breadcrumb-item active">{{crud}} {{crumb.0}}
                {{ crumb.2|default_if_none:""|safe}}
            </li>
        {% else %}
            <li class="breadcrumb-item">
                <a href="{{crumb.1}}">{{crumb.0}}</a>
                {{ crumb.2|default_if_none:""|safe}}
            </li>
            <li class="breadcrumb-item active">{{crud}}</li>
        {% endif %}

    {% else %}
        <li class="breadcrumb-item">
            <a href="{{crumb.1}}">{{crumb.0}}</a>
            {{ crumb.2|default_if_none:""|safe}}
        </li>
    {% endif %}
{% endfor %}
