{% extends 'portal.html' %}

{% block title %}
  {{assessment}} | Risk of bias requirements | HAWC
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{{assessment.get_absolute_url}}">{{ assessment }}</a><span class="divider">/</span></li>
  {% if crud == "Read" %}
    <li class="active">Risk of bias requirements<span class="divider">/</span></li>
  {% else %}
    <li><a href="{% url 'riskofbias:arob_detail' assessment.pk %}">Risk of bias requirements</a><span class="divider">/</span></li>
    <li class="active">Edit<span class="divider">/</span></li>
  {% endif %}
{% endblock breadcrumbs %}

{% block content %}

  <h1>Risk of bias requirements
    {% if obj_perms.edit %}
      <div class="btn-group pull-right">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          {% if crud == "Read" %}
            {% if obj_perms.edit_assessment %}
            <li class="disabled"><a tabindex="-1" href="#">Requirement settings</a></li>
            <li><a href="{% url 'riskofbias:arob_update' assessment.pk %}">Update requirements</a></li>
            <li><a href="{% url 'riskofbias:arob_copy' assessment.pk %}">Copy from existing</a></li>
            <li class="divider"></li>
            {% endif %}

            <li class="disabled"><a tabindex="-1" href="#">Study assignment</a></li>
            <li><a href="{% url 'riskofbias:arob_reviewers' assessment.pk %}">View assignments</a></li>

            {% if obj_perms.edit_assessment %}
            <li class="divider"></li>
            <li class="disabled"><a tabindex="-1" href="#">Data cleanup</a></li>
            <li><a href="{% url 'assessment:clean_study_metrics' assessment.pk %}">Clean risk of bias responses</a></li>
            {% endif %}
          {% elif crud == "Update" %}
            <li class="disabled"><a tabindex="-1" href="#">Risk of bias changes</a></li>
            <li><a href="{% url 'riskofbias:arob_text_update' assessment.pk %}">Update instructions</a></li>
            <li class="divider"></li>
            <li class="disabled"><a tabindex="-1" href="#">Domain changes</a></li>
            <li><a href="{% url 'riskofbias:robd_create' assessment.pk %}">New domain</a></li>
          {% endif %}
        </ul>
    </div>
    {% endif %}
  </h1>

  {{assessment.rob_settings.help_text|safe}}

  {% for object in object_list %}
    <h2>{{object}} Domain
      {% if crud == "Update" %}
        <div class="btn-group pull-right">
          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li class="disabled"><a tabindex="-1" href="#">{{object}} domain changes</a></li>
            <li><a href="{% url 'riskofbias:robd_update' object.pk %}">Update domain</a></li>
            <li><a href="{% url 'riskofbias:robd_delete' object.pk %}">Delete domain</a></li>
            <li class="divider"></li>
            <li class="disabled"><a tabindex="-1" href="#">{{object}} metric changes</a></li>
            <li><a href="{% url 'riskofbias:robm_create' object.pk %}">New metric</a></li>
          </ul>
        </div>
      {% endif %}
    </h2>
    <p class="help-block">{{object.description|safe}}</p>
    <table class="table table-compressed">
      <colgroup>
          <col width="5%"></col>
          <col width="35%"></col>
        {% if crud == "Read" %}
          <col width="60%"></col>
        {% else %}
          <col width="40%"></col>
          <col width="20%"></col>
        {% endif %}
      </colgroup>

      <thead>
        <tr>
          <th>ID</th>
          <th>Metric</th>
          <th>Description</th>
          {% if crud == "Update" %}
            <th>Modify</th>
          {% endif %}
        </tr>
      </thead>

      {% for metric in object.metrics.all %}
        <tr>
          <th>{{forloop.counter}}</th>
          <td>
            {{metric}}<br><br>
            <strong>Required for animal bioassay: </strong>
              {%if metric.required_animal %}<i class='fa fa-check'></i>{% else %}<i class='fa fa-minus'></i>{% endif %}<br>
            <strong>Required for epidemiological: </strong>
              {%if metric.required_epi %}<i class='fa fa-check'></i>{% else %}<i class='fa fa-minus'></i>{% endif %}
          </td>
          <td>
            {{metric.description|safe}}<br>
          </td>
          {% if crud == "Update" %}
            <td><a class="btn btn-info" href="{% url 'riskofbias:robm_update' metric.pk %}">Edit</a>
                <a class="btn btn-danger" href="{% url 'riskofbias:robm_delete' metric.pk %}">Delete</a></td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  {% endfor %}

{% endblock %}
