{% extends 'portal.html' %}

{% load add_class %}
{% load crispy_forms_tags %}

{% block title %}
  {{assessment}} | Copy risk of bias approach | HAWC
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' pk=assessment.pk %}">{{assessment}}</a><span class="divider">/</span></li>
  <li><a href="{% url 'riskofbias:arob_detail' assessment.pk %}">Risk of bias requirements</a><span class="divider">/</span></li>
  <li class="active"> Copy risk of bias approach <span class="divider">/</span></li>
{% endblock %}


{% block content %}

  {% crispy form %}

  <div id='extra_content' class='hidden'>
    <div class="alert alert-block">
      <a class="close" href="#" data-dismiss="alert">×</a>
      <h4>Warning!</h4>
      <p>Copying the approach from another assessment will delete all risk of bias information currently saved for this assessment.</p>
    </div>
    <b>Risk of Bias approach for selected assessment:</b>
    <div id="approach"></div>
  </div>

{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
        $(document).ready(function(){

            var addMetricRow = function(data, i){
                var tr = document.createElement('tr'),
                    th = document.createElement('th'),
                    tdMetric = document.createElement('td'),
                    tdDescr = document.createElement('td');
                th.innerHTML = i + 1;
                tr.appendChild(th);
                tdMetric.innerHTML = data.name +
                    '<br><br><strong>Required for animal bioassay: </strong>'
                    + window.app.utils.HAWCUtils.booleanCheckbox(data.required_animal)
                    + '<br><strong>Required for epidemiological: </strong>'
                    + window.app.utils.HAWCUtils.booleanCheckbox(data.required_epi);

                tdDescr.innerHTML = data.description;
                tr.appendChild(tdMetric);
                tr.appendChild(tdDescr);
                return $(tr);
            };

            var displayDomain = function(domain){
                var div  = document.createElement('div'),
                    header = document.createElement('h3'),
                    table = new window.app.utils.BaseTable(),
                    colgroups = [5, 35, 60],
                    thead = ['ID', 'Metric', 'Description'];

                header.innerHTML = domain.name + ' Domain';
                table.addHeaderRow(thead);
                table.setColGroup(colgroups);
                domain.metrics.forEach(function(metric, i){
                    table.addRow(addMetricRow(metric, i));
                });
                div.appendChild(header);
                div.appendChild(table.getTbl()[0]);
                return div;
            };

            var displayApproach = function(domains){
                var displayDiv = document.getElementById('approach');
                displayDiv.innerHTML = '';
                if (domains.length === 0){
                    var assessment = $('#id_assessment option:selected').text(),
                        warn = '<div class="alert alert-danger">{0} does not have a default approach.</div>'.printf(assessment);
                    displayDiv.innerHTML = warn;
                }
                domains.forEach(function(domain){
                    displayDiv.appendChild(displayDomain(domain));
                });
            };

            // move extra-content to appropriate location then make visible
            $('#extra_content')
              .appendTo($('#extra_content_insertion'))
              .removeClass('hidden');

            // load approach on assessment change
            $('#id_assessment')
                .on('change', function(){
                    var url = '{% url "riskofbias:api:domain-list" %}?assessment_id=' + $('#id_assessment').val();
                    $.get(url, displayApproach);
                })
                .trigger('change');
        });
    </script>
{% endblock extrajs %}
