{% extends 'portal.html' %}

{% load crispy_forms_tags %}

{% block title %}
  {{assessment}} | Risk-of-bias | {{object}} Domain | Edit | HAWC
{% endblock %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}wysihtml5/css/bootstrap-wysihtml5.css" />
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{{assessment.get_absolute_url}}">{{assessment}}</a><span class="divider">/</span></li>
  <li><a href="{% url 'riskofbias:arob_update' assessment.pk %}">Risk-of-bias requirements</a><span class="divider">/</span></li>
  {% if crud == "Update" %}
    <li class="active"> Edit {{object}} domain<span class="divider">/</span></li>
  {% elif crud == "Create" %}
    <li class="active"> Create domain <span class="divider">/</span></li>
  {% endif %}
{% endblock %}

{% block content %}

  {% crispy form %}

{% endblock %}

{% block extrajs %}
  <script type="text/javascript" src="{{STATIC_URL}}wysihtml5/js/wysihtml5-0.3.0.min.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}wysihtml5/js/bootstrap-wysihtml5.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.html5text').wysihtml5({"stylesheets": false});
    });
  </script>
{% endblock extrajs %}
