{% extends 'portal.html' %}

{% block title %}
  {% if endpoint %}
    {{assessment}} | {{endpoint.animal_group.experiment.study}} | {{endpoint.animal_group.experiment}} | {{endpoint.animal_group}} | {{endpoint}} | Delete risk-of-bias override | HAWC
  {% endif %}
{% endblock title %}


{% block breadcrumbs %}

  <li><a href="{% url 'assessment:detail' pk=assessment.pk %}">{{ assessment }}</a><span class="divider">/</span></li>

  {% if endpoint %}
    <li><a href="{{endpoint.animal_group.experiment.study.get_absolute_url}}">
      {{endpoint.animal_group.experiment.study}}</a><span class="divider">/</span></li>
    <li><a href="{{endpoint.animal_group.experiment.get_absolute_url}}">
      {{endpoint.animal_group.experiment}}</a><span class="divider">/</span></li>
    <li><a href="{{endpoint.animal_group.get_absolute_url}}">
      {{endpoint.animal_group}}</a><span class="divider">/</span></li>
  {% endif %}

  <li class="active"> Delete <span class="divider">/</span></li>
{% endblock breadcrumbs %}


{% block content %}
  {{ block.super }}
  {% include "hawc/_delete_block.html" with name="risk-of-bias" notes="This will not remove the overall study risk-of-bias, but only the value for this endpoint." %}
{% endblock content %}
