{% extends 'portal.html' %}

{% load add_class %}
{% load get_at_index %}
{% load crispy_forms_tags %}

{% block title %}
  {{assessment}} | {{object.study}} | Edit risk of bias | HAWC
{% endblock %}


{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' pk=assessment.pk %}">{{assessment}}</a><span class="divider">/</span></li>
  <li><a href="{% url 'riskofbias:rob_detail' object.study.pk %}">{{object.study}}</a><span class="divider">/</span></li>
  <li class="active">Edit risk of bias <span class="divider">/</span></li>
{% endblock %}

{% block content %}
    <h2>{{object}}: Risk of Bias</h2>
    {% if object.study_reviews_complete %}
        <div id='robTable'></div>
    {% else %}
        <h4 class="alert alert-danger">All other risk of bias reviews for
            {{object.study}} must be complete in order to complete the final review.
        </h4>
    {% endif %}
{% endblock %}

{% block extrajs %}
  <script id="config" type="text/json" charset="utf-8">
      {
          "assessment_id": "{{ assessment.id }}",
          "study": {
              "id": "{{ object.study.pk }}",
              "url": "{% url 'study:api:study-list' %}"
          },
          "riskofbias": {
              "id": "{{ object.pk }}"  ,
              "url": "{% url 'riskofbias:api:review-list' %}"
          },
          "cancelUrl": "{% url 'riskofbias:arob_reviewers' assessment.pk %}",
          "csrf": "{{ csrf_token }}",
          "host": "//{{request.get_host}}",
          "isForm": true
      }
  </script>
  <script type="text/javascript">
    {% if object.study_reviews_complete %}
    $(document).ready(function() {
        window.app.robTableStartup();
    });
    {% endif %}
  </script>
{% endblock extrajs %}
