{% extends 'riskofbias/rob_detail.html' %}


{% block title %}
  {{assessment}} | {{object.study}} | All Risk of bias | HAWC
{% endblock %}

{% block breadcrumbs_self %}
  <li><a href="{% url 'riskofbias:rob_detail' object.pk %}">Risk of bias</a><span class="divider">/</span></li>
  <li class="active"> All Reviews <span class="divider">/</span></li>
{% endblock %}

{% block content %}

  <h2>{{object}}: Risk of bias (all reviews)</h2>
  <div id="robTable"></div>

{% endblock %}

{% block extrajs %}
<script id="config" type="text/json" charset="utf-8">
    {
        "assessment_id": "{{ assessment.id }}",
        "study": {
            "id": "{{ object.study.pk }}",
            "url": "{% url 'study:api:study-list' %}"
        },
        "csrf": "{{ csrf_token }}",
        "host": "//{{request.get_host}}"
    }
</script>
<script type="text/javascript">
    $(document).ready(function(){
        window.app.robTableStartup();
    });
</script>
{% endblock extrajs %}
