{% extends 'portal.html' %}


{% block title %}
  {{assessment}} | {{object.study}} | All Risk-of-bias | HAWC
{% endblock %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}wysihtml5/css/bootstrap-wysihtml5.css" />
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' pk=assessment.pk %}">{{assessment}}</a><span class="divider">/</span></li>
  <li><a href="{% url 'riskofbias:robs_detail' object.study.pk %}">{{object.study}} Risk of Bias</a><span class="divider">/</span></li>
  {% block breadcrumbs_self %}
    <li class="active"> All Reviews <span class="divider">/</span></li>
  {% endblock %}
{% endblock %}

{% block content %}

  <h2>{{object}}: Risk of Bias details
    {% if obj_perms.edit %}
      <div class="btn-group pull-right">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li class="disabled"><a tabindex="-1" href="#">Risk of Bias</a></li>
            {% if reviews %}
            <li class="disabled"><a tabindex="-1" href="#">Editing</a></li>
            {% for review in reviews %}
            <li><a href="{% url 'riskofbias:rob_update' review.pk %}">Update Review</a></li>
            <li><a href="{% url 'riskofbias:rob_delete' review.pk %}">Delete Review</a></li>
            {% endfor %}
            {% endif %}
            {% if final %}
            <li class="disabled"><a tabindex="-1" href="#">Final Review</a></li>
            <li><a href="{% url 'riskofbias:rob_update_final' final.pk %}">Update Final Review</a></li>
            <li><a href="{% url 'riskofbias:rob_delete' final.pk %}">Delete Final Review</a></li>
            {% endif %}
        </ul>
      </div>
    {% endif %}
  </h2>

  <div id="robTable"></div>

{% endblock %}

{% block extrajs %}
<script id="config" type="text/json" charset="utf-8">
    {
        "assessment_id": "{{ assessment.id }}",
        "study": {
            "id": "{{ object.study.pk }}",
            "url": "{% url 'study:api:study-list' %}"
        },
        "csrf": "{{ csrf_token }}",
        "host": "//{{request.get_host}}"
    }
</script>
<script type="text/javascript">
    $(document).ready(function(){
        window.app.robTableStartup();
    });
</script>
{% endblock extrajs %}
