{% extends 'portal.html' %}


{% block title %}
  {{assessment}} | {{object}} | Risk of bias | HAWC
{% endblock %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}wysihtml5/css/bootstrap-wysihtml5.css" />
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{{assessment.get_absolute_url}}">{{assessment}}</a><span class="divider">/</span></li>
  <li><a href="{{object.get_absolute_url}}">{{object}}</a><span class="divider">/</span></li>
  {% block breadcrumbs_self %}
    <li class="active">Risk of bias<span class="divider">/</span></li>
  {% endblock %}
{% endblock %}

{% block content %}
  <h2>{{object}}: Risk of bias
    {% if obj_perms.edit %}
      <div class="btn-group pull-right">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li class="disabled"><a tabindex="-1" href="#">Risk of bias</a></li>
          <li><a href="{% url 'riskofbias:rob_detail_all' object.pk %}">View all reviews</a></li>
          <li><a href="{% url 'riskofbias:arob_reviewers' assessment.pk %}">View assignments</a></li>
          {% if object.get_final_rob and obj_perms.edit_assessment %}
            <li class="disabled"><a tabindex="-1" href="#">Edit risk of bias</a></li>
            <li><a href="{{object.get_final_rob.get_edit_url}}">Edit final review</a></li>
          {% endif %}
      </div>
    {% endif %}
  </h2>
  <div id="sq_tbl"></div>
{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
    window.object = new Study({{object.get_json|safe}})
    window.userIsTeamMember = {{ perms.riskofbias.change_riskofbias|lower }}
    window.sq_tbl = new StudyQualities_TblCompressed(
      object, $('#sq_tbl'), {'show_all_details_startup': true});
  </script>
{% endblock extrajs %}
