name: ci-checks

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: '30 3 1 */1 *'  # At 03:30 on the 1st of every month
  workflow_dispatch:

jobs:
  backend:
    name: backend
    runs-on: ubuntu-24.04

    services:
      postgres:
        image: postgres:16-alpine
        env:
          POSTGRES_USER: hawc
          POSTGRES_PASSWORD: password
          POSTGRES_DB: hawc
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
        ports:
        - 5432:5432
      redis:
        image: redis:6-alpine
        options: --health-cmd "redis-cli ping" --health-interval 10s --health-timeout 5s --health-retries 5
        ports:
        - 6379:6379

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: '3.14'
        architecture: 'x64'
    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        cache-dependency-glob: "**/pyproject.toml"
    - name: install
      run: |
        uv venv --python=3.14
        source .venv/bin/activate
        uv pip install -e ".[dev,docs]" -e client
    - name: lint-py
      run: |
        uv run poe lint-py
    - name: lint-html
      run: |
        uv run poe lint-html
    - name: test
      env:
        DJANGO_DB_NAME: hawc
        DJANGO_DB_USER: hawc
        DJANGO_DB_PW: password
        DJANGO_DB_HOST: localhost
        DJANGO_CACHE_LOCATION: redis://localhost:6379/0
        PUBMED_API_KEY: ${{ secrets.PUBMED_API_KEY }}
      run: |
        uv run coverage run -m pytest -v --block-network --allowed-hosts=127.0.0.1,::1 --record-mode=none
        echo "# Python coverage report" >> $GITHUB_STEP_SUMMARY
        uv run coverage report --format=markdown -i >> $GITHUB_STEP_SUMMARY || true
        uv run coverage html -d coverage -i
    - name: loc
      run: |
        sudo apt-get install -y cloc
        echo "# Lines of code report" >> $GITHUB_STEP_SUMMARY
        uv run poe loc >> $GITHUB_STEP_SUMMARY
    - name: Upload Coverage Report
      uses: actions/upload-artifact@v6
      with:
        name: coverage
        path: coverage
        retention-days: 7

  frontend:
    name: frontend
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: 24
        cache: 'yarn'
        cache-dependency-path: 'frontend/yarn.lock'
    - name: install
      run: |
        yarn --cwd ./frontend install --frozen-lockfile
    - name: lint
      run: |
        yarn --cwd ./frontend run lint
    - name: test
      run: |
        yarn --cwd ./frontend run test
    - name: build for integration tests
      run: |
        yarn --cwd ./frontend run build
    - name: Upload js build
      uses: actions/upload-artifact@v6
      with:
        name: js
        path: hawc/static/bundles/
        retention-days: 1

  integration:
    name: integration
    needs: [frontend]
    runs-on: ubuntu-24.04

    services:
      postgres:
        image: postgres:16-alpine
        env:
          POSTGRES_USER: hawc
          POSTGRES_PASSWORD: password
          POSTGRES_DB: hawc
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
        ports:
        - 5432:5432

    env:
      DJANGO_DB_HOST: localhost
      DJANGO_DB_NAME: hawc
      DJANGO_DB_PW: password
      DJANGO_DB_USER: hawc
      INTEGRATION_TESTS: 1
      NO_VITE_DEV: 1
      LIVESERVER_HOST: localhost
      LIVESERVER_PORT: 8000
      PUBMED_API_KEY: ${{ secrets.PUBMED_API_KEY }}

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: '3.14'
        architecture: 'x64'
    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        cache-dependency-glob: "**/pyproject.toml"
    - name: Download js build
      uses: actions/download-artifact@v7
      with:
        name: js
        path: hawc/static/bundles/
    - name: install hawc
      run: |
        uv sync --all-extras
        uv run playwright install --with-deps chromium
    # https://github.community/t/how-to-retry-a-failed-step-in-github-actions-workflow/125880
    - name: run integration tests
      id: test
      continue-on-error: true
      run: |
        uv run py.test -v --block-network --allowed-hosts=127.0.0.1,::1 tests/integration/
    - name: run integration tests (retry)
      if: steps.test.outcome=='failure'
      id: retry
      continue-on-error: true
      run: |
        uv run py.test -v --block-network --allowed-hosts=127.0.0.1,::1 --lf tests/integration/
    - name: set status
      if: always()
      run: |
        if ${{ steps.test.outcome=='success' || steps.retry.outcome=='success' }}; then
          echo success!
        else
          exit 1
        fi
