interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hero.epa.gov/hero/ws/index.cfm/api/1.0/search/criteria/5490558/recordsperpage/100.json
  response:
    body:
      string: "{\"results\":[{\"REFERENCE_ID\":5490558,\"usage_path_key\":[\"5881|3822|2284\",\"5550|4477|4544\",\"12073|15272|30833|20032|20239\",\"30833|20032|20240\",\"30833|20032|20034\",\"30833|34386|34388\",\"30833|34386|34394\",\"30944|30948|31065|20037|20209\",\"31065|20037|20210\",\"31065|20037|20039\",\"31101|31230|17338|17341\"],\"ABSTRACT\":\"Butylbenzylphthalate
        (BBP) has been assessed as a Priority Substance under the Canadian Environmental
        Protection Act. Effects that occur at lowest concentrations in rats are increases
        in organ to body weight ratios, primarily for the liver and kidney, and histological
        effects on the pancreas and kidney. In studies with protocols specific for
        investigating reproductive toxicity, adverse effects on testes have been reported,
        although at dose levels higher than those that had effects on other organs,
        such as liver and kidney. Although results of available studies do not support
        the conclusion that BBP is estrogenic, the potential for other endocrine-mediated
        effects cannot be precluded at this time. A tolerable daily intake of 1300
        \u03BCg/kg body weight per day has been derived, based upon the lower 95%
        confidence limit for the benchmark dose associated with a 5% increase in the
        incidence of pancreatic lesions in male rats in an oral subchronic assay.\",\"url\":\"https://hero.epa.gov/hero/index.cfm/reference/details/reference_id/5490558\",\"hasPDF\":true,\"YEAR\":2001,\"allAuthors\":[\"Long,
        G; Meek, ME\"],\"HEROID\":5490558,\"id\":5490558,\"project_key\":[2207,2245,2842,2843,2757],\"referencetype\":[\"journal
        article\"],\"type\":\"reference\",\"pdfURL\":\"https://search.proquest.com/docview/14582298?accountid=171501\",\"doi\":\"10.1081/gnc-100103582\",\"sortYear\":2001,\"tag_path_text\":[\"IRIS|BBP
        (Butyl benzyl phthalate)|Literature Search|LitSearch Dec 2012|WOS\",\"IRIS|BBP
        (Butyl benzyl phthalate)|Secondary Literature|Risk assessments \",\"IRIS|Phthalates
        \u2013 Targeted Search for Epidemiological Studies|Excluded\",\"IRIS|Phthalates
        \u2013 Targeted Search for Epidemiological Studies|Source - August 2017 Update
        (Private)|WOS - Forward Search Results\",\"OPPT REs|OPPT Evidence Map: Butyl
        benzyl phthalate (BBP)|Peer-Reviewed Literature|Literature Search September
        2019 (Date Unlimited)|Current Contents\",\"OPPT REs|OPPT Evidence Map: Butyl
        benzyl phthalate (BBP)|Peer-Reviewed Literature|Literature Search September
        2019 (Date Unlimited)|ProQuest\",\"OPPT REs|OPPT Evidence Map: Butyl benzyl
        phthalate (BBP)|Peer-Reviewed Literature|Literature Search September 2019
        (Date Unlimited)|WOS\",\"OPPT REs|OPPT Evidence Map: Butyl benzyl phthalate
        (BBP)|Peer-Reviewed Literature|Literature Search: September 2021|Current Contents\",\"OPPT
        REs|OPPT Evidence Map: Butyl benzyl phthalate (BBP)|Peer-Reviewed Literature|Literature
        Search: September 2021|WoS\",\"OPPT REs|OPPT Evidence Map: Butyl benzyl phthalate
        (BBP)|Systematic Review|Hazard\",\"OPPT REs|OPPT Evidence Map: Di-ethylhexyl
        phthalate (DEHP)|Peer-Reviewed Literature|Literature Search September 2019
        (Date Unlimited)|Current Contents\",\"OPPT REs|OPPT Evidence Map: Di-ethylhexyl
        phthalate (DEHP)|Peer-Reviewed Literature|Literature Search September 2019
        (Date Unlimited)|ProQuest\",\"OPPT REs|OPPT Evidence Map: Di-ethylhexyl phthalate
        (DEHP)|Peer-Reviewed Literature|Literature Search September 2019 (Date Unlimited)|WOS\",\"OPPT
        REs|OPPT Evidence Map: Di-ethylhexyl phthalate (DEHP)|Systematic Review|Hazard\",\"Other|EBTC
        Zebrafish|Litsearch 2018|WOS_Core Collection\"],\"category_key\":[2,32,18],\"PROJECTS\":[{\"PROJECT\":\"EBTC
        Zebrafish\",\"PROJECT_ID\":2757,\"USAGES\":[{\"USAGE_ID\":17338,\"USAGE\":\"Litsearch
        2018\",\"USAGES\":[{\"USAGE_ID\":17341,\"USAGE\":\"WOS_Core Collection\",\"USAGES\":[]}]}]},{\"PROJECT\":\"BBP
        (Butyl benzyl phthalate)\",\"PROJECT_ID\":2207,\"USAGES\":[{\"USAGE_ID\":5550,\"USAGE\":\"Secondary
        Literature\",\"USAGES\":[{\"USAGE_ID\":4477,\"USAGE\":\"Risk assessments \",\"USAGES\":[]}]},{\"USAGE_ID\":5881,\"USAGE\":\"Literature
        Search\",\"USAGES\":[{\"USAGE_ID\":3822,\"USAGE\":\"LitSearch Dec 2012\",\"USAGES\":[{\"USAGE_ID\":2284,\"USAG[...]
