interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hero.epa.gov/hero/ws/index.cfm/api/1.0/search/criteria/1/recordsperpage/100.json
  response:
    body:
      string: "{\"results\":[{\"REFERENCE_ID\":1,\"ABSTRACT\":\"Aspects covered by
        this review: lung dust assessments; acute pulmonary reactions to asbestos
        exposure; lung cancer; malignant mesothelial tumours; non-malignant pleural
        disease; airway responses; exposure-response relations; environmental control
        limits; risk of low level exposure; evaluation of the impact of control measures;
        gradient in biological effects between different fibres or types of exposure;
        clinical issues.\",\"url\":\"https://hero.epa.gov/hero/index.cfm/reference/details/reference_id/1\",\"hasPDF\":true,\"YEAR\":1982,\"allAuthors\":[\"Becklake,
        MR\"],\"HEROID\":1,\"id\":\"1\",\"project_key\":[42,993,1436,1713,2220,2488,2533,2810,2979,3019,3048],\"referencetype\":[\"journal
        article\"],\"type\":\"reference\",\"pdfURL\":\"https://www.atsjournals.org/doi/10.1164/arrd.1982.126.2.187?url_ver=z39.88-2003&rfr_id=ori:rid:crossref.org&rfr_dat=cr_pub%20%200pubmed\",\"doi\":\"10.1164/arrd.1982.126.2.187\",\"sortYear\":1982,\"tag_path_text\":[\"IRIS|Acenaphthene\",\"IRIS|Allyl
        chloride\",\"IRIS|Asbestos\",\"NAAQS|Litsearch-Lead ISA 2020_SWIFT Screening|Full
        Text Screening|Tox|Supplemental|Hematological\",\"NAAQS|Litsearch-Lead ISA
        2020_SWIFT Screening|Full Text Screening|Tox|Supplemental|Hepatic\",\"NAAQS|Litsearch-Lead
        ISA 2020_SWIFT Screening|Full Text Screening|Tox|Supplemental|Renal\",\"OPPT|ECOSAR\",\"OPPT
        REs|OPPT Evidence Map: Asbestos Part 2|Peer-Reviewed Literature|Initial Search:
   [...]
[...]
- request:
    body: retmax=1000&db=pubmed&retmode=xml&api_key=<omitted>&id=7049025
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi
  response:
    body:
      string: '<?xml version="1.0" ?>

        <!DOCTYPE PubmedArticleSet PUBLIC "-//NLM//DTD PubMedArticle, 1st January
        2024//EN" "https://dtd.nlm.nih.gov/ncbi/pubmed/out/pubmed_240101.dtd">

        <PubmedArticleSet>

        <PubmedArticle><MedlineCitation Status="MEDLINE" Owner="NLM"><PMID Version="1">7049025</PMID><DateCompleted><Year>1982</Year><Month>09</Month><Day>17</Day></DateCompleted><DateRevised><Year>2006</Year><Month>11</Month><Day>15</Day></DateRevised><Article
        PubModel="Print"><Journal><ISSN IssnType="Print">0003-0805</ISSN><JournalIssue
        CitedMedium="Print"><Volume>126</Volume><Issue>2</Issue><PubDate><Year>1982</Year><Month>Aug</Month></PubDate></JournalIssue><Title>The
        American review of respiratory disease</Title><ISOAbbreviation>Am Rev Respir
        Dis</ISOAbbreviation></Journal><ArticleTitle>Asbestos-related diseases of
        the lungs and pleura: current clinical issues.</ArticleTitle><Pagination><StartPage>187</StartPage><EndPage>194</EndPage><MedlinePgn>187-94</MedlinePgn></Pagination><AuthorList
        CompleteYN="Y"><Author ValidYN="Y"><LastName>Becklake</LastName><ForeName>M
        R</ForeName><Initials>MR</Initials></Author></AuthorList><Language>eng</Language><PublicationTypeList><PublicationType
        UI="D016428">Journal Article</PublicationType><PublicationType UI="D013485">Research
        Support, Non-U.S. Gov''t</PublicationType><PublicationType UI="D016454">Review</PublicationType></PublicationTypeList></Article><MedlineJournalInfo><Country>United
        States</Country><MedlineTA>Am Rev Respir Dis</MedlineTA><NlmUniqueID>0370523</NlmUniqueID><ISSNLinking>0003-0805</ISSNLinking></MedlineJournalInfo><ChemicalList><Chemical><RegistryNumber>0</RegistryNumber><NameOfSubstance
        UI="D004391">Dust</NameOfSubstance></Chemical><Chemical><RegistryNumber>1332-21-4</RegistryNumber><NameOfSubstance
        UI="D001194">Asbestos</NameOfSubstance></Chemical></ChemicalList><CitationSubset>IM</CitationSubset><MeshHeadingList><MeshHeading><DescriptorName
        UI="D001194" MajorTopicYN="N">Asbestos</DescriptorName><QualifierName UI="Q000009"
        MajorTopicYN="Y">adverse effects</QualifierName></MeshHeading><MeshHeading><DescriptorName
        UI="D001195" MajorTopicYN="N">Asbestosis</DescriptorName><QualifierName UI="Q000209"
        MajorTopicYN="N">etiology</QualifierName></MeshHeading><MeshHeading><DescriptorName
        UI="D001991" MajorTopicYN="N">Bronchitis</DescriptorName><QualifierName UI="Q000209"
        MajorTopicYN="N">etiology</QualifierName></MeshHeading><MeshHeading><DescriptorName
        UI="D00439[...]
