interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hero.epa.gov/hero/ws/index.cfm/api/1.0/search/criteria/5490558/recordsperpage/100.json
  response:
    body:
      string: "{\"results\":[{\"REFERENCE_ID\":5490558,\"ABSTRACT\":\"Butylbenzylphthalate
        (BBP) has been assessed as a Priority Substance under the Canadian Environmental
        Protection Act. Effects that occur at lowest concentrations in rats are increases
        in organ to body weight ratios, primarily for the liver and kidney, and histological
        effects on the pancreas and kidney. In studies with protocols specific for
        investigating reproductive toxicity, adverse effects on testes have been reported,
        although at dose levels higher than those that had effects on other organs,
        such as liver and kidney. Although results of available studies do not support
        the conclusion that BBP is estrogenic, the potential for other endocrine-mediated
        effects cannot be precluded at this time. A tolerable daily intake of 1300
        \u03BCg/kg body weight per day has been derived, based upon the lower 95%
        confidence limit for the benchmark dose associated with a 5% increase in the
        incidence of pancreatic lesions in male rats in an oral subchronic assay.\",\"url\":\"https://hero.epa.gov/hero/index.cfm/reference/details/reference_id/5490558\",\"hasPDF\":true,\"YEAR\":2001,\"allAuthors\":[\"Long,
        G; Meek, ME\"],\"HEROID\":5490558,\"id\":\"5490558\",\"project_key\":[2207,2245,2757,2842,2843],\"referencetype\":[\"journal
        article\"],\"type\":\"reference\",\"pdfURL\":\"https://search.proquest.com/docview/14582298?accountid=171501\",\"doi\":\"10.1081/gnc-100103582\",\"sortYear\":2001,\"tag_path_text\":[\"IRIS|BBP
        (Butyl benzyl phthalate)|Literature Search|LitSearch Dec 2012|WOS\",\"IRIS|BBP
        (Butyl benzyl phthalate)|Secondary Literature|Risk assessments \",\"IRIS|Phthalates
        \u2013 Targeted Search for Epidemiological Studies|Excluded\",\"IRIS|Phthalates
        \u2013 Targeted Search for Epidemiological Studies|Source - August 2017 Update
        (Private)|WOS - Forward Search Results\",\"OPPT REs|OPPT Evidence Map: Butyl
        benzyl phthalate (BBP)|Peer-Reviewed Lite[...]
- request:
    body: retmax=1000&db=pubmed&retmode=xml&api_key=<omitted>&id=19425233
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi
  response:
    body:
      string: '<?xml version="1.0" ?>

        <!DOCTYPE PubmedArticleSet PUBLIC "-//NLM//DTD PubMedArticle, 1st January
        2024//EN" "https://dtd.nlm.nih.gov/ncbi/pubmed/out/pubmed_240101.dtd">

        <PubmedArticleSet>

        <PubmedArticle><MedlineCitation Status="MEDLINE" Owner="NLM"><PMID Version="1">19425233</PMID><DateCompleted><Year>2009</Year><Month>07</Month><Day>16</Day></DateCompleted><DateRevised><Year>2009</Year><Month>05</Month><Day>07</Day></DateRevised><Article
        PubModel="Print"><Journal><ISSN IssnType="Electronic">1873-6351</ISSN><JournalIssue
        CitedMedium="Internet"><Volume>47</Volume><Issue>6</Issue><PubDate><Year>2009</Year><Month>Jun</Month></PubDate></JournalIssue><Title>Food
        and chemical toxicology : an international journal published for the British
        Industrial Biological Research Association</Title><ISOAbbreviation>Food Chem
        Toxicol</ISOAbbreviation></Journal><ArticleTitle>Early alterations in protein
        and gene expression in rat kidney following bromate exposure.</ArticleTitle><Pagination><StartPage>1154</StartPage><EndPage>1160</EndPage><MedlinePgn>1154-60</MedlinePgn></Pagination><ELocationID
        EIdType="doi" ValidYN="Y">10.1016/j.fct.2009.02.003</ELocationID><Abstract><AbstractText>Bromate,
        a common disinfectant byproduct of drinking water ozonation, has been linked
        to human and animal renal toxicity, including renal cell carcinomas in multiple
        animal species. Here, we evaluate changes in protein and gene expression through
        two-dimensional difference gel electrophoresis (2D-DIGE) and Affymetrix arrays
        to identify potential modes of action involved in potassium bromate carcinogenicity.
        Male rats were exposed to potassium bromate in drinking water at concentrations
        of 0, 1, 20 and 400 ppm for two weeks. Differential expression of glycolytic
        proteins including enolase 1 (Eno1), triosephosphate isomerase 1 (Tpi1) and
        glyceraldehyde-3-phosphate dehydrogenase (Gapdh) suggests that bromate toxicity
        is associated with changes in energy consumption and utilization in renal
        cells involving up-regulation of glycolytic processes that may be the result
        of altered mitochondrial function. Several alterations in glycolysis and mitochondrial
        gene transcripts were also observed to be consistent with this mode of action.
        These studies provide insight into early events in renal cell physiology altered
        by bromate exposure.</AbstractText></Abstract><AuthorList CompleteYN="Y"><Author
        ValidYN="Y"><LastName>Ahlborn</LastName><ForeName>Gene J</ForeName><Initials>GJ</Initials><AffiliationInfo><Affiliation>United
        States Environmental Protection Agency, National Health and Environmental
        Effects Research Laboratory, Environmental Carcinogenesis Division, B143-06,
        109 T.W. Alexander Drive, Research Triangle Park, NC 27711, United States.</Affiliation></AffiliationInfo></Author><Author
        ValidYN="Y"><LastName>Delker</LastName><ForeName>Don A</ForeName><Initials>DA</Initials></Author><Author
        ValidYN="Y"><LastName>Roop</LastName><ForeName>Barbara C</ForeName><Initials>BC</Initials></Author><Author
        ValidYN="Y"><LastName>Geter</LastName><ForeName>David R</ForeName><Initials>DR</Initials></Author><Author
        ValidYN="Y"><LastName>Allen</LastName><ForeName>James W</ForeName><Initials>JW</Initials></Author><Author
        ValidYN="Y"><LastName>DeAngelo</LastName><ForeName>Anthony B</ForeName><Initials>AB</Initials></Author><Author
        ValidYN="Y"><LastName>Winnik</LastName><ForeName>Witold M</ForeName><Initials>WM</Initials></Author></AuthorList><Language>eng</Language><PublicationTypeList><PublicationType
        UI="D016428">Journal Article</PublicationType><PublicationType UI="D013485">Research
        Support, Non-U.S. Gov''t</PublicationType></PublicationTypeList></Article><MedlineJournalInfo><Country>England</Country><MedlineTA>Food
        Chem Toxicol</MedlineTA><NlmUniqueID>8207483</NlmUniqueID><ISSNLinking>0278-6915</ISSNLinking></MedlineJournalInfo><ChemicalList><Chemical><RegistryNumber>0</RegistryNumber><NameOfSubstance
        UI="D001959">Bromates</NameOfSubstance></Chemical><Chemical><RegistryNumber>0</RegistryNumber><NameOfSubstance
        UI="D011506">Proteins</NameOfSubstance></Chemical><Chemical><RegistryNumber>EC
        3.4.21.4</RegistryNumber><NameOfSubstance UI="D014357">Trypsin</NameOfSubstance></Chemical></ChemicalList><CitationSubset>IM</CitationSubset><MeshHeadingList><MeshHeading><DescriptorName
        UI="D000818" MajorTopicYN="N">Animals</DescriptorName></MeshHeading><MeshHeading><DescriptorName
        UI="D001959" MajorTopicYN="N">Bromates</DescriptorName><QualifierName UI="Q000633"
        MajorTopicYN="Y">toxicity</QualifierName></MeshHeading><MeshHeading><DescriptorName
        UI="D002460" MajorTopicYN="N">Cell Line</DescriptorName></MeshHeading><MeshHeading><DescriptorName
        UI="D004203" MajorTopicYN="N">Disinfection</DescriptorName></MeshHeading><MeshHeading><DescriptorName
        UI="D015180" MajorTopicYN="N">Electrophoresis, Gel, Two-Dimensional</DescriptorName></MeshHeading><MeshHeading><DescriptorName
        UI="D004734" MajorTopicYN="N">Energ[...]
- request:
    body: retmax=1000&db=pubmed&retmode=xml&api_key=<omitted>&id=5490558
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi
  response:
    body:
      string: '<?xml version="1.0" ?>

        <!DOCTYPE PubmedArticleSet PUBLIC "-//NLM//DTD PubMedArticle, 1st January
        2024//EN" "https://dtd.nlm.nih.gov/ncbi/pubmed/out/pubmed_240101.dtd">

        <PubmedArticleSet>

        <PubmedArticle><MedlineCitation Status="MEDLINE" Owner="NLM"><PMID Version="1">5490558</PMID><DateCompleted><Year>1971</Year><Month>02</Month><Day>11</Day></DateCompleted><DateRevised><Year>2013</Year><Month>11</Month><Day>21</Day></DateRevised><Article
        PubModel="Print"><Journal><ISSN IssnType="Print">0001-5822</ISSN><JournalIssue
        CitedMedium="Print"><Volume>17</Volume><Issue>6</Issue><PubDate><Year>1970</Year><Season>Nov-Dec</Season></PubDate></JournalIssue><Title>Acta
        hepato-splenologica</Title><ISOAbbreviation>Acta Hepatosplenol</ISOAbbreviation></Journal><ArticleTitle>The
        r&#xf4;le of beta-receptors in the regulation of the arterial circulation
        of the liver.</ArticleTitle><Pagination><StartPage>411</StartPage><EndPage>415</EndPage><MedlinePgn>411-5</MedlinePgn></Pagination><AuthorList
        CompleteYN="Y"><Author ValidYN="Y"><LastName>Fischer</LastName><ForeName>A</ForeName><Initials>A</Initials></Author><Author
        ValidYN="Y"><LastName>Tak&#xe1;cs</LastName><ForeName>L</ForeName><Initials>L</Initials></Author><Author
        ValidYN="Y"><LastName>Bencs&#xe1;th</LastName><ForeName>P</ForeName><Initials>P</Initials></Author><Author
        ValidYN="Y"><LastName>Vaslaki</LastName><ForeName>L</ForeName><Initials>L</Initials></Author></AuthorList><Language>eng</Language><PublicationTypeList><Publication[...]
