interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hero.epa.gov/hero/ws/index.cfm/api/1.0/search/criteria/1/recordsperpage/100.json
  response:
    body:
      string: "{\"results\":[{\"REFERENCE_ID\":1,\"usage_path_key\":[\"33041|35093|35094|35099\",\"33041|35093|35094|35100\",\"33041|35093|35094|35106|32066|29637|29641\",\"32066|29637|29644\",\"32066|29637|29645\",\"29653|29646\",\"29678|29647\",\"29678|29774|32084|32085|32089\",\"32084|32085|32090\",\"32084|32085|32093\",\"32084|32085|32094\",\"32132|32142|32143|32146\",\"32132|32142|32147|13964|10250|10251|10253|25858|25865\",\"25858|25861\",\"25858|25867\",\"25858|25866\",\"28726|27685|7593|7596\",\"7593|7594|2472\",\"2474|6884|8213\",33273],\"ABSTRACT\":\"Aspects
        covered by this review: lung dust assessments; acute pulmonary reactions to
        asbestos exposure; lung cancer; malignant mesothelial tumours; non-malignant
        pleural disease; airway responses; exposure-response relations; environmental
        control limits; risk of low level exposure; evaluation of the impact of control
        measures; gradient in biological effects between different fibres or types
        of exposure; clinical issues.\",\"url\":\"https://hero.epa.gov/hero/index.cfm/reference/details/reference_id/1\",\"hasPDF\":false,\"YEAR\":1982,\"allAuthors\":[\"Becklake,
        MR\"],\"HEROID\":1,\"id\":1,\"project_key\":[1436,993,42,3019,3028,3048,2533,2979,2488,2220,1713],\"referencetype\":[\"journal
        article\"],\"type\":\"reference\",\"doi\":\"10.1164/arrd.1982.126.2.187\",\"sortYear\":1982,\"tag_path_text\":[\"IRIS|Acenaphthene\",\"IRIS|Allyl
        chloride\",\"IRIS|Asbestos\",\"NAAQS|Litsearch-Lead ISA 2020_SWIFT Screening|Full
        Text Screening|Tox|Supplemental|Hematological\",\"NAAQS|Litsearch-Lead ISA
        2020_SWIFT Screening|Full Text Screening|Tox|Supplemental|Hepatic\",\"NAAQS|Litsearch-Lead
        ISA 2020_SWIFT Screening|Full Text Screening|Tox|Supplemental|Renal\",\"OPPT
        REs|Draft_OPPT Tag Structure|Peer-Reviewed Literature|Literature Search: Dates|ProQuest\",\"OPPT
        REs|Draft_OPPT Tag Structure|Peer-Reviewed Literature|Literature Search: Dates|Toxline\",\"OPPT
        REs|Draft_OPPT Tag Structure|Peer-Reviewed Literature|Literature Search: Dates|WoS\",\"OPPT
        REs|Draft_OPPT Tag Structure|Gray Literature|ICF Search\",\"OPPT REs|Draft_OPPT
        Tag Structure|Systematic Review|Engineering\",\"OPPT REs|Draft_OPPT Tag Structure|Systematic
        Review|Hazard\",\"OPPT REs|OPPT Evidence Map: Asbestos, Part II|Peer-Reviewed
        Literature|Literature Search: April 2021|ProQuest\",\"OPPT REs|OPPT Evidence
        Map: Asbestos, Part II|Peer-Reviewed Literature|Literature Search: April 2021|PubMed\",\"OPPT
        REs|OPPT Evidence Map: Asbestos, Part II|Peer-Reviewed Literature|Literature
        Search: April 2021|Toxline\",\"OPPT REs|OPPT Evidence Map: Asbestos, Part
        II|Peer-Reviewed Literature|Literature Search: April 2021|WoS\",\"OPPT REs|OPPT
        Evidence Map: Asbestos, Part II|Systematic Review|Exposure|Title & Abstract
        Review|Included\",\"OPPT REs|OPPT Evidence Map: Asbestos, Part II|Systematic
        Review|Exposure|Full Text Review\",\"OPPT REs|OPPT_Asbestos, Part I: Chrysotile_F.
        Human Health|Total \u2013 title/abstract screening|On topic|Peer review|Secondary
        source/ Review\",\"OPPT REs|OPPT_Asbestos, Part I: Chrysotile_Supplemental
        Search|LitSearch: Sept 2020 (Undated)|ProQuest\",\"OPPT REs|OPPT_Asbestos,
        Part I: Chrysotile_Supplemental Search|LitSearch: Sept 2020 (Undated)|PubMed\",\"OPPT
        REs|OPPT_Asbestos, Part I: Chrysotile_Supplemental Search|LitSearch: Sept
        2020 (Undated)|Toxline\",\"OPPT REs|OPPT_Asbestos, Part I: Chrysotile_Supplemental
        Search|LitSearch: Sept 2020 (Undated)|WoS\",\"OPPT REs|OPPT_Asbestos, Part
        I: Chrysotile_Supplemental Search|Legacy Uses|Health Outcomes\",\"Other|Applicability
        of Libby Amphibole Asbestos Tox Values|Sources (Feb 2016)|Toxline\",\"Other|Applicability
        of Libby Amphibole Asbestos Tox Values|Sources (Feb 2016)|PubMed\",\"Other|HAWC|test1\",\"Other|HAWC|test3\",\"Other|LitCiter|Liver!|Nano
        Refs\",\"Other|LitCiter|Distiller Import 09-Jun-2021 13:40:03\"],\"category_key\":[2,1,32,18],\"PROJECTS\":[{\"PROJECT\":\"Acenaphthene\",\"PROJECT_ID\":1436,\"USAGES\":[]},{\"PROJECT\":\"Litsearch-Lead
        ISA 2020_SWIFT Screening\",\"PROJECT_ID\":3019,\"USAGES\":[{\"USAGE_ID\":33041,\"USAGE\":\"Full
        Text Screening\",\"USAGES\":[{\"USAGE_ID\":35093,\"USAGE\":\"Tox\",\"USAGES\":[{\"USAGE_ID\":35094,\"USAGE\":\"Supplemental\",\"USAGES\":[{\"USAGE_ID\":35106,\"USAGE\":\"Renal\",\"USAGES\":[]},{\"USAGE_ID\":35100,\"USAGE\":\"Hepatic\",\"USAGES\":[]},{\"USAGE_ID\":35099,\"USAGE\":\"Hematological\",\"USAGES\":[]}]}]}]}]},{\"PROJECT\":\"Allyl
        chloride\",\"PROJECT_ID\":993,\"USAGES\":[]},{\"PROJECT\":\"OPPT_Asbestos,
        Part I: Chrysotile_F. Human Health\",\"PROJECT_ID\":[...]
[...]
