interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hero.epa.gov/hero/ws/index.cfm/api/1.0/search/criteria/1/recordsperpage/100.json
  response:
    body:
      string: "{\"results\":[{\"REFERENCE_ID\":1,\"usage_path_key\":[\"13964|10250|10251|10253|7593|7596\",\"7593|7594|2472\",\"2474|6884|8213\"],\"ABSTRACT\":\"Aspects
        covered by this review: lung dust assessments; acute pulmonary reactions to
        asbestos exposure; lung cancer; malignant mesothelial tumours; non-malignant
        pleural disease; airway responses; exposure-response relations; environmental
        control limits; risk of low level exposure; evaluation of the impact of control
        measures; gradient in biological effects between different fibres or types
        of exposure; clinical issues.\",\"url\":\"https://hero.epa.gov/hero/index.cfm/reference/details/reference_id/1\",\"hasPDF\":false,\"YEAR\":1982,\"allAuthors\":[\"Becklake,
        MR\"],\"HEROID\":1,\"id\":1,\"project_key\":[1436,993,42,2533,2488,2220,1713],\"referencetype\":[\"journal
        article\"],\"type\":\"reference\",\"doi\":\"10.1164/arrd.1982.126.2.187\",\"sortYear\":1982,\"tag_path_text\":[\"IRIS|Acenaphthene\",\"IRIS|Allyl
        chloride\",\"IRIS|Asbestos\",\"OPPT REs|OPPT_Asbestos_F. Human Health|Total
        \u2013 title/abstract screening|On topic|Peer review|Secondary source/ Review\",\"Other|Applicability
        of Libby Amphibole Asbestos Tox Values|Sources (Feb 2016)|Toxline\",\"Other|Applicability
        of Libby Amphibole Asbestos Tox Values|Sources (Feb 2016)|PubMed\",\"Other|HAWC|test1\",\"Other|HAWC|test3\",\"Other|LitCiter|Liver!|Nano
        Refs\"],\"category_key\":[2,32,18],\"PROJECTS\":[{\"PROJECT\":\"Acenaphthene\",\"PROJECT_ID\":1436,\"USAGES\":[]},{\"PROJECT\":\"Allyl
        chloride\",\"PROJECT_ID\":993,\"USAGES\":[]},{\"PROJECT\":\"OPPT_Asbestos_F.
        Human Health\",\"PROJECT_ID\":2533,\"USAGES\":[{\"USAGE_ID\":13964,\"USAGE\":\"Total
        \u2013 title/abstract screening\",\"USAGES\":[{\"USAGE_ID\":10250,\"USAGE\":\"On
        topic\",\"USAGES\":[{\"USAGE_ID\":10251,\"USAGE\":\"Peer review\",\"USAGES\":[{\"USAGE_ID\":10253,\"USAGE\":\"Secondary
        source/ Review\",\"USAGES\":[]}]}]}]}]},{\"PROJECT\":\"Applicability of Libby
        Amphibole Asbestos Tox Values\",\"PROJECT_ID\":2488,\"USAGES\":[{\"USAGE_ID\":7593,\"USAGE\":\"Sources
        (Feb 2016)\",\"USAGES\":[{\"USAGE_ID\":7594,\"USAGE\":\"PubMed\",\"USAGES\":[]},{\"USAGE_ID\":7596,\"USAGE\":\"Toxline\",\"USAGES\":[]}]}]},{\"PROJECT\":\"HAWC\",\"PROJECT_ID\":2220,\"USAGES\":[{\"USAGE_ID\":2474,\"USAGE\":\"test3\",\"USAGES\":[]},{\"USAGE_ID\":2472,\"USAGE\":\"test1\",\"USAGES\":[]}]},{\"PROJECT\":\"Asbestos\",\"PROJECT_ID\":42,\"USAGES\":[]},{\"PROJECT\":\"LitCiter\",\"PROJECT_ID\":1713,\"USAGES\":[{\"USAGE_ID\":6884,\"USAGE\":\"Liver!\",\"USAGES\":[{\"USAGE_ID\":8213,\"USAGE\":\"Nano
        Refs\",\"USAGES\":[]}]}]}],\"tag_path_key\":[\"2|1436\",\"2|993\",\"2|42\",\"32|2533|13964|10250|10251|10253\",\"18|2488|7593|7596\",\"18|2488|7593|7594\",\"18|2220|2472\",\"18|2220|2474\",\"18|1713|6884|8213\"],\"firstAuthor\":\"Becklake\",\"AUTHORS\":\"Becklake,
        MR\",\"noPDFAvailable\":false,\"tag_path_type\":[\"category|project\",\"category|project\",\"category|project\",\"category|project|usage|usage|usage|usage\",\"category|project|usage|usage\",\"category|project|usage|usage\",\"category|project|usage\",\"category|project|usage\",\"category|project|usage|usage\"],\"isPeerReviewed\":true,\"code\":\"pd\",\"isDeleted\":false,\"isPublic\":true,\"hasPublicDoc\":false,\"SOURCE\":\"American
        Review of Respiratory Disease 126:187-194. [Review]\",\"TITLE\":\"Asbestos-related
        diseases of the lungs and pleura: Current clinical issues\",\"modified\":\"2020-06-23T14:41:57Z\",\"PMID\":7049025,\"journalTitle\":\"American
        Review of Respiratory Disease\",\"_version_\":1670301160791080960}],\"isValid\":true,\"message\":\"Success\",\"error\":\"\"} "
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
