{% load url_replace %}

{% if is_paginated %}
<ul class="pagination justify-content-center">

    {% if page_obj.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?{% url_replace page=page_obj.previous_page_number %}">&lt;&lt;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="#">&lt;&lt;</a>
    </li>
    {% endif %}

    <li class="page-item disabled">
        <a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
    </li>

    {% if page_obj.has_next %}
    <li class="page-item">
        <a class="page-link" href="?{% url_replace page=page_obj.next_page_number %}">&gt;&gt;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="#">&gt;&gt;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
