{% alert danger %}
  <p><b>Warning:</b> Your current browser has not been tested extensively with this website, which may result in
    some some errors with functionality. The following browsers are fully supported:</p>
  <ul>
    <li><a href="https://www.google.com/chrome/" target="_blank">Google Chrome</a></li>
    <li><a href="https://www.mozilla.org/firefox/" target="_blank">Mozilla Firefox</a></li>
    <li><a href="https://www.microsoft.com/en-us/edge" target="_blank">Microsoft Edge</a></li>
    <li><a href="https://www.apple.com/safari/" target="_blank">Apple Safari</a></li>
  </ul>
  <p>Please use a different browser.</p>
{% endalert %}
