<table class="table table-sm" id="attach_list" >
    {% if attachments or action == 'create' %}
    <colgroup>
        <col style="width: 30%;">
        <col style="width: 70%;">
    </colgroup>
    <tbody>
        <tr>
            <th>Attachments</th>
            <td>
                <ul>
                {% for object in attachments %}
                    {% include "study/attachment_item.html" %}
                {% endfor %}
                {% include "study/attachment_form.html" %}
                </ul>
            </td>
        </tr>
    </tbody>
    {% endif %}
</table>
