{% extends 'portal.html' %}

{% load add_class %}

{% block title %}
  {% include "hawc/siteTitle.html" with crumbs=object.get_crumbs crud=crud %}
{% endblock title %}

{% block breadcrumbs %}
  {% include "hawc/breadcrumbs.html" with crumbs=object.get_crumbs crud=crud %}
{% endblock %}

{% block content %}

    <div class="alert alert-block">
      <h4>Warning!</h4>
      Are you sure you want to delete this attachment?
    </div>

    <a href="{{object.get_absolute_url}}">{{object}}</a>

    <form action="." method="post">
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Delete attachment</button>
        <a href="{{object.study.get_absolute_url}}" class="btn btn-light">Cancel</a>
      </div>
      {% csrf_token %}
      </fieldset>
    </form>

{% endblock %}
