{% extends 'portal.html' %}

{% load crispy_forms_tags %}

{% block title %}
  {% include "hawc/siteTitle.html" with crumbs=form.instance.get_crumbs crud=crud %}
{% endblock title %}

{% block breadcrumbs %}
  {% include "hawc/breadcrumbs.html" with crumbs=form.instance.get_crumbs crud=crud %}
{% endblock %}

{% block content %}

  {% crispy form %}

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$(document).ready(function(){
    $('#id_summary').quillify();
});
</script>
{% endblock extrajs %}
