{% extends 'portal.html' %}

{% block title %}
  {{assessment}} | Study List | HAWC
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' pk=assessment.pk %}">{{ assessment }}</a><span class="divider">/</span></li>
  <li class="active">Studies<span class="divider">/</span></li>
{% endblock %}

{% block content %}

  <h2>Available studies
    {% if obj_perms.edit and crud == "Read" %}
      <div class="btn-group pull-right">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li class="disabled"><a tabindex="-1" href="#">Study editing</a></li>
            <li><a href="{% url 'study:new_ref' assessment.pk %}">Create new</a></li>
            <li><a href="{% url 'study:studies_copy' assessment.pk %}">Copy studies</a></li>
            {% if assessment.enable_risk_of_bias %}
            <li class="disabled"><a tabindex="-1" href="#">{{assessment.get_rob_name_display}}</a></li>
            <li><a href="{% url 'riskofbias:arob_detail' assessment.pk %}">View requirements</a></li>
            <li><a href="{% url 'riskofbias:arob_reviewers' assessment.pk %}">View assignments</a></li>
            {% endif %}
        </ul>
      </div>
    {% endif %}
  </h2>

  <div id="studyTbl"></div>

{% endblock %}


{% block extrajs %}
<script type="text/javascript">
window.app.studyStartup(function(study){
    study.StudyCollection.render({{assessment.id}}, $('#studyTbl'));
})
</script>
{% endblock extrajs %}
