{% extends 'assessment-rooted.html' %}

{% load crispy_forms_tags %}

{% block content %}
{% if not from_identifier %}
<div class="alert alert-primary" role="alert">We highly recommend importing a study from PubMed or HERO on our <a
        href="{% url 'study:create_from_identifier' assessment.pk %}" class="alert-link">Create Study From Identifier</a> or
    <a href="{% url 'lit:import_new' assessment.pk %}" class="alert-link">New Literature Import</a> page.</div>
{% endif %}
{% crispy form %}
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    $(document).ready(function () {
        document.getElementById("id_short_citation").focus()
    });
</script>
{% endblock extrajs %}
