{% extends 'assessment-rooted.html' %}

{% block content %}
  <h1 class="d-inline-block">{{object}}</h1>
  {% if obj_perms.edit %}
    <div class="dropdown btn-group float-right">
      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions</a>
      <div class="dropdown-menu dropdown-menu-right">

          <span class="dropdown-header">Study editing</span>
          {% if object.editable %}
          <a class="dropdown-item" href="{% url 'study:update' object.pk %}">Update study details</a>
          <a class="dropdown-item" href="{% url 'lit:ref_edit' object.pk %}">Update reference</a>
          {% endif %}

          {% if obj_perms.edit_assessment %}
          <a class="dropdown-item"
              href="{% url 'study:editability_update' object.pk object.editable|yesno:"False,True"%}">{{ object.editable|yesno:"Lock study,Unlock study" }}</a>
          {% endif %}

          {% if object.editable %}
            <a class="dropdown-item" href="{% url 'study:delete' object.pk %}">Delete study</a>
            <a class="dropdown-item" href="{% url 'study:attachment_create' object.pk %}">Add an attachment</a>

            {% if object.bioassay %}
              <div class="dropdown-divider"></div>
              <span class="dropdown-header">Animal bioassay editing</span>
              <a class="dropdown-item" href="{% url 'animal:experiment_new' object.pk %}">Create new experiment</a>
              <a class="dropdown-item" href="{% url 'animal:experiment_copy_selector' object.pk %}">Copy from existing</a>
            {% endif %}

            {% if object.in_vitro %}
              <div class="dropdown-divider"></div>
              <span class="dropdown-header">In-vitro analysis editing</span>
              <a class="dropdown-item" href="{% url 'invitro:experiment_create' object.pk %}">Create new experiment</a>
              <a class="dropdown-item" href="{% url 'invitro:chemical_create' object.pk %}">Create new chemical</a>
              <a class="dropdown-item" href="{% url 'invitro:celltype_create' object.pk %}">Create new cell-type</a>
            {% endif %}

            {% if object.epi %}
              <div class="dropdown-divider"></div>
              <span class="dropdown-header">Epidemiology editing</span>
              <a class="dropdown-item" href="{% url 'epi:sp_create' object.pk %}">Create new study population</a>
              <a class="dropdown-item" href="{% url 'epi:sp_copy_selector' object.pk %}">Copy from existing</a>
            {% endif %}

            {% if object.epi_meta %}
              <div class="dropdown-divider"></div>
              <span class="dropdown-header">Epidemiology meta-analysis editing</span>
              <a class="dropdown-item" href="{% url 'meta:protocol_create' object.pk %}">Create new protocol</a>
            {% endif %}
          {% endif %}
      </div>
    </div>
  {% endif %}

  <div id="study_details"></div>

  {% if crud == "Read" %}

    {% if assessment.enable_risk_of_bias and object.riskofbiases.count > 0 %}
      <h3 class="d-inline-block">{{assessment.get_rob_name_display}} visualization</h3>
      <a class="btn btn-primary float-right" href="{% url 'riskofbias:rob_detail' object.pk %}">View details</a>
      {% if assessment.hide_rob_scores %}
      <div>Click button on right to view study evaluation details</div>
      {% else %}
      <div id='rob_plot'></div>
      {% endif %}
    {% endif %}

    {% if study.bioassay %}
      <h2>Available animal bioassay experiments</h2>
      {% include "animal/_experiment_list_tbl.html" with object_list=object.experiments.all %}
    {% endif %}

    {% if study.in_vitro %}
      <h2>Available <i>in vitro</i> experiments</h2>
      {% include "invitro/_experiment_list.html" with object_list=object.ivexperiments.all %}
      <h2>Chemicals used in <i>in vitro</i> experiments</h2>
      {% include "invitro/_chemical_list.html" with object_list=object.ivchemicals.all %}
      <h2>Cell types used in <i>in vitro</i> experiments</h2>
      {% include "invitro/_celltype_list.html" with object_list=object.ivcelltypes.all %}
    {% endif %}

    {% if study.epi %}
      <h2>Available epidemiological study populations</h2>
      {% include "epi/_studypopulation_list.html" with object_list=object.study_populations.all %}
    {% endif %}

    {% if study.epi_meta %}
      <h2>Available epidemiological meta-analyses</h2>
      {% include "epimeta/_metaprotocol_list.html" with object_list=object.meta_protocols.all %}
    {% endif %}

  {% endif %}

{% endblock %}

{% block extrajs %}
<script id='data' type='text/json'>
{
  "studyContent": {{study.get_json|safe}}
  {% if attachments_viewable %},"attachments": {{study.get_attachments_json|safe}} {% endif %}
}
</script>
<script type="text/javascript">
const data = JSON.parse(document.getElementById('data').textContent);

window.app.studyStartup(function(study){
  var thisStudy = new study.Study(data.studyContent);
  var detail_div = $('#study_details');
  thisStudy.build_details_table(detail_div);

  {% if attachments_viewable %}
    thisStudy.add_attachments_row(detail_div, data.attachments);
  {% endif %}

  {% if not assessment.hide_rob_scores %}
  if (thisStudy.has_riskofbias()){
    window.app.riskofbiasStartup(function (riskofbias) {
      riskofbias.robDonutStartup({
        studyId: data.studyContent.id,
        assessmentId: data.studyContent.assessment.id,
        el: document.getElementById('rob_plot')
      });
    });
  }
  {% endif %}
});
</script>
{% endblock extrajs %}
